openapi: 3.1.0
info:
  title: Hanzo Projects API
  summary: Org-scoped control plane for buildable/deployable static sites (hanzoai/cloud projects).
  description: |
    The Hanzo Cloud projects control plane served by the `projects` subsystem
    of the unified cloud binary (HIP-0106), reached through the gateway at
    `api.hanzo.ai`.

    It is the ONE org-scoped store of buildable/deployable sites, shared by every
    surface that shows a user's projects (hanzo.app builder and the console
    Projects module both call this surface). The SQLite-backed store is the
    source of truth; the builder keeps only per-project working state in Hanzo
    Base.

    Deploy pipeline: a deploy uploads the built static site to S3 under
    `<org>/<slug>/`, marks it public-read, and records a live URL. Two modes on
    one endpoint — an artifact (tar/tar.gz) body for one-click deploy, or a git
    JSON body that queues a CI build which later calls the completion hook.

    Every route is org-scoped: the gateway mints the tenant (`X-Org-Id`) from the
    validated IAM JWT (HIP-0111); client-supplied identity headers are stripped
    at the edge.

    Authentication: Bearer JWT issued by Hanzo IAM (`https://hanzo.id`). The same
    token authenticates every Hanzo service.
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
    url: https://hanzo.ai/terms
servers:
- url: https://api.hanzo.ai
  description: Hanzo Gateway Production
security:
- BearerAuth: []
tags:
- name: Projects
  description: Create, list, read, update, and delete org-scoped projects.
- name: Deployments
  description: Deploy a project live and inspect deploy history.
paths:
  /v1/projects:
    post:
      tags:
      - Projects
      summary: Create a project
      description: |
        Create an org-scoped project. When `slug` is omitted it is derived from
        `name` (slugified). The slug must match
        `^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$`, must not be a reserved subdomain,
        and must be unique within the org. `framework` defaults to `static` and
        must be one of the known build hints.
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
      - Projects
      summary: List projects
      description: List all projects for the caller's org.
      operationId: listProjects
      responses:
        '200':
          description: Projects for the org.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/projects/fork:
    post:
      tags:
      - Projects
      summary: Fork a starter template into a new project
      description: |
        Create a project seeded from a starter-kit gallery template. `slug` is
        the template slug to fork (required); `name` defaults to the template
        title; `target` overrides the derived project slug. Funnels through the
        same create path, so slug/framework validation and conflict handling
        apply identically.
      operationId: forkProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForkProjectRequest'
      responses:
        '201':
          description: Project created from template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/projects/{slug}:
    parameters:
    - $ref: '#/components/parameters/Slug'
    get:
      tags:
      - Projects
      summary: Get a project
      operationId: getProject
      responses:
        '200':
          description: The project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
      - Projects
      summary: Update a project
      description: |
        Partial update. Only supplied fields change. `name` may not be blanked.
        `framework` must remain a known build hint. `cacheControl` is capped at
        256 chars and must not contain newlines.
      operationId: updateProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: The updated project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - Projects
      summary: Delete a project
      description: |
        Delete the project and purge its S3 site, release the subdomain binding,
        and purge the edge cache (site purge/host unbind are best-effort).
      operationId: deleteProject
      responses:
        '204':
          description: Project deleted.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/projects/{slug}/deploy:
    parameters:
    - $ref: '#/components/parameters/Slug'
    post:
      tags:
      - Deployments
      summary: Deploy a project live
      description: |
        Two modes on one endpoint, selected by Content-Type:

        - Artifact (default): the request body is a tar or tar.gz of the BUILT
          site (must contain `index.html` at the root). The site is unpacked to
          S3 under `<org>/<slug>/`, marked public-read, and a `live` deployment
          is recorded. Responds `200` with the finalized deployment.

        - Git (`Content-Type: application/json`, body `{"source":"git",...}`):
          records a `queued` deployment and responds `202`. CI builds the linked
          repo and later calls the completion hook to flip it live. Requires the
          project to have a linked repo.
      operationId: deployProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitDeployRequest'
          application/octet-stream:
            schema:
              type: string
              format: binary
              description: tar or tar.gz of the built site (must contain index.html at root).
      responses:
        '200':
          description: Artifact deployed live.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '202':
          description: Git deployment queued for CI build.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          description: Upload to object storage failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/projects/{slug}/deployments:
    parameters:
    - $ref: '#/components/parameters/Slug'
    get:
      tags:
      - Deployments
      summary: List deployments for a project
      operationId: listDeployments
      responses:
        '200':
          description: Deployment history for the project.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deployment'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/projects/{slug}/deployments/{id}:
    parameters:
    - $ref: '#/components/parameters/Slug'
    - $ref: '#/components/parameters/DeploymentId'
    get:
      tags:
      - Deployments
      summary: Get a deployment
      operationId: getDeployment
      responses:
        '200':
          description: The deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1/projects/{slug}/deployments/{id}/complete:
    parameters:
    - $ref: '#/components/parameters/Slug'
    - $ref: '#/components/parameters/DeploymentId'
    post:
      tags:
      - Deployments
      summary: CI completion hook for a git deployment
      description: |
        After CI syncs the built site to S3 it flips the queued deployment to
        `live` (or `error`). `status` must be `live` or `error`. When `liveUrl`
        is omitted on a live completion it defaults to the project's S3 live URL.
      operationId: completeDeployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteDeploymentRequest'
      responses:
        '200':
          description: The updated deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT issued by Hanzo IAM (https://hanzo.id). The same token
        authenticates every Hanzo service. Discovery:
        https://hanzo.id/.well-known/openid-configuration.'
  parameters:
    Slug:
      name: slug
      in: path
      required: true
      description: Org-unique project handle (lowercased); also the S3 key segment and subdomain label.
      schema:
        type: string
        pattern: ^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$
    DeploymentId:
      name: id
      in: path
      required: true
      description: Deployment id (e.g. dep_...).
      schema:
        type: string
  responses:
    BadRequest:
      description: Bad Request — invalid input.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden — a validated org (X-Org-Id) is required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found — the project or deployment does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Conflict — a project with this slug already exists in the org.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServiceUnavailable:
      description: Service Unavailable — object storage is not configured.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
      - status
      - msg
      properties:
        status:
          type: string
          enum: [error]
          description: Always "error" for error responses.
        msg:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: Application-specific error code.
        requestId:
          type: string
          description: Request ID for debugging.
    RepoRef:
      type: object
      description: Linked git repository for the project.
      properties:
        url:
          type: string
          description: Git remote URL.
        branch:
          type: string
          description: Branch to build (defaults to "main" when a url is set).
    Project:
      type: object
      description: The published project view (json shape console2 consumes).
      required:
      - id
      - org
      - slug
      - name
      - repo
      - framework
      - status
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
        org:
          type: string
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        repo:
          $ref: '#/components/schemas/RepoRef'
        framework:
          type: string
          description: Build hint.
          enum: [static, vite, next, react, astro, svelte, vue, remix, nuxt]
        status:
          type: string
          description: Project lifecycle status (e.g. draft, building, live, error).
        liveUrl:
          type: string
        bucket:
          type: string
        currentDeploymentId:
          type: string
        cacheControl:
          type: string
          description: HTML/document Cache-Control policy in effect.
        lastPurgeAt:
          type: integer
          format: int64
          description: Unix time of the last edge purge.
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
    Deployment:
      type: object
      description: A single deploy record.
      required:
      - id
      - projectId
      - version
      - status
      - source
      - files
      - bytes
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
        projectId:
          type: string
        version:
          type: integer
        status:
          type: string
          description: Deploy status (e.g. queued, uploading, building, live, error).
        source:
          type: string
          description: Deploy source (e.g. upload, git).
        commit:
          type: string
        liveUrl:
          type: string
        bucket:
          type: string
        prefix:
          type: string
          description: S3 key prefix the site is served from.
        files:
          type: integer
        bytes:
          type: integer
          format: int64
        message:
          type: string
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
    CreateProjectRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Display name (required).
        slug:
          type: string
          description: Org-unique handle; derived from name when omitted.
          pattern: ^[a-z0-9]([a-z0-9-]{0,38}[a-z0-9])?$
        description:
          type: string
        framework:
          type: string
          description: Build hint; defaults to "static".
          enum: [static, vite, next, react, astro, svelte, vue, remix, nuxt]
        repo:
          type: object
          properties:
            url:
              type: string
            branch:
              type: string
    ForkProjectRequest:
      type: object
      required:
      - slug
      properties:
        slug:
          type: string
          description: Template slug to fork (required).
        name:
          type: string
          description: Target project name; defaults to the template title.
        target:
          type: string
          description: Overrides the derived project slug; defaults to the template slug.
    UpdateProjectRequest:
      type: object
      description: Partial update; only supplied fields change.
      properties:
        name:
          type: string
          description: Must not be blank when supplied.
        description:
          type: string
        framework:
          type: string
          enum: [static, vite, next, react, astro, svelte, vue, remix, nuxt]
        cacheControl:
          type: string
          maxLength: 256
          description: Must not contain newlines.
        repo:
          type: object
          properties:
            url:
              type: string
            branch:
              type: string
    GitDeployRequest:
      type: object
      description: Body for the git deploy mode (Content-Type application/json).
      properties:
        source:
          type: string
          description: Deploy source selector; "git" for the CI build path.
        commit:
          type: string
        branch:
          type: string
    CompleteDeploymentRequest:
      type: object
      required:
      - status
      properties:
        status:
          type: string
          description: Final status.
          enum: [live, error]
        commit:
          type: string
        liveUrl:
          type: string
          description: Defaults to the project S3 live URL when omitted on a live completion.
        message:
          type: string
        files:
          type: integer
        bytes:
          type: integer
          format: int64
