openapi: 3.1.0
info:
  title: Hanzo Nexus API
  description: >-
    Hanzo Nexus is a knowledge base and RAG (Retrieval-Augmented Generation)
    platform. It provides document management, vector embeddings, semantic
    search, and AI-powered question answering across organizational knowledge
    stores.
  version: 1.70.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
    url: https://hanzo.ai/terms

servers:
  - url: https://nexus.hanzo.ai/api
    description: Production
  - url: https://api.hanzo.ai/v1/nexus
    description: Gateway

security:
  - BearerAuth: []

tags:
  - name: Account API
    description: Authentication and account management
  - name: Activity API
    description: Activity tracking and analytics
  - name: Application API
    description: Application management and deployment
  - name: Article API
    description: Knowledge base article management
  - name: Chat API
    description: Chat session management
  - name: Connection API
    description: Remote connection and tunnel management
  - name: Container API
    description: Container management
  - name: Deployment API
    description: Kubernetes deployment status
  - name: File API
    description: File management within knowledge stores
  - name: Form API
    description: Form management
  - name: Image API
    description: Machine image management
  - name: Machine API
    description: Machine management
  - name: Message API
    description: Chat message management and AI answering
  - name: Node API
    description: Compute node management
  - name: OpenAI Compatible API
    description: OpenAI-compatible chat completions endpoint
  - name: Permission API
    description: Permission management
  - name: Pod API
    description: Pod management
  - name: Provider API
    description: AI and storage provider configuration
  - name: Record API
    description: Audit record management
  - name: STT API
    description: Speech-to-text conversion
  - name: Store API
    description: Knowledge store management
  - name: Storage Provider API
    description: Storage provider configuration
  - name: System API
    description: System information and health checks
  - name: Task API
    description: Task management and evaluation
  - name: Template API
    description: Application template management
  - name: TTS API
    description: Text-to-speech conversion
  - name: Usage API
    description: Usage tracking and billing
  - name: Vector API
    description: Vector embedding management
  - name: Video API
    description: Video content management
  - name: Workflow API
    description: Workflow management

paths:
  /activate-file:
    post:
      tags:
        - File API
      description: Activate a file for processing
      operationId: activateFile
      parameters:
        - in: query
          name: key
          description: The key of the file
          required: true
          schema:
            type: string
        - in: query
          name: filename
          description: The name of the file
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-application:
    post:
      tags:
        - Application API
      description: Add an application
      operationId: addApplication
      requestBody:
        description: The details of the application
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-article:
    post:
      tags:
        - Article API
      description: Add an article
      operationId: addArticle
      requestBody:
        description: The details of the article
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-chat:
    post:
      tags:
        - Chat API
      description: Add a chat session
      operationId: addChat
      requestBody:
        description: The details of the chat
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Chat'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-connection:
    post:
      tags:
        - Connection API
      description: Add a connection
      operationId: addConnection
      requestBody:
        description: The connection object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /add-container:
    post:
      tags:
        - Container API
      description: Add a container
      operationId: addContainer
      requestBody:
        description: The details of the container
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Container'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-file:
    post:
      tags:
        - File API
      description: Add a file to a knowledge store
      operationId: addFile
      parameters:
        - in: query
          name: store
          description: The store of the file
          required: true
          schema:
            type: string
        - in: query
          name: key
          description: The key of the file
          required: true
          schema:
            type: string
        - in: query
          name: isLeaf
          description: Whether the file is a leaf node
          required: true
          schema:
            type: string
        - in: query
          name: filename
          description: The name of the file
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-form:
    post:
      tags:
        - Form API
      description: Add a form
      operationId: addForm
      requestBody:
        description: The details of the form
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-image:
    post:
      tags:
        - Image API
      description: Add an image
      operationId: addImage
      requestBody:
        description: The details of the image
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-machine:
    post:
      tags:
        - Machine API
      description: Add a machine
      operationId: addMachine
      requestBody:
        description: The details of the machine
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Machine'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-message:
    post:
      tags:
        - Message API
      description: Add a message to a chat
      operationId: addMessage
      requestBody:
        description: The details of the message
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        "200":
          description: The updated chat object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'

  /add-node:
    post:
      tags:
        - Node API
      description: Add a node
      operationId: addNode
      requestBody:
        description: The details of the node
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-node-tunnel:
    get:
      tags:
        - Connection API
      description: Add a node tunnel session
      operationId: addNodeTunnel
      parameters:
        - in: query
          name: nodeId
          description: The id of the node
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /add-permission:
    post:
      tags:
        - Permission API
      description: Add a permission
      operationId: addPermission
      requestBody:
        description: The details of the permission
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-pod:
    post:
      tags:
        - Pod API
      description: Add a pod
      operationId: addPod
      requestBody:
        description: The details of the pod
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pod'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-provider:
    post:
      tags:
        - Provider API
      description: Add a provider
      operationId: addProvider
      requestBody:
        description: The details of the provider
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-record:
    post:
      tags:
        - Record API
      description: Add a record
      operationId: addRecord
      requestBody:
        description: The details of the record
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-records:
    post:
      tags:
        - Record API
      description: Add multiple records
      operationId: addRecords
      requestBody:
        description: The details of the records
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Record'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-store:
    post:
      tags:
        - Store API
      description: Add a knowledge store
      operationId: addStore
      requestBody:
        description: The details of the store
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-task:
    post:
      tags:
        - Task API
      description: Add a task
      operationId: addTask
      requestBody:
        description: The details of the task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-template:
    post:
      tags:
        - Template API
      description: Add a template
      operationId: addTemplate
      requestBody:
        description: The details of the template
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Template'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-vector:
    post:
      tags:
        - Vector API
      description: Add a vector embedding
      operationId: addVector
      requestBody:
        description: The details of the vector
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vector'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-video:
    post:
      tags:
        - Video API
      description: Add a video
      operationId: addVideo
      requestBody:
        description: The details of the video
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Video'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /add-workflow:
    post:
      tags:
        - Workflow API
      description: Add a workflow
      operationId: addWorkflow
      requestBody:
        description: The details of the workflow
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/chat/completions:
    post:
      tags:
        - OpenAI Compatible API
      description: OpenAI-compatible chat completions endpoint
      operationId: chatCompletions
      requestBody:
        description: The OpenAI chat request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        "200":
          description: The chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'

  /commit-record:
    post:
      tags:
        - Record API
      description: Commit a record
      operationId: commitRecord
      requestBody:
        description: The details of the record
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /commit-record-second:
    post:
      tags:
        - Record API
      description: Commit a record (secondary)
      operationId: commitRecordSecond
      requestBody:
        description: The details of the record
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-all-vectors:
    post:
      tags:
        - Vector API
      description: Delete all vectors
      operationId: deleteAllVectors
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-application:
    post:
      tags:
        - Application API
      description: Delete an application
      operationId: deleteApplication
      requestBody:
        description: The details of the application
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-article:
    post:
      tags:
        - Article API
      description: Delete an article
      operationId: deleteArticle
      requestBody:
        description: The details of the article
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-chat:
    post:
      tags:
        - Chat API
      description: Delete a chat session
      operationId: deleteChat
      requestBody:
        description: The details of the chat
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Chat'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-connection:
    post:
      tags:
        - Connection API
      description: Delete a connection
      operationId: deleteConnection
      parameters:
        - in: query
          name: id
          description: The id of the connection
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /delete-container:
    post:
      tags:
        - Container API
      description: Delete a container
      operationId: deleteContainer
      requestBody:
        description: The details of the container
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Container'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-file:
    post:
      tags:
        - File API
      description: Delete a file
      operationId: deleteFile
      parameters:
        - in: query
          name: store
          description: The store of the file
          required: true
          schema:
            type: string
        - in: query
          name: key
          description: The key of the file
          required: true
          schema:
            type: string
        - in: query
          name: isLeaf
          description: Whether the file is a leaf node
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-form:
    post:
      tags:
        - Form API
      description: Delete a form
      operationId: deleteForm
      requestBody:
        description: The details of the form
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-image:
    post:
      tags:
        - Image API
      description: Delete an image
      operationId: deleteImage
      requestBody:
        description: The details of the image
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-machine:
    post:
      tags:
        - Machine API
      description: Delete a machine
      operationId: deleteMachine
      requestBody:
        description: The details of the machine
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Machine'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-message:
    post:
      tags:
        - Message API
      description: Delete a message
      operationId: deleteMessage
      requestBody:
        description: The details of the message
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-node:
    post:
      tags:
        - Node API
      description: Delete a node
      operationId: deleteNode
      requestBody:
        description: The details of the node
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-permission:
    post:
      tags:
        - Permission API
      description: Delete a permission
      operationId: deletePermission
      requestBody:
        description: The details of the permission
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-pod:
    post:
      tags:
        - Pod API
      description: Delete a pod
      operationId: deletePod
      requestBody:
        description: The details of the pod
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pod'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-provider:
    post:
      tags:
        - Provider API
      description: Delete a provider
      operationId: deleteProvider
      requestBody:
        description: The details of the provider
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-record:
    post:
      tags:
        - Record API
      description: Delete a record
      operationId: deleteRecord
      requestBody:
        description: The details of the record
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-store:
    post:
      tags:
        - Store API
      description: Delete a knowledge store
      operationId: deleteStore
      requestBody:
        description: The details of the store
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-task:
    post:
      tags:
        - Task API
      description: Delete a task
      operationId: deleteTask
      requestBody:
        description: The details of the task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-template:
    post:
      tags:
        - Template API
      description: Delete a template
      operationId: deleteTemplate
      requestBody:
        description: The details of the template
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Template'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-vector:
    post:
      tags:
        - Vector API
      description: Delete a vector embedding
      operationId: deleteVector
      requestBody:
        description: The details of the vector
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vector'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-video:
    post:
      tags:
        - Video API
      description: Delete a video
      operationId: deleteVideo
      requestBody:
        description: The details of the video
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Video'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /delete-workflow:
    post:
      tags:
        - Workflow API
      description: Delete a workflow
      operationId: deleteWorkflow
      requestBody:
        description: The details of the workflow
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /deploy-application:
    post:
      tags:
        - Application API
      description: Deploy an application synchronously
      operationId: deployApplication
      requestBody:
        description: The deployment request details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDeploymentRequest'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /generate-text-to-speech-audio:
    post:
      tags:
        - TTS API
      description: Convert text to speech
      operationId: generateTextToSpeechAudio
      requestBody:
        description: The text to convert to speech
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        "200":
          description: The audio data
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /generate-text-to-speech-audio-stream:
    get:
      tags:
        - TTS API
      description: Convert text to speech with streaming
      operationId: generateTextToSpeechAudioStream
      parameters:
        - in: query
          name: storeId
          description: The store ID
          required: true
          schema:
            type: string
        - in: query
          name: messageId
          description: The message ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: An event stream of audio chunks in base64 format
          content:
            text/event-stream:
              schema:
                type: string

  /get-Messages:
    get:
      tags:
        - Message API
      description: Get messages for a chat
      operationId: getMessages
      parameters:
        - in: query
          name: user
          description: The user of the messages
          required: true
          schema:
            type: string
        - in: query
          name: chat
          description: The chat of the messages
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'

  /get-account:
    get:
      tags:
        - Account API
      description: Get the current account
      operationId: getAccount
      responses:
        "200":
          description: The account claims object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountClaims'

  /get-active-file:
    get:
      tags:
        - File API
      description: Get the active file
      operationId: getActiveFile
      parameters:
        - in: query
          name: prefix
          description: The prefix of the file
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The active file path
          content:
            application/json:
              schema:
                type: string

  /get-activities:
    get:
      tags:
        - Activity API
      description: Get activities
      operationId: getActivities
      parameters:
        - in: query
          name: days
          description: Number of days
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of activities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'

  /get-answer:
    get:
      tags:
        - Message API
      description: Get an AI-generated answer
      operationId: getAnswer
      parameters:
        - in: query
          name: provider
          description: The provider
          required: true
          schema:
            type: string
        - in: query
          name: question
          description: The question
          required: true
          schema:
            type: string
        - in: query
          name: framework
          description: The framework
          required: true
          schema:
            type: string
        - in: query
          name: video
          description: The video
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The answer text
          content:
            application/json:
              schema:
                type: string

  /get-application:
    get:
      tags:
        - Application API
      description: Get an application
      operationId: getApplication
      parameters:
        - in: query
          name: id
          description: The id of the application
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The application object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'

  /get-application-status:
    get:
      tags:
        - Application API
      description: Get application deployment status
      operationId: getApplicationStatus
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the application
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The deployment status object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentStatus'

  /get-applications:
    get:
      tags:
        - Application API
      description: Get applications
      operationId: getApplications
      parameters:
        - in: query
          name: owner
          description: The owner of the applications
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'

  /get-article:
    get:
      tags:
        - Article API
      description: Get an article
      operationId: getArticle
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the article
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The article object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'

  /get-articles:
    get:
      tags:
        - Article API
      description: Get articles
      operationId: getArticles
      parameters:
        - in: query
          name: owner
          description: The owner of the articles
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'

  /get-chat:
    get:
      tags:
        - Chat API
      description: Get a chat session
      operationId: getChat
      parameters:
        - in: query
          name: id
          description: The id of the chat
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The chat object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'

  /get-chats:
    get:
      tags:
        - Chat API
      description: Get chat sessions
      operationId: getChats
      parameters:
        - in: query
          name: user
          description: The user of the chats
          required: true
          schema:
            type: string
        - in: query
          name: field
          description: The field to filter by
          required: true
          schema:
            type: string
        - in: query
          name: value
          description: The value to filter by
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of chats
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chat'

  /get-connection:
    get:
      tags:
        - Connection API
      description: Get a connection
      operationId: getConnection
      parameters:
        - in: query
          name: id
          description: The id of the connection
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The connection object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'

  /get-connections:
    get:
      tags:
        - Connection API
      description: Get all connections
      operationId: getConnections
      parameters:
        - in: query
          name: pageSize
          description: The size of each page
          required: true
          schema:
            type: string
        - in: query
          name: p
          description: The page number
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The paginated connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'

  /get-container:
    get:
      tags:
        - Container API
      description: Get a container
      operationId: getContainer
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the container
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The container object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Container'

  /get-containers:
    get:
      tags:
        - Container API
      description: Get all containers
      operationId: getContainers
      parameters:
        - in: query
          name: pageSize
          description: The size of each page
          required: true
          schema:
            type: string
        - in: query
          name: p
          description: The page number
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The paginated containers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Container'

  /get-form:
    get:
      tags:
        - Form API
      description: Get a form
      operationId: getForm
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the form
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The form object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'

  /get-form-data:
    get:
      tags:
        - Form API
      description: Get form data
      operationId: getFormData
      parameters:
        - in: query
          name: owner
          description: The owner of the forms
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of form data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form'

  /get-forms:
    get:
      tags:
        - Form API
      description: Get forms
      operationId: getForms
      parameters:
        - in: query
          name: owner
          description: The owner of the forms
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of forms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form'

  /get-global-articles:
    get:
      tags:
        - Article API
      description: Get global articles
      operationId: getGlobalArticles
      responses:
        "200":
          description: The list of global articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'

  /get-global-chats:
    get:
      tags:
        - Chat API
      description: Get global chats
      operationId: getGlobalChats
      responses:
        "200":
          description: The list of global chats
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chat'

  /get-global-forms:
    get:
      tags:
        - Form API
      description: Get global forms
      operationId: getGlobalForms
      responses:
        "200":
          description: The list of global forms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form'

  /get-global-messages:
    get:
      tags:
        - Message API
      description: Get global messages
      operationId: getGlobalMessages
      responses:
        "200":
          description: The list of global messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'

  /get-global-providers:
    get:
      tags:
        - Provider API
      description: Get global providers
      operationId: getGlobalProviders
      responses:
        "200":
          description: The list of global providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Provider'

  /get-global-stores:
    get:
      tags:
        - Store API
      description: Get global knowledge stores
      operationId: getGlobalStores
      responses:
        "200":
          description: The list of global stores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Store'

  /get-global-tasks:
    get:
      tags:
        - Task API
      description: Get global tasks
      operationId: getGlobalTasks
      responses:
        "200":
          description: The list of global tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'

  /get-global-vectors:
    get:
      tags:
        - Vector API
      description: Get global vectors
      operationId: getGlobalVectors
      responses:
        "200":
          description: The list of global vectors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vector'

  /get-global-videos:
    get:
      tags:
        - Video API
      description: Get global videos
      operationId: getGlobalVideos
      responses:
        "200":
          description: The list of global videos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Video'

  /get-global-workflows:
    get:
      tags:
        - Workflow API
      description: Get global workflows
      operationId: getGlobalWorkflows
      responses:
        "200":
          description: The list of global workflows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workflow'

  /get-image:
    get:
      tags:
        - Image API
      description: Get an image
      operationId: getImage
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the image
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The image object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'

  /get-images:
    get:
      tags:
        - Image API
      description: Get all images
      operationId: getImages
      parameters:
        - in: query
          name: pageSize
          description: The size of each page
          required: true
          schema:
            type: string
        - in: query
          name: p
          description: The page number
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The paginated images
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'

  /get-k8s-status:
    get:
      tags:
        - Deployment API
      description: Get Kubernetes cluster status
      operationId: getK8sStatus
      responses:
        "200":
          description: The Kubernetes status object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/K8sStatus'

  /get-machine:
    get:
      tags:
        - Machine API
      description: Get a machine
      operationId: getMachine
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the machine
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The machine object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'

  /get-machines:
    get:
      tags:
        - Machine API
      description: Get all machines
      operationId: getMachines
      parameters:
        - in: query
          name: pageSize
          description: The size of each page
          required: true
          schema:
            type: string
        - in: query
          name: p
          description: The page number
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The paginated machines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'

  /get-message:
    get:
      tags:
        - Message API
      description: Get a message
      operationId: getMessage
      parameters:
        - in: query
          name: id
          description: The id of the message
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The message object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'

  /get-message-answer:
    get:
      tags:
        - Message API
      description: Get a streamed AI answer for a message
      operationId: getMessageAnswer
      parameters:
        - in: query
          name: id
          description: The id of the message
          required: true
          schema:
            type: string
      responses:
        "200":
          description: An event stream of message answers in JSON format
          content:
            text/event-stream:
              schema:
                type: string

  /get-node:
    get:
      tags:
        - Node API
      description: Get a node
      operationId: getNode
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the node
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The node object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'

  /get-node-tunnel:
    get:
      tags:
        - Connection API
      description: Get a node tunnel session
      operationId: getNodeTunnel
      parameters:
        - in: query
          name: width
          description: The width of the tunnel
          required: true
          schema:
            type: string
        - in: query
          name: height
          description: The height of the tunnel
          required: true
          schema:
            type: string
        - in: query
          name: dpi
          description: The dpi of the tunnel
          required: true
          schema:
            type: string
        - in: query
          name: connectionId
          description: The id of the connection
          required: true
          schema:
            type: string
        - in: query
          name: username
          description: The username for the tunnel
          required: true
          schema:
            type: string
        - in: query
          name: password
          description: The password for the tunnel
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /get-nodes:
    get:
      tags:
        - Node API
      description: Get all nodes
      operationId: getNodes
      parameters:
        - in: query
          name: pageSize
          description: The size of each page
          required: true
          schema:
            type: string
        - in: query
          name: p
          description: The page number
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The paginated nodes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'

  /get-permission:
    get:
      tags:
        - Permission API
      description: Get a permission
      operationId: getPermission
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the permission
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The permission object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'

  /get-permissions:
    get:
      tags:
        - Permission API
      description: Get permissions
      operationId: getPermissions
      responses:
        "200":
          description: The list of permissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permission'

  /get-pod:
    get:
      tags:
        - Pod API
      description: Get a pod
      operationId: getPod
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the pod
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The pod object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pod'

  /get-pods:
    get:
      tags:
        - Pod API
      description: Get all pods
      operationId: getPods
      parameters:
        - in: query
          name: pageSize
          description: The size of each page
          required: true
          schema:
            type: string
        - in: query
          name: p
          description: The page number
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The paginated pods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pod'

  /get-prometheus-info:
    get:
      tags:
        - System API
      description: Get Prometheus metrics info
      operationId: getPrometheusInfo
      responses:
        "200":
          description: The Prometheus info object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrometheusInfo'

  /get-provider:
    get:
      tags:
        - Provider API
      description: Get a provider
      operationId: getProvider
      parameters:
        - in: query
          name: id
          description: The id of the provider
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The provider object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'

  /get-providers:
    get:
      tags:
        - Provider API
      description: Get providers
      operationId: getProviders
      responses:
        "200":
          description: The list of providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Provider'

  /get-range-usages:
    get:
      tags:
        - Usage API
      description: Get range usages
      operationId: getRangeUsages
      parameters:
        - in: query
          name: count
          description: Count of range usages
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of usages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usage'

  /get-record:
    get:
      tags:
        - Record API
      description: Get a record
      operationId: getRecord
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the record
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The record object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'

  /get-records:
    get:
      tags:
        - Record API
      description: Get all records
      operationId: getRecords
      parameters:
        - in: query
          name: pageSize
          description: The size of each page
          required: true
          schema:
            type: string
        - in: query
          name: p
          description: The page number
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The paginated records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'

  /get-storage-providers:
    get:
      tags:
        - Storage Provider API
      description: Get storage providers
      operationId: getStorageProviders
      responses:
        "200":
          description: The list of storage providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Provider'

  /get-store:
    get:
      tags:
        - Store API
      description: Get a knowledge store
      operationId: getStore
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the store
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The store object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'

  /get-stores:
    get:
      tags:
        - Store API
      description: Get knowledge stores
      operationId: getStores
      parameters:
        - in: query
          name: owner
          description: The owner of the stores
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of stores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Store'

  /get-system-info:
    get:
      tags:
        - System API
      description: Get system info (CPU, memory usage)
      operationId: getSystemInfo
      responses:
        "200":
          description: The system info object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemInfo'

  /get-task:
    get:
      tags:
        - Task API
      description: Get a task
      operationId: getTask
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the task
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The task object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'

  /get-tasks:
    get:
      tags:
        - Task API
      description: Get tasks
      operationId: getTasks
      parameters:
        - in: query
          name: owner
          description: The owner of the tasks
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'

  /get-template:
    get:
      tags:
        - Template API
      description: Get a template
      operationId: getTemplate
      parameters:
        - in: query
          name: id
          description: The id of the template
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The template object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'

  /get-templates:
    get:
      tags:
        - Template API
      description: Get templates
      operationId: getTemplates
      parameters:
        - in: query
          name: owner
          description: The owner of the templates
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Template'

  /get-usages:
    get:
      tags:
        - Usage API
      description: Get usage information
      operationId: getUsages
      responses:
        "200":
          description: The list of usages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usage'

  /get-users:
    get:
      tags:
        - Usage API
      description: Get users
      operationId: getUsers
      responses:
        "200":
          description: The list of user identifiers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

  /get-vectors:
    get:
      tags:
        - Vector API
      description: Get vectors
      operationId: getVectors
      responses:
        "200":
          description: The list of vectors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vector'

  /get-version-info:
    get:
      tags:
        - System API
      description: Get version info (release version, commit ID)
      operationId: getVersionInfo
      responses:
        "200":
          description: The version info object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionInfo'

  /get-video:
    get:
      tags:
        - Video API
      description: Get a video
      operationId: getVideo
      parameters:
        - in: query
          name: id
          description: The id of the video
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The video object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'

  /get-videos:
    get:
      tags:
        - Video API
      description: Get videos
      operationId: getVideos
      parameters:
        - in: query
          name: owner
          description: The owner of the videos
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of videos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Video'

  /get-workflow:
    get:
      tags:
        - Workflow API
      description: Get a workflow
      operationId: getWorkflow
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the workflow
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The workflow object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'

  /get-workflows:
    get:
      tags:
        - Workflow API
      description: Get workflows
      operationId: getWorkflows
      parameters:
        - in: query
          name: owner
          description: The owner of the workflows
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The list of workflows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workflow'

  /health:
    get:
      tags:
        - System API
      description: Check if the system is live
      operationId: health
      security: []
      responses:
        "200":
          description: The health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /process-speech-to-text:
    post:
      tags:
        - STT API
      description: Convert speech to text
      operationId: processSpeechToText
      requestBody:
        description: The audio file and store ID
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - audio
                - storeId
              properties:
                audio:
                  type: string
                  format: binary
                  description: The audio file to convert to text
                storeId:
                  type: string
                  description: The store ID
      responses:
        "200":
          description: The transcribed text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechToTextResponse'

  /query-record:
    get:
      tags:
        - Record API
      description: Query a record
      operationId: queryRecord
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the record
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The record object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'

  /query-record-second:
    get:
      tags:
        - Record API
      description: Query a record (secondary)
      operationId: queryRecordSecond
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the record
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The record object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'

  /refresh-mcp-tools:
    post:
      tags:
        - Provider API
      description: Refresh MCP tools for a provider
      operationId: refreshMcpTools
      requestBody:
        description: The details of the provider
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /refresh-store-vectors:
    post:
      tags:
        - Store API
      description: Refresh store vectors
      operationId: refreshStoreVectors
      requestBody:
        description: The details of the store
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /signin:
    post:
      tags:
        - Account API
      description: Sign in
      operationId: signin
      security: []
      parameters:
        - in: query
          name: code
          description: Authorization code
          required: true
          schema:
            type: string
        - in: query
          name: state
          description: OAuth state
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The account claims
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountClaims'

  /signout:
    post:
      tags:
        - Account API
      description: Sign out
      operationId: signout
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /start-connection:
    post:
      tags:
        - Connection API
      description: Start a connection
      operationId: startConnection
      parameters:
        - in: query
          name: id
          description: The id of the connection
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /stop-connection:
    post:
      tags:
        - Connection API
      description: Stop a connection
      operationId: stopConnection
      parameters:
        - in: query
          name: id
          description: The id of the connection
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /undeploy-application:
    post:
      tags:
        - Application API
      description: Undeploy an application synchronously
      operationId: undeployApplication
      requestBody:
        description: The deployment request details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDeploymentRequest'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-application:
    post:
      tags:
        - Application API
      description: Update an application
      operationId: updateApplication
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the application
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the application
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-article:
    post:
      tags:
        - Article API
      description: Update an article
      operationId: updateArticle
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the article
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the article
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-chat:
    post:
      tags:
        - Chat API
      description: Update a chat session
      operationId: updateChat
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the chat
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the chat
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Chat'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-connection:
    post:
      tags:
        - Connection API
      description: Update a connection
      operationId: updateConnection
      parameters:
        - in: query
          name: id
          description: The id of the connection
          required: true
          schema:
            type: string
      requestBody:
        description: The connection object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'

  /update-container:
    post:
      tags:
        - Container API
      description: Update a container
      operationId: updateContainer
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the container
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the container
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Container'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-file:
    post:
      tags:
        - File API
      description: Update a file
      operationId: updateFile
      parameters:
        - in: query
          name: storeId
          description: The store id of the file
          required: true
          schema:
            type: string
        - in: query
          name: key
          description: The key of the file
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the file
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/File'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-form:
    post:
      tags:
        - Form API
      description: Update a form
      operationId: updateForm
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the form
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the form
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-image:
    post:
      tags:
        - Image API
      description: Update an image
      operationId: updateImage
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the image
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the image
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-machine:
    post:
      tags:
        - Machine API
      description: Update a machine
      operationId: updateMachine
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the machine
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the machine
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Machine'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-message:
    post:
      tags:
        - Message API
      description: Update a message
      operationId: updateMessage
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the message
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the message
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-node:
    post:
      tags:
        - Node API
      description: Update a node
      operationId: updateNode
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the node
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the node
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-permission:
    post:
      tags:
        - Permission API
      description: Update a permission
      operationId: updatePermission
      requestBody:
        description: The details of the permission
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-pod:
    post:
      tags:
        - Pod API
      description: Update a pod
      operationId: updatePod
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the pod
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the pod
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pod'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-provider:
    post:
      tags:
        - Provider API
      description: Update a provider
      operationId: updateProvider
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the provider
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the provider
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-record:
    post:
      tags:
        - Record API
      description: Update a record
      operationId: updateRecord
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the record
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the record
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-store:
    post:
      tags:
        - Store API
      description: Update a knowledge store
      operationId: updateStore
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the store
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the store
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-task:
    post:
      tags:
        - Task API
      description: Update a task
      operationId: updateTask
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the task
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-template:
    post:
      tags:
        - Template API
      description: Update a template
      operationId: updateTemplate
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the template
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the template
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Template'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-vector:
    post:
      tags:
        - Vector API
      description: Update a vector embedding
      operationId: updateVector
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the vector
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the vector
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vector'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-video:
    post:
      tags:
        - Video API
      description: Update a video
      operationId: updateVideo
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the video
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the video
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Video'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /update-workflow:
    post:
      tags:
        - Workflow API
      description: Update a workflow
      operationId: updateWorkflow
      parameters:
        - in: query
          name: id
          description: The id (owner/name) of the workflow
          required: true
          schema:
            type: string
      requestBody:
        description: The details of the workflow
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /upload-file:
    post:
      tags:
        - File API
      description: Upload a file to storage
      operationId: uploadFile
      requestBody:
        description: The file upload data
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - type
                - name
              properties:
                file:
                  type: string
                  description: The base64 encoded file data
                type:
                  type: string
                  description: The file type/extension
                name:
                  type: string
                  description: The file name
      responses:
        "200":
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /upload-video:
    post:
      tags:
        - Video API
      description: Upload a video
      operationId: uploadVideo
      requestBody:
        description: The video file to upload
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The video file
      responses:
        "200":
          description: The fileId of the uploaded video
          content:
            application/json:
              schema:
                type: string

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: HANZO_API_KEY
      description: >-
        Use a Hanzo API key as a Bearer token. Example:
        Authorization: Bearer hk_live_...

  schemas:
    GenericResponse:
      title: GenericResponse
      type: object

    ApplicationDeploymentRequest:
      title: ApplicationDeploymentRequest
      type: object

    Response:
      title: Response
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
          description: Response data (string, object, or array)
        data2:
          type: object
          additionalProperties: true
          description: Secondary response data
        msg:
          type: string
        status:
          type: string

    SpeechToTextResponse:
      title: SpeechToTextResponse
      type: object

    AccountClaims:
      title: AccountClaims
      type: object
      description: Authentication claims for the current user

    TextToSpeechRequest:
      title: TextToSpeechRequest
      type: object

    McpTools:
      title: McpTools
      type: object
      properties:
        isEnabled:
          type: boolean
        serverName:
          type: string
        tools:
          type: string

    Permission:
      title: Permission
      type: object

    Activity:
      title: Activity
      type: object
      properties:
        FieldCount:
          type: object
          additionalProperties:
            type: integer
            format: int64
        date:
          type: string

    Application:
      title: Application
      type: object
      properties:
        createdTime:
          type: string
        description:
          type: string
        displayName:
          type: string
        name:
          type: string
        namespace:
          type: string
        owner:
          type: string
        parameters:
          type: string
        status:
          type: string
        template:
          type: string
        updatedTime:
          type: string

    Article:
      title: Article
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Block'
        createdTime:
          type: string
        displayName:
          type: string
        glossary:
          type: array
          items:
            type: string
        name:
          type: string
        owner:
          type: string
        provider:
          type: string
        text:
          type: string
        type:
          type: string

    Block:
      title: Block
      type: object
      properties:
        prompt:
          type: string
        state:
          type: string
        text:
          type: string
        textEn:
          type: string
        type:
          type: string

    Chat:
      title: Chat
      type: object
      properties:
        category:
          type: string
        clientIp:
          type: string
        clientIpDesc:
          type: string
        createdTime:
          type: string
        currency:
          type: string
        displayName:
          type: string
        isDeleted:
          type: boolean
        isHidden:
          type: boolean
        messageCount:
          type: integer
          format: int64
        modelProvider:
          type: string
        name:
          type: string
        needTitle:
          type: boolean
        organization:
          type: string
        owner:
          type: string
        price:
          type: number
          format: double
        store:
          type: string
        tokenCount:
          type: integer
          format: int64
        type:
          type: string
        updatedTime:
          type: string
        user:
          type: string
        user1:
          type: string
        user2:
          type: string
        userAgent:
          type: string
        userAgentDesc:
          type: string
        users:
          type: array
          items:
            type: string

    Connection:
      title: Connection
      type: object
      properties:
        clientIp:
          type: string
        clientIpDesc:
          type: string
        code:
          type: integer
          format: int64
        commandCount:
          type: integer
          format: int64
        connectionId:
          type: string
        createdTime:
          type: string
        creator:
          type: string
        endTime:
          type: string
        height:
          type: integer
          format: int64
        message:
          type: string
        mode:
          type: string
        name:
          type: string
        node:
          type: string
        operations:
          type: array
          items:
            type: string
        owner:
          type: string
        protocol:
          type: string
        recording:
          type: string
        reviewed:
          type: boolean
        startTime:
          type: string
        status:
          type: string
        userAgent:
          type: string
        userAgentDesc:
          type: string
        width:
          type: integer
          format: int64

    Container:
      title: Container
      type: object
      properties:
        command:
          type: string
        createdTime:
          type: string
        displayName:
          type: string
        image:
          type: string
        imageId:
          type: string
        name:
          type: string
        owner:
          type: string
        ports:
          type: string
        provider:
          type: string
        sizeRootFs:
          type: integer
          format: int64
        sizeRw:
          type: integer
          format: int64
        state:
          type: string
        status:
          type: string

    DeploymentStatus:
      title: DeploymentStatus
      type: object

    File:
      title: File
      type: object
      properties:
        children:
          type: array
          items:
            $ref: '#/components/schemas/File'
        createdTime:
          type: string
        isLeaf:
          type: boolean
        key:
          type: string
        size:
          type: integer
          format: int64
        title:
          type: string
        url:
          type: string

    Form:
      title: Form
      type: object
      properties:
        createdTime:
          type: string
        displayName:
          type: string
        formItems:
          type: array
          items:
            $ref: '#/components/schemas/FormItem'
        name:
          type: string
        owner:
          type: string
        position:
          type: string
        type:
          type: string
        url:
          type: string

    FormItem:
      title: FormItem
      type: object
      properties:
        label:
          type: string
        name:
          type: string
        type:
          type: string
        width:
          type: string

    GaugeVecInfo:
      title: GaugeVecInfo
      type: object
      properties:
        method:
          type: string
        name:
          type: string
        throughput:
          type: number
          format: double

    HistogramVecInfo:
      title: HistogramVecInfo
      type: object
      properties:
        count:
          type: integer
          format: int64
        latency:
          type: string
        method:
          type: string
        name:
          type: string

    Image:
      title: Image
      type: object
      properties:
        ImageFamily:
          type: string
        ImageName:
          type: string
        ImageOwnerAlias:
          type: string
        ImageOwnerId:
          type: integer
          format: int64
        ImageVersion:
          type: string
        IsCopied:
          type: boolean
        IsPublic:
          type: boolean
        IsSelfShared:
          type: string
        IsSubscribed:
          type: boolean
        IsSupportCloudinit:
          type: boolean
        IsSupportIoOptimized:
          type: boolean
        LoginAsNonRootSupported:
          type: boolean
        OSNameEn:
          type: string
        OSType:
          type: string
        ProductCode:
          type: string
        ResourceGroupId:
          type: string
        SupplierName:
          type: string
        Usage:
          type: string
        bootMode:
          type: string
        category:
          type: string
        createdTime:
          type: string
        description:
          type: string
        displayName:
          type: string
        imageId:
          type: string
        name:
          type: string
        os:
          type: string
        owner:
          type: string
        platform:
          type: string
        progress:
          type: string
        provider:
          type: string
        remotePassword:
          type: string
        remotePort:
          type: integer
          format: int64
        remoteProtocol:
          type: string
        remoteUsername:
          type: string
        size:
          type: string
        state:
          type: string
        systemArchitecture:
          type: string

    K8sStatus:
      title: K8sStatus
      type: object

    Label:
      title: Label
      type: object
      properties:
        endTime:
          type: number
          format: double
        id:
          type: string
        speaker:
          type: string
        startTime:
          type: number
          format: double
        tag1:
          type: string
        tag2:
          type: string
        tag3:
          type: string
        text:
          type: string
        type:
          type: string
        user:
          type: string

    Machine:
      title: Machine
      type: object
      properties:
        category:
          type: string
        cpuSize:
          type: string
        createdTime:
          type: string
        displayName:
          type: string
        expireTime:
          type: string
        id:
          type: string
        image:
          type: string
        memSize:
          type: string
        name:
          type: string
        os:
          type: string
        owner:
          type: string
        privateIp:
          type: string
        provider:
          type: string
        publicIp:
          type: string
        region:
          type: string
        remotePassword:
          type: string
        remotePort:
          type: integer
          format: int64
        remoteProtocol:
          type: string
        remoteUsername:
          type: string
        size:
          type: string
        state:
          type: string
        tag:
          type: string
        type:
          type: string
        updatedTime:
          type: string
        zone:
          type: string

    Message:
      title: Message
      type: object
      properties:
        author:
          type: string
        chat:
          type: string
        comment:
          type: string
        createdTime:
          type: string
        currency:
          type: string
        dislikeUsers:
          type: array
          items:
            type: string
        embeddingProvider:
          type: string
        errorText:
          type: string
        fileName:
          type: string
        isAlerted:
          type: boolean
        isDeleted:
          type: boolean
        isHidden:
          type: boolean
        isRegenerated:
          type: boolean
        likeUsers:
          type: array
          items:
            type: string
        modelProvider:
          type: string
        name:
          type: string
        needNotify:
          type: boolean
        organization:
          type: string
        owner:
          type: string
        price:
          type: number
          format: double
        reasonText:
          type: string
        replyTo:
          type: string
        store:
          type: string
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/Suggestion'
        text:
[...]
