openapi: 3.1.0
info:
  title: Hanzo Nexus API
  description: Hanzo Nexus is a knowledge base and RAG (Retrieval-Augmented Generation) platform. It provides document management,
    vector embeddings, semantic search, and AI-powered question answering across organizational knowledge stores.
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
    url: https://hanzo.ai/terms
servers:
- url: https://nexus.hanzo.ai
  description: Nexus Production
- url: https://api.hanzo.ai
  description: Hanzo Gateway (via api.hanzo.ai/v1/nexus/*)
security:
- BearerAuth: []
tags:
- name: Account API
  description: Authentication and account management
- name: Activity API
  description: Activity tracking and analytics
- name: Application API
  description: Application management and deployment
- name: Article API
  description: Knowledge base article management
- name: Chat API
  description: Chat session management
- name: Connection API
  description: Remote connection and tunnel management
- name: Container API
  description: Container management
- name: Deployment API
  description: Kubernetes deployment status
- name: File API
  description: File management within knowledge stores
- name: Form API
  description: Form management
- name: Image API
  description: Machine image management
- name: Machine API
  description: Machine management
- name: Message API
  description: Chat message management and AI answering
- name: Node API
  description: Compute node management
- name: OpenAI Compatible API
  description: OpenAI-compatible chat completions endpoint
- name: Permission API
  description: Permission management
- name: Pod API
  description: Pod management
- name: Provider API
  description: AI and storage provider configuration
- name: Record API
  description: Audit record management
- name: STT API
  description: Speech-to-text conversion
- name: Store API
  description: Knowledge store management
- name: Storage Provider API
  description: Storage provider configuration
- name: System API
  description: System information and health checks
- name: Task API
  description: Task management and evaluation
- name: Template API
  description: Application template management
- name: TTS API
  description: Text-to-speech conversion
- name: Usage API
  description: Usage tracking and billing
- name: Vector API
  description: Vector embedding management
- name: Video API
  description: Video content management
- name: Workflow API
  description: Workflow management
paths:
  /v1/nexus/activate-file:
    post:
      tags:
      - File API
      description: Activate a file for processing
      operationId: activateFile
      parameters:
      - in: query
        name: key
        description: The key of the file
        required: true
        schema:
          type: string
      - in: query
        name: filename
        description: The name of the file
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: activate File
  /v1/nexus/add-application:
    post:
      tags:
      - Application API
      description: Add an application
      operationId: addApplication
      requestBody:
        description: The details of the application
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Application
  /v1/nexus/add-article:
    post:
      tags:
      - Article API
      description: Add an article
      operationId: addArticle
      requestBody:
        description: The details of the article
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Article
  /v1/nexus/add-chat:
    post:
      tags:
      - Chat API
      description: Add a chat session
      operationId: addChat
      requestBody:
        description: The details of the chat
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Chat'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Chat
  /v1/nexus/add-connection:
    post:
      tags:
      - Connection API
      description: Add a connection
      operationId: addConnection
      requestBody:
        description: The connection object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      summary: add Connection
  /v1/nexus/add-container:
    post:
      tags:
      - Container API
      description: Add a container
      operationId: addContainer
      requestBody:
        description: The details of the container
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Container'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Container
  /v1/nexus/add-file:
    post:
      tags:
      - File API
      description: Add a file to a knowledge store
      operationId: addFile
      parameters:
      - in: query
        name: store
        description: The store of the file
        required: true
        schema:
          type: string
      - in: query
        name: key
        description: The key of the file
        required: true
        schema:
          type: string
      - in: query
        name: isLeaf
        description: Whether the file is a leaf node
        required: true
        schema:
          type: string
      - in: query
        name: filename
        description: The name of the file
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add File
  /v1/nexus/add-form:
    post:
      tags:
      - Form API
      description: Add a form
      operationId: addForm
      requestBody:
        description: The details of the form
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Form
  /v1/nexus/add-image:
    post:
      tags:
      - Image API
      description: Add an image
      operationId: addImage
      requestBody:
        description: The details of the image
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Image
  /v1/nexus/add-machine:
    post:
      tags:
      - Machine API
      description: Add a machine
      operationId: addMachine
      requestBody:
        description: The details of the machine
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Machine'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Machine
  /v1/nexus/add-message:
    post:
      tags:
      - Message API
      description: Add a message to a chat
      operationId: addMessage
      requestBody:
        description: The details of the message
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        '200':
          description: The updated chat object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
      summary: add Message
  /v1/nexus/add-node:
    post:
      tags:
      - Node API
      description: Add a node
      operationId: addNode
      requestBody:
        description: The details of the node
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Node
  /v1/nexus/add-node-tunnel:
    get:
      tags:
      - Connection API
      description: Add a node tunnel session
      operationId: addNodeTunnel
      parameters:
      - in: query
        name: nodeId
        description: The id of the node
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      summary: add Node Tunnel
  /v1/nexus/add-permission:
    post:
      tags:
      - Permission API
      description: Add a permission
      operationId: addPermission
      requestBody:
        description: The details of the permission
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Permission
  /v1/nexus/add-pod:
    post:
      tags:
      - Pod API
      description: Add a pod
      operationId: addPod
      requestBody:
        description: The details of the pod
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pod'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Pod
  /v1/nexus/add-provider:
    post:
      tags:
      - Provider API
      description: Add a provider
      operationId: addProvider
      requestBody:
        description: The details of the provider
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Provider
  /v1/nexus/add-record:
    post:
      tags:
      - Record API
      description: Add a record
      operationId: addRecord
      requestBody:
        description: The details of the record
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Record
  /v1/nexus/add-records:
    post:
      tags:
      - Record API
      description: Add multiple records
      operationId: addRecords
      requestBody:
        description: The details of the records
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Record'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Records
  /v1/nexus/add-store:
    post:
      tags:
      - Store API
      description: Add a knowledge store
      operationId: addStore
      requestBody:
        description: The details of the store
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Store
  /v1/nexus/add-task:
    post:
      tags:
      - Task API
      description: Add a task
      operationId: addTask
      requestBody:
        description: The details of the task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Task
  /v1/nexus/add-template:
    post:
      tags:
      - Template API
      description: Add a template
      operationId: addTemplate
      requestBody:
        description: The details of the template
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Template'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Template
  /v1/nexus/add-vector:
    post:
      tags:
      - Vector API
      description: Add a vector embedding
      operationId: addVector
      requestBody:
        description: The details of the vector
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vector'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Vector
  /v1/nexus/add-video:
    post:
      tags:
      - Video API
      description: Add a video
      operationId: addVideo
      requestBody:
        description: The details of the video
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Video'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Video
  /v1/nexus/add-workflow:
    post:
      tags:
      - Workflow API
      description: Add a workflow
      operationId: addWorkflow
      requestBody:
        description: The details of the workflow
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: add Workflow
  /v1/nexus/chat/completions:
    post:
      tags:
      - OpenAI Compatible API
      description: OpenAI-compatible chat completions endpoint
      operationId: chatCompletions
      requestBody:
        description: The OpenAI chat request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: The chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
      summary: chat Completions
  /v1/nexus/commit-record:
    post:
      tags:
      - Record API
      description: Commit a record
      operationId: commitRecord
      requestBody:
        description: The details of the record
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: commit Record
  /v1/nexus/commit-record-second:
    post:
      tags:
      - Record API
      description: Commit a record (secondary)
      operationId: commitRecordSecond
      requestBody:
        description: The details of the record
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: commit Record Second
  /v1/nexus/delete-all-vectors:
    post:
      tags:
      - Vector API
      description: Delete all vectors
      operationId: deleteAllVectors
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete All Vectors
  /v1/nexus/delete-application:
    post:
      tags:
      - Application API
      description: Delete an application
      operationId: deleteApplication
      requestBody:
        description: The details of the application
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Application
  /v1/nexus/delete-article:
    post:
      tags:
      - Article API
      description: Delete an article
      operationId: deleteArticle
      requestBody:
        description: The details of the article
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Article
  /v1/nexus/delete-chat:
    post:
      tags:
      - Chat API
      description: Delete a chat session
      operationId: deleteChat
      requestBody:
        description: The details of the chat
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Chat'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Chat
  /v1/nexus/delete-connection:
    post:
      tags:
      - Connection API
      description: Delete a connection
      operationId: deleteConnection
      parameters:
      - in: query
        name: id
        description: The id of the connection
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      summary: delete Connection
  /v1/nexus/delete-container:
    post:
      tags:
      - Container API
      description: Delete a container
      operationId: deleteContainer
      requestBody:
        description: The details of the container
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Container'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Container
  /v1/nexus/delete-file:
    post:
      tags:
      - File API
      description: Delete a file
      operationId: deleteFile
      parameters:
      - in: query
        name: store
        description: The store of the file
        required: true
        schema:
          type: string
      - in: query
        name: key
        description: The key of the file
        required: true
        schema:
          type: string
      - in: query
        name: isLeaf
        description: Whether the file is a leaf node
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete File
  /v1/nexus/delete-form:
    post:
      tags:
      - Form API
      description: Delete a form
      operationId: deleteForm
      requestBody:
        description: The details of the form
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Form
  /v1/nexus/delete-image:
    post:
      tags:
      - Image API
      description: Delete an image
      operationId: deleteImage
      requestBody:
        description: The details of the image
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Image
  /v1/nexus/delete-machine:
    post:
      tags:
      - Machine API
      description: Delete a machine
      operationId: deleteMachine
      requestBody:
        description: The details of the machine
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Machine'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Machine
  /v1/nexus/delete-message:
    post:
      tags:
      - Message API
      description: Delete a message
      operationId: deleteMessage
      requestBody:
        description: The details of the message
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Message
  /v1/nexus/delete-node:
    post:
      tags:
      - Node API
      description: Delete a node
      operationId: deleteNode
      requestBody:
        description: The details of the node
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Node
  /v1/nexus/delete-permission:
    post:
      tags:
      - Permission API
      description: Delete a permission
      operationId: deletePermission
      requestBody:
        description: The details of the permission
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Permission
  /v1/nexus/delete-pod:
    post:
      tags:
      - Pod API
      description: Delete a pod
      operationId: deletePod
      requestBody:
        description: The details of the pod
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pod'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Pod
  /v1/nexus/delete-provider:
    post:
      tags:
      - Provider API
      description: Delete a provider
      operationId: deleteProvider
      requestBody:
        description: The details of the provider
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Provider
  /v1/nexus/delete-record:
    post:
      tags:
      - Record API
      description: Delete a record
      operationId: deleteRecord
      requestBody:
        description: The details of the record
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Record
  /v1/nexus/delete-store:
    post:
      tags:
      - Store API
      description: Delete a knowledge store
      operationId: deleteStore
      requestBody:
        description: The details of the store
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Store
  /v1/nexus/delete-task:
    post:
      tags:
      - Task API
      description: Delete a task
      operationId: deleteTask
      requestBody:
        description: The details of the task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Task
  /v1/nexus/delete-template:
    post:
      tags:
      - Template API
      description: Delete a template
      operationId: deleteTemplate
      requestBody:
        description: The details of the template
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Template'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Template
  /v1/nexus/delete-vector:
    post:
      tags:
      - Vector API
      description: Delete a vector embedding
      operationId: deleteVector
      requestBody:
        description: The details of the vector
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vector'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Vector
  /v1/nexus/delete-video:
    post:
      tags:
      - Video API
      description: Delete a video
      operationId: deleteVideo
      requestBody:
        description: The details of the video
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Video'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Video
  /v1/nexus/delete-workflow:
    post:
      tags:
      - Workflow API
      description: Delete a workflow
      operationId: deleteWorkflow
      requestBody:
        description: The details of the workflow
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: delete Workflow
  /v1/nexus/deploy-application:
    post:
      tags:
      - Application API
      description: Deploy an application synchronously
      operationId: deployApplication
      requestBody:
        description: The deployment request details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDeploymentRequest'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: deploy Application
  /v1/nexus/generate-text-to-speech-audio:
    post:
      tags:
      - TTS API
      description: Convert text to speech
      operationId: generateTextToSpeechAudio
      requestBody:
        description: The text to convert to speech
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        '200':
          description: The audio data
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      summary: generate Text To Speech Audio
  /v1/nexus/generate-text-to-speech-audio-stream:
    get:
      tags:
      - TTS API
      description: Convert text to speech with streaming
      operationId: generateTextToSpeechAudioStream
      parameters:
      - in: query
        name: storeId
        description: The store ID
        required: true
        schema:
          type: string
      - in: query
        name: messageId
        description: The message ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: An event stream of audio chunks in base64 format
          content:
            text/event-stream:
              schema:
                type: string
      summary: generate Text To Speech Audio Stream
  /v1/nexus/get-Messages:
    get:
      tags:
      - Message API
      description: Get messages for a chat
      operationId: getMessages
      parameters:
      - in: query
        name: user
        description: The user of the messages
        required: true
        schema:
          type: string
      - in: query
        name: chat
        description: The chat of the messages
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
      summary: get Messages
  /v1/nexus/get-account:
    get:
      tags:
      - Account API
      description: Get the current account
      operationId: getAccount
      responses:
        '200':
          description: The account claims object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountClaims'
      summary: get Account
  /v1/nexus/get-active-file:
    get:
      tags:
      - File API
      description: Get the active file
      operationId: getActiveFile
      parameters:
      - in: query
        name: prefix
        description: The prefix of the file
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The active file path
          content:
            application/json:
              schema:
                type: string
      summary: get Active File
  /v1/nexus/get-activities:
    get:
      tags:
      - Activity API
      description: Get activities
      operationId: getActivities
      parameters:
      - in: query
        name: days
        description: Number of days
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of activities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
      summary: get Activities
  /v1/nexus/get-answer:
    get:
      tags:
      - Message API
      description: Get an AI-generated answer
      operationId: getAnswer
      parameters:
      - in: query
        name: provider
        description: The provider
        required: true
        schema:
          type: string
      - in: query
        name: question
        description: The question
        required: true
        schema:
          type: string
      - in: query
        name: framework
        description: The framework
        required: true
        schema:
          type: string
      - in: query
        name: video
        description: The video
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The answer text
          content:
            application/json:
              schema:
                type: string
      summary: get Answer
  /v1/nexus/get-application:
    get:
      tags:
      - Application API
      description: Get an application
      operationId: getApplication
      parameters:
      - in: query
        name: id
        description: The id of the application
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The application object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      summary: get Application
  /v1/nexus/get-application-status:
    get:
      tags:
      - Application API
      description: Get application deployment status
      operationId: getApplicationStatus
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the application
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The deployment status object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentStatus'
      summary: get Application Status
  /v1/nexus/get-applications:
    get:
      tags:
      - Application API
      description: Get applications
      operationId: getApplications
      parameters:
      - in: query
        name: owner
        description: The owner of the applications
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
      summary: get Applications
  /v1/nexus/get-article:
    get:
      tags:
      - Article API
      description: Get an article
      operationId: getArticle
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the article
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The article object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
      summary: get Article
  /v1/nexus/get-articles:
    get:
      tags:
      - Article API
      description: Get articles
      operationId: getArticles
      parameters:
      - in: query
        name: owner
        description: The owner of the articles
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'
      summary: get Articles
  /v1/nexus/get-chat:
    get:
      tags:
      - Chat API
      description: Get a chat session
      operationId: getChat
      parameters:
      - in: query
        name: id
        description: The id of the chat
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The chat object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
      summary: get Chat
  /v1/nexus/get-chats:
    get:
      tags:
      - Chat API
      description: Get chat sessions
      operationId: getChats
      parameters:
      - in: query
        name: user
        description: The user of the chats
        required: true
        schema:
          type: string
      - in: query
        name: field
        description: The field to filter by
        required: true
        schema:
          type: string
      - in: query
        name: value
        description: The value to filter by
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of chats
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chat'
      summary: get Chats
  /v1/nexus/get-connection:
    get:
      tags:
      - Connection API
      description: Get a connection
      operationId: getConnection
      parameters:
      - in: query
        name: id
        description: The id of the connection
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The connection object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
      summary: get Connection
  /v1/nexus/get-connections:
    get:
      tags:
      - Connection API
      description: Get all connections
      operationId: getConnections
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The page number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The paginated connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
      summary: get Connections
  /v1/nexus/get-container:
    get:
      tags:
      - Container API
      description: Get a container
      operationId: getContainer
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the container
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The container object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Container'
      summary: get Container
  /v1/nexus/get-containers:
    get:
      tags:
      - Container API
      description: Get all containers
      operationId: getContainers
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The page number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The paginated containers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Container'
      summary: get Containers
  /v1/nexus/get-form:
    get:
      tags:
      - Form API
      description: Get a form
      operationId: getForm
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the form
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The form object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
      summary: get Form
  /v1/nexus/get-form-data:
    get:
      tags:
      - Form API
      description: Get form data
      operationId: getFormData
      parameters:
      - in: query
        name: owner
        description: The owner of the forms
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of form data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form'
      summary: get Form Data
  /v1/nexus/get-forms:
    get:
      tags:
      - Form API
      description: Get forms
      operationId: getForms
      parameters:
      - in: query
        name: owner
        description: The owner of the forms
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of forms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form'
      summary: get Forms
  /v1/nexus/get-global-articles:
    get:
      tags:
      - Article API
      description: Get global articles
      operationId: getGlobalArticles
      responses:
        '200':
          description: The list of global articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'
      summary: get Global Articles
  /v1/nexus/get-global-chats:
    get:
      tags:
      - Chat API
      description: Get global chats
      operationId: getGlobalChats
      responses:
        '200':
          description: The list of global chats
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chat'
      summary: get Global Chats
  /v1/nexus/get-global-forms:
    get:
      tags:
      - Form API
      description: Get global forms
      operationId: getGlobalForms
      responses:
        '200':
          description: The list of global forms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form'
      summary: get Global Forms
  /v1/nexus/get-global-messages:
    get:
      tags:
      - Message API
      description: Get global messages
      operationId: getGlobalMessages
      responses:
        '200':
          description: The list of global messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
      summary: get Global Messages
  /v1/nexus/get-global-providers:
    get:
      tags:
      - Provider API
      description: Get global providers
      operationId: getGlobalProviders
      responses:
        '200':
          description: The list of global providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Provider'
      summary: get Global Providers
  /v1/nexus/get-global-stores:
    get:
      tags:
      - Store API
      description: Get global knowledge stores
      operationId: getGlobalStores
      responses:
        '200':
          description: The list of global stores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Store'
      summary: get Global Stores
  /v1/nexus/get-global-tasks:
    get:
      tags:
      - Task API
      description: Get global tasks
      operationId: getGlobalTasks
      responses:
        '200':
          description: The list of global tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
      summary: get Global Tasks
  /v1/nexus/get-global-vectors:
    get:
      tags:
      - Vector API
      description: Get global vectors
      operationId: getGlobalVectors
      responses:
        '200':
          description: The list of global vectors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vector'
      summary: get Global Vectors
  /v1/nexus/get-global-videos:
    get:
      tags:
      - Video API
      description: Get global videos
      operationId: getGlobalVideos
      responses:
        '200':
          description: The list of global videos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Video'
      summary: get Global Videos
  /v1/nexus/get-global-workflows:
    get:
      tags:
      - Workflow API
      description: Get global workflows
      operationId: getGlobalWorkflows
      responses:
        '200':
          description: The list of global workflows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workflow'
      summary: get Global Workflows
  /v1/nexus/get-image:
    get:
      tags:
      - Image API
      description: Get an image
      operationId: getImage
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the image
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The image object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
      summary: get Image
  /v1/nexus/get-images:
    get:
      tags:
      - Image API
      description: Get all images
      operationId: getImages
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The page number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The paginated images
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
      summary: get Images
  /v1/nexus/get-k8s-status:
    get:
      tags:
      - Deployment API
      description: Get Kubernetes cluster status
      operationId: getK8sStatus
      responses:
        '200':
          description: The Kubernetes status object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/K8sStatus'
      summary: get K8s Status
  /v1/nexus/get-machine:
    get:
      tags:
      - Machine API
      description: Get a machine
      operationId: getMachine
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the machine
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The machine object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
      summary: get Machine
  /v1/nexus/get-machines:
    get:
      tags:
      - Machine API
      description: Get all machines
      operationId: getMachines
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The page number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The paginated machines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
      summary: get Machines
  /v1/nexus/get-message:
    get:
      tags:
      - Message API
      description: Get a message
      operationId: getMessage
      parameters:
      - in: query
        name: id
        description: The id of the message
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The message object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      summary: get Message
  /v1/nexus/get-message-answer:
    get:
      tags:
      - Message API
      description: Get a streamed AI answer for a message
      operationId: getMessageAnswer
      parameters:
      - in: query
        name: id
        description: The id of the message
        required: true
        schema:
          type: string
      responses:
        '200':
          description: An event stream of message answers in JSON format
          content:
            text/event-stream:
              schema:
                type: string
      summary: get Message Answer
  /v1/nexus/get-node:
    get:
      tags:
      - Node API
      description: Get a node
      operationId: getNode
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the node
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The node object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
      summary: get Node
  /v1/nexus/get-node-tunnel:
    get:
      tags:
      - Connection API
      description: Get a node tunnel session
      operationId: getNodeTunnel
      parameters:
      - in: query
        name: width
        description: The width of the tunnel
        required: true
        schema:
          type: string
      - in: query
        name: height
        description: The height of the tunnel
        required: true
        schema:
          type: string
      - in: query
        name: dpi
        description: The dpi of the tunnel
        required: true
        schema:
          type: string
      - in: query
        name: connectionId
        description: The id of the connection
        required: true
        schema:
          type: string
      - in: query
        name: username
        description: The username for the tunnel
        required: true
        schema:
          type: string
      - in: query
        name: password
        description: The password for the tunnel
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      summary: get Node Tunnel
  /v1/nexus/get-nodes:
    get:
      tags:
      - Node API
      description: Get all nodes
      operationId: getNodes
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The page number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The paginated nodes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
      summary: get Nodes
  /v1/nexus/get-permission:
    get:
      tags:
      - Permission API
      description: Get a permission
      operationId: getPermission
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the permission
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The permission object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
      summary: get Permission
  /v1/nexus/get-permissions:
    get:
      tags:
      - Permission API
      description: Get permissions
      operationId: getPermissions
      responses:
        '200':
          description: The list of permissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permission'
      summary: get Permissions
  /v1/nexus/get-pod:
    get:
      tags:
      - Pod API
      description: Get a pod
      operationId: getPod
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the pod
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The pod object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pod'
      summary: get Pod
  /v1/nexus/get-pods:
    get:
      tags:
      - Pod API
      description: Get all pods
      operationId: getPods
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The page number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The paginated pods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pod'
      summary: get Pods
  /v1/nexus/get-prometheus-info:
    get:
      tags:
      - System API
      description: Get Prometheus metrics info
      operationId: getPrometheusInfo
      responses:
        '200':
          description: The Prometheus info object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrometheusInfo'
      summary: get Prometheus Info
  /v1/nexus/get-provider:
    get:
      tags:
      - Provider API
      description: Get a provider
      operationId: getProvider
      parameters:
      - in: query
        name: id
        description: The id of the provider
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The provider object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
      summary: get Provider
  /v1/nexus/get-providers:
    get:
      tags:
      - Provider API
      description: Get providers
      operationId: getProviders
      responses:
        '200':
          description: The list of providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Provider'
      summary: get Providers
  /v1/nexus/get-range-usages:
    get:
      tags:
      - Usage API
      description: Get range usages
      operationId: getRangeUsages
      parameters:
      - in: query
        name: count
        description: Count of range usages
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of usages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usage'
      summary: get Range Usages
  /v1/nexus/get-record:
    get:
      tags:
      - Record API
      description: Get a record
      operationId: getRecord
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the record
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The record object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
      summary: get Record
  /v1/nexus/get-records:
    get:
      tags:
      - Record API
      description: Get all records
      operationId: getRecords
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The page number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The paginated records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
      summary: get Records
  /v1/nexus/get-storage-providers:
    get:
      tags:
      - Storage Provider API
      description: Get storage providers
      operationId: getStorageProviders
      responses:
        '200':
          description: The list of storage providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Provider'
      summary: get Storage Providers
  /v1/nexus/get-store:
    get:
      tags:
      - Store API
      description: Get a knowledge store
      operationId: getStore
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the store
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The store object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
      summary: get Store
  /v1/nexus/get-stores:
    get:
      tags:
      - Store API
      description: Get knowledge stores
      operationId: getStores
      parameters:
      - in: query
        name: owner
        description: The owner of the stores
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of stores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Store'
      summary: get Stores
  /v1/nexus/get-system-info:
    get:
      tags:
      - System API
      description: Get system info (CPU, memory usage)
      operationId: getSystemInfo
      responses:
        '200':
          description: The system info object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemInfo'
      summary: get System Info
  /v1/nexus/get-task:
    get:
      tags:
      - Task API
      description: Get a task
      operationId: getTask
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The task object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
      summary: get Task
  /v1/nexus/get-tasks:
    get:
      tags:
      - Task API
      description: Get tasks
      operationId: getTasks
      parameters:
      - in: query
        name: owner
        description: The owner of the tasks
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
      summary: get Tasks
  /v1/nexus/get-template:
    get:
      tags:
      - Template API
      description: Get a template
      operationId: getTemplate
      parameters:
      - in: query
        name: id
        description: The id of the template
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The template object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
      summary: get Template
  /v1/nexus/get-templates:
    get:
      tags:
      - Template API
      description: Get templates
      operationId: getTemplates
      parameters:
      - in: query
        name: owner
        description: The owner of the templates
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Template'
      summary: get Templates
  /v1/nexus/get-usages:
    get:
      tags:
      - Usage API
      description: Get usage information
      operationId: getUsages
      responses:
        '200':
          description: The list of usages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usage'
      summary: get Usages
  /v1/nexus/get-users:
    get:
      tags:
      - Usage API
      description: Get users
      operationId: getUsers
      responses:
        '200':
          description: The list of user identifiers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      summary: get Users
  /v1/nexus/get-vectors:
    get:
      tags:
      - Vector API
      description: Get vectors
      operationId: getVectors
      responses:
        '200':
          description: The list of vectors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vector'
      summary: get Vectors
  /v1/nexus/get-version-info:
    get:
      tags:
      - System API
      description: Get version info (release version, commit ID)
      operationId: getVersionInfo
      responses:
        '200':
          description: The version info object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionInfo'
      summary: get Version Info
  /v1/nexus/get-video:
    get:
      tags:
      - Video API
      description: Get a video
      operationId: getVideo
      parameters:
      - in: query
        name: id
        description: The id of the video
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The video object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
      summary: get Video
  /v1/nexus/get-videos:
    get:
      tags:
      - Video API
      description: Get videos
      operationId: getVideos
      parameters:
      - in: query
        name: owner
        description: The owner of the videos
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of videos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Video'
      summary: get Videos
  /v1/nexus/get-workflow:
    get:
      tags:
      - Workflow API
      description: Get a workflow
      operationId: getWorkflow
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the workflow
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The workflow object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
      summary: get Workflow
  /v1/nexus/get-workflows:
    get:
      tags:
      - Workflow API
      description: Get workflows
      operationId: getWorkflows
      parameters:
      - in: query
        name: owner
        description: The owner of the workflows
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of workflows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workflow'
      summary: get Workflows
  /health:
    get:
      tags:
      - System API
      description: Check if the system is live
      operationId: health
      security: []
      responses:
        '200':
          description: The health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: health
  /v1/nexus/process-speech-to-text:
    post:
      tags:
      - STT API
      description: Convert speech to text
      operationId: processSpeechToText
      requestBody:
        description: The audio file and store ID
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - audio
              - storeId
              properties:
                audio:
                  type: string
                  format: binary
                  description: The audio file to convert to text
                storeId:
                  type: string
                  description: The store ID
      responses:
        '200':
          description: The transcribed text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechToTextResponse'
      summary: process Speech To Text
  /v1/nexus/query-record:
    get:
      tags:
      - Record API
      description: Query a record
      operationId: queryRecord
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the record
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The record object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
      summary: query Record
  /v1/nexus/query-record-second:
    get:
      tags:
      - Record API
      description: Query a record (secondary)
      operationId: queryRecordSecond
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the record
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The record object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
      summary: query Record Second
  /v1/nexus/refresh-mcp-tools:
    post:
      tags:
      - Provider API
      description: Refresh MCP tools for a provider
      operationId: refreshMcpTools
      requestBody:
        description: The details of the provider
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: refresh Mcp Tools
  /v1/nexus/refresh-store-vectors:
    post:
      tags:
      - Store API
      description: Refresh store vectors
      operationId: refreshStoreVectors
      requestBody:
        description: The details of the store
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: refresh Store Vectors
  /v1/nexus/signin:
    post:
      tags:
      - Account API
      description: Sign in
      operationId: signin
      security: []
      parameters:
      - in: query
        name: code
        description: Authorization code
        required: true
        schema:
          type: string
      - in: query
        name: state
        description: OAuth state
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The account claims
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountClaims'
      summary: signin
  /v1/nexus/signout:
    post:
      tags:
      - Account API
      description: Sign out
      operationId: signout
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: signout
  /v1/nexus/start-connection:
    post:
      tags:
      - Connection API
      description: Start a connection
      operationId: startConnection
      parameters:
      - in: query
        name: id
        description: The id of the connection
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      summary: start Connection
  /v1/nexus/stop-connection:
    post:
      tags:
      - Connection API
      description: Stop a connection
      operationId: stopConnection
      parameters:
      - in: query
        name: id
        description: The id of the connection
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      summary: stop Connection
  /v1/nexus/undeploy-application:
    post:
      tags:
      - Application API
      description: Undeploy an application synchronously
      operationId: undeployApplication
      requestBody:
        description: The deployment request details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDeploymentRequest'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: undeploy Application
  /v1/nexus/update-application:
    post:
      tags:
      - Application API
      description: Update an application
      operationId: updateApplication
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the application
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the application
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Application
  /v1/nexus/update-article:
    post:
      tags:
      - Article API
      description: Update an article
      operationId: updateArticle
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the article
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the article
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Article
  /v1/nexus/update-chat:
    post:
      tags:
      - Chat API
      description: Update a chat session
      operationId: updateChat
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the chat
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the chat
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Chat'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Chat
  /v1/nexus/update-connection:
    post:
      tags:
      - Connection API
      description: Update a connection
      operationId: updateConnection
      parameters:
      - in: query
        name: id
        description: The id of the connection
        required: true
        schema:
          type: string
      requestBody:
        description: The connection object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      summary: update Connection
  /v1/nexus/update-container:
    post:
      tags:
      - Container API
      description: Update a container
      operationId: updateContainer
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the container
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the container
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Container'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Container
  /v1/nexus/update-file:
    post:
      tags:
      - File API
      description: Update a file
      operationId: updateFile
      parameters:
      - in: query
        name: storeId
        description: The store id of the file
        required: true
        schema:
          type: string
      - in: query
        name: key
        description: The key of the file
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the file
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/File'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update File
  /v1/nexus/update-form:
    post:
      tags:
      - Form API
      description: Update a form
      operationId: updateForm
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the form
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the form
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Form
  /v1/nexus/update-image:
    post:
      tags:
      - Image API
      description: Update an image
      operationId: updateImage
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the image
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the image
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Image
  /v1/nexus/update-machine:
    post:
      tags:
      - Machine API
      description: Update a machine
      operationId: updateMachine
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the machine
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the machine
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Machine'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Machine
  /v1/nexus/update-message:
    post:
      tags:
      - Message API
      description: Update a message
      operationId: updateMessage
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the message
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the message
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Message
  /v1/nexus/update-node:
    post:
      tags:
      - Node API
      description: Update a node
      operationId: updateNode
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the node
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the node
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Node
  /v1/nexus/update-permission:
    post:
      tags:
      - Permission API
      description: Update a permission
      operationId: updatePermission
      requestBody:
        description: The details of the permission
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Permission
  /v1/nexus/update-pod:
    post:
      tags:
      - Pod API
      description: Update a pod
      operationId: updatePod
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the pod
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the pod
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pod'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Pod
  /v1/nexus/update-provider:
    post:
      tags:
      - Provider API
      description: Update a provider
      operationId: updateProvider
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the provider
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the provider
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Provider
  /v1/nexus/update-record:
    post:
      tags:
      - Record API
      description: Update a record
      operationId: updateRecord
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the record
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the record
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Record'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Record
  /v1/nexus/update-store:
    post:
      tags:
      - Store API
      description: Update a knowledge store
      operationId: updateStore
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the store
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the store
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Store
  /v1/nexus/update-task:
    post:
      tags:
      - Task API
      description: Update a task
      operationId: updateTask
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the task
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Task
  /v1/nexus/update-template:
    post:
      tags:
      - Template API
      description: Update a template
      operationId: updateTemplate
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the template
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the template
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Template'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Template
  /v1/nexus/update-vector:
    post:
      tags:
      - Vector API
      description: Update a vector embedding
      operationId: updateVector
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the vector
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the vector
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vector'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Vector
  /v1/nexus/update-video:
    post:
      tags:
      - Video API
      description: Update a video
      operationId: updateVideo
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the video
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the video
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Video'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Video
  /v1/nexus/update-workflow:
    post:
      tags:
      - Workflow API
      description: Update a workflow
      operationId: updateWorkflow
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the workflow
        required: true
        schema:
          type: string
      requestBody:
        description: The details of the workflow
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: update Workflow
  /v1/nexus/upload-file:
    post:
      tags:
      - File API
      description: Upload a file to storage
      operationId: uploadFile
      requestBody:
        description: The file upload data
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              - type
              - name
              properties:
                file:
                  type: string
                  description: The base64 encoded file data
                type:
                  type: string
                  description: The file type/extension
                name:
                  type: string
                  description: The file name
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: upload File
  /v1/nexus/upload-video:
    post:
      tags:
      - Video API
      description: Upload a video
      operationId: uploadVideo
      requestBody:
        description: The video file to upload
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The video file
      responses:
        '200':
          description: The fileId of the uploaded video
          content:
            application/json:
              schema:
                type: string
      summary: upload Video
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT issued by Hanzo IAM (https://hanzo.id). Discovery: https://hanzo.id/.well-known/openid-configuration.
        Obtain via /v1/iam/auth/login, /oauth/token, or the API key UI on hanzo.id.'
  schemas:
    GenericResponse:
      title: GenericResponse
      type: object
    ApplicationDeploymentRequest:
      title: ApplicationDeploymentRequest
      type: object
    Response:
      title: Response
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
          description: Response data (string, object, or array)
        data2:
          type: object
          additionalProperties: true
          description: Secondary response data
        msg:
          type: string
        status:
          type: string
    SpeechToTextResponse:
      title: SpeechToTextResponse
      type: object
    AccountClaims:
      title: AccountClaims
      type: object
      description: Authentication claims for the current user
    TextToSpeechRequest:
      title: TextToSpeechRequest
      type: object
    McpTools:
      title: McpTools
      type: object
      properties:
        isEnabled:
          type: boolean
        serverName:
          type: string
        tools:
          type: string
    Permission:
      title: Permission
      type: object
    Activity:
      title: Activity
      type: object
      properties:
        FieldCount:
          type: object
          additionalProperties:
            type: integer
            format: int64
        date:
          type: string
    Application:
      title: Application
      type: object
      properties:
        createdTime:
          type: string
        description:
          type: string
        displayName:
          type: string
        name:
          type: string
        namespace:
          type: string
        owner:
          type: string
        parameters:
          type: string
        status:
          type: string
        template:
          type: string
        updatedTime:
          type: string
    Article:
      title: Article
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Block'
        createdTime:
          type: string
        displayName:
          type: string
        glossary:
          type: array
          items:
            type: string
        name:
          type: string
        owner:
          type: string
        provider:
          type: string
        text:
          type: string
        type:
          type: string
    Block:
      title: Block
      type: object
      properties:
        prompt:
          type: string
        state:
          type: string
        text:
          type: string
        textEn:
          type: string
        type:
          type: string
    Chat:
      title: Chat
      type: object
      properties:
        category:
          type: string
        clientIp:
          type: string
        clientIpDesc:
          type: string
        createdTime:
          type: string
        currency:
          type: string
        displayName:
          type: string
        isDeleted:
          type: boolean
        isHidden:
          type: boolean
        messageCount:
          type: integer
          format: int64
        modelProvider:
          type: string
        name:
          type: string
        needTitle:
          type: boolean
        organization:
          type: string
        owner:
          type: string
        price:
          type: number
          format: double
        store:
          type: string
        tokenCount:
          type: integer
          format: int64
        type:
          type: string
        updatedTime:
          type: string
        user:
          type: string
        user1:
          type: string
        user2:
          type: string
        userAgent:
          type: string
        userAgentDesc:
          type: string
        users:
          type: array
          items:
            type: string
    Connection:
      title: Connection
      type: object
      properties:
        clientIp:
          type: string
        clientIpDesc:
          type: string
        code:
          type: integer
          format: int64
        commandCount:
          type: integer
          format: int64
        connectionId:
          type: string
        createdTime:
          type: string
        creator:
          type: string
        endTime:
          type: string
        height:
          type: integer
          format: int64
        message:
          type: string
        mode:
          type: string
        name:
          type: string
        node:
          type: string
        operations:
          type: array
          items:
            type: string
        owner:
          type: string
        protocol:
          type: string
        recording:
          type: string
        reviewed:
          type: boolean
        startTime:
          type: string
        status:
          type: string
        userAgent:
          type: string
        userAgentDesc:
          type: string
        width:
          type: integer
          format: int64
    Container:
      title: Container
      type: object
      properties:
        command:
          type: string
        createdTime:
          type: string
        displayName:
          type: string
        image:
          type: string
        imageId:
          type: string
        name:
          type: string
        owner:
          type: string
        ports:
          type: string
        provider:
          type: string
        sizeRootFs:
          type: integer
          format: int64
        sizeRw:
          type: integer
          format: int64
        state:
          type: string
        status:
          type: string
    DeploymentStatus:
      title: DeploymentStatus
      type: object
    File:
      title: File
      type: object
      properties:
        children:
          type: array
          items:
            $ref: '#/components/schemas/File'
        createdTime:
          type: string
        isLeaf:
          type: boolean
        key:
          type: string
        size:
          type: integer
          format: int64
        title:
          type: string
        url:
          type: string
    Form:
      title: Form
      type: object
      properties:
        createdTime:
          type: string
        displayName:
          type: string
        formItems:
          type: array
          items:
            $ref: '#/components/schemas/FormItem'
        name:
          type: string
        owner:
          type: string
        position:
          type: string
        type:
          type: string
        url:
          type: string
    FormItem:
      title: FormItem
      type: object
      properties:
        label:
          type: string
        name:
          type: string
        type:
          type: string
        width:
          type: string
    GaugeVecInfo:
      title: GaugeVecInfo
      type: object
      properties:
        method:
          type: string
        name:
          type: string
        throughput:
          type: number
          format: double
    HistogramVecInfo:
      title: HistogramVecInfo
      type: object
      properties:
        count:
          type: integer
          format: int64
        latency:
          type: string
        method:
          type: string
        name:
          type: string
    Image:
      title: Image
      type: object
      properties:
        ImageFamily:
          type: string
        ImageName:
          type: string
        ImageOwnerAlias:
          type: string
        ImageOwnerId:
          type: integer
          format: int64
        ImageVersion:
          type: string
        IsCopied:
          type: boolean
        IsPublic:
          type: boolean
        IsSelfShared:
          type: string
        IsSubscribed:
          type: boolean
        IsSupportCloudinit:
          type: boolean
        IsSupportIoOptimized:
          type: boolean
        LoginAsNonRootSupported:
[...]
