openapi: 3.1.0
info:
  title: Hanzo ML API
  description: 'Hanzo ML provides end-to-end MLOps pipeline management including

    Kubeflow-based workflows, experiment tracking, model registry,

    and deployment to Hanzo Cloud.


    Features:

    - Kubeflow pipeline orchestration

    - Experiment tracking with metrics and artifacts

    - Model registry with versioning and promotion

    - A/B testing and canary deployments

    - Direct deployment to Hanzo Cloud

    '
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
- url: https://ml.hanzo.ai
  description: ML Production
- url: https://api.hanzo.ai
  description: Hanzo Gateway (via api.hanzo.ai/v1/ml/*)
tags:
- name: Pipelines
  description: Training pipeline management
- name: Experiments
  description: Experiment tracking
- name: Models
  description: Model registry
- name: Deployments
  description: Model deployment
- name: Health
  description: Service health
security:
- BearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: HANZO_API_KEY
      description: Hanzo API Key (Bearer hk-...)
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT issued by Hanzo IAM (https://hanzo.id). Discovery: https://hanzo.id/.well-known/openid-configuration.
        Obtain via /v1/iam/auth/login, /oauth/token, or the API key UI on hanzo.id.'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
    Pipeline:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: hanzo-finetune
        description:
          type: string
        status:
          type: string
          enum:
          - pending
          - running
          - succeeded
          - failed
          - cancelled
        steps:
          type: array
          items:
            $ref: '#/components/schemas/PipelineStep'
        parameters:
          type: object
          additionalProperties:
            type: string
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
    PipelineStep:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum:
          - pending
          - running
          - succeeded
          - failed
          - skipped
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        logs_url:
          type: string
          format: uri
    PipelineRun:
      type: object
      properties:
        id:
          type: string
        pipeline_id:
          type: string
        status:
          type: string
          enum:
          - pending
          - running
          - succeeded
          - failed
          - cancelled
        parameters:
          type: object
          additionalProperties:
            type: string
        metrics:
          type: object
          additionalProperties:
            type: number
        artifacts:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              uri:
                type: string
                format: uri
              size:
                type: integer
        created_at:
          type: string
          format: date-time
        duration_seconds:
          type: integer
    Experiment:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: llm-finetune
        description:
          type: string
        runs:
          type: integer
        best_run_id:
          type: string
        created_at:
          type: string
          format: date-time
    ExperimentRun:
      type: object
      properties:
        id:
          type: string
        experiment_id:
          type: string
        status:
          type: string
          enum:
          - running
          - completed
          - failed
        params:
          type: object
          additionalProperties:
            type: string
          example:
            base_model: Llama-3.1-8B
            learning_rate: 2e-5
            epochs: '3'
        metrics:
          type: object
          additionalProperties:
            type: number
          example:
            loss: 0.234
            accuracy: 0.912
        artifacts:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              uri:
                type: string
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
    Model:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: my-finetune
        version:
          type: string
          example: v3
        stage:
          type: string
          enum:
          - dev
          - staging
          - canary
          - production
        description:
          type: string
        source_run_id:
          type: string
          description: Experiment run that produced this model
        artifacts:
          type: object
          properties:
            weights:
              type: string
              format: uri
            tokenizer:
              type: string
              format: uri
            config:
              type: string
              format: uri
        metrics:
          type: object
          additionalProperties:
            type: number
        tags:
          type: object
          additionalProperties:
            type: string
        created_at:
          type: string
          format: date-time
    Deployment:
      type: object
      properties:
        id:
          type: string
        model_id:
          type: string
        model_version:
          type: string
        runtime:
          type: string
          enum:
          - vllm
          - triton
          - onnx
          - custom
        gpu:
          type: string
          enum:
          - a100
          - h100
          - l40s
          - t4
        replicas:
          type: integer
        environment:
          type: string
          enum:
          - dev
          - staging
          - production
        endpoint:
          type: string
          format: uri
        status:
          type: string
          enum:
          - deploying
          - active
          - failed
          - stopped
        created_at:
          type: string
          format: date-time
paths:
  /v1/ml/models:
    get:
      operationId: listModels
      summary: List models
      tags:
      - Models
      parameters:
      - name: stage
        in: query
        schema:
          type: string
          enum:
          - dev
          - staging
          - canary
          - production
      - name: search
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Model list
          content:
            application/json:
              schema:
                type: object
                properties:
                  models:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
    post:
      operationId: registerModel
      summary: Register a model
      tags:
      - Models
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - version
              properties:
                name:
                  type: string
                version:
                  type: string
                description:
                  type: string
                source_run_id:
                  type: string
                artifacts:
                  type: object
                  properties:
                    weights:
                      type: string
                      format: uri
                    tokenizer:
                      type: string
                      format: uri
                    config:
                      type: string
                      format: uri
                metrics:
                  type: object
                  additionalProperties:
                    type: number
                tags:
                  type: object
                  additionalProperties:
                    type: string
      responses:
        '201':
          description: Model registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
  /v1/ml/models/{model_id}:
    get:
      operationId: getModel
      summary: Get model details
      tags:
      - Models
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Model details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'