openapi: 3.1.0
info:
  title: Hanzo Cloud API
  description: Hanzo Cloud Backend API — AI model management, inference, and usage tracking.
  version: 1.70.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
servers:
- url: https://api.cloud.hanzo.ai/api
  description: Hanzo Cloud Production
security:
- BearerAuth: []
tags:
- name: Account API
- name: Activity API
- name: Application API
- name: Article API
- name: Chat API
- name: Connection API
- name: Container API
- name: Deployment API
- name: File API
- name: Form API
- name: Image API
- name: Machine API
- name: Message API
- name: Node API
- name: OpenAI Compatible API
- name: Permission API
- name: Pod API
- name: Provider API
- name: Record API
- name: STT API
- name: Storage Provider API
- name: Store API
- name: System API
- name: TTS API
- name: Task API
- name: Template API
- name: Usage API
- name: Vector API
- name: Video API
- name: Workflow API
paths:
  /activate-file:
    post:
      tags:
      - File API
      description: activate file
      operationId: ApiController.ActivateFile
      parameters:
      - in: query
        name: key
        description: The key of the file
        required: true
        schema:
          type: string
      - in: query
        name: filename
        description: The name of the file
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-application:
    post:
      tags:
      - Application API
      description: add application
      operationId: ApiController.AddApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Application'
        description: The details of the application
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-article:
    post:
      tags:
      - Article API
      description: add article
      operationId: ApiController.AddArticle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Article'
        description: The details of the article
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-chat:
    post:
      tags:
      - Chat API
      description: add chat
      operationId: ApiController.AddChat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Chat'
        description: The details of the chat
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-connection:
    post:
      tags:
      - Connection API
      description: add connection
      operationId: ApiController.AddConnection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Connection'
        description: The connection object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
  /add-container:
    post:
      tags:
      - Container API
      description: add a container
      operationId: ApiController.AddContainer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Container'
        description: The details of the container
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-file:
    post:
      tags:
      - File API
      description: add file
      operationId: ApiController.AddFile
      parameters:
      - in: query
        name: store
        description: The store of the file
        required: true
        schema:
          type: string
      - in: query
        name: key
        description: The key of the file
        required: true
        schema:
          type: string
      - in: query
        name: isLeaf
        description: if is leaf
        required: true
        schema:
          type: string
      - in: query
        name: filename
        description: The name of the file
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-form:
    post:
      tags:
      - Form API
      description: add form
      operationId: ApiController.AddForm
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Form'
        description: The details of the form
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-image:
    post:
      tags:
      - Image API
      description: add a image
      operationId: ApiController.AddImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Image'
        description: The details of the image
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-machine:
    post:
      tags:
      - Machine API
      description: add a machine
      operationId: ApiController.AddMachine
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Machine'
        description: The details of the machine
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-message:
    post:
      tags:
      - Message API
      description: add message
      operationId: ApiController.AddMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Message'
        description: The details of the message
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Chat'
  /add-node:
    post:
      tags:
      - Node API
      description: add a node
      operationId: ApiController.AddNode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Node'
        description: The details of the node
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-node-tunnel:
    get:
      tags:
      - Connection API
      description: add node tunnel session
      operationId: ApiController.AddNodeTunnel
      parameters:
      - in: query
        name: nodeId
        description: The id of node
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
  /add-permission:
    post:
      tags:
      - Permission API
      description: add permission
      operationId: ApiController.AddPermission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iamsdk.Permission'
        description: The details of the permission
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-pod:
    post:
      tags:
      - Pod API
      description: add a pod
      operationId: ApiController.AddPod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Pod'
        description: The details of the pod
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-provider:
    post:
      tags:
      - Provider API
      description: add provider
      operationId: ApiController.AddProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Provider'
        description: The details of the provider
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-record:
    post:
      tags:
      - Record API
      description: add a record
      operationId: ApiController.AddRecord
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Record'
        description: The details of the record
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-records:
    post:
      tags:
      - Record API
      description: add multiple records
      operationId: ApiController.AddRecords
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/object.Record'
        description: The details of the record
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-store:
    post:
      tags:
      - Store API
      description: add store
      operationId: ApiController.AddStore
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Store'
        description: The details of the store
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-task:
    post:
      tags:
      - Task API
      description: add task
      operationId: ApiController.AddTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Task'
        description: The details of the task
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-template:
    post:
      tags:
      - Template API
      description: add template
      operationId: ApiController.AddTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Template'
        description: The details of the template
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-vector:
    post:
      tags:
      - Vector API
      description: add vector
      operationId: ApiController.AddVector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Vector'
        description: The details of the vector
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-video:
    post:
      tags:
      - Video API
      description: add video
      operationId: ApiController.AddVideo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Video'
        description: The details of the video
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /add-workflow:
    post:
      tags:
      - Workflow API
      description: add workflow
      operationId: ApiController.AddWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Workflow'
        description: The details of the workflow
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/chat/completions:
    post:
      tags:
      - OpenAI Compatible API
      description: OpenAI compatible chat completions API
      operationId: ApiController.ChatCompletions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/openai.ChatCompletionRequest'
        description: The OpenAI chat request
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openai.ChatCompletionResponse'
  /commit-record:
    post:
      tags:
      - Record API
      description: commit a record
      operationId: ApiController.CommitRecord
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Record'
        description: The details of the record
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /commit-record-second:
    post:
      tags:
      - Record API
      description: commit a record
      operationId: ApiController.CommitRecordSecond
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Record'
        description: The details of the record
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-all-vectors:
    post:
      tags:
      - Vector API
      description: delete all vectors
      operationId: ApiController.DeleteAllVectors
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-application:
    post:
      tags:
      - Application API
      description: delete application
      operationId: ApiController.DeleteApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Application'
        description: The details of the application
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-article:
    post:
      tags:
      - Article API
      description: delete article
      operationId: ApiController.DeleteArticle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Article'
        description: The details of the article
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-chat:
    post:
      tags:
      - Chat API
      description: delete chat
      operationId: ApiController.DeleteChat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Chat'
        description: The details of the chat
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-connection:
    post:
      tags:
      - Connection API
      description: delete connection
      operationId: ApiController.DeleteConnection
      parameters:
      - in: query
        name: id
        description: The id of connection
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
  /delete-container:
    post:
      tags:
      - Container API
      description: delete a container
      operationId: ApiController.DeleteContainer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Container'
        description: The details of the container
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-file:
    post:
      tags:
      - File API
      description: delete file
      operationId: ApiController.DeleteFile
      parameters:
      - in: query
        name: store
        description: The store of the file
        required: true
        schema:
          type: string
      - in: query
        name: key
        description: The key of the file
        required: true
        schema:
          type: string
      - in: query
        name: isLeaf
        description: if is leaf
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-form:
    post:
      tags:
      - Form API
      description: delete form
      operationId: ApiController.DeleteForm
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Form'
        description: The details of the form
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-image:
    post:
      tags:
      - Image API
      description: delete a image
      operationId: ApiController.DeleteImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Image'
        description: The details of the image
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-machine:
    post:
      tags:
      - Machine API
      description: delete a machine
      operationId: ApiController.DeleteMachine
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Machine'
        description: The details of the machine
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-message:
    post:
      tags:
      - Message API
      description: delete message
      operationId: ApiController.DeleteMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Message'
        description: The details of the message
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-node:
    post:
      tags:
      - Node API
      description: delete a node
      operationId: ApiController.DeleteNode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Node'
        description: The details of the node
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-permission:
    post:
      tags:
      - Permission API
      description: delete permission
      operationId: ApiController.DeletePermission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iamsdk.Permission'
        description: The details of the permission
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-pod:
    post:
      tags:
      - Pod API
      description: delete a pod
      operationId: ApiController.DeletePod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Pod'
        description: The details of the pod
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-provider:
    post:
      tags:
      - Provider API
      description: delete provider
      operationId: ApiController.DeleteProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Provider'
        description: The details of the provider
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-record:
    post:
      tags:
      - Record API
      description: delete a record
      operationId: ApiController.DeleteRecord
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Record'
        description: The details of the record
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-store:
    post:
      tags:
      - Store API
      description: delete store
      operationId: ApiController.DeleteStore
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Store'
        description: The details of the store
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-task:
    post:
      tags:
      - Task API
      description: delete task
      operationId: ApiController.DeleteTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Task'
        description: The details of the task
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-template:
    post:
      tags:
      - Template API
      description: delete template
      operationId: ApiController.DeleteTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Template'
        description: The details of the template
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-vector:
    post:
      tags:
      - Vector API
      description: delete vector
      operationId: ApiController.DeleteVector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Vector'
        description: The details of the vector
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-video:
    post:
      tags:
      - Video API
      description: delete video
      operationId: ApiController.DeleteVideo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Video'
        description: The details of the video
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /delete-workflow:
    post:
      tags:
      - Workflow API
      description: delete workflow
      operationId: ApiController.DeleteWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Workflow'
        description: The details of the workflow
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /deploy-application:
    post:
      tags:
      - Application API
      description: deploy application synchronously
      operationId: ApiController.DeployApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDeploymentRequest'
        description: The deployment request details
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /generate-text-to-speech-audio:
    post:
      tags:
      - TTS API
      description: convert text to speech
      operationId: ApiController.GenerateTextToSpeechAudio
      responses:
        '200':
          description: The audio data
          content:
            application/json:
              schema:
                type: array
                items:
                  format: byte
                  type: string
      requestBody:
        required: true
        description: The text to convert to speech
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/true'
  /generate-text-to-speech-audio-stream:
    get:
      tags:
      - TTS API
      description: convert text to speech with streaming
      operationId: ApiController.GenerateTextToSpeechAudioStream
      parameters:
      - in: query
        name: storeId
        description: The store ID
        required: true
        schema:
          type: string
      - in: query
        name: messageId
        description: The message ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{stream} string "An event stream of audio chunks in base64 format"'
  /get-Messages:
    get:
      tags:
      - Message API
      description: get Messages
      operationId: ApiController.GetMessages
      parameters:
      - in: query
        name: user
        description: The user of message
        required: true
        schema:
          type: string
      - in: query
        name: chat
        description: The chat of message
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Message'
  /get-account:
    get:
      tags:
      - Account API
      description: get account
      operationId: ApiController.GetAccount
      responses:
        '200':
          description: '{iamsdk} iamsdk.Claims The Response object'
  /get-active-file:
    get:
      tags:
      - File API
      description: get active file
      operationId: ApiController.GetActiveFile
      parameters:
      - in: query
        name: prefix
        description: The prefix of the file
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{string} string "get active file"'
  /get-activities:
    get:
      tags:
      - Activity API
      description: get activities
      operationId: ApiController.GetActivities
      parameters:
      - in: query
        name: days
        description: days count
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Activity'
  /get-answer:
    get:
      tags:
      - Message API
      description: get answer
      operationId: ApiController.GetAnswer
      parameters:
      - in: query
        name: provider
        description: The provider
        required: true
        schema:
          type: string
      - in: query
        name: question
        description: The question of message
        required: true
        schema:
          type: string
      - in: query
        name: framework
        description: The framework
        required: true
        schema:
          type: string
      - in: query
        name: video
        description: The video
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{string} string "answer message"'
  /get-application:
    get:
      tags:
      - Application API
      description: get application
      operationId: ApiController.GetApplication
      parameters:
      - in: query
        name: id
        description: The id of application
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Application'
  /get-application-status:
    get:
      tags:
      - Application API
      description: get application deployment status
      operationId: ApiController.GetApplicationStatus
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the application
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.DeploymentStatus'
  /get-applications:
    get:
      tags:
      - Application API
      description: get applications
      operationId: ApiController.GetApplications
      parameters:
      - in: query
        name: owner
        description: The owner of applications
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Application'
  /get-article:
    get:
      tags:
      - Article API
      description: get article
      operationId: ApiController.GetArticle
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of article
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Article'
  /get-articles:
    get:
      tags:
      - Article API
      description: get articles
      operationId: ApiController.GetArticles
      parameters:
      - in: query
        name: owner
        description: The owner of article
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Article'
  /get-chat:
    get:
      tags:
      - Chat API
      description: get chat
      operationId: ApiController.GetChat
      parameters:
      - in: query
        name: id
        description: The id of chat
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Chat'
  /get-chats:
    get:
      tags:
      - Chat API
      description: get chats
      operationId: ApiController.GetChats
      parameters:
      - in: query
        name: user
        description: The user of chat
        required: true
        schema:
          type: string
      - in: query
        name: field
        description: The field of chat
        required: true
        schema:
          type: string
      - in: query
        name: value
        description: The value of chat
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Chat'
  /get-connection:
    get:
      tags:
      - Connection API
      description: get connection
      operationId: ApiController.GetConnection
      parameters:
      - in: query
        name: id
        description: The id of connection
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Connection'
  /get-connections:
    get:
      tags:
      - Connection API
      description: get all connections
      operationId: ApiController.GetConnections
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The number of the page
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Connection'
  /get-container:
    get:
      tags:
      - Container API
      description: get container
      operationId: ApiController.GetContainer
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the container
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Container'
  /get-containers:
    get:
      tags:
      - Container API
      description: get all containers
      operationId: ApiController.GetContainers
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The number of the page
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Container'
  /get-form:
    get:
      tags:
      - Form API
      description: get form
      operationId: ApiController.GetForm
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of form
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Form'
  /get-form-data:
    get:
      tags:
      - Form API
      description: get forms
      operationId: ApiController.GetFormData
      parameters:
      - in: query
        name: owner
        description: The owner of form
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Form'
  /get-forms:
    get:
      tags:
      - Form API
      description: get forms
      operationId: ApiController.GetForms
      parameters:
      - in: query
        name: owner
        description: The owner of form
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Form'
  /get-global-articles:
    get:
      tags:
      - Article API
      description: get global articles
      operationId: ApiController.GetGlobalArticles
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Article'
  /get-global-chats:
    get:
      tags:
      - Chat API
      description: get global chats
      operationId: ApiController.GetGlobalChats
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Chat'
  /get-global-forms:
    get:
      tags:
      - Form API
      description: get global forms
      operationId: ApiController.GetGlobalForms
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Form'
  /get-global-messages:
    get:
      tags:
      - Message API
      description: get global messages
      operationId: ApiController.GetGlobalMessages
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Message'
  /get-global-providers:
    get:
      tags:
      - Provider API
      description: get global providers
      operationId: ApiController.GetGlobalProviders
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Provider'
  /get-global-stores:
    get:
      tags:
      - Store API
      description: get global stores
      operationId: ApiController.GetGlobalStores
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Store'
  /get-global-tasks:
    get:
      tags:
      - Task API
      description: get global tasks
      operationId: ApiController.GetGlobalTasks
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Task'
  /get-global-vectors:
    get:
      tags:
      - Vector API
      description: get global vectors
      operationId: ApiController.GetGlobalVectors
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Vector'
  /get-global-videos:
    get:
      tags:
      - Video API
      description: get global videos
      operationId: ApiController.GetGlobalVideos
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Video'
  /get-global-workflows:
    get:
      tags:
      - Workflow API
      description: get global workflows
      operationId: ApiController.GetGlobalWorkflows
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Workflow'
  /get-image:
    get:
      tags:
      - Image API
      description: get image
      operationId: ApiController.GetImage
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the image
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Image'
  /get-images:
    get:
      tags:
      - Image API
      description: get all images
      operationId: ApiController.GetImages
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The number of the page
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Image'
  /get-k8s-status:
    get:
      tags:
      - Deployment API
      description: get kubernetes cluster status
      operationId: ApiController.GetK8sStatus
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.K8sStatus'
  /get-machine:
    get:
      tags:
      - Machine API
      description: get machine
      operationId: ApiController.GetMachine
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the machine
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Machine'
  /get-machines:
    get:
      tags:
      - Machine API
      description: get all machines
      operationId: ApiController.GetMachines
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The number of the page
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Machine'
  /get-message:
    get:
      tags:
      - Message API
      description: get message
      operationId: ApiController.GetMessage
      parameters:
      - in: query
        name: id
        description: The id of message
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Message'
  /get-message-answer:
    get:
      tags:
      - Message API
      description: get message answer
      operationId: ApiController.GetMessageAnswer
      parameters:
      - in: query
        name: id
        description: The id of message
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{stream} string "An event stream of message answers in JSON format"'
  /get-node:
    get:
      tags:
      - Node API
      description: get node
      operationId: ApiController.GetNode
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the node
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Node'
  /get-node-tunnel:
    get:
      tags:
      - Connection API
      description: get node tunnel session
      operationId: ApiController.GetNodeTunnel
      parameters:
      - in: query
        name: width
        description: The width of the tunnel
        required: true
        schema:
          type: string
      - in: query
        name: height
        description: The height of the tunnel
        required: true
        schema:
          type: string
      - in: query
        name: dpi
        description: The dpi of the tunnel
        required: true
        schema:
          type: string
      - in: query
        name: connectionId
        description: The id of the connectionId
        required: true
        schema:
          type: string
      - in: query
        name: username
        description: The username for the tunnel
        required: true
        schema:
          type: string
      - in: query
        name: password
        description: The password for the tunnel
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
  /get-nodes:
    get:
      tags:
      - Node API
      description: get all nodes
      operationId: ApiController.GetNodes
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The number of the page
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Node'
  /get-permission:
    get:
      tags:
      - Permission API
      description: get permission
      operationId: ApiController.GetPermission
      parameters:
      - in: query
        name: id
        description: The id(owner/name) of permission
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iamsdk.Permission'
  /get-permissions:
    get:
      tags:
      - Permission API
      description: get permissions
      operationId: ApiController.GetPermissions
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/iamsdk.Permission'
  /get-pod:
    get:
      tags:
      - Pod API
      description: get pod
      operationId: ApiController.GetPod
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the pod
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Pod'
  /get-pods:
    get:
      tags:
      - Pod API
      description: get all pods
      operationId: ApiController.GetPods
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The number of the page
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Pod'
  /get-prometheus-info:
    get:
      tags:
      - System API
      description: get Prometheus Info
      operationId: ApiController.GetPrometheusInfo
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.PrometheusInfo'
  /get-provider:
    get:
      tags:
      - Provider API
      description: get provider
      operationId: ApiController.GetProvider
      parameters:
      - in: query
        name: id
        description: The id of provider
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Provider'
  /get-providers:
    get:
      tags:
      - Provider API
      description: get providers
      operationId: ApiController.GetProviders
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Provider'
  /get-range-usages:
    get:
      tags:
      - Usage API
      description: get range usages
      operationId: ApiController.GetRangeUsages
      parameters:
      - in: query
        name: count
        description: count of range usages
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Usage'
  /get-record:
    get:
      tags:
      - Record API
      description: get record
      operationId: ApiController.GetRecord
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the record
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Record'
  /get-records:
    get:
      tags:
      - Record API
      description: get all records
      operationId: ApiController.GetRecords
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The number of the page
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Record'
  /get-storage-providers:
    get:
      tags:
      - Storage Provider API
      description: get storage providers
      operationId: ApiController.GetStorageProviders
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Provider'
  /get-store:
    get:
      tags:
      - Store API
      description: get store
      operationId: ApiController.GetStore
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the store
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Store'
  /get-stores:
    get:
      tags:
      - Store API
      description: get stores
      operationId: ApiController.GetStores
      parameters:
      - in: query
        name: owner
        description: The owner of the store
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Store'
  /get-system-info:
    get:
      tags:
      - System API
      description: get system info like CPU and memory usage
      operationId: ApiController.GetSystemInfo
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.SystemInfo'
  /get-task:
    get:
      tags:
      - Task API
      description: get task
      operationId: ApiController.GetTask
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Task'
  /get-tasks:
    get:
      tags:
      - Task API
      description: get tasks
      operationId: ApiController.GetTasks
      parameters:
      - in: query
        name: owner
        description: The owner of task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Task'
  /get-template:
    get:
      tags:
      - Template API
      description: get template
      operationId: ApiController.GetTemplate
      parameters:
      - in: query
        name: id
        description: The id of template
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Template'
  /get-templates:
    get:
      tags:
      - Template API
      description: get templates
      operationId: ApiController.GetTemplates
      parameters:
      - in: query
        name: owner
        description: The owner of templates
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Template'
  /get-usages:
    get:
      tags:
      - Usage API
      description: get userTableInfos
      operationId: ApiController.GetUserTableInfos
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Usage'
  /get-users:
    get:
      tags:
      - Usage API
      description: get users
      operationId: ApiController.GetUsers
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /get-vectors:
    get:
      tags:
      - Vector API
      description: get vectors
      operationId: ApiController.GetVectors
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Vector'
  /get-version-info:
    get:
      tags:
      - System API
      description: get version info like IAM release version and commit ID
      operationId: ApiController.GetVersionInfo
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.VersionInfo'
  /get-video:
    get:
      tags:
      - Video API
      description: get video
      operationId: ApiController.GetVideo
      parameters:
      - in: query
        name: id
        description: The id of video
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Video'
  /get-videos:
    get:
      tags:
      - Video API
      description: get videos
      operationId: ApiController.GetVideos
      parameters:
      - in: query
        name: owner
        description: The owner of videos
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Video'
  /get-workflow:
    get:
      tags:
      - Workflow API
      description: get workflow
      operationId: ApiController.GetWorkflow
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of workflow
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Workflow'
  /get-workflows:
    get:
      tags:
      - Workflow API
      description: get workflows
      operationId: ApiController.GetWorkflows
      parameters:
      - in: query
        name: owner
        description: The owner of workflow
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Workflow'
  /health:
    get:
      tags:
      - System API
      description: check if the system is live
      operationId: ApiController.Health
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /process-speech-to-text:
    post:
      tags:
      - STT API
      description: convert speech to text
      operationId: ApiController.ProcessSpeechToText
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                audio:
                  type: string
                  format: binary
                  description: The audio file to convert to text
                storeId:
                  type: string
                  description: The store ID
              required:
              - audio
              - storeId
      responses:
        '200':
          description: The transcribed text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.SpeechToTextResponse'
  /query-record:
    get:
      tags:
      - Record API
      description: query record
      operationId: ApiController.QueryRecord
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the record
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Record'
  /query-record-second:
    get:
      tags:
      - Record API
      description: query record
      operationId: ApiController.QueryRecordSecond
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the record
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Record'
  /refresh-mcp-tools:
    post:
      tags:
      - Provider API
      description: refresh Mcp tools
      operationId: ApiController.RefreshMcpTools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Provider'
        description: The details of the provider
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /refresh-store-vectors:
    post:
      tags:
      - Store API
      description: refresh store vectors
      operationId: ApiController.RefreshStoreVectors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Store'
        description: The details of the store
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /signin:
    post:
      tags:
      - Account API
      description: sign in
      operationId: ApiController.Signin
      parameters:
      - in: query
        name: code
        description: code of account
        required: true
        schema:
          type: string
      - in: query
        name: state
        description: state of account
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{iamsdk} iamsdk.Claims The Response object'
  /signout:
    post:
      tags:
      - Account API
      description: sign out
      operationId: ApiController.Signout
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /start-connection:
    post:
      tags:
      - Connection API
      description: start connection
      operationId: ApiController.StartConnection
      parameters:
      - in: query
        name: id
        description: The id of connection
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
  /stop-connection:
    post:
      tags:
      - Connection API
      description: stop connection
      operationId: ApiController.StopConnection
      parameters:
      - in: query
        name: id
        description: The id of connection
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
  /undeploy-application:
    post:
      tags:
      - Application API
      description: undeploy application synchronously
      operationId: ApiController.UndeployApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDeploymentRequest'
        description: The deployment request details
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-application:
    post:
      tags:
      - Application API
      description: update application
      operationId: ApiController.UpdateApplication
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the application
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Application'
        description: The details of the application
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-article:
    post:
      tags:
      - Article API
      description: update article
      operationId: ApiController.UpdateArticle
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the article
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Article'
        description: The details of the article
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-chat:
    post:
      tags:
      - Chat API
      description: update Chat
      operationId: ApiController.UpdateChat
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the chat
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Chat'
        description: The details of the chat
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-connection:
    post:
      tags:
      - Connection API
      description: update connection
      operationId: ApiController.UpdateConnection
      parameters:
      - in: query
        name: id
        description: The id of connection
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Connection'
        description: The connection object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
  /update-container:
    post:
      tags:
      - Container API
      description: update container
      operationId: ApiController.UpdateContainer
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the container
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Container'
        description: The details of the container
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-file:
    post:
      tags:
      - File API
      description: update file
      operationId: ApiController.UpdateFile
      parameters:
      - in: query
        name: storeId
        description: The store id of the file
        required: true
        schema:
          type: string
      - in: query
        name: key
        description: The key of the file
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.File'
        description: The details of the File
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-form:
    post:
      tags:
      - Form API
      description: update form
      operationId: ApiController.UpdateForm
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the form
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Form'
        description: The details of the form
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-image:
    post:
      tags:
      - Image API
      description: update image
      operationId: ApiController.UpdateImage
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the image
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Image'
        description: The details of the image
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-machine:
    post:
      tags:
      - Machine API
      description: update machine
      operationId: ApiController.UpdateMachine
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the machine
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Machine'
        description: The details of the machine
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-message:
    post:
      tags:
      - Message API
      description: update message
      operationId: ApiController.UpdateMessage
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the message
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Message'
        description: The details of the message
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-node:
    post:
      tags:
      - Node API
      description: update node
      operationId: ApiController.UpdateNode
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the node
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Node'
        description: The details of the node
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-permission:
    post:
      tags:
      - Permission API
      description: update permission
      operationId: ApiController.UpdatePermission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iamsdk.Permission'
        description: The details of the permission
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-pod:
    post:
      tags:
      - Pod API
      description: update pod
      operationId: ApiController.UpdatePod
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the pod
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Pod'
        description: The details of the pod
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-provider:
    post:
      tags:
      - Provider API
      description: update provider
      operationId: ApiController.UpdateProvider
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the provider
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Provider'
        description: The details of the provider
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-record:
    post:
      tags:
      - Record API
      description: update record
      operationId: ApiController.UpdateRecord
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the record
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Record'
        description: The details of the record
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-store:
    post:
      tags:
      - Store API
      description: update store
      operationId: ApiController.UpdateStore
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the store
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Store'
        description: The details of the store
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-task:
    post:
      tags:
      - Task API
      description: update task
      operationId: ApiController.UpdateTask
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the task
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Task'
        description: The details of the task
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-template:
    post:
      tags:
      - Template API
      description: update template
      operationId: ApiController.UpdateTemplate
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the template
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Template'
        description: The details of the template
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-vector:
    post:
      tags:
      - Vector API
      description: update vector
      operationId: ApiController.UpdateVector
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the vector
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Vector'
        description: The details of the vector
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-video:
    post:
      tags:
      - Video API
      description: update video
      operationId: ApiController.UpdateVideo
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the video
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Video'
        description: The details of the video
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /update-workflow:
    post:
      tags:
      - Workflow API
      description: update workflow
      operationId: ApiController.UpdateWorkflow
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of the workflow
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Workflow'
        description: The details of the workflow
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /upload-file:
    post:
      tags:
      - File API
      description: upload file to IAM storage
      operationId: ApiController.UploadFile
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: The base64 encoded file data
                type:
                  type: string
                  description: The file type/extension
                name:
                  type: string
                  description: The file name
              required:
              - file
              - type
              - name
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /upload-video:
    post:
      tags:
      - Video API
      description: upload video
      operationId: ApiController.UploadVideo
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The video file to upload
              required:
              - file
      responses:
        '200':
          description: '"The fileId of the uploaded video"'
          content:
            application/json:
              schema:
                type: string
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API-Key
      description: Bearer authentication with API key
  schemas:
    199312.File:
      title: File
      type: object
    202307.Properties:
      title: Properties
      type: object
    ApplicationDeploymentRequest:
      title: ApplicationDeploymentRequest
      type: object
    Response:
      title: Response
      type: object
    agent.McpTools:
      title: McpTools
      type: object
      properties:
        isEnabled:
          type: boolean
        serverName:
          type: string
        tools:
          type: string
    iamsdk.Permission:
      title: Permission
      type: object
    controllers.Response:
      title: Response
      type: object
      properties:
        data:
          additionalProperties:
            description: support string, struct or []struct
            type: string
        data2:
          additionalProperties:
            description: support string, struct or []struct
            type: string
        msg:
          type: string
        status:
          type: string
    controllers.SpeechToTextResponse:
      title: SpeechToTextResponse
      type: object
    object:
      title: object
      type: object
    object.Activity:
      title: Activity
      type: object
      properties:
        FieldCount:
          additionalProperties:
            type: integer
            format: int64
        date:
          type: string
    object.Application:
      title: Application
      type: object
      properties:
        createdTime:
          type: string
        description:
          type: string
        displayName:
          type: string
        name:
          type: string
        namespace:
          type: string
        owner:
          type: string
        parameters:
          type: string
        status:
          type: string
        template:
          type: string
        updatedTime:
          type: string
    object.Article:
      title: Article
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/object.Block'
        createdTime:
          type: string
        displayName:
          type: string
        glossary:
          type: array
          items:
            type: string
        name:
          type: string
        owner:
          type: string
        provider:
          type: string
        text:
          type: string
        type:
          type: string
    object.Block:
      title: Block
      type: object
      properties:
        prompt:
          type: string
        state:
          type: string
        text:
          type: string
        textEn:
          type: string
        type:
          type: string
    object.Chat:
      title: Chat
      type: object
      properties:
        category:
          type: string
        clientIp:
          type: string
        clientIpDesc:
          type: string
        createdTime:
          type: string
        currency:
          type: string
        displayName:
          type: string
        isDeleted:
          type: boolean
        isHidden:
          type: boolean
        messageCount:
          type: integer
          format: int64
        modelProvider:
          type: string
        name:
          type: string
        needTitle:
          type: boolean
        organization:
          type: string
        owner:
          type: string
        price:
          type: number
          format: double
        store:
          type: string
        tokenCount:
          type: integer
          format: int64
        type:
          type: string
        updatedTime:
          type: string
        user:
          type: string
        user1:
          type: string
        user2:
          type: string
        userAgent:
          type: string
        userAgentDesc:
          type: string
        users:
          type: array
          items:
            type: string
    object.Connection:
      title: Connection
      type: object
      properties:
        clientIp:
          type: string
        clientIpDesc:
          type: string
        code:
          type: integer
          format: int64
        commandCount:
          type: integer
          format: int64
        connectionId:
          type: string
        createdTime:
          type: string
        creator:
          type: string
        endTime:
          type: string
        height:
          type: integer
          format: int64
        message:
          type: string
        mode:
          type: string
        name:
          type: string
        node:
          type: string
        operations:
          type: array
          items:
            type: string
        owner:
          type: string
        protocol:
          type: string
        recording:
          type: string
        reviewed:
          type: boolean
        startTime:
          type: string
        status:
          type: string
        userAgent:
          type: string
        userAgentDesc:
          type: string
        width:
          type: integer
          format: int64
    object.Container:
      title: Container
      type: object
      properties:
        command:
          type: string
        createdTime:
          type: string
        displayName:
          type: string
        image:
          type: string
        imageId:
          type: string
        name:
          type: string
        owner:
          type: string
        ports:
          type: string
        provider:
          type: string
        sizeRootFs:
          type: integer
          format: int64
        sizeRw:
          type: integer
          format: int64
        state:
          type: string
        status:
          type: string
    object.DeploymentStatus:
      title: DeploymentStatus
      type: object
    object.File:
      title: File
      type: object
      properties:
        children:
          type: array
          items:
            $ref: '#/components/schemas/object.File'
        createdTime:
          type: string
        isLeaf:
          type: boolean
        key:
          type: string
        size:
          type: integer
          format: int64
        title:
          type: string
        url:
          type: string
    object.Form:
      title: Form
      type: object
      properties:
        createdTime:
          type: string
        displayName:
          type: string
        formItems:
          type: array
          items:
            $ref: '#/components/schemas/object.FormItem'
        name:
          type: string
        owner:
          type: string
        position:
          type: string
        type:
          type: string
        url:
          type: string
    object.FormItem:
      title: FormItem
      type: object
      properties:
        label:
          type: string
        name:
          type: string
        type:
          type: string
        width:
          type: string
    object.GaugeVecInfo:
      title: GaugeVecInfo
      type: object
      properties:
        method:
          type: string
        name:
          type: string
        throughput:
          type: number
          format: double
    object.HistogramVecInfo:
      title: HistogramVecInfo
      type: object
      properties:
        count:
          type: integer
          format: int64
        latency:
          type: string
        method:
          type: string
        name:
          type: string
    object.Image:
      title: Image
      type: object
      properties:
        ImageFamily:
          type: string
        ImageName:
          type: string
        ImageOwnerAlias:
          type: string
        ImageOwnerId:
          type: integer
          format: int64
        ImageVersion:
          type: string
        IsCopied:
          type: boolean
        IsPublic:
          type: boolean
        IsSelfShared:
          type: string
        IsSubscribed:
          type: boolean
        IsSupportCloudinit:
          type: boolean
        IsSupportIoOptimized:
          type: boolean
        LoginAsNonRootSupported:
          type: boolean
        OSNameEn:
          type: string
        OSType:
          type: string
        ProductCode:
          type: string
        ResourceGroupId:
          type: string
        SupplierName:
          type: string
        Usage:
          type: string
        bootMode:
          type: string
        category:
          type: string
        createdTime:
          type: string
        description:
          type: string
        displayName:
          type: string
        imageId:
          type: string
        name:
          type: string
        os:
          type: string
        owner:
          type: string
        platform:
          type: string
        progress:
          type: string
        provider:
          type: string
        remotePassword:
          type: string
        remotePort:
          type: integer
          format: int64
        remoteProtocol:
          type: string
        remoteUsername:
          type: string
        size:
          type: string
        state:
          type: string
        systemArchitecture:
          type: string
    object.K8sStatus:
      title: K8sStatus
      type: object
    object.Label:
      title: Label
      type: object
      properties:
        endTime:
          type: number
          format: double
        id:
          type: string
        speaker:
          type: string
        startTime:
          type: number
          format: double
        tag1:
          type: string
        tag2:
          type: string
        tag3:
          type: string
        text:
          type: string
        type:
          type: string
        user:
          type: string
    object.Machine:
      title: Machine
      type: object
      properties:
        category:
          type: string
        cpuSize:
          type: string
        createdTime:
          type: string
        displayName:
          type: string
        expireTime:
          type: string
        id:
          type: string
        image:
          type: string
        memSize:
          type: string
        name:
          type: string
        os:
          type: string
        owner:
          type: string
        privateIp:
          type: string
        provider:
          type: string
        publicIp:
          type: string
        region:
          type: string
        remotePassword:
          type: string
        remotePort:
          type: integer
          format: int64
        remoteProtocol:
          type: string
        remoteUsername:
          type: string
        size:
          type: string
        state:
          type: string
        tag:
          type: string
        type:
          type: string
        updatedTime:
          type: string
        zone:
          type: string
    object.Message:
      title: Message
      type: object
      properties:
        author:
          type: string
        chat:
          type: string
        comment:
          type: string
        createdTime:
          type: string
        currency:
          type: string
        dislikeUsers:
          type: array
          items:
            type: string
        embeddingProvider:
          type: string
        errorText:
          type: string
        fileName:
          type: string
        isAlerted:
          type: boolean
        isDeleted:
          type: boolean
        isHidden:
          type: boolean
        isRegenerated:
          type: boolean
        likeUsers:
          type: array
          items:
            type: string
        modelProvider:
          type: string
        name:
          type: string
        needNotify:
          type: boolean
        organization:
          type: string
        owner:
          type: string
        price:
          type: number
          format: double
        reasonText:
          type: string
        replyTo:
          type: string
        store:
          type: string
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/object.Suggestion'
        text:
          type: string
        textTokenCount:
          type: integer
          format: int64
        tokenCount:
          type: integer
          format: int64
        user:
          type: string
        vectorScores:
          type: array
          items:
            $ref: '#/components/schemas/object.VectorScore'
    object.Node:
      title: Node
      type: object
      properties:
        autoQuery:
          type: boolean
        category:
          type: string
        cpuSize:
          type: string
        createdTime:
          type: string
        description:
          type: string
        displayName:
          type: string
        enableRemoteApp:
          type: boolean
        isPermanent:
          type: boolean
        language:
          type: string
        machineName:
          type: string
        memSize:
          type: string
        name:
          type: string
[...]
