openapi: 3.1.0
info:
  title: Hanzo Registry API
  description: |
    Hanzo Registry provides a container image registry with vulnerability scanning,
    image signing, access control, and replication.

    Features:
    - Multi-tenant project isolation
    - Automated vulnerability scanning on push
    - Webhook-driven CI/CD integration
    - Storage quota management per project
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary

servers:
  - url: https://registry.hanzo.ai
    description: Production
  - url: https://api.hanzo.ai/v1/registry
    description: Gateway Proxy

tags:
  - name: Projects
    description: Project management (tenancy boundary for repositories)
  - name: Repositories
    description: Container image repositories within projects
  - name: Artifacts
    description: OCI artifacts (images, Helm charts, WASM modules)
  - name: Scans
    description: Vulnerability scanning
  - name: Webhooks
    description: Event notification webhooks
  - name: Quotas
    description: Storage quota management
  - name: Health
    description: Service health

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: HANZO_API_KEY
      description: Hanzo API Key (Bearer hk-...)

  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

    Project:
      type: object
      properties:
        project_id:
          type: integer
        name:
          type: string
        public:
          type: boolean
          description: Whether the project is publicly accessible
        owner_id:
          type: integer
        repo_count:
          type: integer
        metadata:
          type: object
          properties:
            auto_scan:
              type: string
              enum: ["true", "false"]
            severity:
              type: string
              enum: [none, low, medium, high, critical]
            reuse_sys_cve_allowlist:
              type: string
              enum: ["true", "false"]
        creation_time:
          type: string
          format: date-time
        update_time:
          type: string
          format: date-time

    ProjectCreate:
      type: object
      required:
        - project_name
      properties:
        project_name:
          type: string
          pattern: ^[a-z0-9][a-z0-9._-]{0,127}$
        public:
          type: boolean
          default: false
        storage_limit:
          type: integer
          format: int64
          description: Storage quota in bytes (-1 for unlimited)
        metadata:
          type: object
          properties:
            auto_scan:
              type: string
              enum: ["true", "false"]

    Repository:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          description: Full repository name (project/repo)
        artifact_count:
          type: integer
        pull_count:
          type: integer
        creation_time:
          type: string
          format: date-time
        update_time:
          type: string
          format: date-time

    Artifact:
      type: object
      properties:
        id:
          type: integer
        digest:
          type: string
          description: SHA256 content digest
        size:
          type: integer
          format: int64
        media_type:
          type: string
        manifest_media_type:
          type: string
        type:
          type: string
          enum: [IMAGE, CHART, WASM, UNKNOWN]
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        push_time:
          type: string
          format: date-time
        pull_time:
          type: string
          format: date-time
        scan_overview:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ScanOverview'

    Tag:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        artifact_id:
          type: integer
        push_time:
          type: string
          format: date-time
        immutable:
          type: boolean

    ScanOverview:
      type: object
      properties:
        report_id:
          type: string
        scan_status:
          type: string
          enum: [Pending, Queued, Running, Success, Error, Stopped]
        severity:
          type: string
          enum: [None, Low, Medium, High, Critical]
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        complete_percent:
          type: integer
        summary:
          type: object
          properties:
            total:
              type: integer
            fixable:
              type: integer
            critical:
              type: integer
            high:
              type: integer
            medium:
              type: integer
            low:
              type: integer

    ScanReport:
      type: object
      properties:
        report_id:
          type: string
        scan_status:
          type: string
        severity:
          type: string
        vulnerabilities:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: CVE identifier
              package:
                type: string
              version:
                type: string
              fix_version:
                type: string
              severity:
                type: string
              description:
                type: string
              links:
                type: array
                items:
                  type: string
                  format: uri

    Webhook:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        project_id:
          type: integer
        enabled:
          type: boolean
        event_types:
          type: array
          items:
            type: string
            enum:
              - PUSH_ARTIFACT
              - PULL_ARTIFACT
              - DELETE_ARTIFACT
              - SCANNING_COMPLETED
              - SCANNING_FAILED
              - QUOTA_EXCEEDED
        targets:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [http, slack]
              address:
                type: string
                format: uri
              auth_header:
                type: string
              skip_cert_verify:
                type: boolean
        creation_time:
          type: string
          format: date-time

    WebhookCreate:
      type: object
      required:
        - name
        - event_types
        - targets
      properties:
        name:
          type: string
        enabled:
          type: boolean
          default: true
        event_types:
          type: array
          items:
            type: string
        targets:
          type: array
          items:
            type: object
            required:
              - type
              - address
            properties:
              type:
                type: string
              address:
                type: string
                format: uri
              auth_header:
                type: string
              skip_cert_verify:
                type: boolean

    Quota:
      type: object
      properties:
        id:
          type: integer
        ref:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            type:
              type: string
        hard:
          type: object
          properties:
            storage:
              type: integer
              format: int64
              description: Storage limit in bytes
        used:
          type: object
          properties:
            storage:
              type: integer
              format: int64
              description: Storage used in bytes

  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  # Health
  /health:
    get:
      tags:
        - Health
      summary: Health check
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy]

  # Projects
  /projects:
    get:
      tags:
        - Projects
      summary: List projects
      operationId: listProjects
      parameters:
        - name: name
          in: query
          schema:
            type: string
          description: Filter by project name (fuzzy match)
        - name: public
          in: query
          schema:
            type: boolean
          description: Filter by public/private
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
            default: creation_time
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
          headers:
            X-Total-Count:
              schema:
                type: integer
              description: Total number of projects
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Projects
      summary: Create project
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                type: object
          headers:
            Location:
              schema:
                type: string
              description: URL of the created project
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{name}:
    get:
      tags:
        - Projects
      summary: Get project
      operationId: getProject
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Projects
      summary: Update project
      operationId: updateProject
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                public:
                  type: boolean
                storage_limit:
                  type: integer
                  format: int64
                metadata:
                  type: object
                  properties:
                    auto_scan:
                      type: string
                    severity:
                      type: string
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Projects
      summary: Delete project
      operationId: deleteProject
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project deleted
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'

  # Repositories
  /projects/{name}/repositories:
    get:
      tags:
        - Repositories
      summary: List repositories
      operationId: listRepositories
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
          description: Search query
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, pull_count, update_time]
      responses:
        '200':
          description: List of repositories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Repository'
          headers:
            X-Total-Count:
              schema:
                type: integer
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{name}/repositories/{repo}:
    get:
      tags:
        - Repositories
      summary: Get repository
      operationId: getRepository
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Repository details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Repositories
      summary: Delete repository
      operationId: deleteRepository
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Repository deleted
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'

  # Artifacts
  /projects/{name}/repositories/{repo}/artifacts:
    get:
      tags:
        - Artifacts
      summary: List artifacts
      operationId: listArtifacts
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [IMAGE, CHART, WASM]
          description: Filter by artifact type
        - name: with_tag
          in: query
          schema:
            type: boolean
            default: true
        - name: with_scan_overview
          in: query
          schema:
            type: boolean
            default: false
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of artifacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Artifact'
          headers:
            X-Total-Count:
              schema:
                type: integer
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{name}/repositories/{repo}/artifacts/{digest}:
    get:
      tags:
        - Artifacts
      summary: Get artifact
      operationId: getArtifact
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: digest
          in: path
          required: true
          schema:
            type: string
          description: Artifact digest (sha256:...)
        - name: with_scan_overview
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Artifact details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Artifacts
      summary: Delete artifact
      operationId: deleteArtifact
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: digest
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Artifact deleted
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'

  # Tags
  /projects/{name}/repositories/{repo}/artifacts/{digest}/tags:
    get:
      tags:
        - Artifacts
      summary: List tags
      operationId: listTags
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: digest
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'

  /projects/{name}/repositories/{repo}/artifacts/{digest}/tags/{tag}:
    post:
      tags:
        - Artifacts
      summary: Create tag
      operationId: createTag
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: digest
          in: path
          required: true
          schema:
            type: string
        - name: tag
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Tag created
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      tags:
        - Artifacts
      summary: Delete tag
      operationId: deleteTag
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: digest
          in: path
          required: true
          schema:
            type: string
        - name: tag
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tag deleted
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'

  # Scans
  /projects/{name}/repositories/{repo}/artifacts/{digest}/scan:
    post:
      tags:
        - Scans
      summary: Trigger vulnerability scan
      operationId: triggerScan
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: digest
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Scan triggered
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{name}/repositories/{repo}/artifacts/{digest}/scan/report:
    get:
      tags:
        - Scans
      summary: Get scan report
      operationId: getScanReport
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: digest
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scan report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanReport'
        '404':
          $ref: '#/components/responses/NotFound'

  # Webhooks
  /webhooks:
    get:
      tags:
        - Webhooks
      summary: List webhooks
      operationId: listWebhooks
      parameters:
        - name: project_id
          in: query
          schema:
            type: integer
          description: Filter by project ID
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'

    post:
      tags:
        - Webhooks
      summary: Create webhook
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'

  /webhooks/{id}:
    get:
      tags:
        - Webhooks
      summary: Get webhook
      operationId: getWebhook
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Webhooks
      summary: Update webhook
      operationId: updateWebhook
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Webhooks
      summary: Delete webhook
      operationId: deleteWebhook
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'

  # Quotas
  /quotas:
    get:
      tags:
        - Quotas
      summary: List storage quotas
      operationId: listQuotas
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 10
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of quotas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Quota'
        '401':
          $ref: '#/components/responses/Unauthorized'
