openapi: 3.1.0
info:
  title: Hanzo Git API
  description: |
    S3-backed Git hosting native to the Hanzo Cloud binary — the `/v1/git/*`
    surface served by `hanzoai/cloud/clients/git`. A repo is the Git layer
    (source code) scoped under an org (gateway-minted `X-Org-Id`, HIP-0026) and
    an optional project sub-scope (`X-Project-Id`); tenancy is enforced on every
    query so one tenant can never read, clone, push to, or delete another's.

    The control plane (`/v1/git/repos`, `/v1/git/usage`, `/v1/git/keys`) is
    JSON. The smart-HTTP transport routes (`.../info/refs`,
    `.../git-upload-pack`, `.../git-receive-pack`) speak the native Git wire
    protocol so `git clone` / `git fetch` / `git push` work against
    `https://api.hanzo.ai/v1/git/<org>/<repo>.git`.

    Git over SSH is served alongside smart-HTTP:
    `git clone git@git.hanzo.ai:<org>/<repo>.git`. Per-user SSH public keys are
    registered via `/v1/git/keys`; the presented key resolves (by SHA256
    fingerprint) to its owning org and drives the SAME pack code path as HTTPS.
    Every `Repo` carries both `cloneUrl` (HTTPS) and `sshUrl` (SSH).

    ZAP transport: the control plane is also reachable over the shared
    ZAP-over-WebSocket plane at `/zap` (binary ZAP frames, not REST). The ZAP
    procedures `git/zap/createRepo`, `git/zap/listRepos`, `git/zap/getRepo`,
    `git/zap/deleteRepo`, and `git/zap/usage` are thin adapters over the SAME
    core the REST handlers call — one implementation, two transports (no gRPC).

    Client-less push: `/v1/git/repos/{name}/push` builds a commit from a set of
    posted files and fires the git-push-to-deploy build exactly as a real
    receive-pack would — for builders (e.g. hanzo.app) with no local git client.
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
  - url: https://api.hanzo.ai
    description: Hanzo Gateway
tags:
  - name: Repos
    description: Repository lifecycle (create, list, detail, delete, client-less push)
  - name: SSH Keys
    description: Per-user SSH public keys for `git clone git@git.hanzo.ai:...`
  - name: Usage
    description: Per-repo + total storage bytes (metering)
  - name: Smart HTTP
    description: Native Git wire protocol (clone / fetch / push)
security:
  - bearerAuth: []
paths:
  /v1/git/repos:
    post:
      tags: [Repos]
      summary: Create a bare repo
      operationId: createRepo
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateRepo' }
      responses:
        '201': { description: Repo created, content: { application/json: { schema: { $ref: '#/components/schemas/Repo' } } } }
        '400': { description: Invalid name/project/description }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: Repo name already exists in this scope }
    get:
      tags: [Repos]
      summary: List the tenant's repos
      operationId: listRepos
      responses:
        '200': { description: Repos, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: '#/components/schemas/Repo' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/git/usage:
    get:
      tags: [Usage]
      summary: Per-repo + total storage bytes for the tenant
      operationId: getGitUsage
      responses:
        '200': { description: Usage rollup, content: { application/json: { schema: { $ref: '#/components/schemas/Usage' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/git/repos/{name}:
    parameters:
      - { name: name, in: path, required: true, schema: { type: string }, description: 'Repo name (a trailing ".git" is stripped)' }
    get:
      tags: [Repos]
      summary: Repo detail (branches + resolved HEAD)
      operationId: getRepo
      responses:
        '200': { description: Repo, content: { application/json: { schema: { $ref: '#/components/schemas/Repo' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Repo not found }
    delete:
      tags: [Repos]
      summary: Delete a repo and purge its storage
      operationId: deleteRepo
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Repo not found }

  /v1/git/repos/{name}/push:
    parameters:
      - { name: name, in: path, required: true, schema: { type: string }, description: 'Repo name (a trailing ".git" is stripped)' }
    post:
      tags: [Repos]
      summary: Client-less push (build a commit from posted files)
      description: |
        Builds a tree + commit from the posted files, advances the branch ref,
        and fires the git-push-to-deploy build exactly as a real receive-pack
        would — for builders with no local git client. Creates the repo on the
        first push. File content is UTF-8 by default, or base64 when the file's
        `encoding` is `base64`.
      operationId: gitPush
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PushRequest' }
      responses:
        '200': { description: Pushed, content: { application/json: { schema: { $ref: '#/components/schemas/PushResult' } } } }
        '400': { description: Invalid branch, path, files, or encoding }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/git/keys:
    post:
      tags: [SSH Keys]
      summary: Register an SSH public key
      description: |
        Registers an OpenSSH public key for the tenant. The key is validated,
        canonicalized, and stored with its SHA256 fingerprint (the global unique
        handle). A key belongs to exactly one org; re-registering it under
        another org is a 409.
      operationId: registerGitKey
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterKey' }
      responses:
        '201': { description: Key registered, content: { application/json: { schema: { $ref: '#/components/schemas/Key' } } } }
        '400': { description: Missing or invalid public key }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: This SSH key is already registered }
    get:
      tags: [SSH Keys]
      summary: List the tenant's SSH keys
      operationId: listGitKeys
      responses:
        '200': { description: Keys, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: '#/components/schemas/Key' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/git/keys/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string }, description: Key id }
    delete:
      tags: [SSH Keys]
      summary: Remove an SSH key
      operationId: deleteGitKey
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Key not found }

  /v1/git/{org}/{repo}/info/refs:
    get:
      tags: [Smart HTTP]
      summary: Git smart-HTTP ref advertisement
      description: The ref-advertisement phase. `?service=` selects git-upload-pack (fetch) or git-receive-pack (push).
      operationId: gitInfoRefs
      parameters:
        - { name: org, in: path, required: true, schema: { type: string } }
        - { name: repo, in: path, required: true, schema: { type: string } }
        - { name: service, in: query, required: true, schema: { type: string, enum: [git-upload-pack, git-receive-pack] } }
      responses:
        '200':
          description: pkt-line ref advertisement
          content:
            application/x-git-upload-pack-advertisement: { schema: { type: string, format: binary } }
            application/x-git-receive-pack-advertisement: { schema: { type: string, format: binary } }
        '400': { description: service must be git-upload-pack or git-receive-pack }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Repo not found }

  /v1/git/{org}/{repo}/git-upload-pack:
    post:
      tags: [Smart HTTP]
      summary: Git upload-pack (clone / fetch)
      operationId: gitUploadPack
      parameters:
        - { name: org, in: path, required: true, schema: { type: string } }
        - { name: repo, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/x-git-upload-pack-request: { schema: { type: string, format: binary } }
      responses:
        '200': { description: Packfile result, content: { application/x-git-upload-pack-result: { schema: { type: string, format: binary } } } }
        '400': { description: Malformed upload-pack request }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Repo not found }
        '413': { description: Request body exceeds 256 MiB }

  /v1/git/{org}/{repo}/git-receive-pack:
    post:
      tags: [Smart HTTP]
      summary: Git receive-pack (push)
      operationId: gitReceivePack
      parameters:
        - { name: org, in: path, required: true, schema: { type: string } }
        - { name: repo, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/x-git-receive-pack-request: { schema: { type: string, format: binary } }
      responses:
        '200': { description: report-status, content: { application/x-git-receive-pack-result: { schema: { type: string, format: binary } } } }
        '400': { description: Malformed receive-pack request }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Repo not found }
        '413': { description: Request body exceeds 256 MiB }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: IAM-issued JWT or `hk-` Cloud API key.
  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
  schemas:
    CreateRepo:
      type: object
      required: [name]
      properties:
        name: { type: string, description: 'Repo name; must match ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$' }
        project: { type: string, description: Optional project sub-scope (else the X-Project-Id header) }
        description: { type: string, maxLength: 4096 }
    Repo:
      type: object
      properties:
        id: { type: string }
        org: { type: string }
        project: { type: string }
        name: { type: string }
        description: { type: string }
        defaultBranch: { type: string, example: main }
        branches: { type: array, items: { type: string } }
        head: { type: string, description: Resolved HEAD commit hash }
        cloneUrl: { type: string, format: uri, description: 'HTTPS clone URL', example: 'https://api.hanzo.ai/v1/git/acme/code.git' }
        sshUrl: { type: string, description: 'SSH clone URL (scp-style)', example: 'git@git.hanzo.ai:acme/code.git' }
        sizeBytes: { type: integer, format: int64 }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    UsageRepo:
      type: object
      properties:
        name: { type: string }
        project: { type: string }
        sizeBytes: { type: integer, format: int64 }
    Usage:
      type: object
      properties:
        org: { type: string }
        totalBytes: { type: integer, format: int64 }
        repos: { type: array, items: { $ref: '#/components/schemas/UsageRepo' } }
    RegisterKey:
      type: object
      required: [publicKey]
      properties:
        title: { type: string, description: Human label; falls back to the key comment, maxLength: 256 }
        publicKey: { type: string, description: 'OpenSSH authorized-key line', example: 'ssh-ed25519 AAAAC3Nza... user@host' }
    Key:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        publicKey: { type: string, description: Canonical OpenSSH authorized-key line }
        fingerprint: { type: string, description: 'SHA256 fingerprint (the stable handle)', example: 'SHA256:abc123...' }
        createdAt: { type: string, format: date-time }
    PushFile:
      type: object
      required: [path, content]
      properties:
        path: { type: string, description: 'Repo-relative path (no leading slash, no traversal)', example: 'src/index.js' }
        content: { type: string, description: 'File content; UTF-8 by default, base64 when encoding=base64' }
        encoding: { type: string, enum: [utf-8, base64], description: 'Content encoding (default utf-8)' }
    PushRequest:
      type: object
      required: [files]
      properties:
        branch: { type: string, description: 'Target branch (default main)', example: main }
        message: { type: string, description: Commit message }
        files: { type: array, items: { $ref: '#/components/schemas/PushFile' } }
    PushResult:
      type: object
      properties:
        commit: { type: string, description: New commit hash }
        branch: { type: string }
        cloneUrl: { type: string, format: uri }
        sshUrl: { type: string, example: 'git@git.hanzo.ai:acme/app.git' }
