openapi: 3.1.0
info:
  title: Hanzo Integrations API
  description: |
    Generic, provider-agnostic OAuth connector plane for Hanzo Cloud — the
    `/v1/integrations/*` surface served by the cloud `integrations` subsystem
    (`hanzoai/cloud/clients/integrations`). One framework, N providers: an org
    connects a third-party account (Slack today; GitHub scaffolded), the callback
    seals the resulting per-org tokens into KMS custody, and the store keeps only
    non-secret connection metadata. Also hosts the Slack `@hanzo` agent front-door
    (events + slash commands) and the per-user account-link browser flow — those
    legs authenticate INSIDE the handler (HMAC-signed body / `__Host-` cookies +
    state), not with a bearer token.
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
  - url: https://api.hanzo.ai
    description: Hanzo Gateway
tags:
  - name: Providers
    description: Connectable third-party providers and per-org connection status
  - name: OAuth
    description: OAuth connect/callback/disconnect flow
  - name: Slack
    description: Slack agent webhooks and per-user account link
security:
  - bearerAuth: []
paths:
  /v1/integrations:
    get:
      tags: [Providers]
      summary: List providers with this org's connection status
      operationId: listProviders
      responses:
        '200': { description: Providers, content: { application/json: { schema: { type: object, properties: { providers: { type: array, items: { $ref: '#/components/schemas/ProviderView' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/integrations/slack/events:
    post:
      tags: [Slack]
      summary: Slack Events API webhook
      operationId: slackEvents
      description: Public at the JWT layer; authenticated inside the handler by HMAC-SHA256 over the raw body with the Slack signing secret. Handles the `url_verification` challenge and routes `app_mention`/`message` events to an on-behalf-of agent run.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SlackEventEnvelope' }
      responses:
        '200': { description: "Acknowledged (challenge echo, or empty ack)" }

  /v1/integrations/slack/commands:
    post:
      tags: [Slack]
      summary: Slack slash command webhook
      operationId: slackCommands
      description: Public at the JWT layer; HMAC-verified inside the handler. Accepts the Slack `application/x-www-form-urlencoded` slash-command payload.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                command: { type: string }
                text: { type: string }
                team_id: { type: string }
                user_id: { type: string }
                channel_id: { type: string }
                response_url: { type: string }
      responses:
        '200': { description: Slash command acknowledged }

  /v1/integrations/slack/link:
    get:
      tags: [Slack]
      summary: Begin the per-user account link (leg 1 — Slack sign-in)
      operationId: slackLinkStart
      description: Sets a `__Host-` init cookie and redirects to Slack sign-in. State-authed (no bearer).
      security: []
      parameters:
        - { name: state, in: query, required: true, schema: { type: string }, description: "Signed, single-use link state" }
      responses:
        '302': { description: Redirect to Slack sign-in }
        '400': { description: Invalid or expired link }
        '503': { description: Account linking not configured }

  /v1/integrations/slack/link/slack:
    get:
      tags: [Slack]
      summary: Slack sign-in callback (leg 2)
      operationId: slackLinkSlack
      description: Requires the leg-1 init cookie to match the sign-in state before exchanging the code; sets the `__Host-` link cookie and redirects to hanzo.id OIDC.
      security: []
      parameters:
        - { name: code, in: query, schema: { type: string } }
        - { name: state, in: query, schema: { type: string } }
        - { name: error, in: query, schema: { type: string } }
      responses:
        '302': { description: Redirect to hanzo.id OIDC authorize }
        '400': { description: "Invalid state, session mismatch, or sign-in failed" }
        '503': { description: Account linking not configured }

  /v1/integrations/slack/link/callback:
    get:
      tags: [Slack]
      summary: hanzo.id OIDC callback — bind Slack↔Hanzo (leg 3)
      operationId: slackLinkCallback
      description: Reads the Slack-verified (team,user) from the `__Host-` link cookie, exchanges the OIDC code, and seals the refresh token into the workspace org's KMS namespace. Returns an HTML confirmation page.
      security: []
      parameters:
        - { name: code, in: query, schema: { type: string } }
        - { name: state, in: query, schema: { type: string } }
        - { name: error, in: query, schema: { type: string } }
      responses:
        '200': { description: Account linked, content: { text/html: { schema: { type: string } } } }
        '400': { description: Missing/mismatched state or workspace not connected }
        '503': { description: Secret store unavailable or linking not configured }

  /v1/integrations/{provider}:
    parameters:
      - { name: provider, in: path, required: true, schema: { type: string }, description: "Provider slug (e.g. slack, github)" }
    get:
      tags: [Providers]
      summary: Get one provider with this org's connection status
      operationId: getProvider
      responses:
        '200': { description: Provider, content: { application/json: { schema: { $ref: '#/components/schemas/ProviderView' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Unknown provider }

  /v1/integrations/{provider}/connect:
    parameters:
      - { name: provider, in: path, required: true, schema: { type: string } }
    post:
      tags: [OAuth]
      summary: Begin an OAuth flow (returns the provider authorize URL)
      operationId: connectProvider
      responses:
        '200': { description: Authorize URL, content: { application/json: { schema: { type: object, properties: { authorizeUrl: { type: string } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Unknown provider }
        '503': { description: "Provider not configured, or KMS not ready" }

  /v1/integrations/{provider}/callback:
    parameters:
      - { name: provider, in: path, required: true, schema: { type: string } }
    get:
      tags: [OAuth]
      summary: OAuth return — seal tokens and redirect to console
      operationId: providerCallback
      description: Public, state-authed. The org comes only from the signed, single-use state. Always 302s back to the console (success or labeled failure).
      security: []
      parameters:
        - { name: state, in: query, required: true, schema: { type: string } }
        - { name: code, in: query, schema: { type: string } }
        - { name: error, in: query, schema: { type: string } }
      responses:
        '302': { description: Redirect to console (connected or error) }

  /v1/integrations/{provider}/disconnect:
    parameters:
      - { name: provider, in: path, required: true, schema: { type: string } }
    post:
      tags: [OAuth]
      summary: Revoke and forget an org's connection (idempotent)
      operationId: disconnectProvider
      responses:
        '200': { description: Disconnected, content: { application/json: { schema: { type: object, properties: { disconnected: { type: boolean } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Unknown provider }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: IAM-issued JWT or `hk-` Cloud API key.
  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
  schemas:
    ProviderView:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        category: { type: string }
        available: { type: boolean, description: App credentials configured on this deployment }
        connected: { type: boolean, description: This org has a connection }
        connection: { $ref: '#/components/schemas/ConnectionView' }
    ConnectionView:
      type: object
      properties:
        account: { type: string, description: Human account label (e.g. Slack team name) }
        externalId: { type: string, description: Provider account id (e.g. Slack team id) }
        scopes: { type: array, items: { type: string } }
        connectedAt: { type: string, format: date-time }
    SlackEventEnvelope:
      type: object
      description: Slack Events API outer envelope (subset).
      properties:
        type: { type: string, description: 'e.g. url_verification | event_callback' }
        challenge: { type: string, description: Present on url_verification }
        team_id: { type: string }
        event: { type: object, additionalProperties: true }
