openapi: 3.1.0
info:
  title: Hanzo Gateway API
  summary: The inference edge of the Hanzo Cloud — one address for every model.
  description: |
    The gateway is the front door at `api.hanzo.ai`: it terminates the request,
    resolves the caller's identity and entitlement, picks a provider for the
    named model and streams the answer back. These are its OWN routes — the
    inference surface it answers directly, at the top of `/v1` rather than
    behind a product prefix, because a model call names a model and nothing
    else. Everything else the gateway does is transit: it forwards to the
    product that owns the route and describes none of it here.

    `model` accepts any id from `GET /v1/models`, including the Zen family.
    Set `stream: true` on any completion route for an SSE token stream
    (`text/event-stream`); otherwise a single JSON response.
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
- url: https://api.hanzo.ai
  description: Gateway Production
tags:
- name: Chat
  description: Turn a conversation into the next message, streamed or whole.
- name: Completions
  description: Continue a single block of text.
- name: Embeddings
  description: Turn text into vectors you can search.
- name: Models
  description: Which models this gateway will route to, and what each one is.
- name: Messages
  description: The `/v1/messages` conversation shape, streamed or whole.
- name: Rerank
  description: Score a set of documents against a query and order them.
- name: Images
  description: Generate images from a text prompt.
- name: Audio
  description: Speak text as audio.
- name: Health
  description: Whether this gateway is up.
security:
- BearerAuth: []
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PaymentRequired:
      description: Insufficient balance — add credits.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Rate limit exceeded.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Format: Bearer sk-...'
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT issued by Hanzo IAM (https://hanzo.id). Discovery: https://hanzo.id/.well-known/openid-configuration.
        Obtain via /v1/iam/auth/login, /oauth/token, or the API key UI on hanzo.id.'
  schemas:
    ChatMessage:
      type: object
      required:
      - role
      - content
      properties:
        role:
          type: string
          enum:
          - system
          - user
          - assistant
          - tool
        content:
          oneOf:
          - type: string
          - type: array
            items:
              type: object
        name:
          type: string
        tool_calls:
          type: array
          items:
            type: object
        tool_call_id:
          type: string
    ChatCompletionRequest:
      type: object
      required:
      - model
      - messages
      properties:
        model:
          type: string
          description: A model id from `GET /v1/models` (e.g. `zen5-pro`).
        messages:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
        top_p:
          type: number
          minimum: 0
          maximum: 1
        n:
          type: integer
          minimum: 1
          default: 1
        stream:
          type: boolean
          default: false
        max_tokens:
          type: integer
        presence_penalty:
          type: number
        frequency_penalty:
          type: number
        tools:
          type: array
          items:
            type: object
        tool_choice:
          oneOf:
          - type: string
          - type: object
        user:
          type: string
        metadata:
          type: object
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
          - chat.completion
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                $ref: '#/components/schemas/ChatMessage'
              finish_reason:
                type: string
                enum:
                - stop
                - length
                - tool_calls
                - content_filter
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
    CompletionRequest:
      title: CompletionRequest
      type: object
      required: [model, prompt]
      properties:
        model: { type: string }
        prompt: {}
        stream: { type: boolean, default: false }
        max_tokens: { type: integer }
        temperature: { type: number }
    EmbeddingRequest:
      type: object
      required:
      - model
      - input
      properties:
        model:
          type: string
        input:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        encoding_format:
          type: string
          enum:
          - float
          - base64
          default: float
        dimensions:
          type: integer
        user:
          type: string
    EmbeddingResponse:
      type: object
      properties:
        object:
          type: string
          enum:
          - list
        data:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                enum:
                - embedding
              index:
                type: integer
              embedding:
                type: array
                items:
                  type: number
        model:
          type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            total_tokens:
              type: integer
    Error:
      title: Error
      type: object
      properties:
        error:
          type: object
          properties:
            message: { type: string }
            type: { type: string }
            code: { type: string }
    ImageGenerationRequest:
      title: ImageGenerationRequest
      type: object
      required: [prompt]
      properties:
        model: { type: string }
        prompt: { type: string }
        n: { type: integer, default: 1 }
        size: { type: string, examples: ['1024x1024'] }
        quality: { type: string, enum: [standard, hd] }
        response_format: { type: string, enum: [url, b64_json] }
    ImageResponse:
      title: ImageResponse
      type: object
      properties:
        created: { type: integer }
        data:
          type: array
          items:
            type: object
            properties:
              url: { type: string }
              b64_json: { type: string }
              revised_prompt: { type: string }
    MessageRequest:
      title: MessageRequest
      type: object
      required: [model, messages, max_tokens]
      properties:
        model: { type: string }
        messages:
          type: array
          items: { type: object }
        max_tokens: { type: integer }
        stream: { type: boolean, default: false }
        system: {}
        temperature: { type: number }
        tools:
          type: array
          items: { type: object }
    MessageResponse:
      title: MessageResponse
      type: object
      properties:
        id: { type: string }
        type: { type: string, examples: [message] }
        role: { type: string, examples: [assistant] }
        model: { type: string }
        content:
          type: array
          items: { type: object }
        stop_reason: { type: string }
        usage: { type: object }
    Model:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
          - model
        created:
          type: integer
        owned_by:
          type: string
    ModelList:
      title: ModelList
      type: object
      properties:
        object: { type: string, examples: [list] }
        data:
          type: array
          items: { $ref: '#/components/schemas/Model' }
    SpeechRequest:
      title: SpeechRequest
      type: object
      required: [model, input, voice]
      properties:
        model: { type: string }
        input: { type: string }
        voice: { type: string }
        response_format: { type: string, enum: [mp3, opus, aac, flac, wav, pcm] }
        speed: { type: number }
paths:
  /v1/audio/speech:
    post:
      tags:
      - Audio
      summary: Create speech (text-to-speech)
      description: Speak text as audio. Returns the audio bytes, not JSON.
      operationId: createSpeech
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeechRequest'
      responses:
        '200':
          description: Audio stream.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v1/chat/completions:
    post:
      tags:
      - Chat
      summary: Create chat completion
      description: |
        Turn a conversation into the next message. Set `stream: true` for an SSE
        token stream (`text/event-stream`), otherwise a single JSON response.
        `model` accepts any model id from `GET /v1/models`, Zen family included.
      operationId: createChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: 'Completion (JSON) or SSE stream when `stream: true`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                type: string
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/completions:
    post:
      tags:
      - Completions
      summary: Create completion (legacy text)
      operationId: createCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequest'
      responses:
        '200':
          description: 'Completion (JSON) or SSE stream when `stream: true`.'
          content:
            application/json:
              schema: { type: object }
            text/event-stream:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v1/embeddings:
    post:
      tags:
      - Embeddings
      summary: Create embeddings
      operationId: createEmbeddings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingRequest'
      responses:
        '200':
          description: Embedding vectors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
  /healthz:
    get:
      tags:
      - Health
      summary: Health check
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - healthy
                  version:
                    type: string
  /v1/images/generations:
    post:
      tags:
      - Images
      summary: Create image
      description: Generate an image from a text prompt.
      operationId: createImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        '200':
          description: Generated image(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/messages:
    post:
      tags:
      - Messages
      summary: Create a message
      description: |
        The `/v1/messages` conversation shape: a system prompt plus alternating
        user/assistant turns, answered as one message. Set `stream: true` for an
        SSE event stream. Any client that speaks this shape can point its base
        URL at `https://api.hanzo.ai` and use it unchanged.
      operationId: createMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageRequest'
      responses:
        '200':
          description: 'Message (JSON) or SSE stream when `stream: true`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
            text/event-stream:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/models:
    get:
      tags:
      - Models
      summary: List available models
      description: Every model this gateway will route to, across every provider it can reach.
      operationId: listModels
      responses:
        '200':
          description: Model list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v1/models/{model}:
    get:
      tags:
      - Models
      summary: Retrieve a model
      operationId: retrieveModel
      parameters:
      - name: model
        in: path
        required: true
        schema: { type: string }
      responses:
        '200':
          description: Model object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/rerank:
    post:
      tags:
      - Rerank
      summary: Rerank documents against a query
      operationId: rerank
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, query, documents]
              properties:
                model: { type: string }
                query: { type: string }
                documents:
                  type: array
                  items: { type: string }
                top_n: { type: integer }
      responses:
        '200':
          description: Ranked results.
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
