openapi: 3.1.0
info:
  title: Hanzo MQ API
  description: |
    Hanzo MQ provides a managed message queue and pub/sub service built on
    NATS + JetStream with Hanzo extensions for:

    - Multi-tenant org isolation via Hanzo IAM
    - Core pub/sub with subject-based routing and wildcards
    - JetStream durable streams with configurable retention
    - Pull-based consumers with at-least-once delivery
    - Distributed key-value store (NATS KV)
    - Large object storage (NATS Object Store)
    - Request/reply messaging patterns
    - SSE streaming for subscriptions and watches
    - KMS-managed credentials and TLS certificates

    ## Authentication

    All endpoints require a valid Hanzo IAM bearer token. Include it in the
    Authorization header:

    ```
    Authorization: Bearer <HANZO_API_KEY>
    ```

    API keys are managed via Hanzo IAM at hanzo.id. The org_id is extracted
    from the token and scopes all resources automatically.

    ## Connection Credentials

    NATS connection credentials and TLS certificates are managed via
    Hanzo KMS (kms.hanzo.ai). The REST API abstracts direct NATS connections;
    use the native NATS client libraries with KMS-provisioned credentials
    for direct wire-protocol access.

    ## Upstream

    Based on @hanzomsg (fork of nats-io/nats-server) with Hanzo
    multi-tenancy, IAM integration, and KMS-managed secrets.
  version: 1.0.0
  contact:
    name: Hanzo AI
    email: support@hanzo.ai
    url: https://hanzo.ai
  license:
    name: Proprietary

servers:
  - url: https://mq.hanzo.ai
    description: Production
  - url: https://api.hanzo.ai/v1/mq
    description: Gateway Proxy

tags:
  - name: Publish
    description: Publish messages to subjects
  - name: Subscribe
    description: Subscribe to subjects via SSE
  - name: Subjects
    description: Subject introspection and stats
  - name: Streams
    description: JetStream durable message streams
  - name: Consumers
    description: JetStream durable consumers
  - name: KeyValue
    description: Distributed key-value store (NATS KV)
  - name: ObjectStore
    description: Large object storage on JetStream
  - name: Accounts
    description: Multi-tenant account management
  - name: Health
    description: Service health and server info

security:
  - bearerAuth: []

paths:
  # ---------------------------------------------------------------------------
  # Publish / Subscribe
  # ---------------------------------------------------------------------------
  /v1/mq/publish:
    post:
      operationId: publishMessage
      summary: Publish message to subject
      description: |
        Publish a message to the specified subject. Supports optional headers
        and reply-to subject for request/reply patterns. If the subject is
        bound to a JetStream stream, the message is persisted.
      tags: [Publish]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishRequest'
      responses:
        '200':
          description: Message published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: No responders for subject
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/mq/subscribe/{subject}:
    get:
      operationId: subscribe
      summary: Subscribe to subject via SSE
      description: |
        Opens a Server-Sent Events stream for messages on the given subject.
        Supports NATS wildcard tokens: `*` matches a single token, `>`
        matches one or more tokens. The connection stays open until the
        client disconnects.
      tags: [Subscribe]
      parameters:
        - name: subject
          in: path
          required: true
          schema:
            type: string
          description: |
            Subject to subscribe to. Supports wildcards (`events.*`,
            `logs.>`).
        - name: queue
          in: query
          schema:
            type: string
          description: Queue group name for load-balanced delivery.
      responses:
        '200':
          description: SSE stream of messages
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/mq/request:
    post:
      operationId: requestReply
      summary: Request/reply pattern
      description: |
        Publishes a message and waits for a single reply within the specified
        timeout. Uses an ephemeral inbox subject for the reply. Returns the
        reply message or a timeout error.
      tags: [Publish]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestReply'
      responses:
        '200':
          description: Reply received
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '408':
          description: Request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------------------------------------------------------------------------
  # Subjects
  # ---------------------------------------------------------------------------
  /v1/mq/subjects:
    get:
      operationId: listSubjects
      summary: List active subjects
      description: |
        Returns all active subjects visible to the authenticated account,
        with subscriber counts and message rates.
      tags: [Subjects]
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - name: filter
          in: query
          schema:
            type: string
          description: Subject filter pattern (supports wildcards).
      responses:
        '200':
          description: List of active subjects
          content:
            application/json:
              schema:
                type: object
                properties:
                  subjects:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubjectInfo'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/mq/subjects/{subject}/info:
    get:
      operationId: getSubjectInfo
      summary: Get subject info
      description: |
        Returns detailed information about a specific subject, including
        subscriber count and message throughput.
      tags: [Subjects]
      parameters:
        - name: subject
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Subject info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubjectInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Streams (JetStream)
  # ---------------------------------------------------------------------------
  /v1/mq/streams:
    get:
      operationId: listStreams
      summary: List streams
      description: Returns all JetStream streams for the authenticated account.
      tags: [Streams]
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of streams
          content:
            application/json:
              schema:
                type: object
                properties:
                  streams:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stream'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createStream
      summary: Create stream
      description: |
        Creates a new JetStream stream with the specified configuration.
        Streams provide durable, replicated message storage with configurable
        retention policies.
      tags: [Streams]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamConfig'
      responses:
        '201':
          description: Stream created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream'
        '400':
          description: Invalid configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Stream already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/mq/streams/{name}:
    get:
      operationId: getStream
      summary: Get stream info
      description: |
        Returns stream configuration and current state including message
        count, byte size, and consumer count.
      tags: [Streams]
      parameters:
        - $ref: '#/components/parameters/StreamName'
      responses:
        '200':
          description: Stream info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: updateStream
      summary: Update stream config
      description: |
        Updates an existing stream's configuration. Not all fields are
        mutable after creation (e.g., storage type cannot change).
      tags: [Streams]
      parameters:
        - $ref: '#/components/parameters/StreamName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamConfig'
      responses:
        '200':
          description: Stream updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stream'
        '400':
          description: Invalid configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteStream
      summary: Delete stream
      description: |
        Deletes a stream and all its messages and consumers. This operation
        is irreversible.
      tags: [Streams]
      parameters:
        - $ref: '#/components/parameters/StreamName'
      responses:
        '204':
          description: Stream deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/mq/streams/{name}/purge:
    post:
      operationId: purgeStream
      summary: Purge stream messages
      description: |
        Removes all messages from the stream. Consumers are not deleted.
        Optionally filter by subject to purge only matching messages.
      tags: [Streams]
      parameters:
        - $ref: '#/components/parameters/StreamName'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: string
                  description: Subject filter to purge only matching messages.
                keep:
                  type: integer
                  description: Number of messages to keep (from the end).
      responses:
        '200':
          description: Stream purged
          content:
            application/json:
              schema:
                type: object
                properties:
                  purged:
                    type: integer
                    description: Number of messages purged.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/mq/streams/{name}/messages:
    get:
      operationId: getStreamMessages
      summary: Get stream messages
      description: |
        Retrieves messages from the stream by sequence number or subject.
        Use for direct message access without a consumer.
      tags: [Streams]
      parameters:
        - $ref: '#/components/parameters/StreamName'
        - name: seq
          in: query
          schema:
            type: integer
            format: uint64
          description: Get message at this sequence number.
        - name: last_by_subject
          in: query
          schema:
            type: string
          description: Get last message for the given subject.
        - name: next_by_subject
          in: query
          schema:
            type: string
          description: |
            Get next message for the given subject (requires seq param
            as starting point).
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Stream messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/StreamMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/mq/streams/{name}/messages/{seq}:
    delete:
      operationId: deleteStreamMessage
      summary: Delete specific message
      description: |
        Deletes a specific message from the stream by sequence number.
        The sequence gap remains; subsequent messages are not renumbered.
      tags: [Streams]
      parameters:
        - $ref: '#/components/parameters/StreamName'
        - name: seq
          in: path
          required: true
          schema:
            type: integer
            format: uint64
          description: Message sequence number.
      responses:
        '204':
          description: Message deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Consumers (JetStream)
  # ---------------------------------------------------------------------------
  /v1/mq/streams/{stream}/consumers:
    get:
      operationId: listConsumers
      summary: List consumers
      description: Returns all consumers for the specified stream.
      tags: [Consumers]
      parameters:
        - $ref: '#/components/parameters/StreamNamePath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of consumers
          content:
            application/json:
              schema:
                type: object
                properties:
                  consumers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consumer'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createConsumer
      summary: Create consumer
      description: |
        Creates a new consumer on the specified stream. Consumers track
        delivery state and support at-least-once or exactly-once semantics
        depending on the ack policy.
      tags: [Consumers]
      parameters:
        - $ref: '#/components/parameters/StreamNamePath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerConfig'
      responses:
        '201':
          description: Consumer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
        '400':
          description: Invalid configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Stream not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Consumer already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/mq/streams/{stream}/consumers/{name}:
    get:
      operationId: getConsumer
      summary: Get consumer info
      description: |
        Returns consumer configuration and delivery state including
        pending count, ack floor, and redelivery metrics.
      tags: [Consumers]
      parameters:
        - $ref: '#/components/parameters/StreamNamePath'
        - $ref: '#/components/parameters/ConsumerName'
      responses:
        '200':
          description: Consumer info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteConsumer
      summary: Delete consumer
      description: |
        Deletes a consumer and its delivery state. Unacknowledged messages
        remain in the stream.
      tags: [Consumers]
      parameters:
        - $ref: '#/components/parameters/StreamNamePath'
        - $ref: '#/components/parameters/ConsumerName'
      responses:
        '204':
          description: Consumer deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/mq/streams/{stream}/consumers/{name}/next:
    post:
      operationId: pullMessages
      summary: Pull next message(s)
      description: |
        Pulls the next batch of messages from the consumer. Supports
        configurable batch size, timeout, and no-wait mode.
      tags: [Consumers]
      parameters:
        - $ref: '#/components/parameters/StreamNamePath'
        - $ref: '#/components/parameters/ConsumerName'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                batch:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  default: 1
                  description: Number of messages to pull.
                expires:
                  type: string
                  description: |
                    Maximum time to wait for messages (e.g., "5s", "30s").
                    Defaults to 30s.
                no_wait:
                  type: boolean
                  default: false
                  description: |
                    Return immediately if no messages are available instead
                    of waiting.
      responses:
        '200':
          description: Messages pulled
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/StreamMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '408':
          description: Request expired with no messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------------------------------------------------------------------------
  # KeyValue (NATS KV)
  # ---------------------------------------------------------------------------
  /v1/mq/kv:
    get:
      operationId: listKVBuckets
      summary: List KV buckets
      description: Returns all key-value buckets for the authenticated account.
      tags: [KeyValue]
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of KV buckets
          content:
            application/json:
              schema:
                type: object
                properties:
                  buckets:
                    type: array
                    items:
                      $ref: '#/components/schemas/KVBucket'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createKVBucket
      summary: Create KV bucket
      description: |
        Creates a new key-value bucket backed by a JetStream stream.
        Supports configurable history depth, TTL, and replication.
      tags: [KeyValue]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KVBucketConfig'
      responses:
        '201':
          description: Bucket created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KVBucket'
        '400':
          description: Invalid configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Bucket already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/mq/kv/{bucket}:
    get:
      operationId: getKVBucket
      summary: Get bucket info
      description: Returns bucket configuration and current state.
      tags: [KeyValue]
      parameters:
        - $ref: '#/components/parameters/BucketName'
      responses:
        '200':
          description: Bucket info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KVBucket'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteKVBucket
      summary: Delete bucket
      description: Deletes the bucket and all its keys. Irreversible.
      tags: [KeyValue]
      parameters:
        - $ref: '#/components/parameters/BucketName'
      responses:
        '204':
          description: Bucket deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/mq/kv/{bucket}/keys:
    get:
      operationId: listKVKeys
      summary: List keys in bucket
      description: Returns all keys in the bucket, optionally filtered by pattern.
      tags: [KeyValue]
      parameters:
        - $ref: '#/components/parameters/BucketName'
        - name: filter
          in: query
          schema:
            type: string
          description: Key filter pattern (supports wildcards).
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: string
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/mq/kv/{bucket}/{key}:
    get:
      operationId: getKVEntry
      summary: Get value
      description: |
        Returns the current value for the key. The revision number is
        included in the X-MQ-Revision response header.
      tags: [KeyValue]
      parameters:
        - $ref: '#/components/parameters/BucketName'
        - $ref: '#/components/parameters/KeyName'
      responses:
        '200':
          description: Key value
          content:
            application/json:
              schema:
                type: object
          headers:
            X-MQ-Revision:
              schema:
                type: integer
                format: uint64
              description: Current revision number.
            X-MQ-Created:
              schema:
                type: string
                format: date-time
              description: Timestamp of this revision.
            X-MQ-Operation:
              schema:
                type: string
                enum: [put, delete, purge]
              description: Operation that produced this revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KVEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: putKVEntry
      summary: Put value
      description: |
        Sets the value for the key. Returns the new revision number. Use
        the X-MQ-Expected-Revision header for optimistic concurrency
        (CAS operation).
      tags: [KeyValue]
      parameters:
        - $ref: '#/components/parameters/BucketName'
        - $ref: '#/components/parameters/KeyName'
        - name: X-MQ-Expected-Revision
          in: header
          schema:
            type: integer
            format: uint64
          description: |
            Expected current revision for CAS. The put fails with 409 if
            the current revision does not match.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
                  description: Value to store (base64-encoded for binary data).
              required:
                - value
      responses:
        '200':
          description: Value stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  revision:
                    type: integer
                    format: uint64
                  key:
                    type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Revision mismatch (CAS failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      operationId: deleteKVEntry
      summary: Delete key
      description: |
        Deletes the key by writing a tombstone marker. The key's history
        is preserved according to the bucket's history setting.
      tags: [KeyValue]
      parameters:
        - $ref: '#/components/parameters/BucketName'
        - $ref: '#/components/parameters/KeyName'
      responses:
        '204':
          description: Key deleted (tombstone written)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/mq/kv/{bucket}/{key}/history:
    get:
      operationId: getKVHistory
      summary: Get key history
      description: |
        Returns all revisions of the key, from oldest to newest. The
        number of revisions kept is determined by the bucket's history
        setting.
      tags: [KeyValue]
      parameters:
        - $ref: '#/components/parameters/BucketName'
        - $ref: '#/components/parameters/KeyName'
      responses:
        '200':
          description: Key revision history
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      $ref: '#/components/schemas/KVEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/mq/kv/{bucket}/watch:
    get:
      operationId: watchKVBucket
      summary: Watch bucket changes via SSE
      description: |
        Opens a Server-Sent Events stream that emits KVEntry events for
        every change in the bucket. Optionally filter by key pattern.
        Delivers initial values followed by real-time updates.
      tags: [KeyValue]
      parameters:
        - $ref: '#/components/parameters/BucketName'
        - name: key
          in: query
          schema:
            type: string
          description: Key pattern filter (supports wildcards).
        - name: include_history
          in: query
          schema:
            type: boolean
            default: false
          description: Include all historical revisions before live updates.
      responses:
        '200':
          description: SSE stream of KV changes
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/KVEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Object Store
  # ---------------------------------------------------------------------------
  /v1/mq/objects:
    get:
      operationId: listObjectStores
      summary: List object stores
      description: Returns all object stores for the authenticated account.
      tags: [ObjectStore]
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of object stores
          content:
            application/json:
              schema:
                type: object
                properties:
                  stores:
                    type: array
                    items:
                      $ref: '#/components/schemas/ObjectStoreInfo'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: createObjectStore
      summary: Create object store
      description: |
        Creates a new object store backed by JetStream. Large objects are
        automatically chunked and stored across the stream.
      tags: [ObjectStore]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectStoreConfig'
      responses:
        '201':
          description: Object store created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectStoreInfo'
        '400':
          description: Invalid configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Store already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/mq/objects/{store}:
    get:
      operationId: getObjectStore
      summary: Get store info
      description: Returns object store configuration and state.
      tags: [ObjectStore]
      parameters:
        - $ref: '#/components/parameters/StoreName'
      responses:
        '200':
          description: Store info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectStoreInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteObjectStore
      summary: Delete object store
      description: Deletes the store and all objects. Irreversible.
      tags: [ObjectStore]
      parameters:
        - $ref: '#/components/parameters/StoreName'
      responses:
        '204':
          description: Store deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/mq/objects/{store}/list:
    get:
      operationId: listObjects
      summary: List objects in store
      description: Returns metadata for all objects in the store.
      tags: [ObjectStore]
      parameters:
        - $ref: '#/components/parameters/StoreName'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    type: array
                    items:
                      $ref: '#/components/schemas/ObjectInfo'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/mq/objects/{store}/{name}:
    get:
      operationId: getObject
      summary: Download object
      description: |
        Downloads the object as a binary stream. Chunks are reassembled
        transparently.
      tags: [ObjectStore]
      parameters:
        - $ref: '#/components/parameters/StoreName'
        - $ref: '#/components/parameters/ObjectName'
      responses:
        '200':
          description: Object binary data
          content:
            application/json:
              schema:
                type: object
          headers:
            X-MQ-Object-Size:
              schema:
                type: integer
                format: int64
              description: Total object size in bytes.
            X-MQ-Object-Chunks:
              schema:
                type: integer
              description: Number of chunks.
            X-MQ-Object-Digest:
              schema:
                type: string
              description: SHA-256 digest of the object.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: putObject
      summary: Upload object
      description: |
        Uploads an object to the store. The object is automatically chunked
        for storage. Use multipart/form-data for file uploads or
        application/octet-stream for raw binary.
      tags: [ObjectStore]
      parameters:
        - $ref: '#/components/parameters/StoreName'
        - $ref: '#/components/parameters/ObjectName'
        - name: X-MQ-Object-Description
          in: header
          schema:
            type: string
          description: Optional description for the object.
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                description:
                  type: string
      responses:
        '200':
          description: Object stored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectInfo'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Store not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Object exceeds max_bytes limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      operationId: deleteObject
      summary: Delete object
      description: Deletes the object and its chunks from the store.
      tags: [ObjectStore]
      parameters:
        - $ref: '#/components/parameters/StoreName'
        - $ref: '#/components/parameters/ObjectName'
      responses:
        '204':
          description: Object deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Accounts (Multi-tenant)
  # ---------------------------------------------------------------------------
  /v1/mq/accounts:
    get:
      operationId: listAccounts
      summary: List accounts
      description: |
        Returns all MQ accounts visible to the authenticated user. Each
        account maps to a Hanzo IAM organization.
      tags: [Accounts]
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/mq/accounts/{id}:
    get:
      operationId: getAccount
      summary: Get account info
      description: |
        Returns account details including connection count, subscription
        count, data throughput, and slow consumer metrics.
      tags: [Accounts]
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Account info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/mq/accounts/{id}/connections:
    get:
      operationId: listAccountConnections
      summary: List account connections
      description: Returns all active connections for the account.
      tags: [Accounts]
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      $ref: '#/components/schemas/Connection'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Health / Info
  # ---------------------------------------------------------------------------
  /v1/mq/health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns service health status. Does not require authentication.
      tags: [Health]
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, degraded]
                  version:
                    type: string
                  uptime:
                    type: string
                    description: Human-readable uptime duration.

  /v1/mq/info:
    get:
      operationId: serverInfo
      summary: Server info
      description: |
        Returns server information including version, cluster details,
        and JetStream status.
      tags: [Health]
      responses:
        '200':
          description: Server info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'

# =============================================================================
# Components
# =============================================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: HANZO_API_KEY
      description: Hanzo API Key (Bearer hk-...)

  parameters:
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
      description: Maximum number of items to return.

    OffsetParam:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of items to skip.

    StreamName:
      name: name
      in: path
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9_-]+$'
        maxLength: 256
      description: Stream name.

    StreamNamePath:
      name: stream
      in: path
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9_-]+$'
        maxLength: 256
      description: Stream name.

    ConsumerName:
      name: name
      in: path
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9_-]+$'
        maxLength: 256
      description: Consumer name.

    BucketName:
      name: bucket
      in: path
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9_-]+$'
        maxLength: 256
      description: KV bucket name.

    KeyName:
      name: key
      in: path
      required: true
      schema:
        type: string
        maxLength: 1024
      description: Key name (supports dotted hierarchy).

    StoreName:
      name: store
      in: path
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9_-]+$'
        maxLength: 256
      description: Object store name.

    ObjectName:
      name: name
      in: path
      required: true
      schema:
        type: string
        maxLength: 1024
      description: Object name.

    AccountId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Account ID (maps to IAM org_id).

  responses:
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    # -------------------------------------------------------------------------
    # Common
    # -------------------------------------------------------------------------
    Error:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message.
        code:
          type: integer
          description: HTTP status code.
        detail:
          type: string
          description: Additional error details.
      required:
        - error
        - code

    # -------------------------------------------------------------------------
    # Messages
    # -------------------------------------------------------------------------
    Message:
      type: object
      description: A message received from a subject subscription.
      properties:
        subject:
          type: string
          description: Subject the message was published to.
        data:
          type: string
          description: Message payload (base64-encoded for binary data).
        headers:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Message headers (key to list of values).
        reply:
          type: string
          description: Reply-to subject for request/reply patterns.
        timestamp:
          type: string
          format: date-time
          description: Server timestamp when the message was received.
        sequence:
          type: integer
          format: uint64
          description: |
            Stream sequence number (present only for JetStream messages).

    StreamMessage:
      type: object
      description: A message stored in a JetStream stream.
      properties:
        subject:
          type: string
        data:
          type: string
        headers:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        sequence:
          type: integer
          format: uint64
          description: Stream sequence number.
        timestamp:
          type: string
          format: date-time
        num_delivered:
          type: integer
          description: Number of times this message has been delivered.
        num_pending:
          type: integer
          description: Messages remaining after this one (consumer context).

    PublishRequest:
      type: object
      description: Request body for publishing a message.
      properties:
        subject:
          type: string
          description: Target subject.
        data:
          type: string
          description: Message payload (base64-encoded for binary data).
        headers:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Optional message headers.
        reply:
          type: string
          description: Optional reply-to subject.
      required:
        - subject
        - data

    PublishResponse:
      type: object
      description: Response after publishing a message.
      properties:
        stream:
          type: string
          description: |
            Stream name if the subject is bound to a JetStream stream.
            Absent for core NATS subjects.
        sequence:
          type: integer
          format: uint64
          description: |
            Stream sequence number. Present only for JetStream-bound
            subjects.
        duplicate:
          type: boolean
          description: True if the message was a duplicate (dedup window).

    RequestReply:
      type: object
      description: Request body for the request/reply pattern.
      properties:
        subject:
          type: string
          description: Target subject.
        data:
          type: string
          description: Request payload (base64-encoded for binary data).
        timeout:
          type: string
          description: |
            Maximum time to wait for a reply (e.g., "5s", "30s").
            Defaults to "10s".
          default: "10s"
        headers:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Optional message headers.
      required:
        - subject
        - data

    # -------------------------------------------------------------------------
    # Subjects
    # -------------------------------------------------------------------------
    SubjectInfo:
      type: object
      properties:
        subject:
          type: string
          description: Subject name.
        subscribers:
          type: integer
          description: Number of active subscribers.
        messages_per_sec:
          type: number
          format: double
          description: Current message rate (messages per second).
        bytes_per_sec:
          type: integer
          format: int64
          description: Current data rate (bytes per second).

    # -------------------------------------------------------------------------
    # Streams
    # -------------------------------------------------------------------------
    Stream:
      type: object
      description: A JetStream stream with its configuration and state.
      properties:
        name:
          type: string
        config:
          $ref: '#/components/schemas/StreamConfig'
        state:
          $ref: '#/components/schemas/StreamState'
        created:
          type: string
          format: date-time

    StreamConfig:
      type: object
      description: JetStream stream configuration.
      properties:
        name:
          type: string
          description: Stream name (alphanumeric, hyphens, underscores).
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 256
        subjects:
          type: array
          items:
            type: string
          description: |
            Subjects bound to this stream. Supports wildcards.
        retention:
          type: string
          enum: [limits, interest, workqueue]
          default: limits
          description: |
            Message retention policy. `limits` keeps messages until
            limits are hit. `interest` keeps messages while consumers
            exist. `workqueue` deletes messages after acknowledgment.
        max_msgs:
          type: integer
          format: int64
          default: -1
          description: Maximum number of messages (-1 for unlimited).
        max_bytes:
          type: integer
          format: int64
          default: -1
          description: Maximum total bytes (-1 for unlimited).
        max_age:
          type: string
          description: |
            Maximum message age (e.g., "24h", "7d", "0" for unlimited).
          default: "0"
        max_msg_size:
          type: integer
          format: int32
          default: -1
          description: Maximum single message size in bytes (-1 for default).
        storage:
          type: string
          enum: [file, memory]
          default: file
          description: Storage backend for stream data.
        num_replicas:
          type: integer
          minimum: 1
          maximum: 5
          default: 1
          description: Number of replicas in the cluster.
        discard:
          type: string
          enum: [old, new]
          default: old
          description: |
            Discard policy when limits are reached. `old` discards the
            oldest messages. `new` rejects new messages.
        duplicate_window:
          type: string
          description: |
            Window for message deduplication based on Nats-Msg-Id header
            (e.g., "2m"). Defaults to "2m".
          default: "2m"
        description:
          type: string
          description: Optional human-readable description.
      required:
        - name
        - subjects

    StreamState:
      type: object
      description: Current state of a JetStream stream.
      properties:
        messages:
          type: integer
          format: uint64
          description: Total number of messages in the stream.
        bytes:
          type: integer
          format: uint64
          description: Total bytes used by the stream.
        first_seq:
          type: integer
          format: uint64
          description: Sequence number of the first message.
        first_ts:
          type: string
          format: date-time
          description: Timestamp of the first message.
        last_seq:
          type: integer
          format: uint64
          description: Sequence number of the last message.
        last_ts:
          type: string
          format: date-time
          description: Timestamp of the last message.
        consumer_count:
          type: integer
          description: Number of consumers attached to this stream.
        num_subjects:
          type: integer
          description: Number of unique subjects in the stream.
        num_deleted:
          type: integer
          description: Number of deleted messages (gaps in sequence).

    # -------------------------------------------------------------------------
    # Consumers
    # -------------------------------------------------------------------------
    Consumer:
      type: object
      description: A JetStream consumer with configuration and delivery state.
      properties:
        name:
          type: string
        stream_name:
          type: string
        config:
          $ref: '#/components/schemas/ConsumerConfig'
        delivered:
          $ref: '#/components/schemas/SequencePair'
        ack_floor:
          $ref: '#/components/schemas/SequencePair'
        num_pending:
          type: integer
          format: uint64
          description: Messages waiting to be delivered.
        num_redelivered:
          type: integer
          description: Messages currently being redelivered.
        num_waiting:
          type: integer
          description: Pull requests waiting for messages.
        num_ack_pending:
          type: integer
          description: Messages delivered but not yet acknowledged.
        created:
          type: string
          format: date-time

    ConsumerConfig:
      type: object
      description: JetStream consumer configuration.
      properties:
        durable_name:
          type: string
          description: |
            Durable consumer name. If set, the consumer survives client
            disconnections.
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 256
        filter_subject:
          type: string
          description: |
            Subject filter. Only messages matching this subject are
            delivered. Supports wildcards.
        ack_policy:
          type: string
          enum: [none, all, explicit]
          default: explicit
          description: |
            Acknowledgment policy. `explicit` requires per-message ack.
            `all` acks all messages up to the acked sequence. `none`
            disables acks.
        deliver_policy:
          type: string
          enum: [all, last, new, by_start_sequence, by_start_time, last_per_subject]
          default: all
          description: |
            Where to start delivery. `all` delivers from the beginning.
            `last` delivers the last message. `new` delivers only new
            messages. `by_start_sequence` and `by_start_time` start from
            a specific point.
        opt_start_seq:
          type: integer
          format: uint64
          description: |
            Starting sequence number (used with deliver_policy
            `by_start_sequence`).
        opt_start_time:
          type: string
          format: date-time
          description: |
            Starting timestamp (used with deliver_policy `by_start_time`).
        max_deliver:
          type: integer
          default: -1
          description: |
            Maximum delivery attempts before the message is dropped or
            sent to a dead letter subject (-1 for unlimited).
        ack_wait:
          type: string
          description: |
            Time to wait for acknowledgment before redelivery
            (e.g., "30s", "5m"). Defaults to "30s".
          default: "30s"
        replay_policy:
          type: string
          enum: [instant, original]
          default: instant
          description: |
            Replay policy for historical messages. `instant` delivers as
            fast as possible. `original` preserves original timing gaps.
        max_ack_pending:
          type: integer
          default: 1000
          description: |
            Maximum number of unacknowledged messages before delivery
            pauses.
        description:
          type: string
          description: Optional human-readable description.

    SequencePair:
      type: object
      description: A pair of consumer and stream sequence numbers.
      properties:
        consumer_seq:
          type: integer
          format: uint64
          description: Consumer sequence number.
        stream_seq:
          type: integer
          format: uint64
          description: Corresponding stream sequence number.

    # -------------------------------------------------------------------------
    # KeyValue
    # -------------------------------------------------------------------------
    KVBucket:
      type: object
      description: A NATS KV bucket with configuration and state.
      properties:
        name:
          type: string
        config:
          $ref: '#/components/schemas/KVBucketConfig'
        values:
          type: integer
          format: uint64
          description: Number of keys in the bucket.
        bytes:
          type: integer
          format: uint64
          description: Total bytes used.
        history:
          type: integer
          description: Maximum revisions per key.
        ttl:
          type: string
          description: Default TTL for keys.
        backing_stream:
          type: string
          description: Name of the underlying JetStream stream.
        created:
          type: string
          format: date-time

    KVBucketConfig:
      type: object
      description: KV bucket creation configuration.
      properties:
        name:
          type: string
          description: Bucket name.
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 256
        history:
          type: integer
          minimum: 1
          maximum: 64
          default: 1
          description: Maximum number of revisions per key.
        ttl:
          type: string
          description: |
            Default TTL for keys (e.g., "1h", "7d", "0" for no expiry).
          default: "0"
        max_value_size:
          type: integer
          format: int32
          default: -1
          description: Maximum value size in bytes (-1 for default).
        max_bytes:
          type: integer
          format: int64
          default: -1
          description: Maximum total bucket size (-1 for unlimited).
        storage:
          type: string
          enum: [file, memory]
          default: file
          description: Storage backend.
        num_replicas:
          type: integer
          minimum: 1
          maximum: 5
          default: 1
          description: Number of replicas.
        description:
          type: string
          description: Optional human-readable description.
      required:
        - name

    KVEntry:
      type: object
      description: A key-value entry with revision metadata.
      properties:
        key:
          type: string
          description: Key name.
        value:
          type: string
          description: Value (base64-encoded for binary data).
        revision:
          type: integer
          format: uint64
          description: Revision number.
        created:
          type: string
          format: date-time
          description: Timestamp of this revision.
        operation:
          type: string
          enum: [put, delete, purge]
          description: |
            Operation that produced this revision. `delete` is a
            tombstone. `purge` removes all prior revisions.
        bucket:
          type: string
          description: Bucket name.
        delta:
          type: integer
          format: uint64
          description: |
            Number of revisions since this entry (for watch operations).

    # -------------------------------------------------------------------------
    # Object Store
    # -------------------------------------------------------------------------
    ObjectStoreInfo:
      type: object
      description: Object store metadata.
      properties:
        name:
          type: string
        config:
          $ref: '#/components/schemas/ObjectStoreConfig'
        size:
          type: integer
          format: uint64
          description: Total bytes used.
        objects:
          type: integer
          description: Number of objects in the store.
        chunks:
          type: integer
          description: Total number of chunks across all objects.
        backing_stream:
          type: string
          description: Name of the underlying JetStream stream.
        created:
          type: string
          format: date-time

    ObjectStoreConfig:
      type: object
      description: Object store creation configuration.
      properties:
        name:
          type: string
          description: Store name.
          pattern: '^[a-zA-Z0-9_-]+$'
          maxLength: 256
        max_chunk_size:
          type: integer
          format: int32
          default: 131072
          description: Maximum chunk size in bytes (default 128KB).
        max_bytes:
          type: integer
          format: int64
          default: -1
          description: Maximum total store size (-1 for unlimited).
        storage:
          type: string
          enum: [file, memory]
          default: file
          description: Storage backend.
        num_replicas:
          type: integer
          minimum: 1
          maximum: 5
          default: 1
          description: Number of replicas.
        description:
          type: string
          description: Optional human-readable description.
      required:
        - name

    ObjectInfo:
      type: object
      description: Metadata for a stored object.
      properties:
        name:
          type: string
          description: Object name.
        description:
          type: string
          description: Optional description.
        size:
          type: integer
          format: int64
          description: Object size in bytes.
        chunks:
          type: integer
          description: Number of chunks.
        digest:
          type: string
          description: SHA-256 digest of the object.
        modified:
          type: string
          format: date-time
          description: Last modification timestamp.
        deleted:
          type: boolean
          description: True if the object has been deleted.
        headers:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Optional metadata headers.

    # -------------------------------------------------------------------------
    # Accounts
    # -------------------------------------------------------------------------
    Account:
      type: object
      description: |
        Multi-tenant account mapped to a Hanzo IAM organization. All
        resources (streams, consumers, buckets) are scoped to the account.
      properties:
        id:
          type: string
          description: Account ID.
        org_id:
          type: string
          description: Hanzo IAM organization ID.
        name:
          type: string
          description: Account display name.
        connections:
          type: integer
          description: Number of active connections.
        subscriptions:
          type: integer
          description: Number of active subscriptions.
        data_in:
          type: integer
          format: int64
          description: Total bytes received.
        data_out:
          type: integer
          format: int64
          description: Total bytes sent.
        slow_consumers:
          type: integer
          description: Number of slow consumers.
        streams:
          type: integer
          description: Number of JetStream streams.
        consumers:
          type: integer
          description: Number of JetStream consumers.
        limits:
          $ref: '#/components/schemas/AccountLimits'

    AccountLimits:
      type: object
      description: Resource limits for the account.
      properties:
        max_connections:
          type: integer
          description: Maximum concurrent connections.
        max_subscriptions:
          type: integer
          description: Maximum subscriptions.
        max_payload:
          type: integer
          description: Maximum message payload size in bytes.
        max_streams:
          type: integer
          description: Maximum JetStream streams.
        max_consumers:
          type: integer
          description: Maximum JetStream consumers.
        max_bytes:
          type: integer
          format: int64
          description: Maximum total JetStream storage in bytes.

    Connection:
      type: object
      description: An active client connection to the MQ server.
      properties:
        id:
          type: integer
          format: uint64
          description: Connection ID.
        name:
          type: string
          description: Client-supplied connection name.
        ip:
          type: string
          description: Client IP address.
        port:
          type: integer
          description: Client port.
        lang:
          type: string
          description: Client library language.
        version:
          type: string
          description: Client library version.
        subscriptions:
          type: integer
          description: Number of subscriptions on this connection.
        in_msgs:
          type: integer
          format: int64
          description: Messages received.
        out_msgs:
          type: integer
          format: int64
          description: Messages sent.
        in_bytes:
          type: integer
          format: int64
          description: Bytes received.
        out_bytes:
          type: integer
          format: int64
          description: Bytes sent.
        uptime:
          type: string
          description: Connection uptime.
        idle:
          type: string
          description: Time since last activity.
        started:
          type: string
          format: date-time
          description: Connection start time.
        tls_version:
          type: string
          description: TLS version (if TLS is active).

    # -------------------------------------------------------------------------
    # Server
    # -------------------------------------------------------------------------
    ServerInfo:
      type: object
      description: Server information and capabilities.
      properties:
        server_id:
          type: string
          description: Unique server identifier.
        server_name:
          type: string
          description: Server name.
        version:
          type: string
          description: NATS server version.
        go:
          type: string
          description: Go runtime version.
        host:
          type: string
          description: Server host.
        port:
          type: integer
          description: Client port.
        max_payload:
          type: integer
          description: Maximum payload size in bytes.
        jetstream:
          type: boolean
          description: Whether JetStream is enabled.
        cluster:
          type: object
          properties:
            name:
              type: string
              description: Cluster name.
            leader:
              type: string
              description: Current Raft leader server name.
            replicas:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  current:
                    type: boolean
                  active:
                    type: string
                    description: Time since last activity.
                  lag:
                    type: integer
                    format: uint64
                    description: Replication lag in operations.
        uptime:
          type: string
          description: Server uptime.
        total_connections:
          type: integer
          format: uint64
          description: Total connections served since start.
