openapi: 3.1.0
info:
  title: Hanzo World API
  description: |
    Hanzo World Model — real-time global-intelligence data on the unified cloud
    /v1 plane. Powers world.hanzo.ai and is consumable by any Hanzo app/agent as
    a data feed. Self-contained Go backend (hanzoai/world, MIT) proxying public
    upstreams (GDELT, CoinGecko, Polymarket, OpenSky, USGS, NASA FIRMS, ACLED,
    FRED, EIA, …) with SSRF-bounded allowlists + short-TTL caching. All routes
    are same-origin `/v1/world/*` (no `/api/` — Hanzo standard).

    AUTH: public data feeds are open (service-level upstream keys where a feed
    requires one; a missing key degrades to a clean empty/`skipped` body, never
    5xx). The AI/inference routes carry NO shared key — they forward the signed-in
    user's IAM token to api.hanzo.ai so inference meters to that user's org +
    project + linked billing account; anonymous callers get a `skipped` body.
  version: 1.0.0
  contact: { name: Hanzo AI, url: https://hanzo.ai, email: support@hanzo.ai }
  license: { name: MIT }
servers:
  - url: https://api.hanzo.ai
    description: Hanzo Gateway
  - url: https://world.hanzo.ai
    description: Hanzo World (same-origin, self-contained fork target *.hanzo.app)
tags:
  - { name: News, description: News, RSS, research feeds }
  - { name: Markets, description: Crypto, equities, macro, econ }
  - { name: Geo, description: Physical/geospatial events }
  - { name: Conflict, description: Conflict + humanitarian data }
  - { name: Intel, description: Computed intelligence signals }
  - { name: AI, description: AI summaries (per-user IAM → org/project/billing) }
  - { name: Video, description: Live news video resolution + player }
  - { name: Meta, description: Health + version }
paths:
  /v1/world/gdelt-doc:
    get:
      tags: [News]
      summary: "GDELT article search"
      operationId: world_gdelt_doc
      parameters:
        - { name: query, in: query, required: true, schema: { type: string } }
        - { name: maxrecords, in: query, required: false, schema: { type: string } }
        - { name: timespan, in: query, required: false, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/gdelt-geo:
    get:
      tags: [News]
      summary: "GDELT geo-tagged events"
      operationId: world_gdelt_geo
      parameters:
        - { name: query, in: query, required: true, schema: { type: string } }
        - { name: format, in: query, required: false, schema: { type: string } }
        - { name: maxrecords, in: query, required: false, schema: { type: string } }
        - { name: timespan, in: query, required: false, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/rss-proxy:
    get:
      tags: [News]
      summary: "Allowlisted RSS feed proxy (SSRF-bounded)"
      operationId: world_rss_proxy
      parameters:
        - { name: url, in: query, required: true, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/hackernews:
    get:
      tags: [News]
      summary: "Hacker News stories"
      operationId: world_hackernews
      parameters:
        - { name: type, in: query, required: false, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/github-trending:
    get:
      tags: [News]
      summary: "GitHub trending repositories"
      operationId: world_github_trending
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/arxiv:
    get:
      tags: [News]
      summary: "arXiv research feed (backs Robotics/Quantum lenses)"
      operationId: world_arxiv
      parameters:
        - { name: q, in: query, required: false, schema: { type: string } }
        - { name: cat, in: query, required: false, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/tech-events:
    get:
      tags: [News]
      summary: "Curated technology events"
      operationId: world_tech_events
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/story:
    get:
      tags: [News]
      summary: "Story detail"
      operationId: world_story
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/og-story:
    get:
      tags: [News]
      summary: "Open-graph story card"
      operationId: world_og_story
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/coingecko:
    get:
      tags: [Markets]
      summary: "Crypto spot prices (CoinGecko)"
      operationId: world_coingecko
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/polymarket:
    get:
      tags: [Markets]
      summary: "Prediction markets (Polymarket gamma)"
      operationId: world_polymarket
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/yahoo-finance:
    get:
      tags: [Markets]
      summary: "Equity/index quotes (Yahoo)"
      operationId: world_yahoo_finance
      parameters:
        - { name: symbol, in: query, required: true, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/finnhub:
    get:
      tags: [Markets]
      summary: "Market data (Finnhub; requires FINNHUB_KEY)"
      operationId: world_finnhub
      parameters:
        - { name: symbol, in: query, required: true, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/stock-index:
    get:
      tags: [Markets]
      summary: "Stock index snapshot"
      operationId: world_stock_index
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/macro-signals:
    get:
      tags: [Markets]
      summary: "Macro market-radar signals"
      operationId: world_macro_signals
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/etf-flows:
    get:
      tags: [Markets]
      summary: "BTC/crypto ETF flows"
      operationId: world_etf_flows
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/stablecoin-markets:
    get:
      tags: [Markets]
      summary: "Stablecoin market health"
      operationId: world_stablecoin_markets
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/indicators:
    get:
      tags: [Markets]
      summary: "Trader indicator suite (VIX/VVIX/MOVE, yield curve + 2s10s, crypto/equity fear-greed, momentum, sector breadth, BTC dominance + perp funding, DXY/metals, risk-on/off composite)"
      description: |
        The classic trader dashboard in one call, every field from a free/no-key
        upstream (Yahoo charts, alternative.me, CoinGecko global, exchange funding).
        Each field degrades to null when its source is down; the equity fear/greed
        and risk-on/off composites recompute over surviving inputs and ship their
        formulas inline. Cached ~2 min. Always 200 (never 5xx).
      operationId: world_indicators
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/sentiment:
    get:
      tags: [Markets]
      summary: "Realtime news-sentiment index (GDELT tone: global + per-topic + per-region, 24h sparkline + velocity)"
      description: |
        Realtime news sentiment aggregated from GDELT article tone. Returns a
        global sentiment index (0-100 = clamp(50 + tone·5)), per-topic
        (markets/conflict/energy/tech) and per-region breakdowns, each with a 24h
        tone sparkline and velocity (rate of change). GDELT rate-limits to 1 req/5s,
        so the endpoint serves a cached value instantly and refreshes in the
        background at a paced cadence; until the first refresh lands it returns a
        clean `status:"warming"` body. Always 200 (never 5xx).
      operationId: world_sentiment
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/fred-data:
    get:
      tags: [Markets]
      summary: "FRED economic series (requires FRED_API_KEY)"
      operationId: world_fred_data
      parameters:
        - { name: series_id, in: query, required: true, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/worldbank:
    get:
      tags: [Markets]
      summary: "World Bank indicators"
      operationId: world_worldbank
      parameters:
        - { name: indicator, in: query, required: false, schema: { type: string } }
        - { name: country, in: query, required: false, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/eia:
    get:
      tags: [Markets]
      summary: "US EIA energy data (requires EIA_API_KEY)"
      operationId: world_eia
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/earthquakes:
    get:
      tags: [Geo]
      summary: "USGS earthquake feed"
      operationId: world_earthquakes
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/firms-fires:
    get:
      tags: [Geo]
      summary: "NASA FIRMS active fires (requires NASA_FIRMS_API_KEY)"
      operationId: world_firms_fires
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/opensky:
    get:
      tags: [Geo]
      summary: "OpenSky flight states"
      operationId: world_opensky
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/ais-snapshot:
    get:
      tags: [Geo]
      summary: "AIS vessel snapshot (requires WS_RELAY_URL)"
      operationId: world_ais_snapshot
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/wingbits:
    get:
      tags: [Geo]
      summary: "Wingbits ADS-B (requires WINGBITS_API_KEY)"
      operationId: world_wingbits
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/climate-anomalies:
    get:
      tags: [Geo]
      summary: "Climate anomaly feed"
      operationId: world_climate_anomalies
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/worldpop-exposure:
    get:
      tags: [Geo]
      summary: "Population exposure model"
      operationId: world_worldpop_exposure
      parameters:
        - { name: area, in: query, required: false, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/faa-status:
    get:
      tags: [Geo]
      summary: "FAA airport status"
      operationId: world_faa_status
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/nga-warnings:
    get:
      tags: [Geo]
      summary: "NGA maritime safety warnings"
      operationId: world_nga_warnings
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/cloudflare-outages:
    get:
      tags: [Geo]
      summary: "Cloudflare internet outages"
      operationId: world_cloudflare_outages
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/acled:
    get:
      tags: [Conflict]
      summary: "ACLED conflict events (requires ACLED_ACCESS_TOKEN)"
      operationId: world_acled
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/acled-conflict:
    get:
      tags: [Conflict]
      summary: "ACLED conflict summary (requires ACLED_ACCESS_TOKEN)"
      operationId: world_acled_conflict
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/ucdp:
    get:
      tags: [Conflict]
      summary: "UCDP conflict data"
      operationId: world_ucdp
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/ucdp-events:
    get:
      tags: [Conflict]
      summary: "UCDP georeferenced events"
      operationId: world_ucdp_events
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/unhcr-population:
    get:
      tags: [Conflict]
      summary: "UNHCR displacement/population"
      operationId: world_unhcr_population
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/hapi:
    get:
      tags: [Conflict]
      summary: "Humanitarian API (HDX HAPI)"
      operationId: world_hapi
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/cyber-threats:
    get:
      tags: [Conflict]
      summary: "Cyber threat feed"
      operationId: world_cyber_threats
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/risk-scores:
    get:
      tags: [Intel]
      summary: "Country risk scores"
      operationId: world_risk_scores
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/theater-posture:
    get:
      tags: [Intel]
      summary: "Strategic theater posture"
      operationId: world_theater_posture
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/temporal-baseline:
    get:
      tags: [Intel]
      summary: "Temporal baseline metrics"
      operationId: world_temporal_baseline
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/service-status:
    get:
      tags: [Intel]
      summary: "Upstream data-source status"
      operationId: world_service_status
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/pizzint/dashboard-data:
    get:
      tags: [Intel]
      summary: "PIZZINT dashboard aggregate"
      operationId: world_pizzint_dashboard_data
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/pizzint/gdelt/batch:
    get:
      tags: [Intel]
      summary: "PIZZINT GDELT batch"
      operationId: world_pizzint_gdelt_batch
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/model/state:
    get:
      tags: [Intel]
      summary: "World model — full compact world-state snapshot (all entities, instability-ranked)"
      operationId: world_model_state
      parameters:
        - { name: kind, in: query, required: false, schema: { type: string, enum: [country, theater, market] } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/model/country/{iso}:
    get:
      tags: [Intel]
      summary: "World model — one country's full state vector + recent deltas"
      operationId: world_model_country
      parameters:
        - { name: iso, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
        '404': { description: No such country }
  /v1/world/model/top:
    get:
      tags: [Intel]
      summary: "World model — top entities by metric"
      operationId: world_model_top
      parameters:
        - { name: metric, in: query, required: false, schema: { type: string, enum: [instability, velocity, sentiment] } }
        - { name: kind, in: query, required: false, schema: { type: string } }
        - { name: n, in: query, required: false, schema: { type: integer } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/model/changes:
    get:
      tags: [Intel]
      summary: "World model — what changed since a timestamp (the inform-our-AI hook)"
      operationId: world_model_changes
      parameters:
        - { name: since, in: query, required: false, schema: { type: string, format: date-time } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/model/stream:
    get:
      tags: [Intel]
      summary: "World model — SSE stream of state deltas as folds land"
      operationId: world_model_stream
      responses:
        '200': { description: SSE stream, content: { text/event-stream: { schema: { type: string } } } }
  /v1/world/groq-summarize:
    post:
      tags: [AI]
      summary: "World-brief summary via Hanzo inference (forwards the caller IAM token → org/project/billing; anon → skipped)"
      operationId: world_groq_summarize
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
        '401': { description: Missing/invalid IAM token }
  /v1/world/openrouter-summarize:
    post:
      tags: [AI]
      summary: "Alt summary path via Hanzo inference (per-user IAM token)"
      operationId: world_openrouter_summarize
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
        '401': { description: Missing/invalid IAM token }
  /v1/world/classify-batch:
    post:
      tags: [AI]
      summary: "Batch headline classification (per-user IAM token)"
      operationId: world_classify_batch
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
        '401': { description: Missing/invalid IAM token }
  /v1/world/classify-event:
    post:
      tags: [AI]
      summary: "Single event classification (per-user IAM token)"
      operationId: world_classify_event
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
        '401': { description: Missing/invalid IAM token }
  /v1/world/country-intel:
    post:
      tags: [AI]
      summary: "AI country intelligence brief (per-user IAM token)"
      operationId: world_country_intel
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
        '401': { description: Missing/invalid IAM token }
  /v1/world/youtube/live:
    get:
      tags: [Video]
      summary: "Resolve a channel handle to its current LIVE video id"
      operationId: world_youtube_live
      parameters:
        - { name: channel, in: query, required: true, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/youtube/embed:
    get:
      tags: [Video]
      summary: "Self-contained IFrame-API player page (text/html)"
      operationId: world_youtube_embed
      parameters:
        - { name: videoId, in: query, required: true, schema: { type: string } }
      responses:
        '200': { description: HTML player page, content: { text/html: { schema: { type: string } } } }
  /v1/world/limits:
    get:
      tags: [Plan]
      summary: "Resolved World plan limits (contract echo)"
      description: >
        Returns the Hanzo World enforcement limits for a plan, resolved from the
        @hanzo/plans catalog (the single source of truth) via the world.*
        entitlement vocabulary. Agents and the dashboard read this to self-config
        against the live catalog instead of hardcoding tier numbers. Defaults to
        world-free; degrades to the fail-closed Free floor on a catalog outage.
      operationId: world_limits
      parameters:
        - name: plan
          in: query
          required: false
          description: "Plan id (world-free | world-pro | world-team | world-enterprise). Defaults to world-free."
          schema: { type: string, default: world-free }
      responses:
        '200':
          description: Resolved plan limits
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan: { type: string, example: world-pro }
                  unit: { type: string, example: requests/minute }
                  limits:
                    type: object
                    properties:
                      apiRateLimit: { type: integer, description: "world.api_rate_limit, req/min; -1 = unlimited", example: 6000 }
                      mcpRateLimit: { type: integer, description: "world.mcp_rate_limit, req/min; -1 = unlimited", example: 3000 }
                      maxAlerts: { type: integer, description: "world.max_alerts; -1 = unlimited", example: -1 }
                      modelApi: { type: boolean, description: "world.model_api — /v1/world/model + SSE stream access", example: true }
  /v1/world/health:
    get:
      tags: [Meta]
      summary: "Liveness probe"
      operationId: world_health
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/version:
    get:
      tags: [Meta]
      summary: "Build version"
      operationId: world_version
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/cloud-pulse:
    get:
      tags: [Cloud]
      summary: "Public platform aggregate (SaaS variant). Anonymized counts; demo-flagged unless a service token is wired server-side."
      operationId: world_cloud_pulse
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/cloud/models:
    get:
      tags: [Cloud]
      summary: "Public served-model catalog + scale (from the gateway /v1/models). No auth."
      operationId: world_cloud_models
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/cloud/fleet:
    get:
      tags: [Cloud]
      summary: "ADMIN. Machines + GPUs grouped by provider/region (visor). Requires an admin-org IAM bearer; 401 without a token, 403 for non-admin."
      operationId: world_cloud_fleet
      security: [ { bearerAuth: [] } ]
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
        '401': { description: "Sign in required" }
        '403': { description: "Admin only" }
  /v1/world/cloud/services:
    get:
      tags: [Cloud]
      summary: "ADMIN. Per-subsystem health + RED metrics (o11y). Requires an admin-org IAM bearer."
      operationId: world_cloud_services
      security: [ { bearerAuth: [] } ]
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
        '401': { description: "Sign in required" }
        '403': { description: "Admin only" }
  /v1/world/cloud/analytics:
    get:
      tags: [Cloud]
      summary: "ADMIN. Web analytics aggregate — top pages/referrers/countries, live visitors (analytics.hanzo.ai). Requires an admin-org IAM bearer."
      operationId: world_cloud_analytics
      security: [ { bearerAuth: [] } ]
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
        '401': { description: "Sign in required" }
        '403': { description: "Admin only" }
  /v1/world/cloud/llm:
    get:
      tags: [Cloud]
      summary: "ADMIN. Platform LLM observability — per-model/per-org usage, tokens, cost, errors, trace latency (cloud /v1/admin/o11y). Requires an admin-org IAM bearer."
      operationId: world_cloud_llm
      security: [ { bearerAuth: [] } ]
      parameters:
        - in: query
          name: range
          schema: { type: string, enum: [24h, 7d, 30d], default: 24h }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
        '401': { description: "Sign in required" }
        '403': { description: "Admin only" }
  /v1/world/cloud/chain-nodes:
    get:
      tags: [Cloud]
      summary: "Public blockchain-network map data — per-network block height, peer count, live flag, and modeled node positions (positionsModeled:true; counts are real, geo is illustrative). No auth."
      operationId: world_cloud_chain_nodes
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/cloud/byo-gpu:
    get:
      tags: [Cloud]
      summary: "Public BYO-GPU map data — connected GPU workers by region (real counts when a service token is wired server-side, else demo-flagged). No auth."
      operationId: world_cloud_byo_gpu
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
  /v1/world/cloud/traffic:
    get:
      tags: [Cloud]
      summary: "Public request-traffic arcs — country-level origin → nearest region, weight-normalized (real analytics when a service token is wired server-side, else demo-flagged). No auth."
      operationId: world_cloud_traffic
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Hanzo IAM (hanzo.id) OIDC access token. Admin Cloud routes require the owner claim to be an admin org."
