openapi: 3.1.0
info:
  title: Hanzo World API
  description: |
    Hanzo World Model — real-time global-intelligence data on the unified cloud
    /v1 plane. Powers world.hanzo.ai and is consumable by any Hanzo app/agent as
    a data feed. Self-contained Go backend (hanzoai/world, MIT) proxying public
    upstreams (GDELT, CoinGecko, Polymarket, OpenSky, USGS, NASA FIRMS, ACLED,
    FRED, EIA, …) with SSRF-bounded allowlists + short-TTL caching. All routes
    are same-origin `/v1/world/*` (no `/api/` — Hanzo standard).

    AUTH: public data feeds are open (service-level upstream keys where a feed
    requires one; a missing key degrades to a clean empty/`skipped` body, never
    5xx). The AI/inference routes carry NO shared key — they forward the signed-in
    user's IAM token to api.hanzo.ai so inference meters to that user's org +
    project + linked billing account; anonymous callers get a `skipped` body.
  version: 8.0.0
  contact: { name: Hanzo AI, url: https://hanzo.ai, email: support@hanzo.ai }
  license: { name: MIT }
servers:
  - url: https://api.hanzo.ai
    description: Hanzo Gateway
  - url: https://world.hanzo.ai
    description: Hanzo World (same-origin, self-contained fork target *.hanzo.app)
tags:
  - { name: Meta, description: Health + version }
paths:
  /v1/world/limits:
    get:
      tags: [Plan]
      summary: "Resolved World plan limits (contract echo)"
      description: >
        Returns the Hanzo World enforcement limits for a plan, resolved from the
        @hanzo/plans catalog (the single source of truth) via the world.*
        entitlement vocabulary. Agents and the dashboard read this to self-config
        against the live catalog instead of hardcoding tier numbers. Defaults to
        world-free; degrades to the fail-closed Free floor on a catalog outage.
      operationId: world_limits
      parameters:
        - name: plan
          in: query
          required: false
          description: "Plan id (world-free | world-pro | world-team | world-enterprise). Defaults to world-free."
          schema: { type: string, default: world-free }
      responses:
        '200':
          description: Resolved plan limits
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan: { type: string, example: world-pro }
                  unit: { type: string, example: requests/minute }
                  limits:
                    type: object
                    properties:
                      apiRateLimit: { type: integer, description: "world.api_rate_limit, req/min; -1 = unlimited", example: 6000 }
                      mcpRateLimit: { type: integer, description: "world.mcp_rate_limit, req/min; -1 = unlimited", example: 3000 }
                      maxAlerts: { type: integer, description: "world.max_alerts; -1 = unlimited", example: -1 }
                      modelApi: { type: boolean, description: "world.model_api — /v1/world/model + SSE stream access", example: true }
  /v1/world/health:
    get:
      tags: [Meta]
      summary: "Liveness probe"
      operationId: world_health
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object } } } }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Hanzo IAM (hanzo.id) OIDC access token. Admin Cloud routes require the owner claim to be an admin org."
  schemas:
    WorldSummarizeRequest:
      type: object
      description: World-brief summary request. Backs both groq-summarize and openrouter-summarize (same handler).
      properties:
        headlines: { type: array, items: { type: string }, description: Headlines to summarize (non-empty). }
        mode: { type: string, description: "Summary mode (default: brief)." }
        geoContext: { type: string, description: Optional geographic context hint. }
        variant: { type: string, description: "Output variant (default: full)." }
        lang: { type: string, description: Optional target language. }
      required: [headlines]
    WorldClassifyBatchRequest:
      type: object
      description: Batch headline classification request.
      properties:
        titles: { type: array, items: { type: string }, description: Titles to classify (non-empty). }
        variant: { type: string, description: "Classification variant (only 'tech' is special-cased)." }
      required: [titles]
    WorldCountryIntelRequest:
      type: object
      description: AI country-intelligence brief request.
      properties:
        country: { type: string, description: Country name. }
        code: { type: string, description: Country code. }
        context: { type: object, additionalProperties: true, description: Free-form sensor/context object marshaled into the prompt. }
      required: [country, code]
