openapi: 3.1.0
info:
  title: Hanzo O11y API
  description: 'Hanzo O11y is the ONE unified observability surface at /v1/o11y/*.

    The public API is FLAT and version-less (one /v1/, no nested /api/vN): the
    upstream engine version is an internal implementation detail resolved
    server-side, never leaked into a route.


    Surfaces:

    - Builder query (POST /v1/o11y/query, /v1/o11y/query_range) — the one
    canonical composite query the console issues; the org is pinned server-side.

    - Tenant-scoped reads (GET /v1/o11y/logs, /v1/o11y/metrics, /v1/o11y/status)
    — org-pinned product logs, RED metrics plus LLM usage, and live service
    health. The client picks a product and a bounded window, never a raw query.

    - Runtime reads (GET /v1/o11y/services, /v1/o11y/dashboards, /v1/o11y/rules,
    /v1/o11y/health) — served by the embedded o11y runtime.

    - Platform infra health (GET /v1/o11y/vm/query, /v1/o11y/vm/query_range) — a
    SuperAdmin-only VictoriaMetrics read proxy allowlisted to up/sum(up)/count(up).

    - LLM-observability ingest (POST /v1/o11y/ingestion) — the native-Go write
    path for traces, observations, and scores.

    '
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
- url: https://api.hanzo.ai
  description: Hanzo Gateway (api.hanzo.ai/v1/o11y/*)
tags:
- name: O11y
  description: Unified observability — one o11y surface (query, logs, metrics, status,
    runtime reads, platform infra health, and LLM-observability ingest).
security:
- BearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: HANZO_API_KEY
      description: Hanzo API Key (Bearer hk-...)
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT issued by Hanzo IAM (https://hanzo.id). Discovery: https://hanzo.id/.well-known/openid-configuration.
        Obtain via /v1/iam/auth/login, /oauth/token, or the API key UI on hanzo.id.'
  schemas:
    Error:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    BuilderQuery:
      type: object
      additionalProperties: true
      description: 'Composite builder-query payload. The console-shaped composite
        (start, end, step, compositeQuery with queryType and builderQueries) is
        passed through to the internal query engine unchanged; the org is pinned
        server-side and the client never supplies a raw PromQL/SQL fragment.'
      properties:
        start:
          type: integer
          format: int64
          description: Range start (Unix ms).
        end:
          type: integer
          format: int64
          description: Range end (Unix ms).
        step:
          type: integer
          description: Step resolution in seconds.
        compositeQuery:
          type: object
          additionalProperties: true
          description: Composite query definition (queryType, panelType, builderQueries).
    BuilderQueryResult:
      type: object
      additionalProperties: true
      description: Query result envelope. data.result carries the series or list rows
        for the requested composite query.
      properties:
        status:
          type: string
        data:
          type: object
          additionalProperties: true
    LogLine:
      type: object
      properties:
        ts:
          type: string
          format: date-time
          description: RFC3339 UTC timestamp.
        tsNano:
          type: integer
          format: int64
          description: Nanosecond epoch cursor. Pass the response nextCursor back as
            sinceNs to tail.
        severity:
          type: string
          description: INFO, WARN, ERROR, etc.
        body:
          type: string
        source:
          type: string
          enum:
          - infra
          - request
          description: infra is the raw stdout stream (SuperAdmin only); request is the
            per-org request log.
    LogsResponse:
      type: object
      properties:
        product:
          type: string
        view:
          type: string
          enum:
          - infra
          - request
          description: infra for a validated SuperAdmin, request for every other org.
        lines:
          type: array
          items:
            $ref: '#/components/schemas/LogLine'
        nextCursor:
          type: integer
          format: int64
          description: Max nanosecond cursor. Pass back as sinceNs for the next tail poll.
    MetricPoint:
      type: object
      properties:
        t:
          type: string
          format: date-time
          description: RFC3339 UTC bucket start.
        v:
          type: number
    UsagePoint:
      type: object
      properties:
        t:
          type: string
          format: date-time
        calls:
          type: integer
          format: int64
        tokens:
          type: integer
          format: int64
        costCents:
          type: integer
          format: int64
    MetricsResponse:
      type: object
      description: Per-org RED series (rate, errors, latency) for a product plus the
        org LLM usage rollup. A non-admin sees only its own org attribution; a
        validated SuperAdmin sees the whole product. Usage is always the caller org.
      properties:
        product:
          type: string
        range:
          type: object
          properties:
            sinceSec:
              type: integer
            stepSec:
              type: integer
        series:
          type: object
          properties:
            requests:
              type: array
              items:
                $ref: '#/components/schemas/MetricPoint'
            errors:
              type: array
              items:
                $ref: '#/components/schemas/MetricPoint'
            latencyP50Ms:
              type: array
              items:
                $ref: '#/components/schemas/MetricPoint'
            latencyP95Ms:
              type: array
              items:
                $ref: '#/components/schemas/MetricPoint'
        usage:
          type: object
          properties:
            calls:
              type: integer
              format: int64
            tokens:
              type: integer
              format: int64
            costCents:
              type: integer
              format: int64
            series:
              type: array
              items:
                $ref: '#/components/schemas/UsagePoint'
        summary:
          type: object
          properties:
            requests:
              type: integer
              format: int64
            errors:
              type: integer
              format: int64
            errorRate:
              type: number
            p95Ms:
              type: number
    Deployment:
      type: object
      description: One live replica of a product service from the VictoriaMetrics up
        inventory.
      properties:
        instance:
          type: string
        up:
          type: boolean
    StatusResult:
      type: object
      description: Live health of a product service — an in-cluster health probe fused
        with the VictoriaMetrics up inventory.
      properties:
        product:
          type: string
        up:
          type: boolean
        latencyMs:
          type: integer
          format: int64
        source:
          type: string
          enum:
          - probe
          - victoria-metrics
          - unreachable
          - unknown-service
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/Deployment'
        checkedAt:
          type: string
          format: date-time
    PrometheusResponse:
      type: object
      description: Native Prometheus/VictoriaMetrics query envelope, returned verbatim
        by the SuperAdmin VM read proxy.
      properties:
        status:
          type: string
          enum:
          - success
          - error
        data:
          type: object
          properties:
            resultType:
              type: string
              enum:
              - matrix
              - vector
              - scalar
              - string
            result:
              type: array
              items:
                type: object
                additionalProperties: true
        errorType:
          type: string
        error:
          type: string
    ServiceInfo:
      type: object
      properties:
        name:
          type: string
        span_count:
          type: integer
          format: int64
        error_count:
          type: integer
          format: int64
    DashboardSummary:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        tags:
          type: array
          items:
            type: string
        updated_at:
          type: string
          format: date-time
    AlertRule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        state:
          type: string
          enum:
          - ok
          - pending
          - firing
          - inactive
        severity:
          type: string
          enum:
          - info
          - warning
          - critical
        query:
          type: string
    HealthResponse:
      type: object
      properties:
        status:
          type: string
    IngestEvent:
      type: object
      description: One LLM-observability event — a typed envelope whose body is the
        type-specific payload.
      required:
      - type
      properties:
        id:
          type: string
        type:
          type: string
          description: Event type (trace, observation, score).
        timestamp:
          type: string
          format: date-time
        body:
          type: object
          additionalProperties: true
    IngestBatch:
      type: object
      required:
      - batch
      properties:
        batch:
          type: array
          items:
            $ref: '#/components/schemas/IngestEvent'
    IngestResult:
      type: object
      properties:
        accepted:
          type: integer
        dropped:
          type: integer
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden — a validated principal (or, for platform infra health, a
        SuperAdmin) is required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServiceUnavailable:
      description: Service Unavailable — the telemetry datastore is not connected on
        this deployment.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
paths:
  /v1/o11y/query:
    post:
      tags:
      - O11y
      summary: Instant builder query
      operationId: o11yQuery
      description: Evaluate a composite builder query at a single point in time. The org
        is pinned server-side; the internal engine version is resolved internally.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuilderQuery'
      responses:
        '200':
          description: Query result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuilderQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/o11y/query_range:
    post:
      tags:
      - O11y
      summary: Range builder query
      operationId: o11yQueryRange
      description: Evaluate a composite builder query over a range of time — the console
        composite list query. The org is pinned server-side.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuilderQuery'
      responses:
        '200':
          description: Range query result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuilderQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/o11y/logs:
    get:
      tags:
      - O11y
      summary: Tenant-scoped product logs
      operationId: o11yLogs
      description: Org-scoped log stream for a product. A validated SuperAdmin sees the
        raw infra stdout stream; every other org sees its own request log stream. Tail
        by passing the prior response nextCursor back as sinceNs.
      parameters:
      - name: product
        in: query
        required: true
        schema:
          type: string
        description: Product slug (lowercase alphanumeric plus hyphen, at most 63 chars).
      - name: sinceNs
        in: query
        schema:
          type: integer
          format: int64
        description: Nanosecond tail cursor. Absent, the last window seconds are returned.
      - name: window
        in: query
        schema:
          type: integer
          default: 900
        description: Lookback window in seconds (max 86400) when no cursor is supplied.
      - name: limit
        in: query
        schema:
          type: integer
          default: 200
        description: Row limit (max 1000).
      responses:
        '200':
          description: Log stream
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/o11y/metrics:
    get:
      tags:
      - O11y
      summary: Tenant-scoped RED metrics plus LLM usage
      operationId: o11yMetrics
      description: Per-org rate/errors/latency series for a product plus the org LLM
        usage rollup. A non-admin is pinned to its own org attribution; a validated
        SuperAdmin sees the whole product. Usage is always the caller org.
      parameters:
      - name: product
        in: query
        required: true
        schema:
          type: string
        description: Product slug.
      - name: range
        in: query
        schema:
          type: integer
          default: 3600
        description: Lookback window in seconds (max 604800).
      - name: stepSec
        in: query
        schema:
          type: integer
        description: Bucket width in seconds (30 to 3600). Default is about 60 buckets
          across the range.
      responses:
        '200':
          description: RED metrics plus usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/o11y/status:
    get:
      tags:
      - O11y
      summary: Live product service health
      operationId: o11yStatus
      description: Live in-cluster health probe of a product service fused with the
        VictoriaMetrics up inventory. Principal-gated but not org-partitioned (a service
        is up or down for everyone).
      parameters:
      - name: product
        in: query
        required: true
        schema:
          type: string
        description: Product slug.
      responses:
        '200':
          description: Service status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/o11y/services:
    get:
      tags:
      - O11y
      summary: List traced services
      operationId: o11yServices
      description: List the services known to the o11y runtime.
      responses:
        '200':
          description: List of services
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceInfo'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/o11y/dashboards:
    get:
      tags:
      - O11y
      summary: List dashboards
      operationId: o11yDashboards
      description: List dashboards from the o11y runtime.
      responses:
        '200':
          description: List of dashboards
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DashboardSummary'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/o11y/rules:
    get:
      tags:
      - O11y
      summary: List alert rules
      operationId: o11yRules
      description: List alert rules from the o11y runtime.
      responses:
        '200':
          description: List of alert rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertRule'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/o11y/health:
    get:
      tags:
      - O11y
      summary: O11y health
      operationId: o11yHealth
      description: Liveness of the o11y subsystem.
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /v1/o11y/vm/query:
    get:
      tags:
      - O11y
      summary: Platform infra health — instant VM query (SuperAdmin)
      operationId: o11yVMQuery
      description: SuperAdmin-only VictoriaMetrics instant read proxy backing the
        platform infrastructure-health board. The query is allowlisted to the exact set
        the board issues; anything else is a 400. The native Prometheus envelope is
        returned verbatim.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          enum:
          - up
          - sum(up)
          - count(up)
        description: Allowlisted PromQL. Only up, sum(up), and count(up) are permitted.
      responses:
        '200':
          description: Prometheus instant result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrometheusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/o11y/vm/query_range:
    get:
      tags:
      - O11y
      summary: Platform infra health — range VM query (SuperAdmin)
      operationId: o11yVMQueryRange
      description: SuperAdmin-only VictoriaMetrics range read proxy backing the platform
        infrastructure-health board. The query is allowlisted; start, end, and step are
        validated as positive integers. The native Prometheus envelope is returned
        verbatim.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          enum:
          - up
          - sum(up)
          - count(up)
        description: Allowlisted PromQL. Only up, sum(up), and count(up) are permitted.
      - name: start
        in: query
        required: true
        schema:
          type: integer
          format: int64
        description: Range start (Unix seconds, positive integer).
      - name: end
        in: query
        required: true
        schema:
          type: integer
          format: int64
        description: Range end (Unix seconds, positive integer).
      - name: step
        in: query
        required: true
        schema:
          type: integer
        description: Step resolution (seconds, positive integer).
      responses:
        '200':
          description: Prometheus range result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrometheusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/o11y/ingestion:
    post:
      tags:
      - O11y
      summary: Ingest LLM-observability events
      operationId: o11yIngest
      description: Native-Go write path for LLM-observability events (traces,
        observations, scores). Events arrive as a batch; the response reports how many
        were persisted versus dropped as an unknown type.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestBatch'
      responses:
        '200':
          description: Ingestion receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
