openapi: 3.1.0
info:
  title: Hanzo Visor
  description: 'Hanzo Visor is the Hanzo compute control plane.


    It provisions and manages cloud machines (CPU and GPU), block-storage volumes,
    Kubernetes node pools, remote-access assets and desktop sessions, infrastructure
    providers (including BYOC), billing plans, and audit records.


    Two surfaces coexist under the `/v1` namespace:

    - A resource-style REST surface for the public machine catalog and machine
    lifecycle (`/v1/regions`, `/v1/sizes`, `/v1/gpus`, `/v1/machines`, ...).

    - The verb-style control-plane surface (`/v1/<verb>-<resource>`) used by the
    console.


    Every response is wrapped in a standard envelope with `status`, `msg`, `data`,
    and `data2` fields.

    '
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
- url: https://vm.hanzo.ai
  description: Hanzo Visor Production
security:
- BearerAuth: []
tags:
- name: Compute
  description: Public compute catalog (regions, sizes, GPUs) with Hanzo resale pricing
- name: Machines
  description: Cloud machine catalog and lifecycle
- name: Plans
  description: Billing and capacity plans
- name: Providers
  description: Infrastructure providers, including bring-your-own-cloud (BYOC)
- name: Volumes
  description: Block-storage volume lifecycle
- name: NodePools
  description: Kubernetes node pool management
- name: Sessions
  description: Remote desktop and shell sessions
- name: Assets
  description: Remote-access assets and tunnels
- name: Records
  description: Audit records
- name: Account
  description: Authentication and account
paths:
  /v1/regions:
    get:
      operationId: listRegions
      summary: List DO regions (cached catalog)
      tags: [Compute]
      security: []
      responses:
        '200':
          description: Region catalog in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/sizes:
    get:
      operationId: listSizes
      summary: List machine sizes with Hanzo resale pricing
      tags: [Compute]
      security: []
      responses:
        '200':
          description: Size catalog in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/gpus:
    get:
      operationId: listGpus
      summary: List GPU sizes (H100/H200/MI300X/L40S), resale-priced
      tags: [Compute]
      security: []
      responses:
        '200':
          description: GPU size catalog in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/machines:
    get:
      operationId: listMachines
      summary: List machines for the caller's org
      tags: [Machines]
      responses:
        '200':
          description: Machines for the caller's org in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/machines/launch:
    post:
      operationId: launchMachineQuote
      summary: Quote or launch a machine (dryRun=true returns a LaunchQuote, no spend)
      tags: [Machines]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaunchRequest'
      responses:
        '200':
          description: The launched machine, or a LaunchQuote when dryRun=true, in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/machines/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Machine ID.
      schema:
        type: string
    get:
      operationId: getMachineById
      summary: Get one machine (org-ownership verified)
      tags: [Machines]
      responses:
        '200':
          description: The machine in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: destroyMachine
      summary: Destroy a machine
      tags: [Machines]
      responses:
        '200':
          description: Destroy result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-machines:
    get:
      operationId: getMachines
      summary: List machines (legacy)
      tags: [Machines]
      responses:
        '200':
          description: Machines in `data`, total count in `data2`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-machine:
    get:
      operationId: getMachine
      summary: Get a machine (legacy)
      tags: [Machines]
      responses:
        '200':
          description: The machine in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/add-machine:
    post:
      operationId: addMachine
      summary: Add a machine (legacy)
      tags: [Machines]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/update-machine:
    post:
      operationId: updateMachine
      summary: Update a machine (legacy)
      tags: [Machines]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/delete-machine:
    post:
      operationId: deleteMachine
      summary: Delete a machine (legacy)
      tags: [Machines]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/launch-machine:
    post:
      operationId: launchMachine
      summary: Launch a machine via provider (legacy)
      tags: [Machines]
      responses:
        '200':
          description: The launched machine in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-plans:
    get:
      operationId: getPlans
      summary: List plans
      tags: [Plans]
      responses:
        '200':
          description: Plans in `data`, total count in `data2`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-plan:
    get:
      operationId: getPlan
      summary: Get a plan
      tags: [Plans]
      responses:
        '200':
          description: The plan in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/add-plan:
    post:
      operationId: addPlan
      summary: Add a plan
      tags: [Plans]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/update-plan:
    post:
      operationId: updatePlan
      summary: Update a plan
      tags: [Plans]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/delete-plan:
    post:
      operationId: deletePlan
      summary: Delete a plan
      tags: [Plans]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-providers:
    get:
      operationId: getProviders
      summary: List providers
      tags: [Providers]
      responses:
        '200':
          description: Providers in `data`, total count in `data2`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-provider:
    get:
      operationId: getProvider
      summary: Get a provider
      tags: [Providers]
      responses:
        '200':
          description: The provider in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/add-provider:
    post:
      operationId: addProvider
      summary: Add a provider (BYOC)
      tags: [Providers]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/update-provider:
    post:
      operationId: updateProvider
      summary: Update a provider
      tags: [Providers]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/delete-provider:
    post:
      operationId: deleteProvider
      summary: Delete a provider
      tags: [Providers]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-volumes:
    get:
      operationId: getVolumes
      summary: List volumes
      tags: [Volumes]
      responses:
        '200':
          description: Volumes in `data`, total count in `data2`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-volume:
    get:
      operationId: getVolume
      summary: Get a volume
      tags: [Volumes]
      responses:
        '200':
          description: The volume in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/create-volume:
    post:
      operationId: createVolume
      summary: Create a volume
      tags: [Volumes]
      responses:
        '200':
          description: The created volume in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/delete-volume:
    post:
      operationId: deleteVolume
      summary: Delete a volume
      tags: [Volumes]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/attach-volume:
    post:
      operationId: attachVolume
      summary: Attach a volume to a machine
      tags: [Volumes]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/detach-volume:
    post:
      operationId: detachVolume
      summary: Detach a volume from a machine
      tags: [Volumes]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/resize-volume:
    post:
      operationId: resizeVolume
      summary: Resize a volume
      tags: [Volumes]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-node-pools:
    get:
      operationId: getNodePools
      summary: List node pools
      tags: [NodePools]
      responses:
        '200':
          description: Node pools in `data`, total count in `data2`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-node-pool:
    get:
      operationId: getNodePool
      summary: Get a node pool
      tags: [NodePools]
      responses:
        '200':
          description: The node pool in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/create-node-pool:
    post:
      operationId: createNodePool
      summary: Create a node pool
      tags: [NodePools]
      responses:
        '200':
          description: The created node pool in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/update-node-pool:
    post:
      operationId: updateNodePool
      summary: Update a node pool
      tags: [NodePools]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/delete-node-pool:
    post:
      operationId: deleteNodePool
      summary: Delete a node pool
      tags: [NodePools]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/scale-node-pool:
    post:
      operationId: scaleNodePool
      summary: Scale a node pool
      tags: [NodePools]
      responses:
        '200':
          description: The scaled node pool in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-sessions:
    get:
      operationId: getSessions
      summary: List sessions
      tags: [Sessions]
      responses:
        '200':
          description: Sessions in `data`, total count in `data2`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-session:
    get:
      operationId: getSession
      summary: Get a session
      tags: [Sessions]
      responses:
        '200':
          description: The session in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/add-session:
    post:
      operationId: addSession
      summary: Add a session
      tags: [Sessions]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/update-session:
    post:
      operationId: updateSession
      summary: Update a session
      tags: [Sessions]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/delete-session:
    post:
      operationId: deleteSession
      summary: Delete a session
      tags: [Sessions]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/start-session:
    post:
      operationId: startSession
      summary: Start a session
      tags: [Sessions]
      responses:
        '200':
          description: The started session in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/stop-session:
    post:
      operationId: stopSession
      summary: Stop a session
      tags: [Sessions]
      responses:
        '200':
          description: The stopped session in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-assets:
    get:
      operationId: getAssets
      summary: List assets
      tags: [Assets]
      responses:
        '200':
          description: Assets in `data`, total count in `data2`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-asset:
    get:
      operationId: getAsset
      summary: Get an asset
      tags: [Assets]
      responses:
        '200':
          description: The asset in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/add-asset:
    post:
      operationId: addAsset
      summary: Add an asset
      tags: [Assets]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/update-asset:
    post:
      operationId: updateAsset
      summary: Update an asset
      tags: [Assets]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/delete-asset:
    post:
      operationId: deleteAsset
      summary: Delete an asset
      tags: [Assets]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/add-asset-tunnel:
    post:
      operationId: addAssetTunnel
      summary: Open a remote-access tunnel to an asset
      tags: [Assets]
      responses:
        '200':
          description: The tunnel session in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-asset-tunnel:
    get:
      operationId: getAssetTunnel
      summary: Get an asset tunnel session
      tags: [Assets]
      responses:
        '200':
          description: The tunnel session in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-records:
    get:
      operationId: getRecords
      summary: List audit records
      tags: [Records]
      responses:
        '200':
          description: Records in `data`, total count in `data2`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-record:
    get:
      operationId: getRecord
      summary: Get an audit record
      tags: [Records]
      responses:
        '200':
          description: The record in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/add-record:
    post:
      operationId: addRecord
      summary: Add an audit record
      tags: [Records]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/update-record:
    post:
      operationId: updateRecord
      summary: Update an audit record
      tags: [Records]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/delete-record:
    post:
      operationId: deleteRecord
      summary: Delete an audit record
      tags: [Records]
      responses:
        '200':
          description: Action result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/commit-record:
    post:
      operationId: commitRecord
      summary: Commit a record (audit anchor)
      tags: [Records]
      responses:
        '200':
          description: Commit result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/query-record:
    get:
      operationId: queryRecord
      summary: Query a committed record
      tags: [Records]
      responses:
        '200':
          description: The queried record in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/signin:
    post:
      operationId: signin
      summary: Sign in (IAM OAuth code exchange)
      tags: [Account]
      responses:
        '200':
          description: The authenticated account in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/signout:
    post:
      operationId: signout
      summary: Sign out
      tags: [Account]
      responses:
        '200':
          description: Sign-out result in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-account:
    get:
      operationId: getAccount
      summary: Get the current account
      tags: [Account]
      responses:
        '200':
          description: The current account in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/get-whitelabel:
    get:
      operationId: getWhitelabel
      summary: Get white-label branding for the host
      tags: [Account]
      responses:
        '200':
          description: White-label branding in `data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT issued by Hanzo IAM (https://hanzo.id). Discovery: https://hanzo.id/.well-known/openid-configuration.'
  responses:
    Unauthorized:
      description: Authentication or authorization failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Response'
          example:
            status: error
            msg: Unauthorized operation
            data: null
            data2: null
  schemas:
    Response:
      type: object
      description: Standard response envelope returned by every endpoint.
      properties:
        status:
          type: string
          enum: [ok, error]
          description: Request outcome.
        msg:
          type: string
          description: Human-readable message; empty on success, error detail on failure.
        data:
          description: Primary payload; shape depends on the endpoint. Null when not applicable.
        data2:
          description: Secondary payload, often a pagination total count. Null when not applicable.
    LaunchRequest:
      type: object
      description: Machine launch or quote request; additional provider-specific spec fields are accepted.
      required:
      - size
      - region
      properties:
        size:
          type: string
          description: Machine size slug (see /v1/sizes and /v1/gpus).
        region:
          type: string
          description: Target region slug (see /v1/regions).
        dryRun:
          type: boolean
          description: When true, returns a LaunchQuote (price estimate) without provisioning or spending.
      additionalProperties: true
