openapi: 3.1.0
info:
  title: Hanzo Visor API
  description: |
    Hanzo Cloud COMPUTE surface — the tenant's machines, GPUs, DOKS clusters and
    bots, served as clean org-scoped REST off the unified cloud binary
    (`hanzoai/cloud/clients/visor`) fronting Visor (the cloud OS that owns
    compute). Every resource is scoped to the caller's org from the validated IAM
    owner claim; a caller only ever reads or mutates their OWN tenant's compute.
    A Bot is a composition: a `kind=bot` machine plus an agent binding.
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
  - url: https://api.hanzo.ai
    description: Hanzo Gateway
tags:
  - name: Machines
    description: Per-org cloud machine lifecycle
  - name: GPUs
    description: Per-accelerator GPU inventory
  - name: Clusters
    description: DOKS clusters and node pools
  - name: Catalog
    description: Global compute regions and sizes
  - name: Bots
    description: Bots (kind=bot machine + agent binding)
security:
  - bearerAuth: []
paths:
  /v1/machines:
    get:
      tags: [Machines]
      summary: List the org's machines
      operationId: listMachines
      responses:
        '200': { description: Machines, content: { application/json: { schema: { type: object, properties: { machines: { type: array, items: { $ref: '#/components/schemas/MachineView' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Machines]
      summary: Launch a machine (or dryRun for a price quote)
      operationId: launchMachine
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LaunchRequest' }
      responses:
        '200': { description: 'Price quote (dryRun) — Visor authoritative quote, verbatim', content: { application/json: { schema: { type: object } } } }
        '201': { description: Machine launched, content: { application/json: { schema: { $ref: '#/components/schemas/MachineView' } } } }
        '400': { description: size is required }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/machines/{id}:
    get:
      tags: [Machines]
      summary: Get one machine by org-scoped name
      operationId: getMachine
      parameters:
        - { name: id, in: path, required: true, schema: { type: string }, description: Org-scoped machine name }
      responses:
        '200': { description: Machine, content: { application/json: { schema: { $ref: '#/components/schemas/MachineView' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Machine not found }
    delete:
      tags: [Machines]
      summary: Terminate a machine
      operationId: deleteMachine
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Terminated }
        '401': { $ref: '#/components/responses/Unauthorized' }



  /v1/gpus:
    get:
      tags: [GPUs]
      summary: List per-accelerator GPU inventory (derived from GPU machines)
      operationId: listGPUs
      responses:
        '200': { description: GPUs, content: { application/json: { schema: { type: object, properties: { gpus: { type: array, items: { $ref: '#/components/schemas/GpuView' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/gpus/alerts:
    get:
      tags: [GPUs]
      summary: List GPU alerts (honest empty — Visor carries no alert inventory)
      operationId: listGpuAlerts
      responses:
        '200': { description: Alerts, content: { application/json: { schema: { type: object, properties: { alerts: { type: array, items: {} } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/clusters:
    get:
      tags: [Clusters]
      summary: List DOKS clusters (projected from node pools)
      operationId: listClusters
      responses:
        '200': { description: Clusters, content: { application/json: { schema: { type: object, properties: { clusters: { type: array, items: { $ref: '#/components/schemas/ClusterView' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/clusters/{clusterId}/pools:
    post:
      tags: [Clusters]
      summary: Add a node pool to a cluster
      operationId: createPool
      parameters:
        - { name: clusterId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PoolRequest' }
      responses:
        '201': { description: Node pool created, content: { application/json: { schema: { $ref: '#/components/schemas/NodePoolView' } } } }
        '400': { description: provider is required }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/clusters/{clusterId}/pools/{poolId}/scale:
    post:
      tags: [Clusters]
      summary: Scale a node pool
      operationId: scalePool
      parameters:
        - { name: clusterId, in: path, required: true, schema: { type: string } }
        - { name: poolId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScaleRequest' }
      responses:
        '200': { description: Node pool scaled, content: { application/json: { schema: { $ref: '#/components/schemas/NodePoolView' } } } }
        '400': { description: provider is required / count must be non-negative }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/clusters/{clusterId}/pools/{poolId}:
    delete:
      tags: [Clusters]
      summary: Delete a node pool
      operationId: deletePool
      parameters:
        - { name: clusterId, in: path, required: true, schema: { type: string } }
        - { name: poolId, in: path, required: true, schema: { type: string } }
        - { name: provider, in: query, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted }
        '400': { description: provider is required }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/compute/regions:
    get:
      tags: [Catalog]
      summary: List the global compute region catalog
      operationId: listRegions
      responses:
        '200': { description: 'Regions — Visor authoritative catalog, verbatim', content: { application/json: { schema: {} } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/compute/sizes:
    get:
      tags: [Catalog]
      summary: List the global compute size catalog
      operationId: listSizes
      responses:
        '200': { description: 'Sizes — Visor authoritative catalog, verbatim', content: { application/json: { schema: {} } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/bots:
    get:
      tags: [Bots]
      summary: List the org's bots
      operationId: listBots
      responses:
        '200': { description: Bots, content: { application/json: { schema: { type: object, properties: { bots: { type: array, items: { $ref: '#/components/schemas/BotView' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }




components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: IAM-issued JWT or `sk-` Cloud API key. The org is taken from the validated owner claim.
  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
  schemas:
    MachineView:
      type: object
      description: A machine, shaped for the console (org-scoped name as id).
      properties:
        id: { type: string, description: Org-scoped machine name (stable key the :id routes address) }
        name: { type: string }
        region: { type: string }
        type: { type: string }
        status: { type: string }
        provider: { type: string }
        publicIp: { type: string }
        privateIp: { type: string }
        createdTime: { type: string }
        vcpu: { type: integer }
        gpu: { type: string, description: GPU model when the size slug is a GPU accelerator }
        image: { type: string }
        os: { type: string }
    GpuView:
      type: object
      description: One row per physical accelerator. Live telemetry is omitted (Visor carries none).
      properties:
        id: { type: string }
        name: { type: string }
        model: { type: string }
        region: { type: string }
        status: { type: string }
        location: { type: string }
        machine: { type: string }
    NodePoolView:
      type: object
      properties:
        poolId: { type: string }
        name: { type: string }
        size: { type: string }
        count: { type: integer }
        minNodes: { type: integer }
        maxNodes: { type: integer }
        autoScale: { type: boolean }
    ClusterView:
      type: object
      properties:
        doksClusterId: { type: string }
        doClusterId: { type: string }
        name: { type: string }
        region: { type: string }
        status: { type: string }
        nodePools: { type: array, items: { $ref: '#/components/schemas/NodePoolView' } }
        nodeSize: { type: string }
        nodeCount: { type: integer }
        createdAt: { type: string }
    AgentBinding:
      type: object
      description: The record that a machine runs the @hanzo/bot runtime for a cloud Agent.
      properties:
        owner: { type: string }
        name: { type: string }
        machineId: { type: string }
        org: { type: string }
        agentName: { type: string }
        provider: { type: string }
        publicIp: { type: string }
        botVersion: { type: string }
        status: { type: string }
        message: { type: string }
        createdTime: { type: string }
        updatedTime: { type: string }
    BotView:
      allOf:
        - $ref: '#/components/schemas/MachineView'
        - type: object
          properties:
            agent: { type: string, description: The bound agent name }
            binding: { $ref: '#/components/schemas/AgentBinding' }
    LaunchRequest:
      type: object
      properties:
        name: { type: string }
        size: { type: string, description: Machine size slug (or use instanceType) }
        instanceType: { type: string }
        region: { type: string }
        dryRun: { type: boolean, description: "When true, return a price quote and spend nothing" }
    PoolRequest:
      type: object
      required: [provider]
      properties:
        provider: { type: string }
        name: { type: string }
        size: { type: string }
        count: { type: integer }
        minNodes: { type: integer }
        maxNodes: { type: integer }
        autoScale: { type: boolean }
    ScaleRequest:
      type: object
      required: [provider]
      properties:
        provider: { type: string }
        count: { type: integer, minimum: 0 }
