openapi: 3.1.0
info:
  title: Hanzo Framework API
  description: |
    Metadata-driven DocType engine — the `/v1/framework/*` surface served by the
    cloud `framework` subsystem (`hanzoai/cloud/clients/framework`). A native-Go,
    Base/SQLite successor to Frappe's DocType/metadata core: define a DocType
    (fields, permissions, lifecycle), then CRUD schemaless documents against it
    through ONE generic surface. CMS content-types, ERP DocTypes, Helpdesk, and
    the KB knowledge model are all "just DocTypes" installed as modules.

    - Register a DocType and its fields, roles, and per-role permissions.
    - Create/read/update/delete/submit/cancel documents of any DocType.
    - Assign and revoke per-org roles; install app-lane module fixtures.

    Everything is org-scoped: the org is the validated tenant, so one org's
    schema and data are invisible to another.
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
  - url: https://api.hanzo.ai
    description: Hanzo Gateway
tags:
  - name: DocTypes
    description: DocType registry (metadata definitions)
  - name: Documents
    description: Generic metadata-driven document CRUD + lifecycle
  - name: Roles
    description: Per-org role assignments
  - name: Modules
    description: App-lane module fixtures (install a content model into an org)
security:
  - bearerAuth: []
paths:
  /v1/framework/summary:
    get:
      tags: [DocTypes]
      summary: Org summary (doctype + document counts)
      operationId: frameworkSummary
      responses:
        '200':
          description: Summary
          content:
            application/json:
              schema: { type: object, properties: { doctypes: { type: integer }, documents: { type: integer } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/framework/doctypes:
    get:
      tags: [DocTypes]
      summary: List DocType definitions
      operationId: listDocTypes
      responses:
        '200': { description: DocType list, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: '#/components/schemas/DocType' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [DocTypes]
      summary: Define a DocType
      operationId: createDocType
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DocType' }
      responses:
        '201': { description: DocType created, content: { application/json: { schema: { $ref: '#/components/schemas/DocType' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/framework/doctypes/{name}:
    parameters:
      - { name: name, in: path, required: true, schema: { type: string } }
    get:
      tags: [DocTypes]
      summary: Get a DocType definition
      operationId: getDocType
      responses:
        '200': { description: DocType, content: { application/json: { schema: { $ref: '#/components/schemas/DocType' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [DocTypes]
      summary: Replace a DocType definition
      operationId: replaceDocType
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DocType' }
      responses:
        '200': { description: DocType replaced, content: { application/json: { schema: { $ref: '#/components/schemas/DocType' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [DocTypes]
      summary: Delete a DocType (and its documents)
      operationId: deleteDocType
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/framework/roles:
    get:
      tags: [Roles]
      summary: List per-org role assignments
      operationId: listRoles
      responses:
        '200': { description: Role assignments, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: '#/components/schemas/Role' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Roles]
      summary: Assign a role to a user
      operationId: assignRole
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Role' }
      responses:
        '201': { description: Role assigned, content: { application/json: { schema: { $ref: '#/components/schemas/Role' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/framework/roles/{user}/{role}:
    parameters:
      - { name: user, in: path, required: true, schema: { type: string } }
      - { name: role, in: path, required: true, schema: { type: string } }
    delete:
      tags: [Roles]
      summary: Revoke a role from a user
      operationId: revokeRole
      responses:
        '204': { description: Revoked }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/framework/modules:
    get:
      tags: [Modules]
      summary: List registered app-lane modules
      operationId: listModules
      responses:
        '200':
          description: Modules
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        module: { type: string }
                        doctypes: { type: array, items: { type: string } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/framework/modules/{module}:
    parameters:
      - { name: module, in: path, required: true, schema: { type: string } }
    get:
      tags: [Modules]
      summary: Inspect a module and its install state in this org
      operationId: getModule
      responses:
        '200':
          description: Module detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  module: { type: string }
                  doctypes: { type: array, items: { type: string } }
                  installed: { type: array, items: { type: string } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/framework/modules/{module}/install:
    parameters:
      - { name: module, in: path, required: true, schema: { type: string } }
    post:
      tags: [Modules]
      summary: Install a module's DocType fixtures into this org (idempotent)
      operationId: installModule
      responses:
        '200':
          description: Install result
          content:
            application/json:
              schema:
                type: object
                properties:
                  module: { type: string }
                  created: { type: array, items: { type: string } }
                  existing: { type: array, items: { type: string } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/framework/{doctype}:
    parameters:
      - { name: doctype, in: path, required: true, schema: { type: string } }
    get:
      tags: [Documents]
      summary: List documents of a DocType
      operationId: listDocuments
      parameters:
        - { name: filters, in: query, schema: { type: string }, description: "'JSON object of field→value filters (declared fields, name, or docstatus)'" }
        - { name: fields, in: query, schema: { type: string }, description: 'Comma list or JSON array of field names to project' }
        - { name: order_by, in: query, schema: { type: string }, description: 'field [asc|desc]' }
        - { name: limit, in: query, schema: { type: integer, default: 100 } }
      responses:
        '200': { description: Documents, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: '#/components/schemas/Document' } } } } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Documents]
      summary: Create a document
      operationId: createDocument
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Document' }
      responses:
        '201': { description: Document created, content: { application/json: { schema: { $ref: '#/components/schemas/Document' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/framework/{doctype}/{name}:
    parameters:
      - { name: doctype, in: path, required: true, schema: { type: string } }
      - { name: name, in: path, required: true, schema: { type: string } }
    get:
      tags: [Documents]
      summary: Get a document
      operationId: getDocument
      responses:
        '200': { description: Document, content: { application/json: { schema: { $ref: '#/components/schemas/Document' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Documents]
      summary: Update a draft document
      operationId: updateDocument
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Document' }
      responses:
        '200': { description: Document updated, content: { application/json: { schema: { $ref: '#/components/schemas/Document' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Document is not a draft }
    delete:
      tags: [Documents]
      summary: Delete a document
      operationId: deleteDocument
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Submitted document must be cancelled first }

  /v1/framework/{doctype}/{name}/submit:
    parameters:
      - { name: doctype, in: path, required: true, schema: { type: string } }
      - { name: name, in: path, required: true, schema: { type: string } }
    post:
      tags: [Documents]
      summary: Submit a document (docstatus 0→1)
      operationId: submitDocument
      responses:
        '200': { description: Document submitted, content: { application/json: { schema: { $ref: '#/components/schemas/Document' } } } }
        '400': { description: DocType is not submittable }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Illegal docstatus transition }

  /v1/framework/{doctype}/{name}/cancel:
    parameters:
      - { name: doctype, in: path, required: true, schema: { type: string } }
      - { name: name, in: path, required: true, schema: { type: string } }
    post:
      tags: [Documents]
      summary: Cancel a submitted document (docstatus 1→2)
      operationId: cancelDocument
      responses:
        '200': { description: Document cancelled, content: { application/json: { schema: { $ref: '#/components/schemas/Document' } } } }
        '400': { description: DocType is not submittable }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Illegal docstatus transition }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: IAM-issued JWT or `hk-` Cloud API key.
  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
  schemas:
    Fieldtype:
      type: string
      description: DocField type (closed set the engine validates).
      enum: [Data, Int, Float, Currency, Check, Date, Datetime, Text, SmallText, LongText, RichText, Select, Link, Table, Attach, JSON, Password]
    DocField:
      type: object
      required: [fieldname, fieldtype]
      properties:
        fieldname: { type: string, description: snake_case identifier }
        fieldtype: { $ref: '#/components/schemas/Fieldtype' }
        label: { type: string }
        reqd: { type: boolean }
        options: { type: string, description: 'Select → newline choices; Link → target DocType; Table → child DocType' }
        default: { type: string }
        unique: { type: boolean }
        readOnly: { type: boolean }
        hidden: { type: boolean }
        inListView: { type: boolean }
        fetchFrom: { type: string, description: '"link_field.source_field" — auto-populate from a linked document' }
    DocPerm:
      type: object
      required: [role]
      properties:
        role: { type: string }
        read: { type: boolean }
        write: { type: boolean }
        create: { type: boolean }
        delete: { type: boolean }
        submit: { type: boolean }
        cancel: { type: boolean }
    DocType:
      type: object
      required: [name, fields]
      properties:
        name: { type: string }
        module: { type: string }
        isSingle: { type: boolean, description: Exactly one document exists }
        isSubmittable: { type: boolean, description: Has the submit/cancel lifecycle }
        autoname: { type: string, description: '"" or hash → random id; "field:x"; "prompt"; or a series pattern e.g. "INV-.YYYY.-.#####"' }
        titleField: { type: string }
        fields: { type: array, items: { $ref: '#/components/schemas/DocField' } }
        permissions: { type: array, items: { $ref: '#/components/schemas/DocPerm' } }
        createdAt: { type: integer, format: int64 }
        updatedAt: { type: integer, format: int64 }
    Role:
      type: object
      required: [user, role]
      properties:
        user: { type: string }
        role: { type: string }
    Document:
      type: object
      description: |
        A schemaless document. Field data is carried at the top level alongside the
        envelope keys (name/doctype/docstatus/createdAt/updatedAt). Password fields
        are redacted in responses. On write, only the field data is read.
      additionalProperties: true
      properties:
        name: { type: string }
        doctype: { type: string }
        docstatus: { type: integer, enum: [0, 1, 2], description: "'0=draft, 1=submitted, 2=cancelled'" }
        createdAt: { type: integer, format: int64 }
        updatedAt: { type: integer, format: int64 }
