# The /v1/platform surface, authored from what cloud actually serves.
#
# This file used to carry 131 RPC-style /v1/platform/application/*, /v1/platform/
# project/* paths that 404 in production, and NONE of the 33 REST routes cloud
# mounts. That combination is worse than an empty spec: genspec iterates the
# AUTHORED master and the live route table can only REFUTE, never add, so the
# real routes reached no SDK and no `hanzo` command while the dead ones reached
# every one of them.
#
# The 33 are now authored and the dead 131 are gone. Source of truth is cloud's
# openapi.yaml, a golden projection of the live fiber table (byte-identical to it
# under TestFleetIsTheWeaveOfItsApps), so regenerating from cloud is how this
# stays true rather than drifting again.
openapi: 3.1.0
info:
  title: Hanzo Platform API
  description: 'The /v1/platform control plane served by hanzoai/cloud''s platform app: the fleet drift
    board (/v1/platform/fleet), projects and their apps, and sites.


    Authored from cloud''s openapi.yaml, which is a golden projection of the live route table. Every path
    here is served; nothing here is aspirational.

    '
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://platform.hanzo.ai
  description: Platform Production
- url: https://api.hanzo.ai
  description: Hanzo Gateway (via api.hanzo.ai/v1/platform/*)
security:
- BearerAuth: []
tags:
- name: platform
  description: Fleet drift board, projects/apps, and sites.
paths:
  /v1/platform/fleet:
    get:
      operationId: get_v1_platform_fleet
      tags:
      - platform
      parameters:
      - in: query
        name: env
        required: false
        description: Only rows in this environment (namespace).
        schema:
          type: string
      - in: query
        name: health
        required: false
        description: 'Only rows at this health: green | yellow | red.'
        schema:
          type: string
      - in: query
        name: drift
        required: false
        description: 1 or true — only rows whose live state differs from declared.
        schema:
          type: string
  /v1/platform/fleet/{app}:
    get:
      operationId: get_v1_platform_fleet_by_app
      parameters:
      - in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/fleet/{app}/deploy:
    post:
      operationId: post_v1_platform_fleet_by_app_deploy
      parameters:
      - in: path
        name: app
        required: true
        schema:
          type: string
      - in: query
        name: env
        required: false
        description: Environment (namespace) holding the Deployment to restart.
        schema:
          type: string
      tags:
      - platform
  /v1/platform/health:
    get:
      operationId: get_v1_platform_health
      tags:
      - platform
  /v1/platform/projects:
    get:
      operationId: get_v1_platform_projects
      responses:
        2XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/projectView'
                type: array
          description: Success
      tags:
      - platform
  /v1/platform/projects/{project}:
    get:
      operationId: get_v1_platform_projects_by_project
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectView'
          description: Success
      tags:
      - platform
  /v1/platform/projects/{project}/apps:
    get:
      operationId: get_v1_platform_projects_by_project_apps
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/appView'
                type: array
          description: Success
      tags:
      - platform
    post:
      operationId: post_v1_platform_projects_by_project_apps
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAppReq'
      responses:
        2XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appView'
          description: Success
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}:
    delete:
      operationId: delete_v1_platform_projects_by_project_apps_by_app
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - platform
    get:
      operationId: get_v1_platform_projects_by_project_apps_by_app
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appView'
          description: Success
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/deploy:
    post:
      operationId: post_v1_platform_projects_by_project_apps_by_app_deploy
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/deployments:
    get:
      operationId: get_v1_platform_projects_by_project_apps_by_app_deployments
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/deployments/{id}:
    get:
      operationId: get_v1_platform_projects_by_project_apps_by_app_deployments_by_id
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/deployments/{id}/logs:
    get:
      operationId: get_v1_platform_projects_by_project_apps_by_app_deployments_by_id_logs
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/domains:
    get:
      operationId: get_v1_platform_projects_by_project_apps_by_app_domains
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - platform
    post:
      operationId: post_v1_platform_projects_by_project_apps_by_app_domains
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/domains/{host}:
    delete:
      operationId: delete_v1_platform_projects_by_project_apps_by_app_domains_by_host
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      - in: path
        name: host
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/domains/{host}/verify:
    post:
      operationId: post_v1_platform_projects_by_project_apps_by_app_domains_by_host_verify
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      - in: path
        name: host
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/env:
    put:
      operationId: put_v1_platform_projects_by_project_apps_by_app_env
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setEnvReq'
      responses:
        2XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appView'
          description: Success
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/preview:
    post:
      operationId: post_v1_platform_projects_by_project_apps_by_app_preview
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/promote:
    post:
      operationId: post_v1_platform_projects_by_project_apps_by_app_promote
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/rollback:
    post:
      operationId: post_v1_platform_projects_by_project_apps_by_app_rollback
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/start:
    post:
      operationId: post_v1_platform_projects_by_project_apps_by_app_start
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/projects/{project}/apps/{app}/stop:
    post:
      operationId: post_v1_platform_projects_by_project_apps_by_app_stop
      parameters:
      - in: path
        name: project
        required: true
        schema:
          type: string
      - in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/sites:
    get:
      operationId: get_v1_platform_sites
      tags:
      - platform
    post:
      operationId: post_v1_platform_sites
      tags:
      - platform
  /v1/platform/sites/{slug}:
    delete:
      operationId: delete_v1_platform_sites_by_slug
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      tags:
      - platform
    get:
      operationId: get_v1_platform_sites_by_slug
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      tags:
      - platform
    patch:
      operationId: patch_v1_platform_sites_by_slug
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/sites/{slug}/deploy:
    post:
      operationId: post_v1_platform_sites_by_slug_deploy
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/sites/{slug}/deployments:
    get:
      operationId: get_v1_platform_sites_by_slug_deployments
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/sites/{slug}/deployments/{id}:
    get:
      operationId: get_v1_platform_sites_by_slug_deployments_by_id
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/sites/{slug}/domains:
    get:
      operationId: get_v1_platform_sites_by_slug_domains
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      tags:
      - platform
    post:
      operationId: post_v1_platform_sites_by_slug_domains
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/sites/{slug}/domains/{host}:
    delete:
      operationId: delete_v1_platform_sites_by_slug_domains_by_host
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      - in: path
        name: host
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/sites/{slug}/domains/{host}/verify:
    post:
      operationId: post_v1_platform_sites_by_slug_domains_by_host_verify
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      - in: path
        name: host
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/sites/{slug}/publish:
    post:
      operationId: post_v1_platform_sites_by_slug_publish
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/sites/{slug}/purge:
    post:
      operationId: post_v1_platform_sites_by_slug_purge
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/sites/{slug}/releases:
    get:
      operationId: get_v1_platform_sites_by_slug_releases
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      tags:
      - platform
    post:
      operationId: post_v1_platform_sites_by_slug_releases
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      tags:
      - platform
  /v1/platform/sites/{slug}/releases/{release}/activate:
    post:
      operationId: post_v1_platform_sites_by_slug_releases_by_release_activate
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      - in: path
        name: release
        required: true
        schema:
          type: string
      tags:
      - platform
components:
  schemas:
    EnvVarJSON:
      properties:
        key:
          type: string
        secret:
          type: boolean
        value:
          type: string
      type: object
    appView:
      properties:
        buildType:
          type: string
        createdAt:
          type: integer
        currentDeploymentId:
          type: string
        description:
          type: string
        dockerfile:
          type: string
        domains:
          items:
            type: string
          type: array
        env:
          items:
            $ref: '#/components/schemas/EnvVarJSON'
          type: array
        environment:
          type: string
        health:
          type: string
        id:
          type: string
        image:
          $ref: '#/components/schemas/imageView'
        name:
          type: string
        namespace:
          type: string
        org:
          type: string
        phase:
          type: string
        port:
          type: integer
        projectId:
          type: string
        replicas:
          type: integer
        repo:
          $ref: '#/components/schemas/gitSource'
        secretSync:
          type: string
        secretSyncDetail:
          type: string
        slug:
          type: string
        source:
          type: string
        status:
          type: string
        storageGb:
          type: integer
        updatedAt:
          type: integer
      type: object
    createAppReq:
      properties:
        buildType:
          type: string
        description:
          type: string
        dockerfile:
          type: string
        domains:
          items:
            type: string
          type: array
        env:
          items:
            $ref: '#/components/schemas/EnvVarJSON'
          type: array
        environment:
          type: string
        image:
          properties:
            repository:
              type: string
            tag:
              type: string
          type: object
        name:
          type: string
        port:
          type: integer
        replicas:
          type: integer
        repo:
          properties:
            branch:
              type: string
            url:
              type: string
          type: object
        slug:
          type: string
        source:
          type: string
        storageGb:
          type: integer
      type: object
    gitSource:
      properties:
        branch:
          type: string
        provider:
          type: string
        url:
          type: string
      type: object
    imageView:
      properties:
        repository:
          type: string
        tag:
          type: string
      type: object
    projectView:
      properties:
        applications:
          type: integer
        createdAt:
          type: integer
        description:
          type: string
        name:
          type: string
        org:
          type: string
        slug:
          type: string
      type: object
    setEnvReq:
      properties:
        env:
          items:
            $ref: '#/components/schemas/EnvVarJSON'
          type: array
      type: object
