openapi: 3.1.0
info:
  title: Hanzo Billing API
  description: |
    The customer-facing, org-scoped billing surface (`/v1/billing/*`) served by
    the cloud `billing` subsystem (`hanzoai/cloud/clients/billing`). It is the
    per-org READ twin of the admin god-view: a thin service-to-service proxy to
    commerce, scoped to the caller's OWN org (the validated IAM owner claim). The
    billing subject is pinned server-side — a client can never widen scope to
    another tenant's wallet. Bodies + status codes are forwarded from commerce
    verbatim (e.g. `402` on `gpu-charge` when a card is required or prepaid is
    insufficient).
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
  - url: https://api.hanzo.ai
    description: Hanzo Gateway
tags:
  - name: Billing
    description: Per-org usage, balance, GPU launch gate, and saved cards
security:
  - bearerAuth: []
paths:
  /v1/billing/usage:
    get:
      tags: [Billing]
      summary: Per-request usage ledger
      operationId: billingUsage
      description: The raw per-request billing ledger (one row per billed call) for the caller's own org.
      parameters:
        - { name: start, in: query, schema: { type: string }, description: Optional server-side window start }
        - { name: end, in: query, schema: { type: string }, description: Optional server-side window end }
      responses:
        '200': { description: Usage ledger, content: { application/json: { schema: { $ref: '#/components/schemas/UsageLedger' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/billing/balance:
    get:
      tags: [Billing]
      summary: Prepaid credit balance
      operationId: billingBalance
      description: The org's prepaid credit balance in USD cents — the same wallet the gateway debits.
      parameters:
        - { name: currency, in: query, schema: { type: string }, description: Optional currency filter (default usd) }
      responses:
        '200': { description: Balance, content: { application/json: { schema: { $ref: '#/components/schemas/Balance' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/billing/gpu-eligibility:
    get:
      tags: [Billing]
      summary: GPU launch eligibility gate
      operationId: billingGpuEligibility
      description: Read-only launch gate — reports prepaid availability and card-on-file so the launch UI can show the exact remedy.
      parameters:
        - { name: amountCents, in: query, schema: { type: integer, format: int64 }, description: Immediate charge to test against }
        - { name: minPrepaidCents, in: query, schema: { type: integer, format: int64 }, description: 24h-minimum prepaid floor }
        - { name: currency, in: query, schema: { type: string } }
      responses:
        '200': { description: Eligibility, content: { application/json: { schema: { $ref: '#/components/schemas/GpuEligibility' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/billing/gpu-charge:
    post:
      tags: [Billing]
      summary: Prepay-only GPU charge
      operationId: billingGpuCharge
      description: |
        The prepay-only, card-required GPU debit against the caller's own org
        wallet. Commerce enforces both gates server-side; the subject is pinned
        server-side, so only the charge params ride the body. Commerce's status is
        forwarded verbatim.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GpuChargeRequest' }
      responses:
        '201': { description: Charge accepted, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { description: 'Payment required — card_required or insufficient_prepaid', content: { application/json: { schema: { type: object, properties: { reason: { type: string, enum: [card_required, insufficient_prepaid] } }, additionalProperties: true } } } }

  /v1/billing/payment-methods:
    get:
      tags: [Billing]
      summary: Saved payment methods (masked)
      operationId: billingPaymentMethods
      description: The org's saved cards as commerce's masked descriptor (brand + last4 + expiry) — never a PAN/CVV/token.
      responses:
        '200': { description: Saved cards, content: { application/json: { schema: { $ref: '#/components/schemas/PaymentMethods' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: IAM-issued JWT or `hk-` Cloud API key.
  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
  schemas:
    UsageRecord:
      type: object
      properties:
        transactionId: { type: string }
        amount: { type: integer, format: int64, description: Billed amount in USD cents }
        metadata: { type: object, additionalProperties: true }
        createdAt: { type: string }
      additionalProperties: true
    UsageLedger:
      type: object
      properties:
        usage: { type: array, items: { $ref: '#/components/schemas/UsageRecord' } }
      additionalProperties: true
    Balance:
      type: object
      description: Prepaid wallet balance in USD cents.
      properties:
        balance: { type: integer, format: int64 }
        holds: { type: integer, format: int64 }
        available: { type: integer, format: int64 }
      additionalProperties: true
    GpuEligibility:
      type: object
      properties:
        eligible: { type: boolean }
        reason: { type: string }
        prepaidAvailable: { type: integer, format: int64 }
        cardOnFile: { type: boolean }
        requiredCents: { type: integer, format: int64 }
      additionalProperties: true
    GpuChargeRequest:
      type: object
      properties:
        amountCents: { type: integer, format: int64 }
        currency: { type: string }
        requestId: { type: string }
        tag: { type: string }
    PaymentMethod:
      type: object
      description: Masked card descriptor — brand + last4 + expiry only.
      properties:
        brand: { type: string }
        last4: { type: string }
        expMonth: { type: integer }
        expYear: { type: integer }
      additionalProperties: true
    PaymentMethods:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/PaymentMethod' } }
      additionalProperties: true
    SpendAlert:
      type: object
      description: |
        A tenant-configured budget on cumulative spend for a SCOPE (project,
        service). It is a soft alert by default; with `enforce: true` it is a HARD
        per-scope spend cap — once `period` spend for the scope would exceed
        `threshold`, the metering gate denies with reason `spend_cap` (402). Period
        spend is DERIVED on demand from the append-only usage ledger for the current
        UTC month; the row carries NO running total, so a cap change takes effect on
        the next request and can never drift from the debited spend. Scope axes use
        "" as a wildcard: ("","") is the org-wide default row, (P,"") every service
        in project P, ("",S) service S in any project.
      properties:
        id: { type: string }
        userId: { type: string, description: 'The org the cap is scoped to — server-pinned to the validated X-Org-Id, never a client field.' }
        title: { type: string }
        threshold: { type: integer, format: int64, description: 'The scope''s spend cap / alert ceiling in USD cents (Money). 0 = no cap (a rate-limit-only row).' }
        currency: { type: string, default: usd }
        project: { type: string, description: 'Scope project axis; "" = wildcard (the org-wide default row).' }
        service: { type: string, description: 'Scope service axis (server-derived route/provider); "" = wildcard (all services).' }
        enforce: { type: boolean, description: 'false (default) = SOFT (warn only, never blocks); true = HARD cap (402 on breach).' }
        softPct: { type: integer, minimum: 1, maximum: 100, description: Soft-warn threshold as a percent of `threshold` (unset/0 defaults to 80). }
        rateLimitRpm: { type: integer, description: Requests-per-minute ceiling for the scope (429 when exceeded). 0 = none. }
        period: { type: string, pattern: '^\d{4}-\d{2}$', description: 'The UTC calendar month the cap is measured over, e.g. "2026-07" (Schedule window; resets on the 1st).' }
        resetsAt: { type: string, format: date-time, description: Midnight UTC on the first of the next month — when period spend resets to 0. }
        periodSpentCents: { type: integer, format: int64, description: 'DERIVED spend for the scope in `period`, in USD cents, summed from the deduped usage ledger. Absent if the aggregation errored.' }
        over: { type: boolean, description: 'DERIVED — true iff a further billable request would breach the cap (the SAME boundary `enforce` uses, so it never drifts from the verdict).' }
        warn: { type: boolean, description: DERIVED — true iff period spend has reached the soft-warn threshold (`softPct` of `threshold`). }
        triggeredAt: { type: string, description: ISO timestamp the alert last fired; empty if never. }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      required: [id, userId, threshold, currency, project, service, enforce, softPct, rateLimitRpm]
      additionalProperties: true
    SpendAlertCreate:
      type: object
      description: |
        Create a spend alert / cap. The owning org is pinned server-side from the
        validated token — a body `userId` is ignored. At least one of `threshold`
        (> 0) or `rateLimitRpm` (> 0) must be set.
      properties:
        title: { type: string }
        threshold: { type: integer, format: int64, minimum: 0, description: Spend cap ceiling in USD cents. }
        currency: { type: string, default: usd }
        project: { type: string, description: 'Scope project axis; "" or "default" = org-wide.' }
        service: { type: string, description: 'Scope service axis; "" = all services.' }
        enforce: { type: boolean, default: false, description: true = HARD cap; false = soft warn. }
        softPct: { type: integer, minimum: 0, maximum: 100, description: Soft-warn percent; 0 defaults to 80. }
        rateLimitRpm: { type: integer, minimum: 0, description: Per-minute request ceiling; 0 = none. }
      additionalProperties: false
    SpendAlertUpdate:
      type: object
      description: Partial update — only the fields present are changed; absent fields are preserved (a PATCH that flips `enforce` must not wipe `threshold`).
      properties:
        title: { type: string }
        threshold: { type: integer, format: int64, minimum: 0 }
        project: { type: string }
        service: { type: string }
        enforce: { type: boolean }
        softPct: { type: integer, minimum: 0, maximum: 100 }
        rateLimitRpm: { type: integer, minimum: 0 }
      additionalProperties: false
    CapReason:
      type: string
      description: |
        The cap/funds verdict reason. "" = allowed (funded and under every covering
        cap). `spend_cap` = funded but a HARD-enforced per-scope cap would be exceeded
        (the tenant's OWN policy ceiling). `insufficient_balance` = out of prepaid
        funds. `spend_cap` and `insufficient_balance` are DISTINCT — one is policy,
        one is funds. The `/spend-alerts/authorize` endpoint (a pure cap check) emits
        only "" or `spend_cap`; the cloud money-path composite (metering) adds
        `insufficient_balance`.
    CapVerdict:
      type: object
      description: |
        The per-request spend-cap verdict for a (project, service) scope, evaluated
        over the org's spend-alert rows (most-restrictive-wins). Fails CLOSED: if a
        hard-enforceable row's spend cannot be computed the verdict denies.
      properties:
        allow: { type: boolean, description: Whether the request is permitted. }
        reason: { $ref: '#/components/schemas/CapReason' }
        capCents: { type: integer, format: int64, description: The tightest violated cap's ceiling in USD cents (0 when allowed). }
        spentCents: { type: integer, format: int64, description: Period spend for the scope in USD cents at decision time. }
        warnPct: { type: integer, description: 'Utilization percent of the most-utilized covering cap when at/over its soft threshold (0 otherwise, and 0 on a deny).' }
      required: [allow, reason]
      additionalProperties: true
