openapi: 3.1.0
info:
  title: Hanzo Pricing API
  version: 1.0.0
  description: |
    Unified pricing API for the Hanzo AI platform. Serves real-time pricing
    for AI models (376+), cloud VM plans, GPU tiers, subscription plans,
    tools, and infrastructure.

    All prices are dynamically synced from upstream providers every 6 hours.
    Zero egress fees on all plans.
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://pricing.hanzo.ai
    description: Production

tags:
  - name: Health
    description: Service health and status
  - name: Models
    description: AI model pricing and listings
  - name: Cloud
    description: Cloud VM plans, regions, and storage
  - name: Subscriptions
    description: Platform subscription plans
  - name: Infrastructure
    description: Compute tiers, GPU pricing, and tools
  - name: Policy
    description: Pricing policy and revenue sharing

paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: Returns service health, last sync time, and model counts.
      tags: [Health]
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /v1/pricing:
    get:
      operationId: getFullPricing
      summary: Full pricing data
      description: |
        Returns the complete pricing dataset including all AI models,
        tools, infrastructure, and cloud plans. Large response (~500KB).
      tags: [Models, Cloud, Infrastructure]
      responses:
        "200":
          description: Full pricing data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FullPricingResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/models:
    get:
      operationId: listModels
      summary: List all AI models (OpenAI-compatible)
      description: |
        Returns all available AI models in an OpenAI-compatible format.
        Includes 32 Zen (Hanzo first-party) models and 344+ third-party
        models from providers like OpenAI, Anthropic, Google, Meta, etc.
      tags: [Models]
      responses:
        "200":
          description: Model list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelListResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/models:
    get:
      operationId: listPricingModels
      summary: All models with pricing
      description: |
        Returns a flat list of all models with full pricing details.
        Each model includes input/output token costs, context window,
        and provider information.
      tags: [Models]
      responses:
        "200":
          description: Models with pricing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PricingModelsResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/model/{name}:
    get:
      operationId: getModel
      summary: Single model lookup
      description: |
        Look up a single model by name or ID. Case-insensitive matching.
        Returns full model details including pricing, specs, and features.
      tags: [Models]
      parameters:
        - name: name
          in: path
          required: true
          description: Model name or ID (case-insensitive)
          schema:
            type: string
          examples:
            zen4:
              value: zen4
            gpt4o:
              value: openai/gpt-4o
      responses:
        "200":
          description: Model found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Model"
        "404":
          description: Model not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/free:
    get:
      operationId: listFreeModels
      summary: Free models only
      description: Returns models with zero cost (free tier eligible).
      tags: [Models]
      responses:
        "200":
          description: Free models
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PricingModelsResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/featured:
    get:
      operationId: listFeaturedModels
      summary: Featured third-party models
      description: Returns curated featured models from third-party providers.
      tags: [Models]
      responses:
        "200":
          description: Featured models
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PricingModelsResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/summary:
    get:
      operationId: getPricingSummary
      summary: Model counts and provider breakdown
      description: |
        Returns aggregate statistics: model counts by category,
        number of providers, and provider breakdown.
      tags: [Models]
      responses:
        "200":
          description: Pricing summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SummaryResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/providers:
    get:
      operationId: listProviders
      summary: Provider breakdown
      description: Returns all model providers with counts.
      tags: [Models]
      responses:
        "200":
          description: Provider list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProvidersResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/plans:
    get:
      operationId: listPlans
      summary: Subscription plans
      description: |
        Returns platform subscription plans (Developer, Pro, Team, Enterprise).
        Alias for /v1/pricing/subscriptions.
      tags: [Subscriptions]
      responses:
        "200":
          description: Subscription plans
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionPlansResponse"

  /v1/pricing/subscriptions:
    get:
      operationId: listSubscriptions
      summary: Subscription plans
      description: |
        Returns platform subscription plans with pricing, features,
        rate limits, and revenue sharing details.
      tags: [Subscriptions]
      responses:
        "200":
          description: Subscription plans
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionPlansResponse"

  /v1/cloud:
    get:
      operationId: getCloud
      summary: Cloud VM plans, regions, and storage
      description: |
        Returns all cloud infrastructure pricing: VM plans, available
        deployment regions, and block storage rates.
      tags: [Cloud]
      responses:
        "200":
          description: Cloud pricing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/cloud:
    get:
      operationId: getCloudPricing
      summary: Cloud infrastructure pricing
      description: Full cloud pricing including plans, regions, and block storage.
      tags: [Cloud]
      responses:
        "200":
          description: Cloud pricing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/cloud/plans:
    get:
      operationId: listCloudPlans
      summary: Cloud VM plans
      description: |
        Returns available cloud VM plans with specs and pricing.
        Plans range from $5/mo (Starter) to $3,999/mo (Ultra).
        All prices include zero egress fees.
      tags: [Cloud]
      responses:
        "200":
          description: Cloud plans
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudPlansResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/cloud/regions:
    get:
      operationId: listCloudRegions
      summary: Available cloud regions
      description: Returns deployment regions with availability status.
      tags: [Cloud]
      responses:
        "200":
          description: Cloud regions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudRegionsResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/cloud/storage:
    get:
      operationId: getStoragePricing
      summary: Block storage pricing
      description: Returns per-GB/month pricing for block storage volumes.
      tags: [Cloud]
      responses:
        "200":
          description: Storage pricing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockStoragePricing"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/compute:
    get:
      operationId: getComputePricing
      summary: Compute tiers
      description: Returns infrastructure compute tier pricing with DO-backed sizes.
      tags: [Infrastructure]
      responses:
        "200":
          description: Compute pricing
          content:
            application/json:
              schema:
                type: object
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/compute/presets:
    get:
      operationId: getComputePresets
      summary: Curated compute presets
      description: Returns curated compute presets for the launch page.
      tags: [Infrastructure]
      responses:
        "200":
          description: Compute presets
          content:
            application/json:
              schema:
                type: object
                properties:
                  presets:
                    type: array
                    items:
                      type: object
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/gpu:
    get:
      operationId: listGpuTiers
      summary: GPU tier pricing
      description: |
        Returns available GPU tiers with VRAM specs and hourly pricing.
        Currently offers H100 GPU configurations.
      tags: [Infrastructure]
      responses:
        "200":
          description: GPU tiers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GpuTiersResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/tools:
    get:
      operationId: listTools
      summary: Tool pricing
      description: |
        Returns pricing for platform tools (Web Search, Code Interpreter,
        File Analysis, Image Generation, etc.).
      tags: [Infrastructure]
      responses:
        "200":
          description: Tool pricing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ToolsResponse"
        "503":
          $ref: "#/components/responses/NotReady"

  /v1/pricing/blockchain:
    get:
      operationId: listBlockchainPlans
      summary: Blockchain / RPC plans
      description: Returns blockchain node and RPC access plans.
      tags: [Subscriptions]
      responses:
        "200":
          description: Blockchain plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  plans:
                    type: array
                    items:
                      type: object

  /v1/pricing/policy:
    get:
      operationId: getPricingPolicy
      summary: Pricing policy and revenue sharing
      description: |
        Returns the transparent pricing policy including markup rates,
        revenue sharing percentages, and free tier details.
      tags: [Policy]
      responses:
        "200":
          description: Pricing policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PricingPolicy"

  /v1/sync:
    post:
      operationId: triggerSync
      summary: Trigger manual sync
      description: |
        Manually triggers a pricing data sync from upstream providers.
        Requires API key authentication.
      tags: [Health]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Sync completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  updated:
                    type: string
                    format: date-time
                  summary:
                    $ref: "#/components/schemas/Summary"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Sync failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key for admin operations (sync trigger)

  responses:
    NotReady:
      description: Pricing data not yet available (initial sync in progress)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
        message:
          type: string

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        lastSync:
          type: string
          format: date-time
          nullable: true
        models:
          $ref: "#/components/schemas/Summary"

    Summary:
      type: object
      properties:
        zenModels:
          type: integer
          example: 32
        thirdPartyModels:
          type: integer
          example: 344
        freeModels:
          type: integer
          example: 29
        featuredModels:
          type: integer
          example: 12
        providers:
          type: integer
          example: 58
        totalModels:
          type: integer
          example: 376
        cloudPlans:
          type: integer
          example: 11
        cloudRegions:
          type: integer
          example: 4

    ModelPricing:
      type: object
      properties:
        input:
          type: number
          description: Cost per 1M input tokens (USD)
          example: 3.0
        output:
          type: number
          description: Cost per 1M output tokens (USD)
          example: 9.6
        cacheRead:
          type: number
          nullable: true
          description: Cost per 1M cached read tokens (USD)
        cacheWrite:
          type: number
          nullable: true
          description: Cost per 1M cache write tokens (USD)

    ModelSpecs:
      type: object
      properties:
        params:
          type: string
          description: Parameter count
          example: "744B (40B active)"
        arch:
          type: string
          description: Architecture type
          example: MoE

    Model:
      type: object
      properties:
        name:
          type: string
          description: Model identifier
          example: zen4
        fullName:
          type: string
          description: Human-readable name
          example: "Zen4 \u2014 Flagship"
        description:
          type: string
        features:
          type: array
          items:
            type: string
        tier:
          type: string
          example: ultra max
        context:
          type: integer
          description: Context window in tokens
          example: 202000
        specs:
          $ref: "#/components/schemas/ModelSpecs"
        pricing:
          $ref: "#/components/schemas/ModelPricing"
        provider:
          type: string
          example: Hanzo
        category:
          type: string
          enum: [zen, featured, third-party]
        id:
          type: string
          description: Provider model ID (third-party models)
        isFree:
          type: boolean
        featured:
          type: boolean
        pricingUnit:
          type: string
          description: Non-token pricing unit (minute, image, step)
          nullable: true

    ModelListResponse:
      type: object
      description: OpenAI-compatible model list
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/Model"
              - type: object
                properties:
                  object:
                    type: string
                    example: model
                  owned_by:
                    type: string
                    example: hanzo

    PricingModelsResponse:
      type: object
      properties:
        updated:
          type: string
          format: date-time
        total:
          type: integer
        models:
          type: array
          items:
            $ref: "#/components/schemas/Model"

    SummaryResponse:
      type: object
      properties:
        updated:
          type: string
          format: date-time
        zenModels:
          type: integer
        thirdPartyModels:
          type: integer
        totalModels:
          type: integer
        providers:
          type: object

    ProvidersResponse:
      type: object
      properties:
        updated:
          type: string
          format: date-time
        providers:
          type: object
          additionalProperties:
            type: integer
          description: Map of provider name to model count

    CloudPlan:
      type: object
      properties:
        id:
          type: string
          example: starter
        name:
          type: string
          example: Starter
        description:
          type: string
        vcpus:
          type: integer
          example: 1
        memoryGB:
          type: integer
          example: 1
        diskGB:
          type: integer
          example: 20
        cpuType:
          type: string
          example: shared
        maxVMs:
          type: integer
          example: 1
        priceMonthly:
          type: number
          example: 5
        priceHourly:
          type: number
          example: 0.0069
        freeTier:
          type: boolean
        popular:
          type: boolean
        features:
          type: array
          items:
            type: string

    CloudPlansResponse:
      type: object
      properties:
        plans:
          type: array
          items:
            $ref: "#/components/schemas/CloudPlan"

    CloudRegion:
      type: object
      properties:
        id:
          type: string
          example: us-east
        name:
          type: string
          example: US East
        location:
          type: string
          example: "Ashburn, VA"
        available:
          type: boolean

    CloudRegionsResponse:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: "#/components/schemas/CloudRegion"

    BlockStoragePricing:
      type: object
      properties:
        pricePerGBPerMonth:
          type: number
          example: 0.08
        minSizeGB:
          type: integer
          example: 10
        maxSizeGB:
          type: integer
          example: 16384
        snapshots:
          type: object
          properties:
            pricePerGBPerMonth:
              type: number
              example: 0.05

    CloudResponse:
      type: object
      properties:
        plans:
          type: array
          items:
            $ref: "#/components/schemas/CloudPlan"
        regions:
          type: array
          items:
            $ref: "#/components/schemas/CloudRegion"
        blockStorage:
          $ref: "#/components/schemas/BlockStoragePricing"

    SubscriptionPlan:
      type: object
      properties:
        id:
          type: string
          example: developer
        name:
          type: string
          example: Developer
        description:
          type: string
        priceMonthly:
          type: number
          example: 0
        priceAnnual:
          type: number
          nullable: true
        category:
          type: string
          enum: [personal, professional, business, enterprise]
        features:
          type: array
          items:
            type: string
        limits:
          type: object
          properties:
            requestsPerMinute:
              type: integer
            tokensPerMinute:
              type: integer
            freeCredit:
              type: number
        payouts:
          type: object
          properties:
            idleResalePercent:
              type: number
            description:
              type: string

    SubscriptionPlansResponse:
      type: object
      properties:
        plans:
          type: array
          items:
            $ref: "#/components/schemas/SubscriptionPlan"

    GpuTier:
      type: object
      properties:
        name:
          type: string
          example: GPU Standard
        gpu:
          type: string
          example: 1x H100
        vram:
          type: string
          example: 80 GB
        price:
          type: number
          description: Price per hour (USD)
          example: 3.48

    GpuTiersResponse:
      type: object
      properties:
        tiers:
          type: array
          items:
            $ref: "#/components/schemas/GpuTier"

    Tool:
      type: object
      properties:
        name:
          type: string
          example: Web Search
        unit:
          type: string
          example: per query
        price:
          type: number
          example: 0.005

    ToolsResponse:
      type: object
      properties:
        tools:
          type: array
          items:
            $ref: "#/components/schemas/Tool"

    PricingPolicy:
      type: object
      properties:
        markup:
          type: object
          properties:
            thirdPartyModels:
              type: string
            hanzoModels:
              type: string
            infrastructure:
              type: string
        revenueSharing:
          type: object
          properties:
            idleCompute:
              type: string
            llmResale:
              type: string
        freeTier:
          type: object
          properties:
            credit:
              type: number
            rateLimit:
              type: string

    FullPricingResponse:
      type: object
      properties:
        updated:
          type: string
          format: date-time
        summary:
          $ref: "#/components/schemas/Summary"
        hanzoModels:
          type: array
          items:
            $ref: "#/components/schemas/Model"
        thirdPartyModels:
          type: array
          items:
            $ref: "#/components/schemas/Model"
        freeModels:
          type: array
          items:
            $ref: "#/components/schemas/Model"
        providers:
          type: object
          additionalProperties:
            type: integer
        tools:
          type: array
          items:
            $ref: "#/components/schemas/Tool"
        infrastructure:
          type: object
          properties:
            compute:
              type: object
            gpu:
              type: array
              items:
                $ref: "#/components/schemas/GpuTier"
        cloud:
          $ref: "#/components/schemas/CloudResponse"
