openapi: 3.1.0
info:
  title: Hanzo MCP
  description: |-
    The ONE MCP door. `POST /v1/mcp` speaks JSON-RPC 2.0 and composes two tool
    sources into a single list: the typed product operations the fleet exposes
    as tools, plus the external MCP servers the caller's org has enabled
    (registered through `/v1/mcp/servers`). A client that speaks MCP needs this
    address and no other.

    It is POST-only. A GET answers 404, which is what made this door look
    missing for as long as it was undeclared — the probe was the wrong verb and
    the document had no path to correct it.

    `initialize` and `tools/list` answer without an Authorization header;
    `tools/call` needs a validated principal and says so INSIDE a 200, as
    `result.isError` with the reason in `result.content` — JSON-RPC reports
    failure in the envelope, not in the status line. An unknown method is a
    JSON-RPC error object (`-32601`), also inside a 200.

    Tool names are NOT derivable from this document, and the count is not
    either: the door answered 796 tools against 2478 operations on the day this
    was authored, so roughly two thirds of the surface is not exposed as a tool
    and the split is the binary's decision, not the spec's. The naming rule that
    does hold is mechanical — a tool name is its operationId minus the leading
    `<service>_` segment merge.py adds (`cloud_get_v1_tools` → `get_v1_tools`),
    true for 795 of 796. The single exception is this document's own doing:
    `cloud_get_v1_pricing_policy_2` carries a `_2` because two routes
    (`/v1/pricing-policy` and `/v1/pricing/policy`) collapse to one identifier
    in every generator, so its tool is still named `get_v1_pricing_policy`.
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: BSD 3-Clause License
    identifier: BSD-3-Clause
servers:
- url: https://api.hanzo.ai
  description: Hanzo Gateway
security:
- bearerAuth: []
tags:
- name: MCP
  description: The one JSON-RPC door — every tool this credential can reach, and the call that runs one.
paths:
  /v1/mcp:
    post:
      tags:
      - MCP
      summary: JSON-RPC call
      operationId: rpc
      description: |-
        One request, one response, three methods. `initialize` reports the
        protocol version and server capabilities; `tools/list` returns every
        tool this credential can reach; `tools/call` runs one by name.

        Read `error` before `result`, and `result.isError` before
        `result.content`: both failure channels live inside a 200.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request'
      responses:
        '200':
          description: The JSON-RPC response — `result` on success, `error` on failure, never both.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Request:
      type: object
      required:
      - jsonrpc
      - method
      properties:
        jsonrpc:
          type: string
          const: '2.0'
          description: Always `2.0`.
        id:
          description: Echoed back on the response. A request without one is a notification.
          oneOf:
          - type: integer
          - type: string
        method:
          type: string
          enum:
          - initialize
          - tools/list
          - tools/call
          description: Anything else answers `-32601 method not found`.
        params:
          $ref: '#/components/schemas/Params'
    Params:
      type: object
      description: Empty for `initialize` and `tools/list`; the tool and its arguments for `tools/call`.
      properties:
        name:
          type: string
          description: The tool to run — `tools/call` only.
        arguments:
          type: object
          additionalProperties: true
          description: The tool's own input, shaped by its `inputSchema`.
    Response:
      type: object
      required:
      - jsonrpc
      properties:
        jsonrpc:
          type: string
          const: '2.0'
        id:
          oneOf:
          - type: integer
          - type: string
        result:
          description: Present on success. Which shape depends on the method called.
          oneOf:
          - $ref: '#/components/schemas/Server'
          - $ref: '#/components/schemas/Catalog'
          - $ref: '#/components/schemas/Outcome'
        error:
          $ref: '#/components/schemas/Failure'
    Server:
      type: object
      description: The `initialize` result.
      properties:
        protocolVersion:
          type: string
          description: The MCP protocol date this door implements, e.g. `2025-06-18`.
        serverInfo:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
        capabilities:
          type: object
          properties:
            tools:
              type: object
              properties:
                listChanged:
                  type: boolean
    Catalog:
      type: object
      description: The `tools/list` result.
      properties:
        tools:
          type: array
          items:
            $ref: '#/components/schemas/Tool'
    Tool:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: The operationId minus its leading `<service>_` segment.
        description:
          type: string
          description: The owning handler's doc comment — the same prose this document carries.
        inputSchema:
          type: object
          additionalProperties: true
          description: JSON Schema for `params.arguments`.
    Outcome:
      type: object
      description: The `tools/call` result. A refused or failed call is `isError`, still inside a 200.
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Content'
        isError:
          type: boolean
    Content:
      type: object
      properties:
        type:
          type: string
          description: '`text` today.'
        text:
          type: string
    Failure:
      type: object
      description: A JSON-RPC error object. Transport-level failure, not a tool that ran and failed.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: '`-32601` for an unknown method.'
        message:
          type: string
        data:
          type: object
          additionalProperties: true
