openapi: 3.1.0
info:
  title: Hanzo AI — Inference API
  summary: Top-level OpenAI- and Claude-compatible inference surface (hanzoai/ai).
  description: |
    The Hanzo inference API served by the `hanzoai/ai` subsystem of the unified
    cloud binary (HIP-0106), reached through the gateway at `api.hanzo.ai`.

    NAMESPACE EXCEPTION — these routes are TOP-LEVEL `/v1/*`, NOT `/v1/ai/*`.
    Every OTHER Hanzo service lives under `/v1/<service>/<resource>`; inference is
    the one deliberate exception because it is drop-in OpenAI- and Anthropic-
    Claude-compatible: every OpenAI/Anthropic SDK hard-codes `/v1/chat/completions`
    and `/v1/messages`, so the path IS the contract. `hanzoai/ai` folds its routes
    into top-level `/v1/`; nothing here nests under `/v1/cloud` or `/v1/gateway`.

    Two wire dialects, one backend:
      - OpenAI:  /v1/chat/completions, /v1/completions, /v1/embeddings,
                 /v1/models, /v1/rerank, /v1/audio/*, /v1/images/*
      - Claude:  /v1/messages

    Authentication: Bearer JWT issued by Hanzo IAM (`https://hanzo.id`). The same
    token authenticates every Hanzo service. API keys (`hk-...`) minted on hanzo.id
    are accepted on these routes as well.
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
    url: https://hanzo.ai/terms
servers:
- url: https://api.hanzo.ai
  description: Hanzo Gateway Production
security:
- BearerAuth: []
tags:
paths:
  # BEGIN generated: resource surface (go run ./cmd/openapi) — DO NOT EDIT BY HAND
  /v1/ai/account:
      get:
          operationId: getAccount
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Account
          tags:
              - Account
  /v1/ai/activities:
      get:
          description: List the caller's activities.
          operationId: getActivities
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List activities
          tags:
              - Activities
  /v1/ai/answer:
      get:
          operationId: getAnswer
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Answer
          tags:
              - Answer
  /v1/ai/applications:
      get:
          description: List the caller's applications.
          operationId: getApplications
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List applications
          tags:
              - Applications
      post:
          description: Create one application.
          operationId: addApplication
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a application
          tags:
              - Applications
  /v1/ai/applications/{owner}/{name}:
      get:
          description: Read one application by its (owner, name) key.
          operationId: getApplication
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Retrieve a application
          tags:
              - Applications
      put:
          description: Identical to PATCH — the handler takes a whole object either way.
          operationId: replaceApplication
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Replace a application
          tags:
              - Applications
      patch:
          description: Update one application. PATCH and PUT reach the same handler, which has always taken a whole object.
          operationId: updateApplication
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Update a application
          tags:
              - Applications
      delete:
          description: Delete one application.
          operationId: deleteApplication
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Delete a application
          tags:
              - Applications
  /v1/ai/applications/{owner}/{name}/deploy:
      post:
          operationId: deployApplication
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Deploy (application)
          tags:
              - Applications
  /v1/ai/applications/{owner}/{name}/undeploy:
      post:
          operationId: undeployApplication
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Undeploy (application)
          tags:
              - Applications
  /v1/ai/articles:
      get:
          description: List the caller's articles.
          operationId: getArticles
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List articles
          tags:
              - Articles
      post:
          description: Create one article.
          operationId: addArticle
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a article
          tags:
              - Articles
  /v1/ai/articles/global:
      get:
          description: Cross-tenant listing. Admin-only; a tenant caller is refused.
          operationId: getGlobalArticles
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List articles across tenants
          tags:
              - Articles
  /v1/ai/articles/{owner}/{name}:
      get:
          description: Read one article by its (owner, name) key.
          operationId: getArticle
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Retrieve a article
          tags:
              - Articles
      put:
          description: Identical to PATCH — the handler takes a whole object either way.
          operationId: replaceArticle
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Replace a article
          tags:
              - Articles
      patch:
          description: Update one article. PATCH and PUT reach the same handler, which has always taken a whole object.
          operationId: updateArticle
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Update a article
          tags:
              - Articles
      delete:
          description: Delete one article.
          operationId: deleteArticle
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Delete a article
          tags:
              - Articles
  /v1/ai/assets:
      get:
          description: List the caller's assets.
          operationId: getAssets
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List assets
          tags:
              - Assets
      post:
          description: Create one asset.
          operationId: addAsset
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a asset
          tags:
              - Assets
  /v1/ai/assets/scan:
      post:
          operationId: scanAssets
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Scan (asset)
          tags:
              - Assets
  /v1/ai/assets/{owner}/{name}:
      get:
          description: Read one asset by its (owner, name) key.
          operationId: getAsset
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Retrieve a asset
          tags:
              - Assets
      put:
          description: Identical to PATCH — the handler takes a whole object either way.
          operationId: replaceAsset
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Replace a asset
          tags:
              - Assets
      patch:
          description: Update one asset. PATCH and PUT reach the same handler, which has always taken a whole object.
          operationId: updateAsset
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Update a asset
          tags:
              - Assets
      delete:
          description: Delete one asset.
          operationId: deleteAsset
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Delete a asset
          tags:
              - Assets
  /v1/ai/assets/{owner}/{name}/scan:
      post:
          operationId: scanAsset
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Scan (asset)
          tags:
              - Assets
  /v1/ai/chats:
      get:
          description: List the caller's chats.
          operationId: getChats
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List chats
          tags:
              - Chats
      post:
          description: Create one chat.
          operationId: addChat
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a chat
          tags:
              - Chats
  /v1/ai/chats/global:
      get:
          description: Cross-tenant listing. Admin-only; a tenant caller is refused.
          operationId: getGlobalChats
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List chats across tenants
          tags:
              - Chats
  /v1/ai/chats/{owner}/{name}:
      get:
          description: Read one chat by its (owner, name) key.
          operationId: getChat
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Retrieve a chat
          tags:
              - Chats
      put:
          description: Identical to PATCH — the handler takes a whole object either way.
          operationId: replaceChat
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Replace a chat
          tags:
              - Chats
      patch:
          description: Update one chat. PATCH and PUT reach the same handler, which has always taken a whole object.
          operationId: updateChat
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Update a chat
          tags:
              - Chats
      delete:
          description: Delete one chat.
          operationId: deleteChat
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Delete a chat
          tags:
              - Chats
  /v1/ai/dashboards/agents:
      get:
          operationId: getAgentsDashboardUrl
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Dashboards Agents
          tags:
              - Dashboards Agents
  /v1/ai/dashboards/vm:
      get:
          operationId: getVmDashboardUrl
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Dashboards Vm
          tags:
              - Dashboards Vm
  /v1/ai/files:
      get:
          description: List the caller's files.
          operationId: getFiles
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List files
          tags:
              - Files
      post:
          description: Create one file.
          operationId: addFile
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a file
          tags:
              - Files
  /v1/ai/files/activate:
      post:
          operationId: activateFile
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Activate (file)
          tags:
              - Files
  /v1/ai/files/active:
      get:
          operationId: getActiveFile
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Active (file)
          tags:
              - Files
  /v1/ai/files/global:
      get:
          description: Cross-tenant listing. Admin-only; a tenant caller is refused.
          operationId: getGlobalFiles
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List files across tenants
          tags:
              - Files
  /v1/ai/files/upload:
      post:
          operationId: uploadFile
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Upload (file)
          tags:
              - Files
  /v1/ai/files/{owner}/{name}:
      get:
          description: Read one file by its (owner, name) key.
          operationId: getFileMy
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Retrieve a file
          tags:
              - Files
      put:
          description: Identical to PATCH — the handler takes a whole object either way.
          operationId: replaceFile
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Replace a file
          tags:
              - Files
      patch:
          description: Update one file. PATCH and PUT reach the same handler, which has always taken a whole object.
          operationId: updateFile
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Update a file
          tags:
              - Files
      delete:
          description: Delete one file.
          operationId: deleteFile
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Delete a file
          tags:
              - Files
  /v1/ai/files/{owner}/{name}/vectors:
      post:
          operationId: refreshFileVectors
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Vectors (file)
          tags:
              - Files
  /v1/ai/forms:
      get:
          description: List the caller's forms.
          operationId: getForms
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List forms
          tags:
              - Forms
      post:
          description: Create one form.
          operationId: addForm
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a form
          tags:
              - Forms
  /v1/ai/forms/data:
      get:
          operationId: getFormData
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Data (form)
          tags:
              - Forms
  /v1/ai/forms/global:
      get:
          description: Cross-tenant listing. Admin-only; a tenant caller is refused.
          operationId: getGlobalForms
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List forms across tenants
          tags:
              - Forms
  /v1/ai/forms/{owner}/{name}:
      get:
          description: Read one form by its (owner, name) key.
          operationId: getForm
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Retrieve a form
          tags:
              - Forms
      put:
          description: Identical to PATCH — the handler takes a whole object either way.
          operationId: replaceForm
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Replace a form
          tags:
              - Forms
      patch:
          description: Update one form. PATCH and PUT reach the same handler, which has always taken a whole object.
          operationId: updateForm
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Update a form
          tags:
              - Forms
      delete:
          description: Delete one form.
          operationId: deleteForm
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Delete a form
          tags:
              - Forms
  /v1/ai/graphs:
      get:
          description: List the caller's graphs.
          operationId: getGraphs
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List graphs
          tags:
              - Graphs
      post:
          description: Create one graph.
          operationId: addGraph
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a graph
          tags:
              - Graphs
  /v1/ai/graphs/global:
      get:
          description: Cross-tenant listing. Admin-only; a tenant caller is refused.
          operationId: getGlobalGraphs
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List graphs across tenants
          tags:
              - Graphs
  /v1/ai/graphs/{owner}/{name}:
      get:
          description: Read one graph by its (owner, name) key.
          operationId: getGraph
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Retrieve a graph
          tags:
              - Graphs
      put:
          description: Identical to PATCH — the handler takes a whole object either way.
          operationId: replaceGraph
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Replace a graph
          tags:
              - Graphs
      patch:
          description: Update one graph. PATCH and PUT reach the same handler, which has always taken a whole object.
          operationId: updateGraph
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Update a graph
          tags:
              - Graphs
      delete:
          description: Delete one graph.
          operationId: deleteGraph
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Delete a graph
          tags:
              - Graphs
  /v1/ai/k8s-status:
      get:
          operationId: getK8sStatus
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: K8s Status
          tags:
              - K8s Status
  /v1/ai/messages:
      get:
          description: List the caller's messages.
          operationId: getMessages
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List messages
          tags:
              - Messages
      post:
          description: Create one message.
          operationId: addMessage
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a message
          tags:
              - Messages
  /v1/ai/messages/global:
      get:
          description: Cross-tenant listing. Admin-only; a tenant caller is refused.
          operationId: getGlobalMessages
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List messages across tenants
          tags:
              - Messages
  /v1/ai/messages/welcome:
      delete:
          operationId: deleteWelcomeMessage
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Welcome (message)
          tags:
              - Messages
  /v1/ai/messages/{owner}/{name}:
      get:
          description: Read one message by its (owner, name) key.
          operationId: getMessage
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Retrieve a message
          tags:
              - Messages
      put:
          description: Identical to PATCH — the handler takes a whole object either way.
          operationId: replaceMessage
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Replace a message
          tags:
              - Messages
      patch:
          description: Update one message. PATCH and PUT reach the same handler, which has always taken a whole object.
          operationId: updateMessage
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Update a message
          tags:
              - Messages
      delete:
          description: Delete one message.
          operationId: deleteMessage
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Delete a message
          tags:
              - Messages
  /v1/ai/messages/{owner}/{name}/answer:
      get:
          operationId: getMessageAnswer
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Answer (message)
          tags:
              - Messages
  /v1/ai/nodes:
      get:
          description: List the caller's nodes.
          operationId: getNodes
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List nodes
          tags:
              - Nodes
      post:
          description: Create one node.
          operationId: addNode
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a node
          tags:
              - Nodes
  /v1/ai/nodes/{owner}/{name}:
      get:
          description: Read one node by its (owner, name) key.
          operationId: getNode
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Retrieve a node
          tags:
              - Nodes
      put:
          description: Identical to PATCH — the handler takes a whole object either way.
          operationId: replaceNode
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Replace a node
          tags:
              - Nodes
      patch:
          description: Update one node. PATCH and PUT reach the same handler, which has always taken a whole object.
          operationId: updateNode
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Update a node
          tags:
              - Nodes
      delete:
          description: Delete one node.
          operationId: deleteNode
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Delete a node
          tags:
              - Nodes
  /v1/ai/nodes/{owner}/{name}/tunnel:
      get:
          operationId: getNodeTunnel
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Tunnel (node)
          tags:
              - Nodes
      post:
          operationId: addNodeTunnel
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Tunnel (node)
          tags:
              - Nodes
  /v1/ai/permissions:
      get:
          description: List the caller's permissions.
          operationId: getPermissions
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List permissions
          tags:
              - Permissions
      post:
          description: Create one permission.
          operationId: addPermission
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a permission
          tags:
              - Permissions
  /v1/ai/permissions/{owner}/{name}:
      get:
          description: Read one permission by its (owner, name) key.
          operationId: getPermission
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Retrieve a permission
          tags:
              - Permissions
      put:
          description: Identical to PATCH — the handler takes a whole object either way.
          operationId: replacePermission
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Replace a permission
          tags:
              - Permissions
      patch:
          description: Update one permission. PATCH and PUT reach the same handler, which has always taken a whole object.
          operationId: updatePermission
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Update a permission
          tags:
              - Permissions
      delete:
          description: Delete one permission.
          operationId: deletePermission
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Delete a permission
          tags:
              - Permissions
  /v1/ai/preferences:
      put:
          operationId: putUpdatePreferences
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Preferences
          tags:
              - Preferences
      patch:
          operationId: updatePreferences
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Preferences
          tags:
              - Preferences
  /v1/ai/prometheus:
      get:
          operationId: getPrometheusInfo
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Prometheus
          tags:
              - Prometheus
  /v1/ai/providers:
      get:
          description: List the caller's providers.
          operationId: getProviders
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List providers
          tags:
              - Providers
      post:
          description: Create one provider.
          operationId: addProvider
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a provider
          tags:
              - Providers
  /v1/ai/providers/global:
      get:
          description: Cross-tenant listing. Admin-only; a tenant caller is refused.
          operationId: getGlobalProviders
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List providers across tenants
          tags:
              - Providers
  /v1/ai/providers/mcp-tools:
      post:
          operationId: refreshMcpTools
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Mcp Tools (provider)
          tags:
              - Providers
  /v1/ai/providers/{owner}/{name}:
      get:
          description: Read one provider by its (owner, name) key.
          operationId: getProvider
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Retrieve a provider
          tags:
              - Providers
      put:
          description: Identical to PATCH — the handler takes a whole object either way.
          operationId: replaceProvider
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Replace a provider
          tags:
              - Providers
      patch:
          description: Update one provider. PATCH and PUT reach the same handler, which has always taken a whole object.
          operationId: updateProvider
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Update a provider
          tags:
              - Providers
      delete:
          description: Delete one provider.
          operationId: deleteProvider
          parameters:
              - description: Owning organization.
                in: path
                name: owner
                required: true
                schema:
                  type: string
              - description: Resource name, unique within the owner.
                in: path
                name: name
                required: true
                schema:
                  type: string
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Delete a provider
          tags:
              - Providers
  /v1/ai/records:
      get:
          description: List the caller's records.
          operationId: getRecords
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: List records
          tags:
              - Records
      post:
          description: Create one record.
          operationId: addRecord
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Create a record
          tags:
              - Records
  /v1/ai/records/batch:
      post:
          operationId: addRecords
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Batch (record)
          tags:
              - Records
  /v1/ai/records/commit:
      post:
          operationId: commitRecord
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
                          schema:
                              $ref: '#/components/schemas/Envelope'
                  description: Envelope. `status` is "ok" or "error" — check it; a handled failure is still HTTP 200.
              "401":
                  $ref: '#/components/responses/Unauthorized'
              "403":
                  $ref: '#/components/responses/Forbidden'
          summary: Commit (record)
          tags:
              - Records
  /v1/ai/records/commit-second:
      post:
          operationId: commitRecordSecond
          requestBody:
              content:
                  application/json:
                      schema:
                          type: object
              required: true
          responses:
              "200":
                  content:
                      application/json:
[...]
