openapi: 3.1.0
info:
  title: Hanzo Automations API
  description: |
    Connectors + Automations engine for Hanzo Cloud — the `/v1/automations/*`
    surface served by the cloud `automations` subsystem
    (`hanzoai/cloud/clients/automations`, HIP-0106). An org authors a
    trigger→action flow tree, versions it, and runs it durably on the shared
    in-process tasks engine; connector actions are also exposed as MCP tools at
    `/v1/automations/mcp`. Every flow runs in the OWNER org's namespace; the org
    is always server-derived from the validated principal, never a request body.
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
  - url: https://api.hanzo.ai
    description: Hanzo Gateway
tags:
  - name: Pieces
    description: The connector/piece catalogue
  - name: Flows
    description: Automation flows and their versions
  - name: Runs
    description: Durable flow runs
  - name: MCP
    description: JSON-RPC tool surface over connector actions
security:
  - bearerAuth: []
paths:
  /v1/automations/pieces:
    get:
      tags: [Pieces]
      summary: List the connector/piece catalogue
      operationId: listPieces
      responses:
        '200': { description: Catalogue, content: { application/json: { schema: { $ref: '#/components/schemas/Catalog' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/automations/flows:
    get:
      tags: [Flows]
      summary: List flows
      operationId: listFlows
      parameters:
        - { name: limit, in: query, schema: { type: integer, default: 200, maximum: 1000 } }
      responses:
        '200': { description: Flows, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: '#/components/schemas/Flow' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Flows]
      summary: Create a flow (with an initial draft version)
      operationId: createFlow
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateFlowRequest' }
      responses:
        '201': { description: Flow created, content: { application/json: { schema: { $ref: '#/components/schemas/PopulatedFlow' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { description: Invalid trigger }

  /v1/automations/flows/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      tags: [Flows]
      summary: Get a flow and its latest version
      operationId: getFlow
      responses:
        '200': { description: Flow, content: { application/json: { schema: { $ref: '#/components/schemas/PopulatedFlow' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Flow not found }
    patch:
      tags: [Flows]
      summary: Update flow metadata
      operationId: updateFlow
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PatchFlowRequest' }
      responses:
        '200': { description: Updated flow, content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Flow not found }
        '422': { description: publishedVersionId must name a version of this flow }
    delete:
      tags: [Flows]
      summary: Delete a flow (with its versions and runs)
      operationId: deleteFlow
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Flow not found }

  /v1/automations/flows/{id}/versions:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      tags: [Flows]
      summary: List a flow's versions
      operationId: listVersions
      parameters:
        - { name: limit, in: query, schema: { type: integer, default: 200, maximum: 1000 } }
      responses:
        '200': { description: Versions, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: '#/components/schemas/FlowVersion' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Flows]
      summary: Create a draft version
      operationId: createVersion
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateVersionRequest' }
      responses:
        '201': { description: Version created, content: { application/json: { schema: { $ref: '#/components/schemas/FlowVersion' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Flow not found }
        '422': { description: Invalid trigger }

  /v1/automations/flows/{id}/operations:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      tags: [Flows]
      summary: Apply a flow operation to the latest version
      operationId: applyOperation
      description: A CHANGE_STATUS op enables/disables the flow (returns the Flow); every other op mutates the latest version's step tree (returns the FlowVersion).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FlowOperation' }
      responses:
        '200': { description: Updated version or flow, content: { application/json: { schema: { $ref: '#/components/schemas/FlowVersion' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: "Flow, version, or step not found" }
        '422': { description: Unsupported or invalid operation }

  /v1/automations/flows/{id}/run:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      tags: [Runs]
      summary: Start a durable run of a flow's runnable version
      operationId: runFlow
      responses:
        '201': { description: Run started, content: { application/json: { schema: { $ref: '#/components/schemas/FlowRun' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Flow not found or has no runnable version }
        '429': { description: Too many concurrent automation requests for this org }
        '503': { description: Automation engine not ready }

  /v1/automations/flows/{id}/enable:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      tags: [Flows]
      summary: Enable a flow (POLLING triggers create a schedule)
      operationId: enableFlow
      responses:
        '200': { description: Flow enabled, content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Flow not found }
        '503': { description: Engine required for a POLLING enable and not ready }

  /v1/automations/flows/{id}/disable:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      tags: [Flows]
      summary: Disable a flow (removes any POLLING schedule)
      operationId: disableFlow
      responses:
        '200': { description: Flow disabled, content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Flow not found }

  /v1/automations/runs:
    get:
      tags: [Runs]
      summary: List runs
      operationId: listRuns
      parameters:
        - { name: flowId, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, default: 200, maximum: 1000 } }
      responses:
        '200': { description: Runs, content: { application/json: { schema: { type: object, properties: { data: { type: array, items: { $ref: '#/components/schemas/FlowRun' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/automations/runs/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      tags: [Runs]
      summary: Get a run (non-terminal status is refreshed from the engine)
      operationId: getRun
      responses:
        '200': { description: Run, content: { application/json: { schema: { $ref: '#/components/schemas/FlowRun' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Run not found }

  /v1/automations/runs/{id}/resume:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      tags: [Runs]
      summary: Resume a paused run
      operationId: resumeRun
      description: The JSON body (max 64 KiB) is delivered verbatim as the waitpoint's output.
      requestBody:
        required: false
        content:
          application/json:
            schema: { description: Arbitrary JSON payload delivered to the paused waitpoint }
      responses:
        '200': { description: Resumed, content: { application/json: { schema: { type: object, properties: { resumed: { type: boolean } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Run not found }
        '413': { description: Resume payload exceeds the 64 KiB limit }
        '503': { description: Automation engine not ready }

  /v1/automations/mcp:
    post:
      tags: [MCP]
      summary: JSON-RPC 2.0 tool surface over connector actions
      operationId: mcp
      description: |
        HIP-0300 JSON-RPC 2.0. Methods: `initialize`, `ping`, `tools/list`,
        `tools/call`. Every connector action is a tool named `<connector>_<action>`.
        JSON-RPC errors are returned with HTTP 200 and an `error` member.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/McpRequest' }
      responses:
        '200': { description: JSON-RPC response, content: { application/json: { schema: { $ref: '#/components/schemas/McpResponse' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: IAM-issued JWT or `hk-` Cloud API key.
  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
  schemas:
    Catalog:
      type: object
      properties:
        pieceCount: { type: integer }
        pieces: { type: array, items: { $ref: '#/components/schemas/PieceMetadata' } }
    PieceMetadata:
      type: object
      properties:
        name: { type: string }
        displayName: { type: string }
        description: { type: string }
        logoUrl: { type: string }
        version: { type: string }
        categories: { type: array, items: { type: string } }
        auth: { $ref: '#/components/schemas/PieceAuth' }
        actions: { type: array, items: { $ref: '#/components/schemas/PieceAction' } }
        triggers: { type: array, items: { $ref: '#/components/schemas/PieceTrigger' } }
    PieceAuth:
      type: object
      properties:
        type: { type: string, description: 'none | oauth2 | bot_token' }
        required: { type: boolean }
    PieceAction:
      type: object
      properties:
        name: { type: string }
        displayName: { type: string }
        description: { type: string }
        props: { type: array, items: { $ref: '#/components/schemas/PropSpec' } }
    PieceTrigger:
      type: object
      properties:
        name: { type: string }
        displayName: { type: string }
        description: { type: string }
        strategy: { type: string }
        props: { type: array, items: { $ref: '#/components/schemas/PropSpec' } }
    PropSpec:
      type: object
      properties:
        name: { type: string }
        displayName: { type: string }
        type: { type: string, enum: [string, number, boolean, object, array] }
        required: { type: boolean }
        description: { type: string }
    Flow:
      type: object
      properties:
        id: { type: string }
        projectId: { type: string, description: The owner org (server-derived) }
        externalId: { type: string }
        folderId: { type: string }
        status: { type: string, enum: [ENABLED, DISABLED] }
        publishedVersionId: { type: string }
        metadata: { description: Opaque builder metadata }
        created: { type: integer, format: int64, description: Unix ms }
        updated: { type: integer, format: int64, description: Unix ms }
    PopulatedFlow:
      allOf:
        - { $ref: '#/components/schemas/Flow' }
        - type: object
          properties:
            version: { $ref: '#/components/schemas/FlowVersion' }
    FlowVersion:
      type: object
      properties:
        id: { type: string }
        flowId: { type: string }
        displayName: { type: string }
        trigger: { $ref: '#/components/schemas/FlowTrigger' }
        valid: { type: boolean }
        state: { type: string, enum: [DRAFT, LOCKED] }
        schemaVersion: { type: string }
        created: { type: integer, format: int64 }
        updated: { type: integer, format: int64 }
    StepSettings:
      type: object
      properties:
        pieceName: { type: string }
        pieceVersion: { type: string }
        actionName: { type: string }
        triggerName: { type: string }
        input: { type: object, additionalProperties: true }
    FlowTrigger:
      type: object
      properties:
        name: { type: string }
        type: { type: string, enum: [PIECE_TRIGGER, EMPTY] }
        displayName: { type: string }
        valid: { type: boolean }
        strategy: { type: string, enum: [POLLING, WEBHOOK, APP_WEBHOOK, MANUAL] }
        settings: { $ref: '#/components/schemas/StepSettings' }
        nextAction: { $ref: '#/components/schemas/FlowAction' }
    FlowAction:
      type: object
      properties:
        name: { type: string }
        type: { type: string, enum: [PIECE, CODE, ROUTER, LOOP_ON_ITEMS, BRANCH] }
        displayName: { type: string }
        valid: { type: boolean }
        skip: { type: boolean }
        settings: { $ref: '#/components/schemas/StepSettings' }
        nextAction: { $ref: '#/components/schemas/FlowAction' }
    CreateFlowRequest:
      type: object
      properties:
        displayName: { type: string }
        externalId: { type: string }
        folderId: { type: string }
        trigger: { $ref: '#/components/schemas/FlowTrigger' }
    PatchFlowRequest:
      type: object
      properties:
        folderId: { type: string }
        externalId: { type: string }
        publishedVersionId: { type: string }
        metadata: { description: Opaque builder metadata }
    CreateVersionRequest:
      type: object
      properties:
        displayName: { type: string }
        trigger: { $ref: '#/components/schemas/FlowTrigger' }
    FlowOperation:
      type: object
      required: [type, request]
      properties:
        type: { type: string, enum: [ADD_ACTION, UPDATE_ACTION, DELETE_ACTION, MOVE_ACTION, UPDATE_TRIGGER, CHANGE_NAME, CHANGE_STATUS] }
        request: { description: Per-type operation payload }
    FlowRun:
      type: object
      properties:
        id: { type: string }
        flowId: { type: string }
        flowVersionId: { type: string }
        status: { type: string, enum: [RUNNING, SUCCEEDED, FAILED, PAUSED, QUEUED, CANCELED, TIMEOUT] }
        startTime: { type: integer, format: int64 }
        finishTime: { type: integer, format: int64 }
        created: { type: integer, format: int64 }
        updated: { type: integer, format: int64 }
    McpRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc: { type: string, example: '2.0' }
        id: { description: "Request id (string, number, or null)" }
        method: { type: string, enum: [initialize, ping, tools/list, tools/call] }
        params: { description: Method params }
    McpResponse:
      type: object
      properties:
        jsonrpc: { type: string, example: '2.0' }
        id: { description: Echoed request id }
        result: { description: Method result (present on success) }
        error: { type: object, properties: { code: { type: integer }, message: { type: string } } }
