openapi: 3.1.0
info:
  title: Hanzo Affiliates API
  summary: Per-org affiliate program paying partners an ongoing commission on referred customers' metered spend (hanzoai/cloud).
  description: |
    The Hanzo Cloud affiliates surface (`hanzoai/cloud` subsystem, HIP-0106),
    reached through the gateway at `api.hanzo.ai`. It is a native-Go, per-org
    affiliate program on Base/SQLite that pays partners an ONGOING COMMISSION on
    the metered spend of the customers they refer.

    The loop, end to end:
      1. An org APPLIES to be an affiliate (`POST /v1/affiliates/apply`), optionally
         requesting a vanity code. Staff APPROVE it
         (`POST /v1/admin/affiliates/{id}/approve`), which mints the code and sets a
         commission rate (default 20% = 2000 bps). The affiliate gets a link
         `https://<brand>/?aff=<code>`.
      2. A new org signs up via the link → the console posts
         `POST /v1/affiliates/attribute` with the code → an affiliate↔referred-org
         edge is recorded (first-touch, one per referred org, self-attribution blocked).
      3. The ACCRUAL SWEEP (`POST /v1/admin/affiliates/sweep`, the cron path; also
         lazy on the affiliate's own dashboard read) folds over each affiliate's
         referred orgs: commission = the referred org's metered spend this period ×
         the rate, latched at-most-once per (affiliate, referred_org, period).
      4. Staff PAY OUT accrued commission
         (`POST /v1/admin/affiliates/{id}/payout`): a `credits` method issues a
         commerce grant into the affiliate's wallet; cash methods (wire/paypal/…)
         are record-only. A payout can never exceed pending (accrued − paid).

    Two surfaces share this spec:
      - Customer (`/v1/affiliates*`): org-scoped, returns bare JSON.
      - Admin (`/v1/admin/affiliates*`): global-admin only, returns the
        `{ status, msg, data }` envelope.

    All monetary amounts are USD minor units (cents).

    Authentication: Bearer JWT issued by Hanzo IAM (`https://hanzo.id`). The same
    token authenticates every Hanzo service.
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
    url: https://hanzo.ai/terms
servers:
- url: https://api.hanzo.ai
  description: Hanzo Gateway Production
security:
- BearerAuth: []
tags:
- name: Affiliate
  description: Customer-facing affiliate program (org-scoped).
paths:
  /v1/affiliates:
    get:
      tags:
      - Affiliate
      summary: Get my affiliate status
      description: |
        Returns the caller org's affiliate dashboard. If the org is not enrolled,
        returns an honest "not enrolled" shape (`isAffiliate: false`) so the console
        can show the apply form. For an APPROVED affiliate it also opportunistically
        runs the accrual sweep over the org's own referred orgs (bounded,
        best-effort), so the dashboard is self-updating.
      operationId: getMyAffiliate
      responses:
        '200':
          description: The affiliate dashboard, or a not-enrolled shape.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/NotEnrolled'
                - $ref: '#/components/schemas/AffiliateDashboard'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/affiliates/apply:
    post:
      tags:
      - Affiliate
      summary: Apply to the affiliate program
      description: |
        Enrolls the caller org as an affiliate at `status=applied`. Idempotent (one
        affiliate per org, first apply wins). A malformed vanity code is refused.
        Returns `201` on first creation, `200` if the org was already enrolled.
      operationId: applyAffiliate
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyRequest'
      responses:
        '200':
          description: Already enrolled (idempotent).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyResponse'
        '201':
          description: Newly enrolled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /v1/affiliates/attribute:
    post:
      tags:
      - Affiliate
      summary: Record affiliate attribution
      description: |
        Records an affiliate↔referred-org edge. The REFERRED org is the validated
        caller (never client-supplied); the affiliate is resolved from `code`
        (approved affiliates only). Idempotent (one per referred org, first-touch
        wins); self-attribution is blocked; an unknown code is rejected. Returns
        `201` on first attribution, `200` if already attributed.
      operationId: attributeAffiliate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributeRequest'
      responses:
        '200':
          description: Already attributed (idempotent).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeResponse'
        '201':
          description: Attribution recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer JWT issued by Hanzo IAM (https://hanzo.id). The same token authenticates every Hanzo service.
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Not signed in, or global admin required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Affiliate or code not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Standard Hanzo error envelope.
      properties:
        error:
          type: string
          description: Human-readable error message.
    NotEnrolled:
      type: object
      description: Returned when the caller org is not (yet) an affiliate.
      properties:
        isAffiliate:
          type: boolean
          # Always false — this is the not-enrolled shape. Stated in prose
          # rather than as `const: false` because openapi-generator projects a
          # boolean const as a single-member enum whose member is a String
          # assigned to a Boolean field, which is not valid Java (or Kotlin).
          description: Always false — this is the not-enrolled shape.
        defaultRateBps:
          type: integer
          format: int64
          description: The default commission rate a new affiliate gets, in basis points (2000 = 20%).
          example: 2000
    AffiliateDashboard:
      type: object
      description: The caller org's affiliate dashboard.
      properties:
        isAffiliate:
          type: boolean
          # Always true here — see the note on NotEnrolled.isAffiliate for why
          # this is prose and not `const: true`.
          description: Always true — this org is an affiliate.
        id:
          type: string
        status:
          $ref: '#/components/schemas/AffiliateStatus'
        code:
          type: string
          description: The minted affiliate code (empty until approved).
        requestedCode:
          type: string
          description: The vanity code requested at apply, pending approval.
        link:
          type: string
          description: The `?aff` referral link (empty until the affiliate has a code).
          example: https://hanzo.ai/?aff=acme
        rateBps:
          type: integer
          format: int64
          description: Commission rate in basis points.
        referredCount:
          type: integer
          description: Number of referred orgs attributed to this affiliate.
        accruedCents:
          type: integer
          format: int64
          description: Lifetime commission accrued (USD cents).
        pendingCents:
          type: integer
          format: int64
          description: Commission accrued but not yet paid (accrued − paid, never negative).
        paidCents:
          type: integer
          format: int64
          description: Lifetime commission paid out (USD cents).
        payouts:
          type: array
          items:
            $ref: '#/components/schemas/Payout'
    ApplyRequest:
      type: object
      description: Body for POST /v1/affiliates/apply.
      properties:
        requestedCode:
          type: string
          description: Optional requested vanity code (3–32 chars of a–z, 0–9, hyphen). Staff approves and mints it.
    ApplyResponse:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/AffiliateStatus'
        code:
          type: string
        requestedCode:
          type: string
        rateBps:
          type: integer
          format: int64
        created:
          type: boolean
          description: True if this apply created a new affiliate record.
    AttributeRequest:
      type: object
      required:
      - code
      description: Body for POST /v1/affiliates/attribute.
      properties:
        code:
          type: string
          description: The affiliate code the referred org arrived with (from an `?aff=` link).
    AttributeResponse:
      type: object
      properties:
        id:
          type: string
          description: The attribution edge id (e.g. `afr_<hex>`).
        code:
          type: string
        created:
          type: boolean
          description: True if this call created a new attribution edge.
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp (seconds).
    AffiliateStatus:
      type: string
      description: Affiliate lifecycle status. An affiliate advances applied → approved (and can be suspended).
      enum:
      - applied
      - approved
      - suspended
    Payout:
      type: object
      description: One recorded disbursement of accrued commission.
      properties:
        id:
          type: string
        amountCents:
          type: integer
          format: int64
        method:
          type: string
        reference:
          type: string
        txn:
          type: string
          description: Commerce transaction id for a credits payout (absent for cash payouts).
        createdAt:
          type: integer
          format: int64
