openapi: 3.1.0
info:
  title: Hanzo Tracker API
  description: |
    Native-Go, per-org issue tracker (projects + issues) for Hanzo Cloud —
    the `/v1/tracker/*` surface served by the cloud `tracker` subsystem
    (`hanzoai/cloud/clients/tracker`). Linear-style projects with an
    org-unique uppercase key that prefixes every issue identifier
    (`KEY-<number>`). Tenant isolation is enforced server-side on every
    request from the validated bearer `owner` claim (HIP-0026) — never a
    client-supplied header.
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
  - url: https://api.hanzo.ai
    description: Hanzo Gateway
tags:
  - name: Projects
    description: Org-scoped tracker projects (Linear-style teams)
  - name: Issues
    description: Work items inside a project
security:
  - bearerAuth: []
paths:
  /v1/tracker/projects:
    get:
      tags: [Projects]
      summary: List projects
      operationId: listProjects
      responses:
        '200': { description: Projects, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Project' } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Projects]
      summary: Create a project
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateProjectRequest' }
      responses:
        '201': { description: Project created, content: { application/json: { schema: { $ref: '#/components/schemas/Project' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: Project key already exists in this org }

  /v1/tracker/projects/{key}:
    parameters:
      - { name: key, in: path, required: true, schema: { type: string }, description: 'Project key (uppercase, ^[A-Z][A-Z0-9]{1,7}$)' }
    get:
      tags: [Projects]
      summary: Get a project
      operationId: getProject
      responses:
        '200': { description: Project, content: { application/json: { schema: { $ref: '#/components/schemas/Project' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Project not found }
    patch:
      tags: [Projects]
      summary: Update a project
      operationId: updateProject
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateProjectRequest' }
      responses:
        '200': { description: Project updated, content: { application/json: { schema: { $ref: '#/components/schemas/Project' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Project not found }
    delete:
      tags: [Projects]
      summary: Delete a project and all its issues
      operationId: deleteProject
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Project not found }

  /v1/tracker/projects/{key}/issues:
    parameters:
      - { name: key, in: path, required: true, schema: { type: string }, description: Project key }
    get:
      tags: [Issues]
      summary: List issues (board/list)
      operationId: listIssues
      parameters:
        - { name: status, in: query, schema: { $ref: '#/components/schemas/IssueStatus' }, description: Filter to one board column }
      responses:
        '200': { description: Issues, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Issue' } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Project not found }
    post:
      tags: [Issues]
      summary: Create an issue
      operationId: createIssue
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateIssueRequest' }
      responses:
        '201': { description: Issue created, content: { application/json: { schema: { $ref: '#/components/schemas/Issue' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Project not found }

  /v1/tracker/projects/{key}/issues/{num}:
    parameters:
      - { name: key, in: path, required: true, schema: { type: string }, description: Project key }
      - { name: num, in: path, required: true, schema: { type: integer }, description: Per-project issue number }
    get:
      tags: [Issues]
      summary: Get an issue
      operationId: getIssue
      responses:
        '200': { description: Issue, content: { application/json: { schema: { $ref: '#/components/schemas/Issue' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Issue not found }
    patch:
      tags: [Issues]
      summary: Update an issue
      operationId: updateIssue
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateIssueRequest' }
      responses:
        '200': { description: Issue updated, content: { application/json: { schema: { $ref: '#/components/schemas/Issue' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Issue not found }
    delete:
      tags: [Issues]
      summary: Delete an issue
      operationId: deleteIssue
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Issue not found }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: IAM-issued JWT or `hk-` Cloud API key.
  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
  schemas:
    IssueStatus:
      type: string
      enum: [backlog, todo, in_progress, done, canceled]
      description: Board column. Empty defaults to backlog.
    IssuePriority:
      type: string
      enum: [none, urgent, high, medium, low]
      description: Priority. Empty defaults to none.
    Project:
      type: object
      properties:
        id: { type: string }
        org: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: string }
        createdAt: { type: integer, format: int64, description: Unix seconds }
        updatedAt: { type: integer, format: int64, description: Unix seconds }
    CreateProjectRequest:
      type: object
      required: [name]
      properties:
        key: { type: string, description: 'Optional; derived from name when omitted. ^[A-Z][A-Z0-9]{1,7}$' }
        name: { type: string, maxLength: 256 }
        description: { type: string }
    UpdateProjectRequest:
      type: object
      properties:
        name: { type: string, maxLength: 256 }
        description: { type: string }
    Issue:
      type: object
      properties:
        id: { type: string }
        identifier: { type: string, description: "'KEY-<number>, the human handle'" }
        projectKey: { type: string }
        number: { type: integer }
        title: { type: string }
        description: { type: string }
        status: { $ref: '#/components/schemas/IssueStatus' }
        priority: { $ref: '#/components/schemas/IssuePriority' }
        assignee: { type: string }
        labels: { type: array, items: { type: string } }
        createdAt: { type: integer, format: int64 }
        updatedAt: { type: integer, format: int64 }
    CreateIssueRequest:
      type: object
      required: [title]
      properties:
        title: { type: string, maxLength: 512 }
        description: { type: string }
        status: { $ref: '#/components/schemas/IssueStatus' }
        priority: { $ref: '#/components/schemas/IssuePriority' }
        assignee: { type: string }
        labels: { type: array, items: { type: string } }
    UpdateIssueRequest:
      type: object
      properties:
        title: { type: string, maxLength: 512 }
        description: { type: string }
        status: { $ref: '#/components/schemas/IssueStatus' }
        priority: { $ref: '#/components/schemas/IssuePriority' }
        assignee: { type: string }
        labels: { type: array, items: { type: string } }
