openapi: 3.1.0
info:
  title: Hanzo IAM
  description: 'Identity and access for the Hanzo Cloud: OpenID Connect and OAuth2 with PKCE, passkeys,
    one-time codes, wallets, external identity providers, SCIM 2.0 provisioning, and the directory of
    organizations, people, roles and permissions behind them.


    A principal is addressed as `<org>/<username>` on every surface. Every operation takes a bearer token
    from https://hanzo.id unless it is marked otherwise — sign-in and discovery necessarily answer before
    you have one.'
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
servers:
- url: https://hanzo.id
  description: Hanzo IAM
tags:
- name: Discovery
  description: Where the endpoints are and which keys verify a token — everything a standards client needs
    to configure itself.
- name: Sign-in
  description: 'Signing a person in: the OAuth2/OIDC flows, the front door a sign-in page renders from,
    and the sign-up and one-time-code endpoints.'
- name: Account
  description: What the signed-in caller can read and change about themselves.
- name: Multi-factor
  description: Enrolling and choosing second factors.
- name: Credentials
  description: Tokens and API keys — minted for a person by a trusted backend, or held by a program of
    its own.
- name: Directory
  description: Who belongs to an organization, and the SCIM 2.0 surface an identity provider drives.
- name: applications
  description: The products and sites your people sign in to.
- name: organizations
  description: Tenants. Every other object is owned by one.
- name: users
  description: The people in an organization.
- name: roles
  description: Named sets of people, granted permissions together.
- name: permissions
  description: Who may do what to which objects.
- name: providers
  description: External identity providers and the services an application talks to.
- name: certs
  description: The signing certificates tokens are issued under.
- name: keys
  description: API keys held in the directory.
- name: tokens
  description: Issued access tokens, so you can see and revoke them.
- name: sessions
  description: Open sign-ins, per person and application.
- name: invitations
  description: Outstanding invitations to join an organization.
- name: projects
  description: Projects inside an organization.
- name: workspaces
  description: Workspaces inside a project.
- name: audit-logs
  description: What happened, who did it and when.
- name: webauthn-credentials
  description: Registered passkeys.
security:
- BearerAuth: []
paths:
  /.well-known/jwks:
    get:
      operationId: discovery_jwks
      summary: Fetch the public keys that verify tokens issued here
      tags:
      - Discovery
      responses:
        '200': &id001
          description: ok
      description: One key set, published at both this address and the /v1/iam twin.
      security: []
  /.well-known/oauth-authorization-server:
    get:
      operationId: discovery_oauth
      summary: Discover this authorization server
      tags:
      - Discovery
      responses:
        '200': *id001
      description: The same self-consistent document at the OAuth address (RFC 8414), so an OAuth-only
        client finds it too.
      security: []
  /.well-known/openid-configuration:
    get:
      operationId: discovery_openid
      summary: Discover this identity service
      tags:
      - Discovery
      responses:
        '200': *id001
      description: Returns the endpoints, grants, scopes and signing algorithms this service supports,
        so a standards client configures itself instead of hard-coding addresses.
      security: []
  /v1/iam/.well-known/jwks:
    get:
      operationId: discovery_jwks_v1
      summary: Fetch the public keys that verify tokens issued here
      tags:
      - Discovery
      responses:
        '200': *id001
      security: []
  /v1/iam/.well-known/oauth-authorization-server:
    get:
      operationId: discovery_oauth_v1
      summary: Discover this authorization server
      tags:
      - Discovery
      responses:
        '200': *id001
      security: []
  /v1/iam/.well-known/openid-configuration:
    get:
      operationId: discovery_openid_v1
      summary: Discover this identity service
      tags:
      - Discovery
      responses:
        '200': *id001
      security: []
  /v1/iam/account:
    get:
      operationId: account
      summary: Read the caller’s own account and organization
      tags:
      - Account
      responses:
        '200': *id001
      description: Every secret — password hash, access secret, one-time-code seed, recovery codes — is
        removed.
  /v1/iam/applications:
    get:
      description: 'Returns the applications in one organization, newest first —

        each product or site your people sign in to, with the sign-in methods and

        redirect URIs it allows.'
      operationId: applications_list
      parameters:
      - in: query
        name: owner
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
          description: ok
      summary: Returns the applications in one organization, newest first — each product or site your
        people sign in to, with the sign-in methods and redirect URIs it allows.
      tags:
      - applications
    post:
      description: 'Registers an application in your organization — one product or site

        your people sign in to, with its own client credentials, sign-in methods and

        allowed redirect URIs. A name already used in the organization is refused

        rather than overwritten.


        Exported so the legacy add-application alias reuses this exact path — one

        create, two spellings.'
      operationId: applications_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: ok
      summary: Registers an application in your organization — one product or site your people sign in
        to, with its own client credentials, sign-in methods and allowed redirect URIs.
      tags:
      - applications
  /v1/iam/applications/delete:
    post:
      description: 'Removes an application. Anyone mid-sign-in through it is

        turned away and its client credentials stop working, so retire the integration

        before deleting it.'
      operationId: applications_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRef'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResult'
          description: ok
      summary: Removes an application.
      tags:
      - applications
  /v1/iam/applications/get:
    get:
      description: 'Returns one application: its sign-in methods, its allowed

        redirect URIs and the client credentials your integration authenticates with.'
      operationId: applications_get
      parameters:
      - in: query
        name: owner
        required: true
        schema:
          type: string
      - in: query
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: ok
      summary: 'Returns one application: its sign-in methods, its allowed redirect URIs and the client
        credentials your integration authenticates with.'
      tags:
      - applications
  /v1/iam/applications/update:
    post:
      description: 'Changes an application''s display, its sign-in methods and the redirect

        URIs it may return to — the call that makes login work from a new host. Which

        organization it belongs to and what it is named are fixed when it is created

        and are not editable here.


        Exported so the legacy update-application alias reuses this exact path — one

        update, two spellings.'
      operationId: applications_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: ok
      summary: Changes an application's display, its sign-in methods and the redirect URIs it may return
        to — the call that makes login work from a new host.
      tags:
      - applications
  /v1/iam/audit-logs:
    get:
      description: 'Returns your organization''s audit trail, newest first — who did

        what, when, and from where. It is the record you reach for during a security

        review or an incident.


        You see your own organization''s audit trail and no one else''s; which organization that

        is comes from your credentials, not from the request.'
      operationId: audit_logs_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOutput'
          description: ok
      summary: Returns your organization's audit trail, newest first — who did what, when, and from where.
      tags:
      - audit-logs
    post:
      description: 'Records an audit entry, so activity from your own systems lands in the

        same trail as everything the Hanzo Cloud records for you.'
      operationId: audit_logs_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auditlogs.Input'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLog'
          description: ok
      summary: Records an audit entry, so activity from your own systems lands in the same trail as everything
        the Hanzo Cloud records for you.
      tags:
      - audit-logs
  /v1/iam/audit-logs/delete:
    post:
      description: 'Removes an audit entry. Retention policy is normally what should expire

        a trail; deleting by hand leaves a gap a reviewer will notice.'
      operationId: audit_logs_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOutput'
          description: ok
      summary: Removes an audit entry.
      tags:
      - audit-logs
  /v1/iam/audit-logs/get:
    post:
      description: 'Returns one audit entry in full: the action, the person or key behind it,

        and the request it came in on.'
      operationId: audit_logs_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLog'
          description: ok
      summary: 'Returns one audit entry in full: the action, the person or key behind it, and the request
        it came in on.'
      tags:
      - audit-logs
  /v1/iam/audit-logs/update:
    post:
      description: 'Corrects an audit entry. The trail is append-only in normal operation

        and nothing in the Hanzo Cloud rewrites it — this exists for an administrator

        to correct an entry their own systems recorded wrongly.'
      operationId: audit_logs_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auditlogs.Input'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLog'
          description: ok
      summary: Corrects an audit entry.
      tags:
      - audit-logs
  /v1/iam/auth/application:
    get:
      operationId: auth_application
      summary: Read the application a sign-in page renders from
      tags:
      - Sign-in
      responses:
        '200': *id001
      description: The application resolved by client id, with its client secret and every provider secret
        removed — this is read by a browser.
      parameters:
      - name: clientId
        in: query
        required: true
        schema:
          type: string
        description: The application to answer for.
      security: []
  /v1/iam/auth/methods:
    get:
      operationId: auth_methods
      summary: List the sign-in methods an application offers
      tags:
      - Sign-in
      responses:
        '200': *id001
      description: Password, one-time code, passkey, wallet and each configured external provider — so
        one sign-in page renders the right buttons for any application instead of hard-coding a list.
        A provider with no real credential is left out rather than shown as a dead end.
      parameters:
      - name: clientId
        in: query
        required: true
        schema:
          type: string
        description: The application to answer for.
      security: []
  /v1/iam/certs:
    get:
      description: 'Returns your organization''s signing certificates, newest first — the keys

        the tokens your applications verify are signed with. Private key material is

        masked.


        You see your own organization''s certificates and no one else''s; which

        organization that is comes from your credentials, not from the request, so a

        query parameter can never widen the listing.'
      operationId: certs_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/certs.ListOutput'
          description: ok
      summary: Returns your organization's signing certificates, newest first — the keys the tokens your
        applications verify are signed with.
      tags:
      - certs
    post:
      description: 'Adds a signing certificate your applications can verify tokens against

        — the call you make to bring your own key, or to stage the next one before a

        rotation. A name already used in your organization is refused.'
      operationId: certs_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cert'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cert'
          description: ok
      summary: Adds a signing certificate your applications can verify tokens against — the call you make
        to bring your own key, or to stage the next one before a rotation.
      tags:
      - certs
  /v1/iam/certs/delete:
    post:
      description: 'Removes a signing certificate. Tokens signed with it can no longer be

        verified, so retire it only once nothing is still presenting them.'
      operationId: certs_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certs.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/certs.DeleteOutput'
          description: ok
      summary: Removes a signing certificate.
      tags:
      - certs
  /v1/iam/certs/get:
    post:
      description: 'Returns one signing certificate — its algorithm, its validity window and

        its public half. The private key is masked.'
      operationId: certs_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certs.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cert'
          description: ok
      summary: Returns one signing certificate — its algorithm, its validity window and its public half.
      tags:
      - certs
  /v1/iam/certs/update:
    post:
      description: 'Changes a signing certificate''s settings. What it is called does not

        change, and neither does when it was added.'
      operationId: certs_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cert'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cert'
          description: ok
      summary: Changes a signing certificate's settings.
      tags:
      - certs
  /v1/iam/consent:
    get:
      operationId: consent_get
      summary: Read the caller’s data-sharing choices
      tags:
      - Account
      responses:
        '200': *id001
    put:
      operationId: consent_set
      summary: Set the caller’s data-sharing choices
      tags:
      - Account
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/invitations:
    get:
      description: 'Returns your organization''s invitations, newest first — who has

        been asked to join, on what terms, and how many seats each invitation still

        has left.


        You see your own organization''s invitations and no one else''s; which organization that

        is comes from your credentials, not from the request.'
      operationId: invitations_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitations.ListOutput'
          description: ok
      summary: Returns your organization's invitations, newest first — who has been asked to join, on
        what terms, and how many seats each invitation still has left.
      tags:
      - invitations
    post:
      description: 'Issues an invitation to join your organization — the code or link a new

        member redeems, with the role they arrive holding and the date it stops

        working. A name already used in the organization is refused.'
      operationId: invitations_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/invitations.Input'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
          description: ok
      summary: Issues an invitation to join your organization — the code or link a new member redeems,
        with the role they arrive holding and the date it stops working.
      tags:
      - invitations
  /v1/iam/invitations/delete:
    post:
      description: 'Withdraws an invitation. It stops being redeemable at once; anyone who

        already joined through it keeps their account.'
      operationId: invitations_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/invitations.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitations.DeleteOutput'
          description: ok
      summary: Withdraws an invitation.
      tags:
      - invitations
  /v1/iam/invitations/get:
    post:
      description: 'Returns one invitation: who it is for, what it grants on acceptance, and

        when it expires.'
      operationId: invitations_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/invitations.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
          description: ok
      summary: 'Returns one invitation: who it is for, what it grants on acceptance, and when it expires.'
      tags:
      - invitations
  /v1/iam/invitations/update:
    post:
      description: 'Changes an invitation''s terms — the role it grants, how many may redeem

        it, or when it expires. What it is called does not change.'
      operationId: invitations_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/invitations.Input'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
          description: ok
      summary: Changes an invitation's terms — the role it grants, how many may redeem it, or when it
        expires.
      tags:
      - invitations
  /v1/iam/keys:
    get:
      description: 'Returns your organization''s API keys, newest first — what each is called,

        what it may reach, and its publishable half. Secret halves are never listed.'
      operationId: keys_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: ok
      summary: Returns your organization's API keys, newest first — what each is called, what it may reach,
        and its publishable half.
      tags:
      - keys
    post:
      description: 'Issues an API key. A standard key comes back as a publishable half you

        may ship in client code and a secret half you must not — the secret is shown

        once, at creation, and cannot be retrieved afterwards. A publish-scoped key is

        issued with the publishable half only, so there is no secret to leak.


        A name already used in your organization is refused rather than reissued, so

        creating twice never silently invalidates a key that is in production.'
      operationId: keys_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: ok
      summary: Issues an API key.
      tags:
      - keys
  /v1/iam/keys/delete:
    post:
      description: 'Revokes an API key. Anything still presenting it stops being authorized at

        once, so roll the replacement out before you revoke.'
      operationId: keys_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/keys.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
          description: ok
      summary: Revokes an API key.
      tags:
      - keys
  /v1/iam/keys/get:
    get:
      description: 'Returns one API key: what it is called, what it may reach, and when it was

        issued.'
      operationId: keys_get
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      - in: query
        name: name
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: ok
      summary: 'Returns one API key: what it is called, what it may reach, and when it was issued.'
      tags:
      - keys
  /v1/iam/keys/mint:
    post:
      operationId: keys_mint
      summary: Mint or rotate a person’s API key, and return it once
      tags:
      - Credentials
      responses:
        '200': *id001
      description: 'The key type is a field, not a second endpoint: `secret` (the default) is confidential
        and resolves the person; `publishable` is safe to ship in browser code and resolves only their
        organization.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        description: The person, as `<org>/<username>`.
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: '`secret` (default) or `publishable`.'
      security: []
  /v1/iam/keys/revoke:
    post:
      operationId: keys_revoke
      summary: Revoke a person’s API key immediately
      tags:
      - Credentials
      responses:
        '200': *id001
      description: Scoped by the same `type` field mint takes, so revoking the browser key leaves the
        server key working.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        description: The person, as `<org>/<username>`.
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: '`secret` (default) or `publishable`.'
      security: []
  /v1/iam/keys/update:
    post:
      description: 'Changes what a key is called or what it may reach. The credential

        itself is not reissued — the key in your deployment keeps working.'
      operationId: keys_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: ok
      summary: Changes what a key is called or what it may reach.
      tags:
      - keys
  /v1/iam/linked-accounts:
    get:
      operationId: linked_accounts
      summary: List the external identity provider accounts linked to this identity
      tags:
      - Sign-in
      responses:
        '200': *id001
  /v1/iam/login:
    post:
      operationId: login
      summary: Sign in with a password, a one-time code, a passkey or a wallet, and return an authorization
        code
      tags:
      - Sign-in
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security: []
  /v1/iam/memberships:
    get:
      operationId: memberships_list
      summary: List who belongs to an organization, and in what role
      tags:
      - Directory
      responses:
        '200': *id001
    post:
      operationId: memberships_create
      summary: Add someone to an organization
      tags:
      - Directory
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/mfa/disable:
    post:
      operationId: mfa_disable
      summary: Turn off a multi-factor method
      tags:
      - Multi-factor
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/mfa/preferred:
    post:
      operationId: mfa_preferred
      summary: Choose which multi-factor method is used by default
      tags:
      - Multi-factor
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/mfa/setup/enable:
    post:
      operationId: mfa_setup_enable
      summary: Turn on multi-factor sign-in once enrolment is verified
      tags:
      - Multi-factor
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/mfa/setup/initiate:
    post:
      operationId: mfa_setup_initiate
      summary: Begin multi-factor enrolment and return the shared secret
      tags:
      - Multi-factor
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/mfa/setup/verify:
    post:
      operationId: mfa_setup_verify
      summary: Verify a multi-factor enrolment code
      tags:
      - Multi-factor
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/oauth/authorize:
    get:
      operationId: oauth_authorize
      summary: Start a sign-in and return an authorization code
      tags:
      - Sign-in
      responses:
        '200': *id001
      description: The authorization-code flow with PKCE (S256 always). Naming a provider starts a hand-off
        to that external identity provider instead.
      parameters:
      - name: client_id
        in: query
        required: true
        schema:
          type: string
        description: The application signing the person in.
      - name: redirect_uri
        in: query
        required: true
        schema:
          type: string
        description: Where to return once they are signed in — must be one the application allows.
      - name: response_type
        in: query
        required: false
        schema:
          type: string
        description: Always `code`.
      - name: scope
        in: query
        required: false
        schema:
          type: string
        description: Space-separated scopes, e.g. `openid profile email`.
      - name: state
        in: query
        required: false
        schema:
          type: string
        description: Round-tripped to your redirect, for CSRF protection.
      - name: code_challenge
        in: query
        required: false
        schema:
          type: string
        description: The PKCE challenge.
      - name: code_challenge_method
        in: query
        required: false
        schema:
          type: string
        description: Always `S256`.
      - name: provider
        in: query
        required: false
        schema:
          type: string
        description: Hand off to this external identity provider.
      security: []
  /v1/iam/oauth/callback:
    get:
      operationId: oauth_callback
      summary: Finish a sign-in that was handed off to an external identity provider
      tags:
      - Sign-in
      responses:
        '200': *id001
      security: []
  /v1/iam/oauth/device:
    post:
      operationId: oauth_device
      summary: Start a sign-in on a device with no browser
      tags:
      - Sign-in
      responses:
        '200': *id001
      description: RFC 8628. Returns the code to show the person and the address where they approve it;
        poll the token endpoint until they do.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security: []
  /v1/iam/oauth/federation/mfa:
    post:
      operationId: oauth_federation_mfa
      summary: Complete the second factor for a sign-in that came from an external identity provider
      tags:
      - Sign-in
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security: []
  /v1/iam/oauth/introspect:
    post:
      operationId: oauth_introspect
      summary: Report whether a token is still valid, and what it grants
      tags:
      - Sign-in
      responses:
        '200': *id001
      description: 'RFC 7662. Client-authenticated: a resource server asks about a token it was handed.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security: []
  /v1/iam/oauth/logout:
    get:
      operationId: oauth_logout
      summary: End the session and sign the person out of every application in it
      tags:
      - Sign-in
      responses:
        '200': *id001
  /v1/iam/oauth/revoke:
    post:
      operationId: oauth_revoke
      summary: Revoke a token immediately
      tags:
      - Sign-in
      responses:
        '200': *id001
      description: RFC 7009.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security: []
  /v1/iam/oauth/token:
    post:
      operationId: oauth_token
      summary: Exchange a code, refresh token or client credential for an access token
      tags:
      - Sign-in
      responses:
        '200': *id001
      description: Supports the authorization-code, refresh-token, client-credentials, password, token-exchange
        and device grants.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security: []
  /v1/iam/oauth/userinfo:
    get:
      operationId: oauth_userinfo
      summary: Read the signed-in identity behind an access token
      tags:
      - Sign-in
      responses:
        '200': *id001
  /v1/iam/onboard:
    post:
      operationId: onboard
      summary: Create the caller’s first organization and move them into it
      tags:
      - Account
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/organizations:
    get:
      description: 'Returns the organizations you can see, newest first. Narrow it to one

        parent account, and set a limit and offset to page through the rest.'
      operationId: organizations_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      - in: query
        name: limit
        required: false
        schema:
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganizationsOutput'
          description: ok
      summary: Returns the organizations you can see, newest first.
      tags:
      - organizations
    post:
      description: 'Makes a new organization — the account your users, applications, roles,

        projects and workspaces are all named inside. It is the first write in a new

        tenant, and a name already in use is refused rather than taken over.'
      operationId: organizations_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationInput'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: ok
      summary: Makes a new organization — the account your users, applications, roles, projects and workspaces
        are all named inside.
      tags:
      - organizations
  /v1/iam/organizations/delete:
    post:
      description: 'Removes an organization and everything named inside it. There is no

        undo, and every session issued under it stops working.


        The built-in admin organization cannot be deleted — losing it would leave the

        account with no way back in.'
      operationId: organizations_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOrganizationInput'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrganizationOutput'
          description: ok
      summary: Removes an organization and everything named inside it.
      tags:
      - organizations
  /v1/iam/organizations/get:
    get:
      description: 'Returns one organization: its display, its defaults and the sign-in rules

        everyone in it inherits.'
      operationId: organizations_get
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      - in: query
        name: name
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: ok
      summary: 'Returns one organization: its display, its defaults and the sign-in rules everyone in
        it inherits.'
      tags:
      - organizations
  /v1/iam/organizations/update:
    post:
      description: 'Changes an organization''s display, its defaults and the sign-in rules

        everyone in it inherits. Which organization it is does not change, and neither

        does when it was created.'
      operationId: organizations_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationInput'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: ok
      summary: Changes an organization's display, its defaults and the sign-in rules everyone in it inherits.
      tags:
      - organizations
  /v1/iam/permissions:
    get:
      description: 'Returns the permissions in one organization, newest first — each one a

        grant saying which people or roles may do what, and to which resources.'
      operationId: permissions_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/permission.ListResponse'
          description: ok
      summary: Returns the permissions in one organization, newest first — each one a grant saying which
        people or roles may do what, and to which resources.
      tags:
      - permissions
    post:
      description: 'Grants a permission — the call that gives a person or a role the ability to

        do something. Adding refuses to overwrite a grant that already exists, so

        widening an existing one is an update, never an accident.'
      operationId: permissions_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: ok
      summary: Grants a permission — the call that gives a person or a role the ability to do something.
      tags:
      - permissions
  /v1/iam/permissions/delete:
    post:
      description: 'Revokes a permission. Everyone who held access only through it loses

        that access immediately; grants they hold by another route are untouched.'
      operationId: permissions_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/permission.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/permission.DeleteResponse'
          description: ok
      summary: Revokes a permission.
      tags:
      - permissions
  /v1/iam/permissions/get:
    get:
      description: 'Returns one permission: who it grants to, what it allows, and the

        resources it covers.'
      operationId: permissions_get
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      - in: query
        name: name
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: ok
      summary: 'Returns one permission: who it grants to, what it allows, and the resources it covers.'
      tags:
      - permissions
  /v1/iam/permissions/update:
    post:
      description: 'Changes who a permission grants to, what it allows, or the resources it

        covers. Access changes as soon as the write lands. What the permission is

        called does not change, and neither does when it was created.'
      operationId: permissions_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: ok
      summary: Changes who a permission grants to, what it allows, or the resources it covers.
      tags:
      - permissions
  /v1/iam/preferences:
    post:
      operationId: preferences_update
      summary: Merge changes into the caller’s own preferences
      tags:
      - Account
      responses:
        '200': *id001
      description: Top-level keys are merged, not replaced, so two products setting different keys do
        not overwrite each other. Returns the merged result.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/projects:
    get:
      description: 'Returns your organization''s projects, newest first — the scope

        people pick between when their work is separated by product or client rather

        than by team.


        You see your own organization''s projects and no one else''s; which organization that

        is comes from your credentials, not from the request.'
      operationId: projects_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projects.ListOutput'
          description: ok
      summary: Returns your organization's projects, newest first — the scope people pick between when
        their work is separated by product or client rather than by team.
      tags:
      - projects
    post:
      description: 'Makes a project inside your organization — the scope people pick

        between when their work is separated by product or client rather than by team.

        A name already used in the organization is refused.'
      operationId: projects_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Input'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: ok
      summary: Makes a project inside your organization — the scope people pick between when their work
        is separated by product or client rather than by team.
      tags:
      - projects
  /v1/iam/projects/delete:
    post:
      description: 'Removes a project. The people and roles in your organization are

        unchanged; what goes is the scope itself, so move anything addressed by it

        first.'
      operationId: projects_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/projects.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projects.DeleteOutput'
          description: ok
      summary: Removes a project.
      tags:
      - projects
  /v1/iam/projects/get:
    post:
      description: 'Returns one project: what it is called and how it is set up.'
      operationId: projects_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/projects.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: ok
      summary: 'Returns one project: what it is called and how it is set up.'
      tags:
      - projects
  /v1/iam/projects/update:
    post:
      description: 'Changes a project''s settings. What it is called does not change, and

        neither does when it was created.'
      operationId: projects_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Input'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: ok
      summary: Changes a project's settings.
      tags:
      - projects
  /v1/iam/providers:
    get:
      description: 'Returns your organization''s providers, newest first — the

        identity providers your people sign in with, and the senders and connectors

        your applications go through.


        You see your own organization''s providers and no one else''s; which organization

        that is comes from your credentials, not from the request.'
      operationId: providers_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listProvidersOut'
          description: ok
      summary: Returns your organization's providers, newest first — the identity providers your people
        sign in with, and the senders and connectors your applications go through.
      tags:
      - providers
    post:
      description: 'Adds an identity provider your people can sign in with, or a

        service your applications send through — a social or enterprise login, an email

        or SMS sender, a storage or payment connector.


        A provider is configured once and then switched on per application, so several

        applications can share one set of credentials.'
      operationId: providers_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/providerResult'
          description: ok
      summary: Adds an identity provider your people can sign in with, or a service your applications
        send through — a social or enterprise login, an email or SMS sender, a storage or payment connector.
      tags:
      - providers
  /v1/iam/providers/delete:
    post:
      description: 'Removes a provider. Sign-in through it stops for every

        application that used it, so give those applications another method first.


        A provider that is already gone answers "nothing changed" rather than an

        error, so the call is safe to repeat.'
      operationId: providers_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/providerKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mutationResult'
          description: ok
      summary: Removes a provider.
      tags:
      - providers
  /v1/iam/providers/get:
    post:
      description: 'Returns one provider: what it connects to and how it is

        configured. Its credentials come back masked.'
      operationId: providers_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/providerKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/providerResult'
          description: ok
      summary: 'Returns one provider: what it connects to and how it is configured.'
      tags:
      - providers
  /v1/iam/providers/update:
    post:
      description: 'Changes a provider''s settings or rotates the credentials it

        holds. The change takes effect on the next sign-in through it — sessions

        already issued are unaffected.


        A provider that is not there answers "nothing changed" rather than an error, so

        the call is safe to repeat.'
      operationId: providers_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Provider'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mutationResult'
          description: ok
      summary: Changes a provider's settings or rotates the credentials it holds.
      tags:
      - providers
  /v1/iam/registry/jwks:
    get:
      operationId: registry_jwks
      summary: Fetch the public keys that verify container-registry tokens
      tags:
      - Credentials
      responses:
        '200': *id001
      security: []
  /v1/iam/registry/token:
    get:
      operationId: registry_token
      summary: Exchange your identity for a container-registry pull or push token
      tags:
      - Credentials
      responses:
        '200': *id001
  /v1/iam/roles:
    get:
      description: 'Returns your organization''s roles, newest first — each a named group of

        people that permissions are granted to.


        You see your own organization''s roles and no one else''s; which organization

        that is comes from your credentials, not from the request.'
      operationId: roles_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roles.ListOutput'
          description: ok
      summary: Returns your organization's roles, newest first — each a named group of people that permissions
        are granted to.
      tags:
      - roles
    post:
      description: 'Makes a role — a named group of people that permissions are granted to.

        Granting to a role rather than to each person is what keeps access correct as

        your team changes: add someone to the role and they inherit everything it can

        do. A name already used in your organization is refused.'
      operationId: roles_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/roles.Input'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: ok
      summary: Makes a role — a named group of people that permissions are granted to.
      tags:
      - roles
  /v1/iam/roles/delete:
    post:
      description: 'Removes a role. Everyone in it loses the access it carried; their

        accounts, and any other role they hold, are untouched.'
      operationId: roles_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/roles.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roles.DeleteOutput'
          description: ok
      summary: Removes a role.
      tags:
      - roles
  /v1/iam/roles/get:
    post:
      description: 'Returns one role: who is in it, and the roles it includes.'
      operationId: roles_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/roles.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: ok
      summary: 'Returns one role: who is in it, and the roles it includes.'
      tags:
      - roles
  /v1/iam/roles/update:
    post:
      description: 'Changes who is in a role, or which roles it includes. Access changes for

        everyone in it as soon as the write lands. What the role is called does not

        change, and neither does when it was created.'
      operationId: roles_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/roles.Input'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: ok
      summary: Changes who is in a role, or which roles it includes.
      tags:
      - roles
  /v1/iam/scim/v2/ResourceTypes:
    get:
      operationId: scim_resource_types
      summary: List the SCIM 2.0 resource types this service serves
      tags:
      - Directory
      responses:
        '200': *id001
      security: []
  /v1/iam/scim/v2/ResourceTypes/{name}:
    get:
      operationId: scim_resource_type
      summary: Read one SCIM 2.0 resource type
      tags:
      - Directory
      responses:
        '200': *id001
      parameters:
      - name: name
        in: path
        required: true
        schema: &id002
          type: string
      security: []
  /v1/iam/scim/v2/Schemas:
    get:
      operationId: scim_schemas
      summary: List the SCIM 2.0 schemas this service serves
      tags:
      - Directory
      responses:
        '200': *id001
      security: []
  /v1/iam/scim/v2/Schemas/{id}:
    get:
      operationId: scim_schema
      summary: Read one SCIM 2.0 schema
      tags:
      - Directory
      responses:
        '200': *id001
      parameters:
      - name: id
        in: path
        required: true
        schema: *id002
      security: []
  /v1/iam/scim/v2/ServiceProviderConfig:
    get:
      operationId: scim_config
      summary: Report which SCIM 2.0 features this service supports
      tags:
      - Directory
      responses:
        '200': *id001
      security: []
  /v1/iam/scim/v2/Users:
    get:
      operationId: scim_users_list
      summary: List users over SCIM 2.0
      tags:
      - Directory
      responses:
        '200': *id001
      description: The standard provisioning surface an identity provider drives to keep your directory
        in step.
    post:
      operationId: scim_users_create
      summary: Create a user over SCIM 2.0
      tags:
      - Directory
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/scim/v2/Users/{owner}/{name}:
    get:
      operationId: scim_users_get
      summary: Read one user over SCIM 2.0
      tags:
      - Directory
      responses:
        '200': *id001
      parameters:
      - name: name
        in: path
        required: true
        schema: *id002
      - name: owner
        in: path
        required: true
        schema: *id002
    put:
      operationId: scim_users_replace
      summary: Replace one user over SCIM 2.0
      tags:
      - Directory
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: name
        in: path
        required: true
        schema: *id002
      - name: owner
        in: path
        required: true
        schema: *id002
    patch:
      operationId: scim_users_patch
      summary: Change part of one user over SCIM 2.0
      tags:
      - Directory
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: name
        in: path
        required: true
        schema: *id002
      - name: owner
        in: path
        required: true
        schema: *id002
    delete:
      operationId: scim_users_delete
      summary: Delete one user over SCIM 2.0
      tags:
      - Directory
      responses:
        '200': *id001
      parameters:
      - name: name
        in: path
        required: true
        schema: *id002
      - name: owner
        in: path
        required: true
        schema: *id002
  /v1/iam/service-accounts:
    get:
      operationId: service_accounts_list
      summary: List the organization’s service accounts
      tags:
      - Credentials
      responses:
        '200': *id001
    post:
      operationId: service_accounts_create
      summary: Create a service account — an identity for a program, not a person
      tags:
      - Credentials
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/service-accounts/{name}:
    delete:
      operationId: service_accounts_delete
      summary: Delete a service account
      tags:
      - Credentials
      responses:
        '200': *id001
      parameters:
      - name: name
        in: path
        required: true
        schema: *id002
  /v1/iam/service-accounts/{name}/keys:
    post:
      operationId: service_accounts_keys_create
      summary: Mint a key for a service account, and return it once
      tags:
      - Credentials
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: name
        in: path
        required: true
        schema: *id002
  /v1/iam/sessions/create:
    post:
      description: 'Records a sign-in. Signing in again from another browser adds to the

        session rather than replacing it, so one person can be signed in from a laptop

        and a phone at once.


        Ask for an exclusive sign-in and the opposite holds: the new sign-in is the only

        one left and every other browser is signed out. That is the setting to use when

        one person may hold only one live session at a time.'
      operationId: sessions_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionIn'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
          description: ok
      summary: Records a sign-in.
      tags:
      - sessions
  /v1/iam/sessions/delete:
    post:
      description: 'Signs a person out of one application — the session ends and every

        browser carrying it stops being authenticated.


        A session that is already gone reports that nothing was deleted rather than an

        error, so the call is safe to repeat.'
      operationId: sessions_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionRef'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSessionOut'
          description: ok
      summary: Signs a person out of one application — the session ends and every browser carrying it
        stops being authenticated.
      tags:
      - sessions
  /v1/iam/sessions/get:
    post:
      description: 'Returns one person''s session in one application — when it began and which

        browsers or devices are still carrying it.'
      operationId: sessions_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionRef'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
          description: ok
      summary: Returns one person's session in one application — when it began and which browsers or devices
        are still carrying it.
      tags:
      - sessions
  /v1/iam/sessions/list:
    post:
      description: 'Returns who is currently signed in to your organization, newest first, and

        can be narrowed to one person or one application. It is what you read before

        signing someone out.'
      operationId: sessions_list
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListSessionsIn'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSessionsOut'
          description: ok
      summary: Returns who is currently signed in to your organization, newest first, and can be narrowed
        to one person or one application.
      tags:
      - sessions
  /v1/iam/sessions/update:
    post:
      description: 'Replaces the set of browsers a session covers — signing out the ones you

        leave off while the session itself stays live. A session that does not exist is

        reported as missing rather than created.'
      operationId: sessions_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSessionIn'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
          description: ok
      summary: Replaces the set of browsers a session covers — signing out the ones you leave off while
        the session itself stays live.
      tags:
      - sessions
  /v1/iam/signin:
    post:
      operationId: signin
      summary: Exchange an authorization code for a session
      tags:
      - Sign-in
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security: []
  /v1/iam/signup:
    post:
      operationId: signup
      summary: Create an account
      tags:
      - Sign-in
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security: []
  /v1/iam/tokens:
    get:
      description: 'Returns the access tokens issued in your organization, newest

        first, and can be narrowed to one organization. Use it to see what is currently

        authorized before revoking anything.'
      operationId: tokens_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      - in: query
        name: organization
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listTokensOut'
          description: ok
      summary: Returns the access tokens issued in your organization, newest first, and can be narrowed
        to one organization.
      tags:
      - tokens
    post:
      description: 'Records an access token — the credential an application or integration

        presents on a caller''s behalf.'
      operationId: tokens_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Token'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tokenResult'
          description: ok
      summary: Records an access token — the credential an application or integration presents on a caller's
        behalf.
      tags:
      - tokens
  /v1/iam/tokens/delete:
    post:
      description: 'Revokes an access token. Whatever was using it stops being

        authorized at once.


        A token that is already gone answers "nothing changed" rather than an error, so

        the call is safe to repeat.'
      operationId: tokens_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tokenKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tokenMutation'
          description: ok
      summary: Revokes an access token.
      tags:
      - tokens
  /v1/iam/tokens/get:
    post:
      description: 'Returns one access token: who and what it was issued to, and when it

        expires.'
      operationId: tokens_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tokenKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tokenResult'
          description: ok
      summary: 'Returns one access token: who and what it was issued to, and when it expires.'
      tags:
      - tokens
  /v1/iam/tokens/issue:
    post:
      operationId: tokens_issue
      summary: Mint an access token for a named person
      tags:
      - Credentials
      responses:
        '200': *id001
      description: For a confidential client acting on their behalf. The token carries that person’s identity,
        so a resource server cannot tell it from one they obtained themselves.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        description: The person, as `<org>/<username>`.
      - name: aud
        in: query
        required: false
        schema:
          type: string
        description: The resource the token is for.
      security: []
  /v1/iam/tokens/update:
    post:
      description: 'Changes an access token''s scope or expiry.


        A token that is not there answers "nothing changed" rather than an error, so

        the call is safe to repeat.'
      operationId: tokens_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Token'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tokenMutation'
          description: ok
      summary: Changes an access token's scope or expiry.
      tags:
      - tokens
  /v1/iam/unlink:
    post:
      operationId: unlink
      summary: Unlink an external identity provider account from this identity
      tags:
      - Sign-in
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /v1/iam/users:
    get:
      description: 'Returns a page of the people in your organization, with the total so you

        can page through the rest. Passwords, API secrets and MFA material are stripped

        from every entry.'
      operationId: users_list
      parameters:
      - in: query
        name: owner
        required: true
        schema:
          type: string
      - in: query
        name: limit
        required: false
        schema:
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users.ListOutput'
          description: ok
      summary: Returns a page of the people in your organization, with the total so you can page through
        the rest.
      tags:
      - users
    post:
      description: 'Adds a person to your organization. Send a password and it becomes the

        one they sign in with; it is hashed before it is stored and never comes back

        in any response.


        The username is checked against the same rule every account in the Hanzo Cloud

        is held to, whichever way it was created — this call, password signup, a social

        sign-in, or SCIM — so a name accepted here works everywhere.


        A name already taken in your organization is refused rather than overwritten.'
      operationId: users_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInput'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ok
      summary: Adds a person to your organization.
      tags:
      - users
  /v1/iam/users/delete:
    post:
      description: 'Removes a person from your organization. Their sessions stop working

        immediately and the account is gone rather than suspended — to keep the record

        and only stop sign-in, update the user instead.'
      operationId: users_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users.DeleteOutput'
          description: ok
      summary: Removes a person from your organization.
      tags:
      - users
  /v1/iam/users/get:
    get:
      description: 'Returns one person in your organization, by the organization they belong

        to and their username. Passwords, API secrets and MFA material are stripped

        from the response.'
      operationId: users_get
      parameters:
      - in: query
        name: owner
        required: true
        schema:
          type: string
      - in: query
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ok
      summary: Returns one person in your organization, by the organization they belong to and their username.
      tags:
      - users
  /v1/iam/users/update:
    post:
      description: 'Changes a person''s profile, their roles, or the credentials they sign

        in with. Send a password to reset it; leave it out and their current one keeps

        working.


        Who they are does not change: their organization, username and the identifier

        their existing sessions are keyed on all survive the write, so an update never

        signs anyone out.'
      operationId: users_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInput'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ok
      summary: Changes a person's profile, their roles, or the credentials they sign in with.
      tags:
      - users
  /v1/iam/verification-codes:
    post:
      operationId: verification_codes_create
      summary: Send a one-time code to an email address or phone number
      tags:
      - Sign-in
      responses:
        '200': *id001
      security: []
  /v1/iam/web3/nonce:
    get:
      operationId: web3_nonce
      summary: Get the nonce a wallet signs to prove it holds an address
      tags:
      - Sign-in
      responses:
        '200': *id001
      security: []
  /v1/iam/web3/verify:
    post:
      operationId: web3_verify
      summary: Verify a wallet signature and sign the holder in
      tags:
      - Sign-in
      responses:
        '200': *id001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security: []
  /v1/iam/webauthn-credentials:
    get:
      description: 'Returns the passkeys and security keys registered in

        your organization, newest first — which device each belongs to and when it was

        last used.'
      operationId: webauthn_credentials_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listWebauthnCredentialsOut'
          description: ok
      summary: Returns the passkeys and security keys registered in your organization, newest first —
        which device each belongs to and when it was last used.
      tags:
      - webauthn-credentials
    post:
      description: 'Registers a passkey or security key for a person, so they

        can sign in with their device instead of a password.'
      operationId: webauthn_credentials_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebauthnCredential'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webauthnCredentialResult'
          description: ok
      summary: Registers a passkey or security key for a person, so they can sign in with their device
        instead of a password.
      tags:
      - webauthn-credentials
  /v1/iam/webauthn-credentials/delete:
    post:
      description: 'Removes a passkey or security key — what you call when

        a device is lost. Make sure the person has another way to sign in first.


        A credential that is already gone answers "nothing changed" rather than an

        error, so the call is safe to repeat.'
      operationId: webauthn_credentials_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webauthnCredentialKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webauthnCredentialMutationResult'
          description: ok
      summary: Removes a passkey or security key — what you call when a device is lost.
      tags:
      - webauthn-credentials
  /v1/iam/webauthn-credentials/get:
    post:
      description: 'Returns one passkey or security key: whose it is, what

        device it lives on, and when it was registered.'
      operationId: webauthn_credentials_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webauthnCredentialKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webauthnCredentialResult'
          description: ok
      summary: 'Returns one passkey or security key: whose it is, what device it lives on, and when it
        was registered.'
      tags:
      - webauthn-credentials
  /v1/iam/webauthn-credentials/update:
    post:
      description: 'Renames a registered passkey or security key, so a

        person can tell their devices apart.


        A credential that is not there answers "nothing changed" rather than an error,

        so the call is safe to repeat.'
      operationId: webauthn_credentials_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebauthnCredential'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webauthnCredentialMutationResult'
          description: ok
      summary: Renames a registered passkey or security key, so a person can tell their devices apart.
      tags:
      - webauthn-credentials
  /v1/iam/whoami:
    get:
      operationId: whoami
      summary: Report who the caller is
      tags:
      - Account
      responses:
        '200': *id001
  /v1/iam/workspaces:
    get:
      description: 'Returns your organization''s workspaces, newest first — the scope a

        team works in, alongside projects rather than instead of them.


        You see your own organization''s workspaces and no one else''s; which organization that

        is comes from your credentials, not from the request.'
      operationId: workspaces_list
      parameters:
      - in: query
        name: owner
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspaces.ListOutput'
          description: ok
      summary: Returns your organization's workspaces, newest first — the scope a team works in, alongside
        projects rather than instead of them.
      tags:
      - workspaces
    post:
      description: 'Makes a workspace inside your organization — the scope a team works in,

        alongside projects rather than instead of them. A name already used in the

        organization is refused.'
      operationId: workspaces_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workspaces.Input'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: ok
      summary: Makes a workspace inside your organization — the scope a team works in, alongside projects
        rather than instead of them.
      tags:
      - workspaces
  /v1/iam/workspaces/delete:
    post:
      description: 'Removes a workspace. The people and roles in your organization are

        unchanged; what goes is the scope itself.'
      operationId: workspaces_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workspaces.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workspaces.DeleteOutput'
          description: ok
      summary: Removes a workspace.
      tags:
      - workspaces
  /v1/iam/workspaces/get:
    post:
      description: 'Returns one workspace: what it is called and how it is set up.'
      operationId: workspaces_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workspaces.Ref'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: ok
      summary: 'Returns one workspace: what it is called and how it is set up.'
      tags:
      - workspaces
  /v1/iam/workspaces/update:
    post:
      description: 'Changes a workspace''s settings. What it is called does not change, and

        neither does when it was created.'
      operationId: workspaces_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workspaces.Input'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: ok
      summary: Changes a workspace's settings.
      tags:
      - workspaces
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AccountItem:
      properties:
        modifyRule:
          type: string
        name:
          type: string
        regex:
          type: string
        tab:
          type: string
        viewRule:
          type: string
        visible:
          type: boolean
      type: object
    Address:
      properties:
        city:
          type: string
        line1:
          type: string
        line2:
          type: string
        region:
          type: string
        state:
          type: string
        tag:
          type: string
        zipCode:
          type: string
      type: object
    Application:
      properties:
        affiliationUrl:
          type: string
        category:
          type: string
        cert:
          type: string
        certObj:
          $ref: '#/components/schemas/Cert'
        certPublicKey:
          type: string
        clientCert:
          type: string
        clientId:
          description: 'ClientId is the OAuth2/OIDC client identifier and the GLOBAL key every

            confidential-client resolver authenticates against (store.GetApplicationByClientId,

            the mint gates, Basic auth). It MUST be globally unique across ALL owners — a

            collision would let one app shadow another at that key. This store persists each

            entity as a JSON document in a shared table, so there is no per-field column to

            carry a DB UNIQUE index; uniqueness is enforced at the write in

            applications.Create/Update (ensureClientIdUnique), exactly as the (owner,name)

            natural key is, and store.GetApplicationByClientId resolves admin-preferring as

            defense-in-depth.'
          type: string
        clientSecret:
          type: string
        codeResendTimeout:
          type: integer
        cookieExpireInHours:
          type: integer
        createdAt:
          format: date-time
          type: string
        createdTime:
          type: string
        customScopes:
          items:
            $ref: '#/components/schemas/ScopeDescription'
          type: array
        defaultGroup:
          type: string
        deleted:
          type: boolean
        description:
          type: string
        disableSamlAttributes:
          type: boolean
        disableSignin:
          type: boolean
        displayName:
          type: string
        domain:
          type: string
        enableAutoSignin:
          type: boolean
        enableCodeSignin:
          type: boolean
        enableExclusiveSignin:
          type: boolean
        enableLinkWithEmail:
          type: boolean
        enablePassword:
          type: boolean
        enableSamlAssertionSignature:
          type: boolean
        enableSamlC14n10:
          type: boolean
        enableSamlCompress:
          type: boolean
        enableSamlPostBinding:
          type: boolean
        enableSignUp:
          type: boolean
        enableSigninSession:
          type: boolean
        enableWebAuthn:
          type: boolean
        environment:
          type: string
        expireInHours:
          type: number
        failedSigninFrozenTime:
          type: integer
        failedSigninLimit:
          type: integer
        favicon:
          type: string
        footerHtml:
          type: string
        forcedRedirectOrigin:
          type: string
        forgetUrl:
          type: string
        formBackgroundUrl:
          type: string
        formBackgroundUrlMobile:
          type: string
        formCss:
          type: string
        formCssMobile:
          type: string
        formOffset:
          type: integer
        formSideHtml:
          type: string
        grantTypes:
          items:
            type: string
          type: array
        headerHtml:
          type: string
        homepageUrl:
          type: string
        id:
          type: string
        ipRestriction:
          type: string
        ipWhitelist:
          type: string
        isShared:
          type: boolean
        logo:
          type: string
        name:
          type: string
        order:
          type: integer
        orgChoiceMode:
          type: string
        organization:
          type: string
        organizationObj:
          $ref: '#/components/schemas/Organization'
        otherDomains:
          items:
            type: string
          type: array
        owner:
          type: string
        project:
          type: string
        providers:
          items:
            $ref: '#/components/schemas/ProviderItem'
          type: array
        redirectUris:
          items:
            type: string
          type: array
        refreshExpireInHours:
          type: number
        samlAttributes:
          items:
            $ref: '#/components/schemas/SamlItem'
          type: array
        samlHashAlgorithm:
          type: string
        samlReplyUrl:
          type: string
        scopes:
          items:
            $ref: '#/components/schemas/ScopeItem'
          type: array
        signinHtml:
          type: string
        signinItems:
          items:
            $ref: '#/components/schemas/SigninItem'
          type: array
        signinMethods:
          items:
            $ref: '#/components/schemas/SigninMethod'
          type: array
        signinUrl:
          type: string
        signupHtml:
          type: string
        signupItems:
          items:
            $ref: '#/components/schemas/SignupItem'
          type: array
        signupUrl:
          type: string
        sslCert:
          type: string
        sslMode:
          type: string
        tags:
          items:
            type: string
          type: array
        termsOfUse:
          type: string
        themeData:
          $ref: '#/components/schemas/ThemeData'
        title:
          type: string
        tokenAttributes:
          items:
            $ref: '#/components/schemas/JwtItem'
          type: array
        tokenFields:
          items:
            type: string
          type: array
        tokenFormat:
          type: string
        tokenSigningMethod:
          type: string
        type:
          type: string
        updatedAt:
          format: date-time
          type: string
        upstreamHost:
          type: string
        useEmailAsSamlNameId:
          type: boolean
      type: object
    ApplicationListResult:
      properties:
        applications:
          items:
            $ref: '#/components/schemas/Application'
          type: array
      type: object
    ApplicationRef:
      properties:
        name:
          type: string
        owner:
          type: string
      required:
      - owner
      - name
      type: object
    AuditLog:
      properties:
        action:
          type: string
        clientIp:
          type: string
        createdAt:
          format: date-time
          type: string
        createdTime:
          type: string
        deleted:
          type: boolean
        id:
          type: string
        isTriggered:
          type: boolean
        language:
          type: string
        method:
          type: string
        name:
          type: string
        object:
          type: string
        organization:
          type: string
        owner:
          type: string
        requestUri:
          type: string
        response:
          type: string
        statusCode:
          type: integer
        updatedAt:
          format: date-time
          type: string
        user:
          type: string
      type: object
    CartItem:
      properties:
        displayName:
          type: string
        name:
          type: string
        owner:
          type: string
        price:
          type: number
        quantity:
          type: integer
      type: object
    Cert:
      properties:
        accessKey:
          type: string
        accessSecret:
          type: string
        account:
          type: string
        bitSize:
          type: integer
        certificate:
          type: string
        createdAt:
          format: date-time
          type: string
        createdTime:
          type: string
        cryptoAlgorithm:
          type: string
        deleted:
          type: boolean
        displayName:
          type: string
        domainExpireTime:
          type: string
        expireInYears:
          type: integer
        expireTime:
          type: string
        id:
          type: string
        name:
          type: string
        owner:
          type: string
        privateKey:
          type: string
        provider:
          type: string
        scope:
          type: string
        type:
          type: string
        updatedAt:
          format: date-time
          type: string
      type: object
    ConsentRecord:
      properties:
        application:
          type: string
        grantedScopes:
          items:
            type: string
          type: array
      type: object
    CreateInput:
      properties:
        password:
          type: string
        user:
          $ref: '#/components/schemas/User'
      type: object
    CreateOrganizationInput:
      properties:
        accountItems:
          items:
            $ref: '#/components/schemas/AccountItem'
          type: array
        accountMenu:
          type: string
        balanceCredit:
          type: number
        balanceCurrency:
          type: string
        countryCodes:
          items:
            type: string
          type: array
        createdAt:
          format: date-time
          type: string
        createdTime:
          type: string
        dcrPolicy:
          type: string
        defaultApplication:
          type: string
        defaultAvatar:
          type: string
        defaultPassword:
          type: string
        deleted:
          type: boolean
        disableSignin:
          type: boolean
        displayName:
          type: string
        enableSoftDeletion:
          type: boolean
        enableTour:
          type: boolean
        failedSigninFrozenTime:
          type: integer
        failedSigninLimit:
          type: integer
        favicon:
          type: string
        founder:
          type: string
        hasPrivilegeConsent:
          type: boolean
        id:
          type: string
        initScore:
          type: integer
        ipRestriction:
          type: string
        ipWhitelist:
          type: string
        isPersonal:
          type: boolean
        isProfilePublic:
          type: boolean
        kerberosKdcHost:
          type: string
        kerberosKeytab:
          type: string
        kerberosRealm:
          type: string
        kerberosServiceName:
          type: string
        languages:
          items:
            type: string
          type: array
        ldapAttributes:
          items:
            type: string
          type: array
        logo:
          type: string
        logoDark:
          type: string
        masterPassword:
          type: string
        masterVerificationCode:
          type: string
        mfaItems:
          items:
            $ref: '#/components/schemas/MfaItem'
          type: array
        mfaRememberInHours:
          type: integer
        name:
          type: string
        navItems:
          items:
            type: string
          type: array
        orgBalance:
          type: number
        owner:
          type: string
        passwordExpireDays:
          type: integer
        passwordObfuscatorKey:
          type: string
        passwordObfuscatorType:
          type: string
        passwordOptions:
          items:
            type: string
          type: array
        passwordSalt:
          type: string
        passwordType:
          type: string
        tags:
          items:
            type: string
          type: array
        themeData:
          $ref: '#/components/schemas/ThemeData'
        updatedAt:
          format: date-time
          type: string
        useEmailAsUsername:
          type: boolean
        usePermanentAvatar:
          type: boolean
        userBalance:
          type: number
        userNavItems:
          items:
            type: string
          type: array
        userTypes:
          items:
            type: string
          type: array
        websiteUrl:
          type: string
        widgetItems:
          items:
            type: string
          type: array
      type: object
    CreateSessionIn:
      properties:
        application:
          type: string
        exclusiveSignin:
          type: boolean
        name:
          type: string
        owner:
          type: string
        sessionId:
          items:
            type: string
          type: array
      required:
      - owner
      - name
      - application
      type: object
    DeleteOrganizationInput:
      properties:
        name:
          type: string
        owner:
          type: string
      type: object
    DeleteOrganizationOutput:
      properties:
        affected:
          type: boolean
      type: object
    DeleteOutput:
      properties:
        deleted:
          type: boolean
      type: object
    DeleteResponse:
      properties:
        deleted:
          type: boolean
      type: object
    DeleteResult:
      properties:
        deleted:
          type: boolean
      type: object
    DeleteSessionOut:
      properties:
        deleted:
          type: boolean
      type: object
    FaceId:
      properties:
        faceIdData:
          items:
            type: number
          type: array
        imageUrl:
          type: string
        name:
          type: string
      type: object
    Input:
      properties:
        createdTime:
          type: string
        description:
          type: string
        displayName:
          type: string
        isDefault:
          type: boolean
        metadata:
          type: string
        name:
          type: string
        organization:
          type: string
        owner:
          type: string
        tags:
          items:
            type: string
          type: array
        workspace:
          type: string
      type: object
    Invitation:
      properties:
        application:
          type: string
        code:
          type: string
        createdAt:
          format: date-time
          type: string
        createdTime:
          type: string
        defaultCode:
          type: string
        deleted:
          type: boolean
        displayName:
          type: string
        email:
          type: string
        id:
          type: string
        isRegexp:
          type: boolean
        name:
          type: string
        owner:
          type: string
        phone:
          type: string
        quota:
          type: integer
        signupGroup:
          type: string
        state:
          type: string
        updatedAt:
          format: date-time
          type: string
        updatedTime:
          type: string
        usedCount:
          type: integer
        username:
          type: string
      type: object
    JwtItem:
      properties:
        category:
          type: string
        name:
          type: string
        type:
          type: string
        value:
          type: string
      type: object
    Key:
      properties:
        accessKey:
          description: 'AccessKey (pk-*) is the publishable identifier and lookup index;

            AccessSecret (sk-*) is the confidential secret.'
          type: string
        accessSecret:
          type: string
        application:
          type: string
        createdAt:
          format: date-time
          type: string
        createdTime:
          description: 'CreatedTime and UpdatedTime are RFC3339 audit stamps carried as strings

            for byte-parity with the v1 row (orm.Model separately tracks CreatedAt /

            UpdatedAt as time.Time for the store''s own lifecycle).'
          type: string
        deleted:
          type: boolean
        displayName:
          description: DisplayName is the human-facing label.
          type: string
        expireTime:
          description: 'ExpireTime is when the key stops being honored (empty = never). State is

            the lifecycle flag ("Active", "test", …); "test" mints test-env

            credentials instead of live ones.'
          type: string
        id:
          type: string
        name:
          type: string
        organization:
          type: string
        owner:
          description: Owner is the tenant that holds the key; Name is unique within Owner.
          type: string
        scope:
          description: 'Scope is the key''s ACCESS CLASS, orthogonal to Type (which names the bound

            principal). Empty (the default, "secret") is a full key: a pk- publishable

            half AND a confidential sk- half, the sk- authenticating a server-side reader.

            KeyScopePublish is a WRITE-ONLY publishable key — a pk- half only, no secret —

            that resolves to just an ORG (never a principal) at the ingest door and is safe

[...]
