openapi: 3.1.0
info:
  title: Hanzo IAM API
  description: Hanzo IAM — Identity and Access Management (OAuth2, OIDC, SAML, Web3)
  version: 1.503.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
servers:
- url: https://hanzo.id
  description: Hanzo IAM Production
tags:
- name: Authentication
  description: Login, logout, OAuth/OIDC token endpoints
- name: Users
  description: User CRUD, profile, account management
- name: Organizations
  description: Organization CRUD, membership, groups, invitations
- name: Applications
  description: Application CRUD, OAuth configuration
- name: Providers
  description: OAuth, SAML, OIDC, LDAP identity providers
- name: Roles & Permissions
  description: Roles, permissions, enforcers, policy models
- name: Resources
  description: File and resource management
- name: Tokens
  description: Token CRUD, OAuth token management
- name: Sessions
  description: Session management
- name: MFA
  description: Multi-factor authentication and verification
- name: Webhooks
  description: Webhook configuration and management
- name: Payments
  description: Orders, payments, products, plans, pricing, subscriptions, transactions
- name: System
  description: Health, version, metrics, dashboard, adapters, syncers, certs, forms, records, tickets
security:
- BearerAuth: []
paths:
  /.well-known/{application}/jwks:
    get:
      tags:
      - Authentication
      operationId: RootController.GetJwksByApplication
      parameters:
      - in: path
        name: application
        description: application name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jose.JSONWebKey'
  /.well-known/{application}/openid-configuration:
    get:
      tags:
      - Authentication
      description: Get Oidc Discovery for specific application
      operationId: RootController.GetOidcDiscoveryByApplication
      parameters:
      - in: path
        name: application
        description: application name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.OidcDiscovery'
  /.well-known/{application}/webfinger:
    get:
      tags:
      - Authentication
      operationId: RootController.GetWebFingerByApplication
      parameters:
      - in: path
        name: application
        description: application name
        required: true
        schema:
          type: string
      - in: query
        name: resource
        description: resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.WebFinger'
  /.well-known/jwks:
    get:
      tags:
      - Authentication
      operationId: RootController.GetJwks
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jose.JSONWebKey'
  /.well-known/openid-configuration:
    get:
      tags:
      - Authentication
      description: Get Oidc Discovery
      operationId: RootController.GetOidcDiscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.OidcDiscovery'
  /.well-known/webfinger:
    get:
      tags:
      - Authentication
      operationId: RootController.GetWebFinger
      parameters:
      - in: query
        name: resource
        description: resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.WebFinger'
  /api/Callback:
    post:
      tags:
      - Authentication
      description: Get Login Error Counts
      operationId: ApiController.Callback
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Userinfo'
  /api/add-adapter:
    post:
      tags:
      - System
      description: add adapter
      operationId: ApiController.AddAdapter
      requestBody:
        description: The details of the adapter
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Adapter'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-application:
    post:
      tags:
      - Applications
      description: add an application
      operationId: ApiController.AddApplication
      requestBody:
        description: The details of the application
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Application'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-cert:
    post:
      tags:
      - System
      description: add cert
      operationId: ApiController.AddCert
      requestBody:
        description: The details of the cert
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Cert'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-enforcer:
    post:
      tags:
      - Roles & Permissions
      description: add enforcer
      operationId: ApiController.AddEnforcer
      requestBody:
        description: The enforcer object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Enforcer'
  /api/add-form:
    post:
      tags:
      - System
      description: add form
      operationId: ApiController.AddForm
      requestBody:
        description: The details of the form
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Form'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-group:
    post:
      tags:
      - Organizations
      description: add group
      operationId: ApiController.AddGroup
      requestBody:
        description: The details of the group
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Group'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-invitation:
    post:
      tags:
      - Organizations
      description: add invitation
      operationId: ApiController.AddInvitation
      requestBody:
        description: The details of the invitation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Invitation'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-ldap:
    post:
      tags:
      - Users
      description: add ldap
      operationId: ApiController.AddLdap
      requestBody:
        description: The details of the ldap
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Ldap'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-model:
    post:
      tags:
      - Roles & Permissions
      description: add model
      operationId: ApiController.AddModel
      requestBody:
        description: The details of the model
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Model'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-order:
    post:
      tags:
      - Payments
      description: add order
      operationId: ApiController.AddOrder
      requestBody:
        description: The details of the order
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Order'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-organization:
    post:
      tags:
      - Organizations
      description: add organization
      operationId: ApiController.AddOrganization
      requestBody:
        description: The details of the organization
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Organization'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-payment:
    post:
      tags:
      - Payments
      description: add payment
      operationId: ApiController.AddPayment
      requestBody:
        description: The details of the payment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Payment'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-permission:
    post:
      tags:
      - Roles & Permissions
      description: add permission
      operationId: ApiController.AddPermission
      requestBody:
        description: The details of the permission
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Permission'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-plan:
    post:
      tags:
      - Payments
      description: add plan
      operationId: ApiController.AddPlan
      requestBody:
        description: The details of the plan
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Plan'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-policy:
    post:
      tags:
      - Roles & Permissions
      description: add policy
      operationId: ApiController.AddPolicy
      parameters:
      - in: query
        name: id
        description: The id ( owner/name )  of enforcer
        required: true
        schema:
          type: string
      requestBody:
        description: The policy to add
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/xormadapter.CasbinRule'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
  /api/add-pricing:
    post:
      tags:
      - Payments
      description: add pricing
      operationId: ApiController.AddPricing
      requestBody:
        description: The details of the pricing
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Pricing'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-product:
    post:
      tags:
      - Payments
      description: add product
      operationId: ApiController.AddProduct
      requestBody:
        description: The details of the product
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Product'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-provider:
    post:
      tags:
      - Providers
      description: add provider
      operationId: ApiController.AddProvider
      requestBody:
        description: The details of the provider
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Provider'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-record:
    post:
      tags:
      - System
      description: add a record
      operationId: ApiController.AddRecord
      requestBody:
        description: The details of the record
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Record'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-resource:
    post:
      tags:
      - Resources
      operationId: ApiController.AddResource
      requestBody:
        description: Resource object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Resource'
      responses:
        '200':
          description: Success or error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-role:
    post:
      tags:
      - Roles & Permissions
      description: add role
      operationId: ApiController.AddRole
      requestBody:
        description: The details of the role
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Role'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-session:
    post:
      tags:
      - Sessions
      description: Add session for one user in one application. If there are other existing sessions, join the session into the list.
      operationId: ApiController.AddSession
      requestBody:
        description: The session object to add
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Session'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-subscription:
    post:
      tags:
      - Payments
      description: add subscription
      operationId: ApiController.AddSubscription
      requestBody:
        description: The details of the subscription
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Subscription'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-syncer:
    post:
      tags:
      - System
      description: add syncer
      operationId: ApiController.AddSyncer
      requestBody:
        description: The details of the syncer
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Syncer'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-ticket:
    post:
      tags:
      - System
      description: add ticket
      operationId: ApiController.AddTicket
      requestBody:
        description: The details of the ticket
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Ticket'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-ticket-message:
    post:
      tags:
      - System
      description: add a message to a ticket
      operationId: ApiController.AddTicketMessage
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the ticket
        required: true
        schema:
          type: string
      requestBody:
        description: The message to add
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.TicketMessage'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-token:
    post:
      tags:
      - Tokens
      description: add token
      operationId: ApiController.AddToken
      requestBody:
        description: Details of the token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Token'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-transaction:
    post:
      tags:
      - Payments
      description: add transaction
      operationId: ApiController.AddTransaction
      parameters:
      - in: query
        name: dryRun
        description: 'Dry run mode: set to ''true'' or ''1'' to validate without committing'
        schema:
          type: string
      requestBody:
        description: The details of the transaction
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Transaction'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-user:
    post:
      tags:
      - Users
      description: add user
      operationId: ApiController.AddUser
      requestBody:
        description: The details of the user
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.User'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/add-user-keys:
    post:
      tags:
      - Users
      operationId: ApiController.AddUserKeys
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Userinfo'
  /api/add-webhook:
    post:
      tags:
      - Webhooks
      description: add webhook
      operationId: ApiController.AddWebhook
      requestBody:
        description: The details of the webhook
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Webhook'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/batch-enforce:
    post:
      tags:
      - Roles & Permissions
      description: Call Casbin BatchEnforce API
      operationId: ApiController.BatchEnforce
      parameters:
      - in: query
        name: permissionId
        description: permission id
        schema:
          type: string
      - in: query
        name: modelId
        description: model id
        schema:
          type: string
      - in: query
        name: owner
        description: owner
        schema:
          type: string
      requestBody:
        description: array of casbin requests
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/cancel-order:
    post:
      tags:
      - Payments
      description: cancel an order
      operationId: ApiController.CancelOrder
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the order
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/check-user-password:
    post:
      tags:
      - Users
      operationId: ApiController.CheckUserPassword
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Userinfo'
  /api/delete-adapter:
    post:
      tags:
      - System
      description: delete adapter
      operationId: ApiController.DeleteAdapter
      requestBody:
        description: The details of the adapter
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Adapter'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-application:
    post:
      tags:
      - Applications
      description: delete an application
      operationId: ApiController.DeleteApplication
      requestBody:
        description: The details of the application
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Application'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-cert:
    post:
      tags:
      - System
      description: delete cert
      operationId: ApiController.DeleteCert
      requestBody:
        description: The details of the cert
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Cert'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-enforcer:
    post:
      tags:
      - Roles & Permissions
      description: delete enforcer
      operationId: ApiController.DeleteEnforcer
      requestBody:
        description: The enforcer object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Enforcer'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Enforcer'
  /api/delete-form:
    post:
      tags:
      - System
      description: delete form
      operationId: ApiController.DeleteForm
      requestBody:
        description: The details of the form
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Form'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-group:
    post:
      tags:
      - Organizations
      description: delete group
      operationId: ApiController.DeleteGroup
      requestBody:
        description: The details of the group
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Group'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-invitation:
    post:
      tags:
      - Organizations
      description: delete invitation
      operationId: ApiController.DeleteInvitation
      requestBody:
        description: The details of the invitation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Invitation'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-ldap:
    post:
      tags:
      - Users
      description: delete ldap
      operationId: ApiController.DeleteLdap
      requestBody:
        description: The details of the ldap
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Ldap'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-mfa/:
    post:
      tags:
      - MFA
      description: ': Delete MFA'
      operationId: ApiController.DeleteMfa
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-model:
    post:
      tags:
      - Roles & Permissions
      description: delete model
      operationId: ApiController.DeleteModel
      requestBody:
        description: The details of the model
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Model'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-order:
    post:
      tags:
      - Payments
      description: delete order
      operationId: ApiController.DeleteOrder
      requestBody:
        description: The details of the order
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Order'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-organization:
    post:
      tags:
      - Organizations
      description: delete organization
      operationId: ApiController.DeleteOrganization
      requestBody:
        description: The details of the organization
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Organization'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-payment:
    post:
      tags:
      - Payments
      description: delete payment
      operationId: ApiController.DeletePayment
      requestBody:
        description: The details of the payment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Payment'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-permission:
    post:
      tags:
      - Roles & Permissions
      description: delete permission
      operationId: ApiController.DeletePermission
      requestBody:
        description: The details of the permission
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Permission'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-plan:
    post:
      tags:
      - Payments
      description: delete plan
      operationId: ApiController.DeletePlan
      requestBody:
        description: The details of the plan
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Plan'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-pricing:
    post:
      tags:
      - Payments
      description: delete pricing
      operationId: ApiController.DeletePricing
      requestBody:
        description: The details of the pricing
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Pricing'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-product:
    post:
      tags:
      - Payments
      description: delete product
      operationId: ApiController.DeleteProduct
      requestBody:
        description: The details of the product
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Product'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-provider:
    post:
      tags:
      - Providers
      description: delete provider
      operationId: ApiController.DeleteProvider
      requestBody:
        description: The details of the provider
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Provider'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-resource:
    post:
      tags:
      - Resources
      operationId: ApiController.DeleteResource
      requestBody:
        description: Resource object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Resource'
      responses:
        '200':
          description: Success or error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-role:
    post:
      tags:
      - Roles & Permissions
      description: delete role
      operationId: ApiController.DeleteRole
      requestBody:
        description: The details of the role
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Role'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-session:
    post:
      tags:
      - Sessions
      description: Delete session for one user in one application.
      operationId: ApiController.DeleteSession
      requestBody:
        description: The session object to delete
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Session'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-subscription:
    post:
      tags:
      - Payments
      description: delete subscription
      operationId: ApiController.DeleteSubscription
      requestBody:
        description: The details of the subscription
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Subscription'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-syncer:
    post:
      tags:
      - System
      description: delete syncer
      operationId: ApiController.DeleteSyncer
      requestBody:
        description: The details of the syncer
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Syncer'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-ticket:
    post:
      tags:
      - System
      description: delete ticket
      operationId: ApiController.DeleteTicket
      requestBody:
        description: The details of the ticket
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Ticket'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-token:
    post:
      tags:
      - Tokens
      description: delete token
      operationId: ApiController.DeleteToken
      requestBody:
        description: Details of the token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Token'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-transaction:
    post:
      tags:
      - Payments
      description: delete transaction
      operationId: ApiController.DeleteTransaction
      requestBody:
        description: The details of the transaction
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Transaction'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-user:
    post:
      tags:
      - Users
      description: delete user
      operationId: ApiController.DeleteUser
      requestBody:
        description: The details of the user
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.User'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/delete-webhook:
    post:
      tags:
      - Webhooks
      description: delete webhook
      operationId: ApiController.DeleteWebhook
      requestBody:
        description: The details of the webhook
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object.Webhook'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/device-auth:
    post:
      tags:
      - Authentication
      description: Endpoint for the device authorization flow
      operationId: ApiController.DeviceAuth
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.DeviceAuthResponse'
  /api/enforce:
    post:
      tags:
      - Roles & Permissions
      description: Call Casbin Enforce API
      operationId: ApiController.Enforce
      parameters:
      - in: query
        name: permissionId
        description: permission id
        schema:
          type: string
      - in: query
        name: modelId
        description: model id
        schema:
          type: string
      - in: query
        name: resourceId
        description: resource id
        schema:
          type: string
      - in: query
        name: owner
        description: owner
        schema:
          type: string
      requestBody:
        description: Casbin request
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/exit-impersonation-user:
    post:
      tags:
      - Users
      description: clear impersonation info for current session
      operationId: ApiController.ExitImpersonateUser
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/faceid-signin-begin:
    get:
      tags:
      - Authentication
      description: FaceId Login Flow 1st stage
      operationId: ApiController.FaceIDSigninBegin
      parameters:
      - in: query
        name: owner
        description: owner
        required: true
        schema:
          type: string
      - in: query
        name: name
        description: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-account:
    get:
      tags:
      - Users
      description: get the details of the current account
      operationId: ApiController.GetAccount
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-adapter:
    get:
      tags:
      - System
      description: get adapter
      operationId: ApiController.GetAdapter
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the adapter
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Adapter'
  /api/get-adapters:
    get:
      tags:
      - System
      description: get adapters
      operationId: ApiController.GetAdapters
      parameters:
      - in: query
        name: owner
        description: The owner of adapters
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Adapter'
  /api/get-all-actions:
    get:
      tags:
      - Roles & Permissions
      description: Get all actions for a user (Casbin API)
      operationId: ApiController.GetAllActions
      parameters:
      - in: query
        name: userId
        description: user id like built-in/admin
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-all-objects:
    get:
      tags:
      - Roles & Permissions
      description: Get all objects for a user (Casbin API)
      operationId: ApiController.GetAllObjects
      parameters:
      - in: query
        name: userId
        description: user id like built-in/admin
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-all-roles:
    get:
      tags:
      - Roles & Permissions
      description: Get all roles for a user (Casbin API)
      operationId: ApiController.GetAllRoles
      parameters:
      - in: query
        name: userId
        description: user id like built-in/admin
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-app-login:
    get:
      tags:
      - Authentication
      description: get application login
      operationId: ApiController.GetApplicationLogin
      parameters:
      - in: query
        name: clientId
        description: client id
        required: true
        schema:
          type: string
      - in: query
        name: responseType
        description: response type
        required: true
        schema:
          type: string
      - in: query
        name: redirectUri
        description: redirect uri
        required: true
        schema:
          type: string
      - in: query
        name: scope
        description: scope
        required: true
        schema:
          type: string
      - in: query
        name: state
        description: state
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-application:
    get:
      tags:
      - Applications
      description: get the detail of an application
      operationId: ApiController.GetApplication
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the application.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Application'
  /api/get-applications:
    get:
      tags:
      - Applications
      description: get all applications
      operationId: ApiController.GetApplications
      parameters:
      - in: query
        name: owner
        description: The owner of applications.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Application'
  /api/get-captcha:
    get:
      tags:
      - Authentication
      operationId: ApiController.GetCaptcha
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Userinfo'
  /api/get-captcha-status:
    get:
      tags:
      - Tokens
      description: Get Login Error Counts
      operationId: ApiController.GetCaptchaStatus
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-cert:
    get:
      tags:
      - System
      description: get cert
      operationId: ApiController.GetCert
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the cert
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Cert'
  /api/get-certs:
    get:
      tags:
      - System
      description: get certs
      operationId: ApiController.GetCerts
      parameters:
      - in: query
        name: owner
        description: The owner of certs
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Cert'
  /api/get-dashboard:
    get:
      tags:
      - System
      description: get information of dashboard
      operationId: ApiController.GetDashboard
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-default-application:
    get:
      tags:
      - Organizations
      description: get default application
      operationId: ApiController.GetDefaultApplication
      parameters:
      - in: query
        name: id
        description: organization id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-email-and-phone:
    get:
      tags:
      - Users
      description: get email and phone by username
      operationId: ApiController.GetEmailAndPhone
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The username of the user
                organization:
                  type: string
                  description: The organization of the user
              required:
              - username
              - organization
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-enforcer:
    get:
      tags:
      - Roles & Permissions
      description: get enforcer
      operationId: ApiController.GetEnforcer
      parameters:
      - in: query
        name: id
        description: The id ( owner/name )  of enforcer
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Enforcer'
  /api/get-enforcers:
    get:
      tags:
      - Roles & Permissions
      description: get enforcers
      operationId: ApiController.GetEnforcers
      parameters:
      - in: query
        name: owner
        description: The owner of enforcers
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Enforcer'
  /api/get-filtered-policies:
    post:
      tags:
      - Roles & Permissions
      description: get filtered policies with support for multiple filters via POST body
      operationId: ApiController.GetFilteredPolicies
      parameters:
      - in: query
        name: id
        description: The id ( owner/name )  of enforcer
        required: true
        schema:
          type: string
      requestBody:
        description: Array of filter objects for multiple filters
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/object.Filter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/xormadapter.CasbinRule'
  /api/get-form:
    get:
      tags:
      - System
      description: get form
      operationId: ApiController.GetForm
      parameters:
      - in: query
        name: id
        description: The id (owner/name) of form
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Form'
  /api/get-forms:
    get:
      tags:
      - System
      description: get forms
      operationId: ApiController.GetForms
      parameters:
      - in: query
        name: owner
        description: The owner of form
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Form'
  /api/get-global-certs:
    get:
      tags:
      - System
      description: get global certs
      operationId: ApiController.GetGlobalCerts
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Cert'
  /api/get-global-forms:
    get:
      tags:
      - System
      description: get global forms
      operationId: ApiController.GetGlobalForms
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Form'
  /api/get-global-providers:
    get:
      tags:
      - Providers
      description: get Global providers
      operationId: ApiController.GetGlobalProviders
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Provider'
  /api/get-global-users:
    get:
      tags:
      - Users
      description: get global users
      operationId: ApiController.GetGlobalUsers
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.User'
  /api/get-group:
    get:
      tags:
      - Organizations
      description: get group
      operationId: ApiController.GetGroup
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Group'
  /api/get-groups:
    get:
      tags:
      - Organizations
      description: get groups
      operationId: ApiController.GetGroups
      parameters:
      - in: query
        name: owner
        description: The owner of groups
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Group'
  /api/get-invitation:
    get:
      tags:
      - Organizations
      description: get invitation
      operationId: ApiController.GetInvitation
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the invitation
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Invitation'
  /api/get-invitation-info:
    get:
      tags:
      - Organizations
      description: get invitation code information
      operationId: ApiController.GetInvitationCodeInfo
      parameters:
      - in: query
        name: code
        description: Invitation code
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Invitation'
  /api/get-invitations:
    get:
      tags:
      - Organizations
      description: get invitations
      operationId: ApiController.GetInvitations
      parameters:
      - in: query
        name: owner
        description: The owner of invitations
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Invitation'
  /api/get-ldap:
    get:
      tags:
      - Users
      description: get ldap
      operationId: ApiController.GetLdap
      parameters:
      - in: query
        name: id
        description: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Ldap'
  /api/get-ldap-users:
    get:
      tags:
      - Users
      description: get ldap users
      operationId: ApiController.GetLdapser
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.LdapResp'
  /api/get-ldaps:
    get:
      tags:
      - Users
      description: get ldaps
      operationId: ApiController.GetLdaps
      parameters:
      - in: query
        name: owner
        description: owner
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Ldap'
  /api/get-model:
    get:
      tags:
      - Roles & Permissions
      description: get model
      operationId: ApiController.GetModel
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the model
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Model'
  /api/get-models:
    get:
      tags:
      - Roles & Permissions
      description: get models
      operationId: ApiController.GetModels
      parameters:
      - in: query
        name: owner
        description: The owner of models
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Model'
  /api/get-order:
    get:
      tags:
      - Payments
      description: get order
      operationId: ApiController.GetOrder
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the order
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Order'
  /api/get-orders:
    get:
      tags:
      - Payments
      description: get orders
      operationId: ApiController.GetOrders
      parameters:
      - in: query
        name: owner
        description: The owner of orders
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Order'
  /api/get-organization:
    get:
      tags:
      - Organizations
      description: get organization
      operationId: ApiController.GetOrganization
      parameters:
      - in: query
        name: id
        description: organization id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Organization'
  /api/get-organization-applications:
    get:
      tags:
      - Applications
      description: get the detail of the organization's application
      operationId: ApiController.GetOrganizationApplications
      parameters:
      - in: query
        name: organization
        description: The organization name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Application'
  /api/get-organization-names:
    get:
      tags:
      - Organizations
      description: get all organization name and displayName
      operationId: ApiController.GetOrganizationNames
      parameters:
      - in: query
        name: owner
        description: owner
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Organization'
  /api/get-organizations:
    get:
      tags:
      - Organizations
      description: get organizations
      operationId: ApiController.GetOrganizations
      parameters:
      - in: query
        name: owner
        description: owner
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Organization'
  /api/get-payment:
    get:
      tags:
      - MFA
      description: get payment
      operationId: ApiController.GetVerification
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the payment
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Verification'
  /api/get-payments:
    get:
      tags:
      - MFA
      description: get payments
      operationId: ApiController.GetVerifications
      parameters:
      - in: query
        name: owner
        description: The owner of payments
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Verification'
  /api/get-permission:
    get:
      tags:
      - Roles & Permissions
      description: get permission
      operationId: ApiController.GetPermission
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the permission
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Permission'
  /api/get-permissions:
    get:
      tags:
      - Roles & Permissions
      description: get permissions
      operationId: ApiController.GetPermissions
      parameters:
      - in: query
        name: owner
        description: The owner of permissions
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Permission'
  /api/get-permissions-by-role:
    get:
      tags:
      - Roles & Permissions
      description: get permissions by role
      operationId: ApiController.GetPermissionsByRole
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the role
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Permission'
  /api/get-permissions-by-submitter:
    get:
      tags:
      - Roles & Permissions
      description: get permissions by submitter
      operationId: ApiController.GetPermissionsBySubmitter
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Permission'
  /api/get-plan:
    get:
      tags:
      - Payments
      description: get plan
      operationId: ApiController.GetPlan
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the plan
        required: true
        schema:
          type: string
      - in: query
        name: includeOption
        description: Should include plan's option
        schema:
          type: boolean
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Plan'
  /api/get-plans:
    get:
      tags:
      - Payments
      description: get plans
      operationId: ApiController.GetPlans
      parameters:
      - in: query
        name: owner
        description: The owner of plans
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Plan'
  /api/get-policies:
    get:
      tags:
      - Roles & Permissions
      description: get policies
      operationId: ApiController.GetPolicies
      parameters:
      - in: query
        name: id
        description: The id ( owner/name )  of enforcer
        required: true
        schema:
          type: string
      - in: query
        name: adapterId
        description: The adapter id
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/xormadapter.CasbinRule'
  /api/get-pricing:
    get:
      tags:
      - Payments
      description: get pricing
      operationId: ApiController.GetPricing
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the pricing
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Pricing'
  /api/get-pricings:
    get:
      tags:
      - Payments
      description: get pricings
      operationId: ApiController.GetPricings
      parameters:
      - in: query
        name: owner
        description: The owner of pricings
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Pricing'
  /api/get-product:
    get:
      tags:
      - Payments
      description: get product
      operationId: ApiController.GetProduct
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the product
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Product'
  /api/get-products:
    get:
      tags:
      - Payments
      description: get products
      operationId: ApiController.GetProducts
      parameters:
      - in: query
        name: owner
        description: The owner of products
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Product'
  /api/get-prometheus-info:
    get:
      tags:
      - System
      description: get Prometheus Info
      operationId: ApiController.GetPrometheusInfo
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.PrometheusInfo'
  /api/get-provider:
    get:
      tags:
      - Providers
      description: get provider
      operationId: ApiController.GetProvider
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the provider
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Provider'
  /api/get-providers:
    get:
      tags:
      - Providers
      description: get providers
      operationId: ApiController.GetProviders
      parameters:
      - in: query
        name: owner
        description: The owner of providers
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Provider'
  /api/get-qrcode:
    get:
      tags:
      - System
      operationId: ApiController.GetWechatQRCode
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of provider
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-records:
    get:
      tags:
      - System
      description: get all records
      operationId: ApiController.GetRecords
      parameters:
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The number of the page
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Record'
  /api/get-records-filter:
    post:
      tags:
      - System
      description: get records by filter
      operationId: ApiController.GetRecordsByFilter
      requestBody:
        description: filter Record message
        required: true
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Record'
  /api/get-resource:
    get:
      tags:
      - Resources
      description: get resource
      operationId: ApiController.GetResource
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Resource'
  /api/get-resources:
    get:
      tags:
      - Resources
      description: get resources
      operationId: ApiController.GetResources
      parameters:
      - in: query
        name: owner
        description: Owner
        required: true
        schema:
          type: string
      - in: query
        name: user
        description: User
        required: true
        schema:
          type: string
      - in: query
        name: pageSize
        description: Page Size
        schema:
          type: integer
      - in: query
        name: p
        description: Page Number
        schema:
          type: integer
      - in: query
        name: field
        description: Field
        schema:
          type: string
      - in: query
        name: value
        description: Value
        schema:
          type: string
      - in: query
        name: sortField
        description: Sort Field
        schema:
          type: string
      - in: query
        name: sortOrder
        description: Sort Order
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Resource'
  /api/get-role:
    get:
      tags:
      - Roles & Permissions
      description: get role
      operationId: ApiController.GetRole
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the role
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Role'
  /api/get-roles:
    get:
      tags:
      - Roles & Permissions
      description: get roles
      operationId: ApiController.GetRoles
      parameters:
      - in: query
        name: owner
        description: The owner of roles
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Role'
  /api/get-session:
    get:
      tags:
      - Sessions
      description: Get session for one user in one application.
      operationId: ApiController.GetSingleSession
      parameters:
      - in: query
        name: sessionPkId
        description: 'The session ID in format: organization/user/application (e.g., built-in/admin/app-built-in)'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /api/get-sessions:
    get:
      tags:
      - Sessions
      description: Get organization user sessions.
      operationId: ApiController.GetSessions
      parameters:
      - in: query
        name: owner
        description: The organization name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /api/get-sorted-users:
    get:
      tags:
      - Users
      operationId: ApiController.GetSortedUsers
      parameters:
      - in: query
        name: owner
        description: The owner of users
        required: true
        schema:
          type: string
      - in: query
        name: sorter
        description: The DB column name to sort by, e.g., created_time
        required: true
        schema:
          type: string
      - in: query
        name: limit
        description: The count of users to return, e.g., 25
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.User'
  /api/get-subscription:
    get:
      tags:
      - Payments
      description: get subscription
      operationId: ApiController.GetSubscription
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the subscription
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Subscription'
  /api/get-subscriptions:
    get:
      tags:
      - Payments
      description: get subscriptions
      operationId: ApiController.GetSubscriptions
      parameters:
      - in: query
        name: owner
        description: The owner of subscriptions
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Subscription'
  /api/get-syncer:
    get:
      tags:
      - System
      description: get syncer
      operationId: ApiController.GetSyncer
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the syncer
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Syncer'
  /api/get-syncers:
    get:
      tags:
      - System
      description: get syncers
      operationId: ApiController.GetSyncers
      parameters:
      - in: query
        name: owner
        description: The owner of syncers
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Syncer'
  /api/get-system-info:
    get:
      tags:
      - System
      description: get system info like CPU and memory usage
      operationId: ApiController.GetSystemInfo
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.SystemInfo'
  /api/get-ticket:
    get:
      tags:
      - System
      description: get ticket
      operationId: ApiController.GetTicket
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the ticket
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Ticket'
  /api/get-tickets:
    get:
      tags:
      - System
      description: get tickets
      operationId: ApiController.GetTickets
      parameters:
      - in: query
        name: owner
        description: The owner of tickets
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Ticket'
  /api/get-token:
    get:
      tags:
      - Tokens
      description: get token
      operationId: ApiController.GetToken
      parameters:
      - in: query
        name: id
        description: 'The token ID in format: organization/token-name (e.g., built-in/token-123456)'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Token'
  /api/get-tokens:
    get:
      tags:
      - Tokens
      description: get tokens
      operationId: ApiController.GetTokens
      parameters:
      - in: query
        name: owner
        description: The organization name (e.g., built-in)
        required: true
        schema:
          type: string
      - in: query
        name: pageSize
        description: The size of each page
        required: true
        schema:
          type: string
      - in: query
        name: p
        description: The number of the page
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Token'
  /api/get-transaction:
    get:
      tags:
      - Payments
      description: get transaction
      operationId: ApiController.GetTransaction
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the transaction
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Transaction'
  /api/get-transactions:
    get:
      tags:
      - Payments
      description: get transactions
      operationId: ApiController.GetTransactions
      parameters:
      - in: query
        name: owner
        description: The owner of transactions
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Transaction'
  /api/get-user:
    get:
      tags:
      - Users
      description: get user
      operationId: ApiController.GetUser
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the user
        schema:
          type: string
      - in: query
        name: owner
        description: The owner of the user
        schema:
          type: string
      - in: query
        name: email
        description: The email of the user
        schema:
          type: string
      - in: query
        name: phone
        description: The phone of the user
        schema:
          type: string
      - in: query
        name: userId
        description: The userId of the user
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.User'
  /api/get-user-application:
    get:
      tags:
      - Applications
      description: get the detail of the user's application
      operationId: ApiController.GetUserApplication
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Application'
  /api/get-user-count:
    get:
      tags:
      - Users
      operationId: ApiController.GetUserCount
      parameters:
      - in: query
        name: owner
        description: The owner of users
        required: true
        schema:
          type: string
      - in: query
        name: isOnline
        description: The filter for query, 1 for online, 0 for offline, empty string for all users
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{int} int The count of filtered users for an organization'
          content:
            application/json:
              schema:
                type: object
  /api/get-user-orders:
    get:
      tags:
      - Payments
      description: get orders for a user
      operationId: ApiController.GetUserOrders
      parameters:
      - in: query
        name: owner
        description: The owner of orders
        required: true
        schema:
          type: string
      - in: query
        name: user
        description: The username of the user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Order'
  /api/get-user-payments:
    get:
      tags:
      - MFA
      description: get payments for a user
      operationId: ApiController.GetUserVerifications
      parameters:
      - in: query
        name: owner
        description: The owner of payments
        required: true
        schema:
          type: string
      - in: query
        name: organization
        description: The organization of the user
        required: true
        schema:
          type: string
      - in: query
        name: user
        description: The username of the user
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Verification'
  /api/get-users:
    get:
      tags:
      - Users
      operationId: ApiController.GetUsers
      parameters:
      - in: query
        name: owner
        description: The owner of users
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.User'
  /api/get-version-info:
    get:
      tags:
      - System
      description: get version info like Hanzo IAM release version and commit ID
      operationId: ApiController.GetVersionInfo
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.VersionInfo'
  /api/get-webhook:
    get:
      tags:
      - Webhooks
      description: get webhook
      operationId: ApiController.GetWebhook
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the webhook
        required: true
        schema:
          type: string
          default: built-in/admin
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.Webhook'
  /api/get-webhook-event:
    get:
      tags:
      - System
      operationId: ApiController.GetWebhookEventType
      parameters:
      - in: query
        name: ticket
        description: The eventId of QRCode
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/get-webhooks:
    get:
      tags:
      - Webhooks
      description: get webhooks
      operationId: ApiController.GetWebhooks
      parameters:
      - in: query
        name: owner
        description: The owner of webhooks
        required: true
        schema:
          type: string
          default: built-in/admin
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/object.Webhook'
      security:
      - test_apiKey: []
  /api/health:
    get:
      tags:
      - System
      description: check if the system is live
      operationId: ApiController.Health
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/impersonation-user:
    post:
      tags:
      - Users
      description: set impersonation user for current admin session
      operationId: ApiController.ImpersonateUser
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The username to impersonate (owner/name)
              required:
              - username
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/invoice-payment:
    post:
      tags:
      - Payments
      description: invoice payment
      operationId: ApiController.InvoicePayment
      parameters:
      - in: query
        name: id
        description: The id ( owner/name ) of the payment
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/is-session-duplicated:
    get:
      tags:
      - Sessions
      description: Check if there are other different sessions for one user in one application.
      operationId: ApiController.IsSessionDuplicated
      parameters:
      - in: query
        name: sessionPkId
        description: 'The session ID in format: organization/user/application (e.g., built-in/admin/app-built-in)'
        required: true
        schema:
          type: string
      - in: query
        name: sessionId
        description: The specific session ID to check
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /api/login:
    post:
      tags:
      - Authentication
      description: login
      operationId: ApiController.Login
      parameters:
      - in: query
        name: clientId
        description: clientId
        required: true
        schema:
          type: string
      - in: query
        name: responseType
        description: responseType
        required: true
        schema:
          type: string
      - in: query
        name: redirectUri
        description: redirectUri
        required: true
        schema:
          type: string
      - in: query
        name: scope
        description: scope
        schema:
          type: string
      - in: query
        name: state
        description: state
        schema:
          type: string
      - in: query
        name: nonce
        description: nonce
        schema:
          type: string
      - in: query
        name: code_challenge_method
        description: code_challenge_method
        schema:
          type: string
      - in: query
        name: code_challenge
        description: code_challenge
        schema:
          type: string
      requestBody:
        description: Login information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/controllers.AuthForm'
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controllers.Response'
  /api/login/oauth/access_token:
    post:
      tags:
      - Tokens
      description: get OAuth access token
      operationId: ApiController.GetOAuthToken
      parameters:
      - in: query
        name: grant_type
        description: OAuth grant type
        required: true
        schema:
          type: string
      - in: query
        name: client_id
        description: OAuth client id
        required: true
        schema:
          type: string
      - in: query
        name: client_secret
        description: OAuth client secret
        required: true
        schema:
          type: string
      - in: query
        name: code
        description: OAuth code
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.TokenWrapper'
        '400':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.TokenError'
        '401':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.TokenError'
  /api/login/oauth/introspect:
    post:
      tags:
      - Authentication
      description: The introspection endpoint is an OAuth 2.0 endpoint that takes a
      operationId: ApiController.IntrospectToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: access_token's value or refresh_token's value
                token_type_hint:
                  type: string
                  description: the token type access_token or refresh_token
              required:
              - token
              - token_type_hint
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.IntrospectionResponse'
        '400':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.TokenError'
        '401':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.TokenError'
  /api/login/oauth/refresh_token:
    post:
      tags:
      - Tokens
      description: refresh OAuth access token
      operationId: ApiController.RefreshToken
      parameters:
      - in: query
        name: grant_type
        description: OAuth grant type
        required: true
        schema:
          type: string
      - in: query
        name: refresh_token
        description: OAuth refresh token
        required: true
        schema:
          type: string
      - in: query
        name: scope
        description: OAuth scope
        required: true
        schema:
          type: string
      - in: query
        name: client_id
        description: OAuth client id
        required: true
        schema:
          type: string
      - in: query
        name: client_secret
        description: OAuth client secret
        schema:
          type: string
      responses:
        '200':
          description: The Response object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object.TokenWrapper'
        '400':
          description: The Response object
          content:
            application/json:
[...]
