openapi: 3.1.0
info:
  title: Hanzo Agents API
  description: |
    Org-scoped AI agents + live agent sessions on the unified cloud binary —
    the `/v1/agents/*` surface served by the cloud `agents` subsystem
    (`hanzoai/cloud/clients/agents`). Define an agent (model + instructions +
    tools), run it through the in-process AI client (each run is a real,
    metered inference against the org's balance), and observe the durable
    session tree that the @hanzo/dev outer-agent + subagent flows register.
    Tenant isolation is enforced server-side from the validated bearer `owner`
    claim (HIP-0026).
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
  - url: https://api.hanzo.ai
    description: Hanzo Gateway
tags:
  - name: Agents
    description: Agent definitions and runs
  - name: Metrics
    description: Invocation histograms and resource usage
  - name: Sessions
    description: Live agent session registry (tree of runs)
security:
  - bearerAuth: []
paths:
  /v1/agents:
    get:
      tags: [Agents]
      summary: List agents
      operationId: listAgents
      responses:
        '200': { description: Agents, content: { application/json: { schema: { type: object, properties: { agents: { type: array, items: { $ref: '#/components/schemas/Agent' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Agents]
      summary: Create an agent
      operationId: createAgent
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAgentRequest' }
      responses:
        '201': { description: Agent created, content: { application/json: { schema: { $ref: '#/components/schemas/Agent' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/agents/metrics:
    get:
      tags: [Metrics]
      summary: Invocation histogram + resource usage
      operationId: agentMetrics
      parameters:
        - { name: range, in: query, schema: { type: string, enum: ['24H', '7D', '30D'], default: '24H' } }
      responses:
        '200': { description: Metrics, content: { application/json: { schema: { $ref: '#/components/schemas/Metrics' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/agents/activity:
    get:
      tags: [Metrics]
      summary: Recent agent activity feed
      operationId: agentActivity
      responses:
        '200': { description: Activity, content: { application/json: { schema: { type: object, properties: { activity: { type: array, items: { $ref: '#/components/schemas/Activity' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/agents/{ref}:
    parameters:
      - { name: ref, in: path, required: true, schema: { type: string }, description: Agent id or name }
    get:
      tags: [Agents]
      summary: Get an agent (with recent runs)
      operationId: getAgent
      responses:
        '200': { description: Agent detail, content: { application/json: { schema: { $ref: '#/components/schemas/AgentDetail' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Agent not found }
    patch:
      tags: [Agents]
      summary: Update an agent
      operationId: updateAgent
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateAgentRequest' }
      responses:
        '200': { description: Agent updated, content: { application/json: { schema: { $ref: '#/components/schemas/Agent' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Agent not found }
    delete:
      tags: [Agents]
      summary: Delete an agent
      operationId: deleteAgent
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Agent not found }

  /v1/agents/{ref}/run:
    parameters:
      - { name: ref, in: path, required: true, schema: { type: string }, description: Agent id or name }
    post:
      tags: [Agents]
      summary: Run an agent (metered inference)
      operationId: runAgent
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RunAgentRequest' }
      responses:
        '200': { description: Run result, content: { application/json: { schema: { $ref: '#/components/schemas/Run' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { description: Insufficient balance }
        '404': { description: Agent not found }
        '502': { description: Model call failed (run recorded with error status), content: { application/json: { schema: { $ref: '#/components/schemas/Run' } } } }
        '503': { description: Inference not configured / commerce unreachable }

  /v1/agents/{ref}/runs:
    parameters:
      - { name: ref, in: path, required: true, schema: { type: string }, description: Agent id or name }
    get:
      tags: [Agents]
      summary: List an agent's runs
      operationId: listAgentRuns
      parameters:
        - { name: limit, in: query, schema: { type: integer } }
      responses:
        '200': { description: Runs, content: { application/json: { schema: { type: object, properties: { runs: { type: array, items: { $ref: '#/components/schemas/Run' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Agent not found }

  /v1/agents/sessions:
    get:
      tags: [Sessions]
      summary: List sessions
      operationId: listSessions
      parameters:
        - { name: root, in: query, schema: { type: string }, description: Filter to one root session subtree }
        - { name: parent, in: query, schema: { type: string }, description: Filter to direct children of a session }
        - { name: status, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer } }
      responses:
        '200': { description: Sessions, content: { application/json: { schema: { type: object, properties: { sessions: { type: array, items: { $ref: '#/components/schemas/Session' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Sessions]
      summary: Register a session
      operationId: registerSession
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterSessionRequest' }
      responses:
        '201': { description: Session registered, content: { application/json: { schema: { $ref: '#/components/schemas/Session' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/agents/sessions/stream:
    get:
      tags: [Sessions]
      summary: Session events realtime stream (SSE)
      operationId: sessionsStream
      responses:
        '200': { description: 'Server-sent event stream (text/event-stream)', content: { text/event-stream: { schema: { type: string } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/agents/sessions/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      tags: [Sessions]
      summary: Get a session (with children + recent events)
      operationId: getSession
      responses:
        '200': { description: Session detail, content: { application/json: { schema: { $ref: '#/components/schemas/SessionDetail' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session not found }
    patch:
      tags: [Sessions]
      summary: Update a session (status/title)
      operationId: patchSession
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PatchSessionRequest' }
      responses:
        '200': { description: Session updated, content: { application/json: { schema: { $ref: '#/components/schemas/Session' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session not found }

  /v1/agents/sessions/{id}/tree:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      tags: [Sessions]
      summary: Get the full session subtree
      operationId: sessionTree
      responses:
        '200': { description: Session tree, content: { application/json: { schema: { $ref: '#/components/schemas/TreeNode' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session not found }

  /v1/agents/sessions/{id}/events:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      tags: [Sessions]
      summary: Append an event to a session
      operationId: appendSessionEvent
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AppendEventRequest' }
      responses:
        '201': { description: Event appended, content: { application/json: { schema: { $ref: '#/components/schemas/Event' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session not found }

  /v1/agents/sessions/{id}/pause:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      tags: [Sessions]
      summary: Pause a session
      operationId: pauseSession
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControlRequest' }
      responses:
        '200': { description: Control recorded, content: { application/json: { schema: { $ref: '#/components/schemas/ControlResult' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session not found }
        '409': { description: Session is finished }

  /v1/agents/sessions/{id}/resume:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      tags: [Sessions]
      summary: Resume a session
      operationId: resumeSession
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControlRequest' }
      responses:
        '200': { description: Control recorded, content: { application/json: { schema: { $ref: '#/components/schemas/ControlResult' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session not found }
        '409': { description: Session is finished }

  /v1/agents/sessions/{id}/stop:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      tags: [Sessions]
      summary: Stop a session
      operationId: stopSession
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControlRequest' }
      responses:
        '200': { description: Control recorded, content: { application/json: { schema: { $ref: '#/components/schemas/ControlResult' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session not found }
        '409': { description: Session is finished }

  /v1/agents/sessions/{id}/message:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      tags: [Sessions]
      summary: Send a steering message to a session
      operationId: messageSession
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ControlRequest' }
      responses:
        '200': { description: Control recorded, content: { application/json: { schema: { $ref: '#/components/schemas/ControlResult' } } } }
        '400': { description: message requires a 'message' or 'payload' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Session not found }
        '409': { description: Session is finished }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: IAM-issued JWT or `hk-` Cloud API key.
  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
  schemas:
    Agent:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        model: { type: string }
        description: { type: string }
        tools: { type: array, items: { type: string } }
        status: { type: string }
        executionMode: { type: string }
        schedule: { type: string, description: 'Cron expression (scheduled mode)' }
        computeRef: { type: string }
        serviceAccountId: { type: string }
        runs: { type: integer }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    AgentDetail:
      allOf:
        - { $ref: '#/components/schemas/Agent' }
        - type: object
          properties:
            instructions: { type: string }
            recentRuns: { type: array, items: { $ref: '#/components/schemas/Run' } }
    CreateAgentRequest:
      type: object
      required: [name, model]
      properties:
        name: { type: string }
        model: { type: string }
        instructions: { type: string }
        description: { type: string }
        tools: { type: array, items: { type: string } }
        executionMode: { type: string }
        schedule: { type: string }
        computeRef: { type: string }
        serviceAccountId: { type: string }
    UpdateAgentRequest:
      type: object
      properties:
        model: { type: string }
        instructions: { type: string }
        description: { type: string }
        tools: { type: array, items: { type: string } }
        executionMode: { type: string }
        schedule: { type: string }
        computeRef: { type: string }
        serviceAccountId: { type: string }
    RunAgentRequest:
      type: object
      properties:
        input: { type: string }
    Run:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [ok, error] }
        model: { type: string }
        input: { type: string }
        output: { type: string }
        error: { type: string }
        durationMs: { type: integer, format: int64 }
        createdAt: { type: string }
    Metrics:
      type: object
      properties:
        range: { type: string }
        series:
          type: array
          items:
            type: object
            properties:
              key: { type: string, description: Agent name }
              points:
                type: array
                items:
                  type: object
                  properties:
                    t: { type: string, description: 'Bucket start (RFC3339 UTC)' }
                    v: { type: integer, description: Invocation count }
        resource:
          type: object
          properties:
            cpuVcpuHours: { type: number, nullable: true }
            memGbHours: { type: number, nullable: true }
            storageIoBytes: { type: number, nullable: true }
            costCents: { type: number, nullable: true }
    Activity:
      type: object
      properties:
        id: { type: string }
        kind: { type: string, description: invoked|failed|created|updated }
        agent: { type: string }
        message: { type: string }
        at: { type: string, description: RFC3339 UTC }
    Session:
      type: object
      properties:
        id: { type: string }
        agent: { type: string }
        actor: { type: string }
        status: { type: string }
        parentSessionId: { type: string }
        rootSessionId: { type: string }
        title: { type: string }
        taskWorkflowId: { type: string }
        taskRunId: { type: string }
        events: { type: integer }
        children: { type: integer }
        startedAt: { type: string }
        endedAt: { type: string }
        createdAt: { type: string }
        updatedAt: { type: string }
    SessionDetail:
      allOf:
        - { $ref: '#/components/schemas/Session' }
        - type: object
          properties:
            childSessions: { type: array, items: { $ref: '#/components/schemas/Session' } }
            recentEvents: { type: array, items: { $ref: '#/components/schemas/Event' } }
    Event:
      type: object
      properties:
        id: { type: string }
        sessionId: { type: string }
        seq: { type: integer, format: int64 }
        kind: { type: string }
        actor: { type: string }
        payload: { description: Arbitrary JSON payload }
        createdAt: { type: string }
    TreeNode:
      type: object
      properties:
        session: { $ref: '#/components/schemas/Session' }
        children: { type: array, items: { $ref: '#/components/schemas/TreeNode' } }
    RegisterSessionRequest:
      type: object
      required: [agent]
      properties:
        agent: { type: string }
        actor: { type: string }
        title: { type: string }
        status: { type: string }
        parentSessionId: { type: string }
        taskWorkflowId: { type: string }
        taskRunId: { type: string }
    PatchSessionRequest:
      type: object
      properties:
        status: { type: string }
        title: { type: string }
    AppendEventRequest:
      type: object
      required: [kind]
      properties:
        kind: { type: string }
        actor: { type: string }
        payload: { description: Arbitrary JSON payload }
    ControlRequest:
      type: object
      properties:
        message: { type: string }
        payload: { description: Arbitrary JSON payload }
    ControlResult:
      type: object
      properties:
        command: { type: string }
        event: { $ref: '#/components/schemas/Event' }
        forwarded: { type: boolean }
