openapi: 3.1.0
info:
  title: Hanzo Edge API
  description: 'Hanzo Edge provides serverless edge functions with global deployment,

    instant scaling, and zero cold starts.


    Features:

    - Deploy TypeScript/JavaScript functions to edge locations worldwide

    - Sub-millisecond cold starts via V8 isolates

    - Integrated secrets management

    - Custom domain support with automatic TLS

    - Streaming responses and SSE support

    - Built-in metrics and log tailing

    '
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
- url: https://edge.hanzo.ai
  description: Edge Production
- url: https://api.hanzo.ai
  description: Hanzo Gateway (via api.hanzo.ai/v1/edge/*)
tags:
- name: Edge
security:
- BearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: HANZO_API_KEY
      description: Hanzo API Key (Bearer sk-...)
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT issued by Hanzo IAM (https://hanzo.id). Discovery: https://hanzo.id/.well-known/openid-configuration.
        Obtain via /v1/iam/auth/login, /oauth/token, or the API key UI on hanzo.id.'
  schemas:
    EdgeNodeView:
      type: object
      description: One row per ZT edge-router.
      properties:
        id: { type: string }
        name: { type: string }
        region: { type: string, description: From a "region-<slug>" role attribute; omitted when none }
        status: { type: string, enum: [online, disabled, offline] }
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    Function:
      type: object
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
          description: URL-safe function identifier
        name:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
          - deploying
          - failed
        version:
          type: integer
          description: Current deployed version number
        runtime:
          type: string
          enum:
          - deno
          - node
          default: deno
        entrypoint:
          type: string
          default: index.ts
        import_map:
          type: boolean
        verify_jwt:
          type: boolean
          description: Whether to verify JWT tokens on invocation
        invoke_url:
          type: string
          format: uri
          description: Public invocation URL
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    FunctionCreate:
      type: object
      required:
      - slug
      - name
      properties:
        slug:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{2,63}$
        name:
          type: string
        verify_jwt:
          type: boolean
          default: true
        import_map:
          type: boolean
          default: false
        entrypoint:
          type: string
          default: index.ts
    FunctionUpdate:
      type: object
      properties:
        name:
          type: string
        verify_jwt:
          type: boolean
        import_map:
          type: boolean
        entrypoint:
          type: string
    FunctionVersion:
      type: object
      properties:
        version:
          type: integer
        status:
          type: string
          enum:
          - active
          - inactive
        entrypoint:
          type: string
        import_map:
          type: boolean
        created_at:
          type: string
          format: date-time
    FunctionMetrics:
      type: object
      properties:
        function_id:
          type: string
        period:
          type: string
        invocations:
          type: integer
          format: int64
        errors:
          type: integer
          format: int64
        avg_duration_ms:
          type: number
        p95_duration_ms:
          type: number
        p99_duration_ms:
          type: number
        data_in_bytes:
          type: integer
          format: int64
        data_out_bytes:
          type: integer
          format: int64
    LogEntry:
      type: object
      properties:
        id:
          type: string
        timestamp:
          type: string
          format: date-time
        event_type:
          type: string
          enum:
          - uncaughtException
          - log
          - boot
          - beforeUnload
        level:
          type: string
          enum:
          - info
          - warn
          - error
          - debug
        message:
          type: string
        execution_id:
          type: string
    Secret:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
          description: Only returned on creation
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SecretCreate:
      type: object
      required:
      - name
      - value
      properties:
        name:
          type: string
          pattern: ^[A-Z_][A-Z0-9_]{0,127}$
        value:
          type: string
    Domain:
      type: object
      properties:
        id:
          type: string
          format: uuid
        hostname:
          type: string
        function_slug:
          type: string
        status:
          type: string
          enum:
          - pending
          - active
          - error
        tls_state:
          type: string
          enum:
          - pending
          - provisioning
          - active
          - failed
        verification:
          type: object
          properties:
            type:
              type: string
              enum:
              - CNAME
              - TXT
            name:
              type: string
            value:
              type: string
        created_at:
          type: string
          format: date-time
    DomainCreate:
      type: object
      required:
      - hostname
      - function_slug
      properties:
        hostname:
          type: string
        function_slug:
          type: string
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotConfigured:
      description: Networking is not configured on this deployment (ZT credential absent — fail-closed)
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
paths:
  /v1/edge/nodes:
    get:
      tags: [Edge]
      summary: List the org's ZT edge-routers
      operationId: listEdgeNodes
      responses:
        '200': { description: Edge nodes, content: { application/json: { schema: { type: object, properties: { nodes: { type: array, items: { $ref: '#/components/schemas/EdgeNodeView' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/NotConfigured' }