openapi: 3.1.0
info:
  title: Hanzo KMS API
  description: 'Hanzo KMS stores secrets under org scope and serves them over HTTP and the

    native ZAP wire.


    This document previously declared 55 path groups inherited from Infisical --

    organizations, projects, environments, tags, folders, secret-imports,

    identities, service-tokens, integrations, /v1/kms/v4/secrets. The server has

    never served any of them. Because SDKs in every language are generated from

    this file, that fiction shipped as real client code, and the breakage stayed

    invisible: the binary used to answer every unmatched path with its embedded

    console SPA (200 text/html), so a wrong URL read as a decode error rather

    than a 404. luxfi/kms 1.12.8 removed that catch-all and 1.12.9 added the

    secret-list route. What follows is the whole API, verified against

    cmd/kms/main.go and probed live.


    A secret is addressed by (org, path, name, env). In the URL, path and name

    are one trailing segment list that the server splits at its LAST slash, so

    `gateway/routes` means path `gateway`, name `routes`. Escape each segment

    individually -- escaping the joined string encodes the separators away and

    the server reads one long name.


    There is ONE upsert: create and replace are the same POST. There is no

    versioning -- one value per (org, path, name, env). env is a field, not a

    hostname.'
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://kms.hanzo.ai
  description: KMS Production
- url: https://api.hanzo.ai
  description: Hanzo Gateway (via api.hanzo.ai/v1/kms/*)
security:
- BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT issued by Hanzo IAM (https://hanzo.id). Discovery: https://hanzo.id/.well-known/openid-configuration.
        Obtain via /v1/iam/auth/login, /oauth/token, or the API key UI on hanzo.id.'
  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string
    SdkEnvelope:
      type: object
      description: 'Canonical signed wrapper for every /v1/sdk operation. The signature is ML-DSA-65 over
        SHAKE256("lux-svc-envelope-v1" || FullDigest || canonical(v,id,ts,nonce,op,req)). One source of
        truth in luxfi/kms/pkg/envelope.

        '
      required:
      - v
      - id
      - ts
      - nonce
      - op
      - req
      - sig
      properties:
        v:
          type: integer
          description: Envelope version. Only 1 is accepted.
          example: 1
        id:
          $ref: '#/components/schemas/SdkEnvelopeIdentity'
        ts:
          type: integer
          format: int64
          description: Unix seconds at signing. Rejected outside ±5m of server time.
        nonce:
          type: string
          description: Caller-fresh anti-replay nonce (typically 16 random bytes, base64). Reuse within
            the window is rejected.
        op:
          type: integer
          description: 'Signed operation. 0x0040 get, 0x0041 put (also rotate), 0x0042 list, 0x0043 delete,
            0x0050 sign, 0x0051 verify.

            '
          example: 64
        req:
          type: object
          description: 'Inner request JSON. Shape by op — secrets:{path,name,env[,value]}; sign:{validator_id,key_type,message};
            verify adds {signature}.

            '
        sig:
          type: string
          format: byte
          description: ML-DSA-65 signature (base64) over the canonical digest.
    SdkEnvelopeIdentity:
      type: object
      description: The mnemonic-derived service identity block. Bound into the signature.
      required:
      - scheme
      - node
      - digest
      - path
      - pubkey
      properties:
        scheme:
          type: integer
          description: NodeID scheme. 0x42 = ML-DSA-65.
          example: 66
        node:
          type: string
          description: 20-byte canonical NodeID (cb58), the SHAKE256-384 digest prefix.
        digest:
          type: string
          format: byte
          description: 48-byte SHAKE256-384 FullDigest commitment (base64).
        path:
          type: string
          description: BIP-44 service path the identity was derived from (e.g. hanzo/kms-operator).
        pubkey:
          type: string
          format: byte
          description: ML-DSA-65 public key (base64), for offline verification.
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    envId:
      name: envId
      in: path
      required: true
      schema:
        type: string
        format: uuid
tags:
- name: Auth
  description: Machine-identity login
- name: Secrets
  description: Org-scoped secret storage
- name: Health
  description: Liveness
- name: Keys
  description: MPC-backed key operations (registered only when MPC is configured)
- name: SDK
  description: Envelope-signed secrets plane
paths:
  /v1/kms/auth/login:
    post:
      tags:
      - Auth
      summary: Exchange machine identity for a bearer token
      description: 'The only auth route. The token is org-scoped: it reaches /v1/kms/orgs/<its own org>/*
        and nothing else.'
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - clientId
              - clientSecret
              properties:
                clientId:
                  type: string
                clientSecret:
                  type: string
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  expiresIn:
                    type: integer
        '400':
          description: clientId and clientSecret required
        '401':
          description: Invalid credentials
  /v1/kms/orgs/{org}/secrets:
    get:
      tags:
      - Secrets
      summary: List secret names under a path
      description: Mirrors the ZAP wire op OpSecretList (0x0042). Returns names only, never values.
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
        description: Org scope
      - name: path
        in: query
        required: false
        schema:
          type: string
        description: Grouping path, e.g. gateway
      - name: env
        in: query
        required: false
        schema:
          type: string
        description: Environment slug; defaults to `default`
      responses:
        '200':
          description: Names under the path
          content:
            application/json:
              schema:
                type: object
                properties:
                  names:
                    type: array
                    items:
                      type: string
        '401': &id001
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  statusCode:
                    type: integer
    post:
      tags:
      - Secrets
      summary: Create or replace a secret
      description: ONE upsert. There is no separate update endpoint and no PATCH.
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
        description: Org scope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - env
              - value
              properties:
                path:
                  type: string
                name:
                  type: string
                env:
                  type: string
                value:
                  type: string
      responses:
        '200':
          description: Stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '400':
          description: name and value required, or env missing
        '401': *id001
  /v1/kms/orgs/{org}/secrets/{rest}:
    get:
      tags:
      - Secrets
      summary: Read one secret value
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
        description: Org scope
      - &id002
        name: rest
        in: path
        required: true
        schema:
          type: string
        description: 'Path and name joined. Split at the LAST slash: `a/b/C` is path `a/b`, name `C`.
          Escape each segment individually.'
      - name: env
        in: query
        required: false
        schema:
          type: string
        description: Environment slug; defaults to `default`
      responses:
        '200':
          description: The value
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: object
                    properties:
                      value:
                        type: string
        '400':
          description: path and name required (no slash to split)
        '401': *id001
        '404': &id003
          description: Not found. Always JSON, never HTML.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  path:
                    type: string
    delete:
      tags:
      - Secrets
      summary: Delete a secret
      parameters:
      - name: org
        in: path
        required: true
        schema:
          type: string
        description: Org scope
      - *id002
      - name: env
        in: query
        required: false
        schema:
          type: string
        description: Environment slug; defaults to `default`
      responses:
        '200':
          description: Deleted
        '401': *id001
        '404': *id003
  /healthz: &id004
    get:
      tags:
      - Health
      summary: Liveness
      security: []
      description: status is `degraded` when MPC is configured but unreachable -- still 200, so a working
        secrets surface is not flapped out of rotation.
      responses:
        '200':
          description: Alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                  status:
                    type: string
  /health: *id004
  /v1/kms/healthz: *id004
  /v1/kms/health: *id004
  /v1/kms/keys/generate:
    post:
      tags:
      - Keys
      summary: Generate a validator key set via MPC DKG
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      responses:
        '200':
          description: Key set
        '503':
          description: MPC unreachable
  /v1/kms/keys:
    get:
      tags:
      - Keys
      summary: List key sets
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      responses:
        '200':
          description: Key sets
        '503':
          description: MPC unreachable
  /v1/kms/keys/{id}:
    get:
      tags:
      - Keys
      summary: Get a key set
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      parameters:
      - &id005
        name: id
        in: path
        required: true
        schema:
          type: string
        description: Key set id
      responses:
        '200':
          description: Key set
        '404': *id003
        '503':
          description: MPC unreachable
  /v1/kms/keys/{id}/sign:
    post:
      tags:
      - Keys
      summary: Threshold sign
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      parameters:
      - *id005
      responses:
        '200':
          description: Signature
        '503':
          description: MPC unreachable
  /v1/kms/keys/{id}/rotate:
    post:
      tags:
      - Keys
      summary: Reshare a key set
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      parameters:
      - *id005
      responses:
        '200':
          description: Reshared
        '503':
          description: MPC unreachable
  /v1/kms/status:
    get:
      tags:
      - Keys
      summary: KMS + MPC cluster status
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      responses:
        '200':
          description: Status
        '404': *id003
  /v1/sdk/secrets:
    post:
      operationId: sdkSecretsOp
      tags:
      - SDK
      summary: Enveloped secret + threshold-key operation
      description: 'The SDK-facing native secrets plane. A single RPC endpoint: the body is a signed Envelope
        (ML-DSA-65 over the request), and the OPERATION is the signed `op` field — never the URL. Authorization
        is consensus-native: the caller''s mnemonic-derived NodeID must be in the validator authority
        (reads: OpSecretGet 0x0040, OpSecretList 0x0042, OpVerify 0x0051) and, for writes (OpSecretPut
        0x0041 — also the rotate op, OpSecretDelete 0x0043, OpSign 0x0050), additionally in the operator
        authority. Every envelope is verified for signature, wall-clock freshness (±5m), and replay (per-(NodeID,nonce)
        ledger) before dispatch. There is NO bearer token on this surface — the ML-DSA-65 envelope IS
        the credential.

        '
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SdkEnvelope'
      responses:
        '200':
          description: Operation result (shape depends on the signed op).
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Malformed envelope, unsupported version/scheme, or bad inner request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'Forbidden — bad signature, stale timestamp, replayed nonce, or the identity is
            not authorized for the signed op. Replay is masked as a generic "forbidden" so the nonce ledger
            is unprobeable.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Secret not found.
        '413':
          description: Envelope exceeds the 4 MiB cap.
        '500':
          description: Internal error (no internal detail is leaked to the client).
