openapi: 3.1.0
info:
  title: Hanzo KMS API
  description: 'Hanzo KMS stores secrets under org scope and serves them over HTTP and the

    native ZAP wire.


    This document previously declared 55 path groups inherited from Infisical --

    organizations, projects, environments, tags, folders, secret-imports,

    identities, service-tokens, integrations, /v1/kms/v4/secrets. The server has

    never served any of them. Because SDKs in every language are generated from

    this file, that fiction shipped as real client code, and the breakage stayed

    invisible: the binary used to answer every unmatched path with its embedded

    console SPA (200 text/html), so a wrong URL read as a decode error rather

    than a 404. luxfi/kms 1.12.8 removed that catch-all and 1.12.9 added the

    secret-list route. What follows is the whole API, verified against

    cmd/kms/main.go and probed live.


    A secret is addressed by (org, path, name, env). The org is NOT in the URL --

    it is the caller''s, read from the validated token, so a tenant is never

    selectable by whoever is asking. In the URL, path and name

    are one trailing segment list that the server splits at its LAST slash, so

    `gateway/routes` means path `gateway`, name `routes`. Escape each segment

    individually -- escaping the joined string encodes the separators away and

    the server reads one long name.


    There is ONE upsert: create and replace are the same POST. There is no

    versioning -- one value per (org, path, name, env). env is a field, not a

    hostname.'
  version: 8.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://kms.hanzo.ai
  description: KMS Production
- url: https://api.hanzo.ai
  description: Hanzo Gateway (via api.hanzo.ai/v1/kms/*)
security:
- BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer JWT issued by Hanzo IAM (https://hanzo.id). Discovery: https://hanzo.id/.well-known/openid-configuration.
        Obtain via /v1/iam/auth/login, /oauth/token, or the API key UI on hanzo.id.'
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    envId:
      name: envId
      in: path
      required: true
      schema:
        type: string
        format: uuid
tags:
- name: Auth
  description: Machine-identity login
- name: Secrets
  description: Org-scoped secret storage
- name: Health
  description: Liveness
- name: Keys
  description: MPC-backed key operations (registered only when MPC is configured)
- name: SDK
  description: Envelope-signed secrets plane
paths:
  /v1/kms/auth/login:
    post:
      tags:
      - Auth
      summary: Exchange machine identity for a bearer token
      description: 'The only auth route. The token is org-scoped, and the org is read
        from it: a token reaches its own org''s secrets and nothing else.'
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - clientId
              - clientSecret
              properties:
                clientId:
                  type: string
                clientSecret:
                  type: string
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  expiresIn:
                    type: integer
        '400':
          description: clientId and clientSecret required
        '401':
          description: Invalid credentials
  /v1/kms/secrets:
    get:
      tags:
      - Secrets
      summary: List secret names under a path
      description: Mirrors the ZAP wire op OpSecretList (0x0042). Returns names only, never values.
      parameters:
      - name: path
        in: query
        required: false
        schema:
          type: string
        description: Grouping path, e.g. gateway
      - name: env
        in: query
        required: false
        schema:
          type: string
        description: Environment slug; defaults to `default`
      responses:
        '200':
          description: Names under the path
          content:
            application/json:
              schema:
                type: object
                properties:
                  names:
                    type: array
                    items:
                      type: string
        '401': &id001
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  statusCode:
                    type: integer
    post:
      tags:
      - Secrets
      summary: Create or replace a secret
      description: ONE upsert. There is no separate update endpoint and no PATCH.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - env
              - value
              properties:
                path:
                  type: string
                name:
                  type: string
                env:
                  type: string
                value:
                  type: string
                  format: password
                  writeOnly: true
                  description: >-
                    The secret value. `format: password` is the ONE marker that makes a
                    client read it from stdin instead of offering a flag, so it can never
                    land in argv, `ps` or shell history.
      responses:
        '200':
          description: Stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '400':
          description: name and value required, or env missing
        '401': *id001
  /v1/kms/secrets/{rest}:
    get:
      tags:
      - Secrets
      summary: Read one secret value
      parameters:
      - &id002
        name: rest
        in: path
        required: true
        schema:
          type: string
        description: 'Path and name joined. Split at the LAST slash: `a/b/C` is path `a/b`, name `C`.
          Escape each segment individually.'
      - name: env
        in: query
        required: false
        schema:
          type: string
        description: Environment slug; defaults to `default`
      responses:
        '200':
          description: The value
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: object
                    properties:
                      value:
                        type: string
        '400':
          description: path and name required (no slash to split)
        '401': *id001
        '404': &id003
          description: Not found. Always JSON, never HTML.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  path:
                    type: string
    delete:
      tags:
      - Secrets
      summary: Delete a secret
      parameters:
      - *id002
      - name: env
        in: query
        required: false
        schema:
          type: string
        description: Environment slug; defaults to `default`
      responses:
        '200':
          description: Deleted
        '401': *id001
        '404': *id003
  /v1/kms/healthz: &id004
    get:
      tags:
      - Health
      summary: Liveness
      security: []
      description: status is `degraded` when MPC is configured but unreachable -- still 200, so a working
        secrets surface is not flapped out of rotation.
      responses:
        '200':
          description: Alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                  status:
                    type: string
  /v1/kms/health: *id004
  /v1/kms/keys/generate:
    post:
      tags:
      - Keys
      summary: Generate a validator key set via MPC DKG
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      responses:
        '200':
          description: Key set
        '503':
          description: MPC unreachable
  /v1/kms/keys:
    get:
      tags:
      - Keys
      summary: List key sets
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      responses:
        '200':
          description: Key sets
        '503':
          description: MPC unreachable
  /v1/kms/keys/{id}:
    get:
      tags:
      - Keys
      summary: Get a key set
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      parameters:
      - &id005
        name: id
        in: path
        required: true
        schema:
          type: string
        description: Key set id
      responses:
        '200':
          description: Key set
        '404': *id003
        '503':
          description: MPC unreachable
  /v1/kms/keys/{id}/sign:
    post:
      tags:
      - Keys
      summary: Threshold sign
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      parameters:
      - *id005
      responses:
        '200':
          description: Signature
        '503':
          description: MPC unreachable
  /v1/kms/keys/{id}/rotate:
    post:
      tags:
      - Keys
      summary: Reshare a key set
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      parameters:
      - *id005
      responses:
        '200':
          description: Reshared
        '503':
          description: MPC unreachable
  /v1/kms/status:
    get:
      tags:
      - Keys
      summary: KMS + MPC cluster status
      description: Registered ONLY when the deployment is configured with MPC. On a secrets-only KMS these
        return 404; when MPC is configured but unreachable they return 503 {"error":"mpc unreachable","mode":"secrets-only"}.
        KMS never holds private key material -- signing is t-of-n in the MPC cluster.
      responses:
        '200':
          description: Status
        '404': *id003
