openapi: 3.1.0
info:
  title: Hanzo ZT API
  description: |
    Hanzo Cloud NETWORKING surface — the tenant's Hanzo Zero Trust footprint
    (overlay networks, mesh services, edge nodes), served as clean org-scoped
    REST off the unified cloud binary (`hanzoai/cloud/clients/zt`) fronting the
    Hanzo Zero Trust controller (an OpenZiti-based fabric). Every resource is
    filtered to the caller's org by the `org-<org>` role attribute from the
    validated IAM owner claim. Fail-closed: absent the ZT service credential the
    routes mount but every op returns 503 (never a fabricated resource).
  version: 1.0.0
  contact:
    name: Hanzo AI
    url: https://hanzo.ai
    email: support@hanzo.ai
  license:
    name: Proprietary
servers:
  - url: https://api.hanzo.ai
    description: Hanzo Gateway
tags:
  - name: Networks
    description: The org's ZT overlay network(s)
  - name: Mesh
    description: ZT edge services (service mesh)
  - name: Edge
    description: ZT edge-routers (edge nodes)
security:
  - bearerAuth: []
paths:
  /v1/networks:
    get:
      tags: [Networks]
      summary: List the org's ZT overlay network(s)
      operationId: listNetworks
      responses:
        '200': { description: Networks, content: { application/json: { schema: { type: object, properties: { networks: { type: array, items: { $ref: '#/components/schemas/NetworkView' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/NotConfigured' }

  /v1/networks/{id}:
    get:
      tags: [Networks]
      summary: Get one overlay network by id
      operationId: getNetwork
      parameters:
        - { name: id, in: path, required: true, schema: { type: string }, description: 'The org-derived network id (org-<org>)' }
      responses:
        '200': { description: Network, content: { application/json: { schema: { $ref: '#/components/schemas/NetworkView' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Network not found }
        '503': { $ref: '#/components/responses/NotConfigured' }

  /v1/mesh/services:
    get:
      tags: [Mesh]
      summary: List the org's ZT edge services
      operationId: listMeshServices
      responses:
        '200': { description: Mesh services, content: { application/json: { schema: { type: object, properties: { services: { type: array, items: { $ref: '#/components/schemas/MeshView' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/NotConfigured' }

  /v1/edge/nodes:
    get:
      tags: [Edge]
      summary: List the org's ZT edge-routers
      operationId: listEdgeNodes
      responses:
        '200': { description: Edge nodes, content: { application/json: { schema: { type: object, properties: { nodes: { type: array, items: { $ref: '#/components/schemas/EdgeNodeView' } } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/NotConfigured' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: IAM-issued JWT or `hk-` Cloud API key. The org is taken from the validated owner claim.
  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
    NotConfigured:
      description: Networking is not configured on this deployment (ZT credential absent — fail-closed)
      content:
        application/json:
          schema: { type: object, properties: { status: { type: string }, msg: { type: string } } }
  schemas:
    NetworkView:
      type: object
      description: The org's slice of the ZT overlay — one network whose nodes are the org's edge-routers.
      properties:
        id: { type: string }
        name: { type: string }
        status: { type: string, description: '"connected" when at least one router is online, else "provisioning"' }
        nodes: { type: integer, description: Router count }
    MeshView:
      type: object
      description: One row per ZT edge service.
      properties:
        id: { type: string }
        service: { type: string }
        mtls: { type: string, enum: [enabled, required] }
        status: { type: string }
    EdgeNodeView:
      type: object
      description: One row per ZT edge-router.
      properties:
        id: { type: string }
        name: { type: string }
        region: { type: string, description: From a "region-<slug>" role attribute; omitted when none }
        status: { type: string, enum: [online, disabled, offline] }
